Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

update Changelog
  CHANGELOG.md
Due: none

Add pending changes
  .github/workflows/pr-e2e.yml
  Makefile
Due: none

Use GITHUB_TOKEN instead PAT in docker login
  .github/workflows/pr-e2e.yml
Due: none

Use /run-e2e instead of /e2e to trigger the pipeline
  .github/workflows/pr-e2e.yml
Due: none

Add suffix to use different image instead of production image
  .github/workflows/pr-e2e.yml
  Makefile
Due: none

Fix typo
  Makefile
Due: none

Add comment to clarify why the variable is empty
  Makefile
Due: none

fix comment
  Makefile
Due: none

Remove the image deletion
  .github/workflows/pr-e2e.yml
Due: none

Add github action to run e2e command "on-demand" (#2241)
  .github/workflows/pr-e2e.yml
  CHANGELOG.md
  Makefile
  tests/run-all.sh
  tools/build-tools.Dockerfile
Due: none

Add triggering condition to failure reaction
  .github/workflows/pr-e2e.yml
Due: none

Add condition on success
  .github/workflows/pr-e2e.yml
Due: none

Add Cassandra e2e test health check
  tests/scalers/cassandra.test.ts
Due: none

Add triggering condition to failure reaction for on-demand command (#2257)
  .github/workflows/pr-e2e.yml
Due: none

Split the workload in 2 parts
  .github/workflows/pr-e2e.yml
Due: none

fix style
  .github/workflows/pr-e2e.yml
Due: none

improve unit tests for aws scalers
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_test.go
  pkg/scalers/aws_kinesis_stream_test.go
  pkg/scalers/aws_sqs_queue_test.go
Due: golangci-lint

Split the workflow to trigger e2e test in 2 different jobs (#2258)
  .github/workflows/pr-e2e.yml
Due: none

Fix: extend Cassandra e2e test timeouts (#2253)
  tests/scalers/cassandra.test.ts
Due: none

update aws related scalers to reuse the aws clients (#2255)
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_test.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_test.go
Due: golangci-lint

Fix mssql test
  pkg/scalers/mssql_scaler_test.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

Fix errors
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/solace_scaler_test.go
Due: golangci-lint

Fix style
  pkg/scalers/stan_scaler.go
Due: golangci-lint

Fix solace scaler
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
Due: golangci-lint

Increment influxdb e2e timeout from 180 to 300 sec
  tests/scalers/influxdb.test.ts
Due: none

Set concurrency for pr-e2e action
  .github/workflows/pr-e2e.yml
Due: none

Set concurrency for pr-e2e action (#2261)
  .github/workflows/pr-e2e.yml
Due: none

Validate values length for prometheus scaler
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

Update changelog for values length validation of prometheus query response
  CHANGELOG.md
Due: none

Add ScalersCache to reuse scales unless they need changing
  CREATE-NEW-SCALER.md
  adapter/main.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/keda/hpa.go
  controllers/keda/hpa_test.go
  controllers/keda/metrics_adapter_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/provider/fallback.go
  pkg/provider/fallback_test.go
  pkg/provider/provider.go
  pkg/scalers/scaler.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/cache/scalers_cache_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scaledjob/scale_metrics.go
  tests/scalers/mongodb.test.ts
Due: sort-scalers, golangci-lint

Apply feedback and add missing change
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

Reverting #2261
  .github/workflows/pr-e2e.yml
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
