Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Apply feedback
  tests/run-all.sh
  tests/run-arm-smoke-tests.sh
Due: none

Enable smoke test for ARM arch (#2714)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  CHANGELOG.md
  tests/run-all.sh
  tests/run-arm-smoke-tests.sh
  tests/scalers/artemis.test.ts
  tests/scalers/mysql.test.ts
  tests/scalers/postgresql.test.ts
  tests/scalers/rabbitmq-queue-amqp.test.ts
  tests/scalers/rabbitmq-queue-http-regex-vhost.test.ts
  tests/scalers/rabbitmq-queue-http-regex.test.ts
  tests/scalers/rabbitmq-queue-http.test.ts
  tests/scalers/rabbitmq-queue-trigger-auth.test.ts
Due: none

Modify CRDs to align with Kubernetes secretKeyRef approach.
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/azure_keyvault_handler.go
Due: golangci-lint

Update CHANGELOG.
  CHANGELOG.md
Due: none

fix: Added support for vault kv-v1 (#2645)
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

prometheus: change threshold type value to float64
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Using createNamespace helper.
  tests/scalers/aws-dynamodb.test.ts
Due: none

feat: Provide Azure Data Explorer Scaler (#1488)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_data_explorer_test.go
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/azure-data-explorer.test.ts
Due: sort-scalers, golangci-lint

pr comments
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
  tests/scalers/azure-data-explorer.test.ts
Due: golangci-lint

Create e2e ns for kusto only if it doesn't exist
  tests/scalers/azure-data-explorer.test.ts
Due: none

check if e2e ns exist before creating
  tests/scalers/azure-data-explorer.test.ts
Due: none

fixed static checks
  pkg/scalers/azure_data_explorer_scaler.go
Due: golangci-lint

rename e2e env vars
  tests/scalers/azure-data-explorer.test.ts
Due: none

clean ns if e2e ns exist, Otherwise create new ns
  tests/scalers/azure-data-explorer.test.ts
Due: none

Add E2E test for key vault using Azure queue trigger.
  tests/.env
  tests/scalers/azure-keyvault-queue.test.ts
Due: none

Managed identities issue #2656 Signed-off-by: Stephane Eyskens stephaneey@hotmail.com
  apis/keda/v1alpha1/triggerauthentication_types.go
  pkg/scalers/azure/azure_aad_podidentity.go
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure/azure_app_insights_test.go
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure/azure_blob_test.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure/azure_queue.go
  pkg/scalers/azure/azure_queue_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_app_insights_scaler_test.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_queue_scaler_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/scaler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Updated changelog Signed-off-by: Stephane Eyskens <stephaneey@hotmail.com>
  CHANGELOG.md
Due: none

Added identityId to TriggerAuthentication CRD Signed-off-by: Stephane Eyskens <stephaneey@hotmail.com>
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: none

align changelog.md with contribution guide instructions
  CHANGELOG.md
Due: none

Pubsub test (#2696)
  CHANGELOG.md
  tests/scalers/gcp-pubsub.test.ts
Due: none

feat: Provide Azure Data Explorer Scaler (#1488) (#2627)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_data_explorer_test.go
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/azure-data-explorer.test.ts
Due: sort-scalers, golangci-lint

Add a scaler based on number of objects in a GCP Storage bucket (#2648)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/gcp_common.go
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/gcp_storage_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/gcp-storage.test.ts
Due: sort-scalers, golangci-lint

Reshuffle
  CHANGELOG.md
Due: none

Reshuffle changelog (#2753)
  CHANGELOG.md
Due: none

Fix nitpicks.
  CHANGELOG.md
  pkg/scaling/resolver/azure_keyvault_handler.go
Due: golangci-lint

Do not query Datadog to check if the metric is active, to reduce rate limiting
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Return a specific error message when reaching rate limits
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Retry getting a metric up to 5 times, needed for short time windows
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Allow for more granularity from points returned by Datadog
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Parse the query better and add rollup and aggregator only if missing
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Return the value of the last point in the series
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Linting code
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Move function closer to context
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Improve how to get metrics from Datadog to reduce the chance of getting a null metric, without blocking
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Add new metricUnavailableValue optional parameter that if set, will return that value as metric if the metric is not available for the time period selected
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Fix IsActive to allow this scaler to scale to zero if needed
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Avoid race condition when deleting the test namespace
  tests/scalers/datadog.test.ts
Due: none

Wait a bit longer in tests to scale down
  tests/scalers/datadog.test.ts
Due: none

Modify changelog to add new datadog scaler parameter
  CHANGELOG.md
Due: none

Point to issue not PR in changelog
  CHANGELOG.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
