Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Refactor the code to reduce cyclomatic complexity and update CHANGELOG
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

chore: add large lag threshold test for Kafka scalers (#5361)
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  go.mod
  pkg/scaling/resolver/aws_secretmanager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  go.mod
Due: none

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  go.sum
Due: none

Use assertion for the scaledjob e2e error
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

Resolve conflicts after rebase
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

Fix e2e test failing issue
  pkg/metricscollector/prommetrics.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Expose prometheus metrics at ScaledJob like ScaledObject
  CHANGELOG.md
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
  pkg/scaling/scale_handler.go
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

Change to scaledjob for opentelemetry
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

Fix a duplicated variable
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

Delete unrelated line at CHANGELOG.md
  CHANGELOG.md
Due: none

Use metric name to keda_scaledjob_errors_total
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

chore: bump Go to 1.21.6
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
Due: none

Add time.Sleep between creating and deleting wrong scaled resources
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

chore: fix jetstream flaky test
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

resolves PR comments
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  tests/secret-providers/gcp_secret_manager/gcp_secret_manager_test.go
Due: golangci-lint

use specific instances instead of default client
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

fixes ci checks
  .golangci.yml
  CHANGELOG.md
Due: none

Update mock responses
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

chore: fix jetstream flaky test (#5372)
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

chore: bump Go to 1.21.6 (#5370)
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
Due: none

Add missed sacledjob error metric value case
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

Use original Help message after deciding not to use different label
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

Update changelog and bug template for 2.13
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

fix: PR bot fails due to mixing action triggers
  .github/workflows/pr-welcome.yml
Due: none

fix: PR bot fails due to mixing action triggers (#5376)
  .github/workflows/pr-welcome.yml
Due: none

chore: Tweak PR bot logic
  .github/workflows/pr-welcome.yml
Due: none

docs: Changelog & bug template for 2.13.0 release (#5360)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

feat: Adds GCP secret manager triggerauthentication (#4864)
  .golangci.yml
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  go.mod
  go.sum
  pkg/mock/mock_eventemitter/mock_interface.go
  pkg/scaling/resolver/gcp_secretmanager_handler.go
  pkg/scaling/resolver/gcp_secretmanager_handler_test.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/secret-providers/gcp_secret_manager/gcp_secret_manager_test.go
  tests/secret-providers/gcp_secret_manager_workload_identity/gcp_secret_manager_workload_identity_test.go
  vendor/cloud.google.com/go/secretmanager/LICENSE
  vendor/cloud.google.com/go/secretmanager/apiv1/doc.go
  vendor/cloud.google.com/go/secretmanager/apiv1/gapic_metadata.json
  vendor/cloud.google.com/go/secretmanager/apiv1/iam.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secret_manager_client.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secretmanagerpb/resources.pb.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secretmanagerpb/service.pb.go
  vendor/cloud.google.com/go/secretmanager/apiv1/version.go
  vendor/cloud.google.com/go/secretmanager/internal/version.go
  vendor/modules.txt
Due: golangci-lint

Update .github/workflows/pr-welcome.yml
  .github/workflows/pr-welcome.yml
Due: none

chore: Tweak PR bot logic (#5378)
  .github/workflows/pr-welcome.yml
Due: none

First commit
  pkg/scalers/kafka_scaler.go
  pkg/scalers/scaler.go
  pkg/scalers/scaler_test.go
Due: golangci-lint

Rebase from master
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/scalers/scaler.go
  pkg/scalers/scaler_test.go
Due: golangci-lint
