Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

feat: allow vault secret to handle write operation
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/hashicorpvault_handler_test.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/scalers/predictkube/predictkube_test.go
  tests/scalers/prometheus/prometheus_helper.go
  tests/scalers/prometheus/prometheus_test.go
  tests/secret-providers/hashicorp_vault/hashicorp_vault_test.go
Due: golangci-lint

feat: add documentation
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/hashicorpvault_handler_test.go
Due: golangci-lint

fix: port camelCase changes to e2e tests
  tests/secret-providers/hashicorp_vault/hashicorp_vault_test.go
Due: golangci-lint

Change CRD name to CloudEventSource
  CHANGELOG.md
  apis/eventing/v1alpha1/cloudeventsource_types.go
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  cmd/operator/main.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/kustomization.yaml
  config/samples/eventing_v1alpha1_cloudeventsource.yaml
  controllers/eventing/cloudeventsource_controller.go
  controllers/eventing/cloudeventsource_finalizer.go
  controllers/eventing/eventsource_finalizer.go
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
  pkg/metricscollector/metricscollectors.go
Due: golangci-lint

support endpointParams in pulsar oauth (#5073)
  CHANGELOG.md
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
Due: golangci-lint

feat: allow vault secret to handle write operation (#5068)
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/hashicorpvault_handler_test.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/scalers/predictkube/predictkube_test.go
  tests/scalers/prometheus/prometheus_helper.go
  tests/scalers/prometheus/prometheus_test.go
  tests/secret-providers/hashicorp_vault/hashicorp_vault_test.go
Due: golangci-lint

chore: use ARM64 runner for main build
  .github/workflows/main-build.yml
Due: none

chore: use ARM64 runner for main build
  .github/workflows/release-build.yml
Due: none

fix: Update workflow badges on readme.md
  README.md
Due: none

fix: Prevented stuck status due to timeouts during scalers generation
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix style
  CHANGELOG.md
Due: none

Add e2e test case
  tests/sequential/broken_scaledobject_tolerancy/broken_scaledobject_tolerancy_test.go
Due: golangci-lint

Update pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: add info about aad-pod-identity deprecation (#5036)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

execute the scaler close in a goroutine
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore: use ARM64 runner for main build (#5080)
  .github/workflows/main-build.yml
  .github/workflows/release-build.yml
Due: none

fix: Update workflow badges on readme.md (#5081)
  README.md
Due: none

Update pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update tests/sequential/broken_scaledobject_tolerancy/broken_scaledobject_tolerancy_test.go
  tests/sequential/broken_scaledobject_tolerancy/broken_scaledobject_tolerancy_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

fix: Prevented stuck status due to timeouts during scalers generation (#5084)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  tests/sequential/broken_scaledobject_tolerancy/broken_scaledobject_tolerancy_test.go
Due: sort-scalers, golangci-lint

Add status in CloudEventSource
  apis/eventing/v1alpha1/cloudeventsource_types.go
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/keda.sh_eventsources.yaml
  config/rbac/role.yaml
  controllers/eventing/cloudeventsource_controller.go
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
  pkg/status/status.go
  tests/internals/cloudevent_source/cloudevent_source_test.go
Due: golangci-lint

Update kustomization
  config/crd/kustomization.yaml
  config/e2e/kustomization.yaml
Due: none

Update sample
  config/samples/eventing_v1alpha1_cloudeventsource.yaml
Due: none

Support profiling for keda components
  CHANGELOG.md
  cmd/adapter/main.go
  cmd/operator/main.go
  cmd/webhooks/main.go
Due: golangci-lint

Fix logger in otel collector
  CHANGELOG.md
  pkg/metricscollector/opentelemetry.go
Due: golangci-lint

Fix logger in OTEL collector (#5095)
  CHANGELOG.md
  pkg/metricscollector/opentelemetry.go
Due: golangci-lint

chore: Update deprecated patchesJson6902 to patches in yaml (#5092)
  config/crd/kustomization.yaml
  config/e2e/kustomization.yaml
Due: none

Fix the svc name of webhook to avoid breaking istio
  config/webhooks/service.yaml
Due: none

feat: support TriggerAuthentication properties from ConfigMap
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
