Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

bump deps (#2563)
  go.mod
  go.sum
  pkg/mock/mock_scale/mock_interfaces.go
Due: golangci-lint

Clear scalers cache correctly both in Operator and Metrics Server (#2564)
  CHANGELOG.md
  controllers/keda/metrics_adapter_controller.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/provider/provider.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore: Provide e2e secrets for Azure Application Insights scaler
  .github/workflows/pr-e2e.yml
Due: none

Update nightly-e2e.yml
  .github/workflows/nightly-e2e.yml
Due: none

Update main-build.yml
  .github/workflows/main-build.yml
Due: none

test: Provide e2e secrets for Azure Application Insights scaler (#2568)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Add support for AWS temporary credentials
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_test.go
  pkg/scalers/aws_iam_authorization.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_test.go
Due: golangci-lint

Update README.md
  README.md
Due: none

give app insights scaler test a little more time to scale
  tests/scalers/azure-app-insights.test.ts
Due: none

Add CHANGELOG entry for #2573
  CHANGELOG.md
Due: none

Add support for AWS temporary credentials (#2573)
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_test.go
  pkg/scalers/aws_iam_authorization.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_test.go
Due: golangci-lint

support namespaced Prometheus queries
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

chore: No longer push to Docker Hub on release (#2562)
  .github/workflows/main-build.yml
  .github/workflows/release-build.yml
  CHANGELOG.md
  Makefile
Due: none

reorder app insights import
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure_app_insights_scaler.go
Due: golangci-lint

Support namespaced Prometheus queries (#2576)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

group keda deps together
  pkg/scalers/azure_app_insights_scaler.go
Due: golangci-lint

feat: Provide Azure Application Insights Scaler (#2506)
  .golangci.yml
  CHANGELOG.md
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure/azure_app_insights_test.go
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_app_insights_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/package-lock.json
  tests/package.json
  tests/scalers/azure-app-insights.test.ts
Due: sort-scalers, golangci-lint

Convert other uses of ParseInt and ParseFloat to ParseNumeric
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/huawei_cloudeye_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/liiklus_scaler.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/stan_scaler.go
  pkg/util/parse_numeric.go
Due: golangci-lint

Change ParseNumeric function signature to ensure floats even when a value looks like an int if needed
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/huawei_cloudeye_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/liiklus_scaler.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/stan_scaler.go
  pkg/util/parse_numeric.go
  pkg/util/parse_numeric_test.go
Due: golangci-lint

Fix incorrect ParseNumeric flag
  pkg/scalers/aws_cloudwatch_scaler.go
Due: golangci-lint

bump deps
  go.mod
  go.sum
Due: none

bump deps (#2583)
  go.mod
  go.sum
Due: none

Prepare v2.6
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

Apply feedback
  CHANGELOG.md
Due: none

Prepare v2.6 (#2585)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

Fix release permissions
  .github/workflows/release-build.yml
Due: none

Grant needed permissions to GH_TOKEN during release (#2587)
  .github/workflows/release-build.yml
Due: none

docs: Provide guidance on changelog
  CONTRIBUTING.md
Due: none

Add link to changelog guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Due: none

docs: Provide guidance on changelog (#2589)
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

use correct index in `ScalerBuilder.Factory`
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore(deps): update actions/setup-python action to v2.3.2
  .github/workflows/pr-validation.yml
Due: none

Add case to do nothing in case oferror on upstream without fallback config
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

use correct index in `ScalerBuilder.Factory` (#2593)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update npm tar version from 6.1.0 to 6.1.11
  tests/package-lock.json
Due: none

Update trim-off-newlines and follow-redirects npm packages
  tests/package-lock.json
Due: none

Update npm test packages tar, trim-off-newlines and follow-redirects (#2606)
  tests/package-lock.json
Due: none
