Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Add Cassandra scaler
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  go.mod
  go.sum
  pkg/scalers/cassandra_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

prepare release 2.3.0
  CHANGELOG.md
Due: none

prepare release 2.3.0
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

reorder release process in notes
  RELEASE-PROCESS.MD
Due: none

prepare release 2.3.0 (#1828)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

reorder release process in notes (#1829)
  RELEASE-PROCESS.MD
Due: none

cron: adding validation for range or hyphenated inputs for start and end
  pkg/scalers/cron_scaler.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Cron scaler: adding test for metadata parsing
  pkg/scalers/cron_scaler_test.go
Due: golangci-lint

correcting naming and links in readme
  tests/README.md
Due: none

updating test document
  tests/README.md
Due: none

updating test docs
  tests/README.md
Due: none

correcting naming and links in README (#1842)
  tests/README.md
Due: none

Add renovate.json
  renovate.json
Due: none

Disable PR controls for our task list PR check
  renovate.json
Due: none

Label PRs with dependencies and define the branch prefix
  renovate.json
Due: none

Bundle Kubernetes dependencies
  renovate.json
Due: none

Bundle GitHub Actions
  renovate.json
Due: none

Sign commits for DCO
  renovate.json
Due: none

adding tests in cron test file
  pkg/scalers/cron_scaler_test.go
Due: golangci-lint

Fix: READY AND ACTIVE fields of ScaledJob to show status.
  controllers/scaledjob_controller.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

Provide additional configuration for Renovate (#1854)
  renovate.json
Due: none

fixing issue
  pkg/scalers/cron_scaler_test.go
Due: golangci-lint

cron: adding validation for range or hyphenated inputs for start and end (#1836)
  pkg/scalers/cron_scaler.go
  pkg/scalers/cron_scaler_test.go
Due: golangci-lint

Change reconcileJobType implemets to reconcileScaledJob implements in comment.
  controllers/scaledjob_controller.go
Due: golangci-lint

Update the changelog.
  CHANGELOG.md
Due: none

Move this PR link to Unreleased in CHANGELOG
  CHANGELOG.md
Due: none

Fix: READY and ACTIVE fields of ScaledJob to show status. (#1855)
  CHANGELOG.md
  controllers/scaledjob_controller.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

Show HashiCorp Vault Address when using Kubectl get ta or kubectl get cta
  api/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: golangci-lint

Update the Changelog.
  CHANGELOG.md
Due: none

Support non-public cloud environments in the Azure Storage Queue scaler
  CHANGELOG.md
  pkg/scalers/azure/azure_queue.go
  pkg/scalers/azure/azure_queue_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_queue_scaler.go
Due: golangci-lint

Correct the Changelog.
  CHANGELOG.md
Due: none

create DefaultEndpointSuffix method for storage endpoint type
  go.mod
  go.sum
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_queue_scaler.go
Due: golangci-lint

support non-public clouds in the azure storage blob scaler
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure/azure_blob_test.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

update changelog to include the azure blob scaler
  CHANGELOG.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
