Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Expose GSSAPI Service name configuration of Kafka Scaler (#5483)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

add core logic to support access token in postgres scaler
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
Due: golangci-lint

minor fix
  pkg/scaling/scalers_builder.go
Due: golangci-lint

run make build to fmt code
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

fix: Remove deprecated dependency from devcontainer's Dockerfile
  .devcontainer/Dockerfile
Due: none

fix: Remove deprecated dependency from devcontainer's Dockerfile (#5591)
  .devcontainer/Dockerfile
Due: none

fix: conflicting types of log fields in json output
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: TriggerAuthentication.podIdentity validation allows 'none'
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: golangci-lint

chore: Add more granular control to E2E test setup
  CHANGELOG.md
  tests/helper/helper.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

fix: error metrics are correctly exposed
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

changelog
  CHANGELOG.md
Due: none

chore: Add more granular control to E2E test setup (#5595)
  CHANGELOG.md
  tests/helper/helper.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

fix: TriggerAuthentication.podIdentity validation allows 'none' (#5593)
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: golangci-lint

MongoDB Scaler - Scheme field support (#5566)
  CHANGELOG.md
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint

add new a filed InitialDelayCooldownPeriod delay the effective time of CooldownPeriod and e2e
  apis/keda/v1alpha1/scaledobject_types.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/scaling/executor/scale_scaledobjects.go
  tests/internals/initial_delay_cooldownperiod/initial_delay_cooldownperiod_test.go
Due: golangci-lint

test:simplify initial-delay-cooldownperiod e2e test
  tests/internals/initial_delay_cooldownperiod/initial_delay_cooldownperiod_test.go
Due: golangci-lint

make regexp password pattern global
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

adapt to use placeholder for regexp
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
Due: golangci-lint

add missing authPodIdentity variable
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

lint code using gci write... command
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

Event Hub Scaler: Remove or replace usages of Event Hub offsets
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  vendor/github.com/Azure/azure-event-hubs-go/v3/amqp_mgmt.go
Due: golangci-lint

lint import + add 2 unite tests
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
Due: golangci-lint

lint with make fmt
  pkg/scalers/postgresql_scaler_test.go
Due: golangci-lint

Update
  tests/.env
  tests/eventemitter/azureeventgrid/azureeventgrid_test.go
Due: golangci-lint

Update changelog.md
  CHANGELOG.md
Due: none

Fix
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/service_account/kustomization.yaml
  config/webhooks/kustomization.yaml
Due: none

Fix
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: none

Fix: Prometheus error metrics are correctly exposed (#5598)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

WIP - chore: Remove not used context (#5530)
  pkg/provider/provider.go
Due: golangci-lint

fix: Refactor paused e2e test
  tests/internals/pause_scaledjob/pause_scaledjob_test.go
Due: golangci-lint

fix scalign modifiers e2e
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
Due: golangci-lint

Update
  apis/eventing/v1alpha1/cloudeventsource_types.go
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  pkg/eventemitter/azure_event_grid_topic_handler.go
  pkg/eventemitter/eventemitter.go
  tests/eventemitter/azureeventgrid/azureeventgridtopic_test.go
Due: golangci-lint

Adds CHANGELOG
  CHANGELOG.md
Due: none

Fixes CHANGELOG order
  CHANGELOG.md
Due: none

add logging
  pkg/metricsservice/server.go
Due: golangci-lint

add new vendor files
  vendor/google.golang.org/grpc/health/client.go
  vendor/google.golang.org/grpc/health/logging.go
  vendor/google.golang.org/grpc/health/server.go
Due: none

fix server startup
  pkg/metricsservice/server.go
Due: golangci-lint

Add healthchecks
  cmd/operator/main.go
  pkg/metricsservice/server.go
  vendor/modules.txt
Due: golangci-lint

add changelog
  CHANGELOG.md
Due: none
