Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

fix some linting issues
  pkg/scalers/github_runner_scaler.go
  tests/internals/subresource_scale/subresource_scale_test.go
  tests/scalers/redis/helper/helper.go
  tests/scalers/redis/redis_cluster_lists/redis_cluster_lists_test.go
  tests/scalers/redis/redis_cluster_streams/redis_cluster_streams_test.go
  tests/scalers/redis/redis_cluster_streams_length/redis_cluster_streams_length_test.go
  tests/scalers/redis/redis_sentinel_lists/redis_sentinel_lists_test.go
  tests/scalers/redis/redis_sentinel_streams/redis_sentinel_streams_test.go
  tests/scalers/redis/redis_sentinel_streams_length/redis_sentinel_streams_length_test.go
Due: golangci-lint

fix linting issues
  pkg/provider/provider.go
  pkg/scalers/arangodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cron_scaler.go
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/external_mock_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  tests/scalers/loki/loki_test.go
  tests/scalers/mongodb/mongodb_test.go
  tests/scalers/nats_jetstream/nats_jetstream_standalone/nats_jetstream_standalone_test.go
  tests/scalers/predictkube/predictkube_test.go
  tests/scalers/prometheus/prometheus_helper.go
  tests/scalers/prometheus/prometheus_test.go
  tests/secret-providers/hashicorp_vault/hashicorp_vault_test.go
Due: golangci-lint

Scaler works now
  pkg/scalers/redis_streams_scaler.go
  tests/scalers/redis/redis_cluster_streams/redis_cluster_streams_test.go
  tests/tmp.json
Due: golangci-lint

chore: use new cluster names
  .github/workflows/pr-e2e.yml
  Makefile
Due: none

chore: use new cluster names (#4522)
  .github/workflows/pr-e2e.yml
  Makefile
Due: none

chore: Use env from infra repo
  .github/workflows/v1-build.yml
  Makefile
  tests/.env
  tests/scalers/azure/azure_application_insights/azure_application_insights_test.go
  tests/scalers/azure/azure_data_explorer/azure_data_explorer_test.go
  tests/scalers/azure/azure_log_analytics/azure_log_analytics_test.go
  tests/scalers/azure/azure_monitor/azure_monitor_test.go
  tests/secret-providers/azure_keyvault/azure_keyvault_test.go
Due: golangci-lint

fix: Update e2e tests after upgrade k8s 1.26
  tests/sequential/disruption/disruption_test.go
Due: golangci-lint

update some tests
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/helper/helper.go
  tests/scalers/kafka/kafka_test.go
  tests/scalers/redis/redis_cluster_lists/redis_cluster_lists_test.go
  tests/scalers/redis/redis_sentinel_lists/redis_sentinel_lists_test.go
  tests/scalers/redis/redis_standalone_lists/redis_standalone_lists_test.go
  tests/sequential/disruption/disruption_test.go
Due: golangci-lint

update kafka e2e test
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

fix polling e2e test
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
Due: golangci-lint

fix linter errors
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
Due: golangci-lint

fix sequential e2e test
  tests/sequential/disruption/disruption_test.go
Due: golangci-lint

fix: Update e2e tests after upgrade k8s 1.26 (#4526)
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/helper/helper.go
  tests/scalers/kafka/kafka_test.go
  tests/scalers/redis/redis_cluster_lists/redis_cluster_lists_test.go
  tests/scalers/redis/redis_sentinel_lists/redis_sentinel_lists_test.go
  tests/scalers/redis/redis_standalone_lists/redis_standalone_lists_test.go
  tests/sequential/disruption/disruption_test.go
Due: golangci-lint

find the stream leader the old way if nodes are not advertised
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
Due: golangci-lint

find the stream leader the old way if nodes are not advertised (#4525)
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
Due: golangci-lint

bump kust
  go.mod
  go.sum
  vendor/github.com/Azure/azure-kusto-go/kusto/conn.go
  vendor/github.com/Azure/azure-kusto-go/kusto/conn_streaming_ingest.go
  vendor/github.com/Azure/azure-kusto-go/kusto/internal/frames/v2/v2.go
  vendor/github.com/Azure/azure-kusto-go/kusto/internal/version/version.go
  vendor/github.com/Azure/azure-kusto-go/kusto/kcsb.go
  vendor/github.com/Azure/azure-kusto-go/kusto/kusto.go
  vendor/github.com/Azure/azure-kusto-go/kusto/mgmtopts.go
  vendor/github.com/Azure/azure-kusto-go/kusto/mock.go
  vendor/github.com/Azure/azure-kusto-go/kusto/queryopts.go
  vendor/modules.txt
Due: golangci-lint

remove unused parameters
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

fix: Set POD_NAMESPACE env var on manager deployment
  config/manager/manager.yaml
Due: none

fix: Set POD_NAMESPACE env var on manager deployment (#4534)
  config/manager/manager.yaml
Due: none

update generated files
  pkg/generated/clientset/versioned/doc.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_triggerauthentication.go
Due: golangci-lint

add missing changes
  cmd/adapter/main.go
  cmd/operator/main.go
Due: golangci-lint

remove unsued code
  cmd/adapter/main.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  controllers/keda/metrics_adapter_controller.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/provider/provider.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

remove unused code
  cmd/adapter/main.go
  controllers/keda/metrics_adapter_controller.go
Due: golangci-lint

remove unused code
  cmd/adapter/main.go
Due: golangci-lint

chore: add `sequetial` section to e2e tests Readme
  tests/README.md
Due: none

chore: add `sequetial` section to e2e tests Readme (#4545)
  tests/README.md
Due: none

remove more unused code
  cmd/adapter/main.go
Due: golangci-lint

feat: Add OAuth extensions for kafka scaler
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_oauth_token_provider.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Metrics Adapter: remove deprecated Prom Metrics and non-gRPC code
  CHANGELOG.md
  cmd/adapter/main.go
  config/metrics-server/deployment.yaml
  config/metrics-server/service.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/metricsservice/client.go
  pkg/metricsservice/server.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/prommetrics/adapter/adapter_prommetrics.go
  pkg/provider/provider.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

Add insecureSkipVerify config in ScaleObject
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
Due: golangci-lint

Add tls options in TriggerAuth metadata
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
Due: golangci-lint

Fix semgrep
  pkg/scalers/external_scaler.go
Due: golangci-lint

Fix failing unittest
  pkg/scalers/external_scaler.go
Due: golangci-lint

Refactor code to use tls util helper function
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
  pkg/util/tls_config.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
