Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Update Kubernetes Dependencies
  go.mod
  go.sum
Due: none

Add support for Trigger Authentication for InfluxDB (#1904)
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

scale handler chores (#1903)
  api/v1alpha1/withtriggers_types.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Handle password value correctly; add tests.
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/ibmmq_scaler_test.go
Due: golangci-lint

Update Changelog
  CHANGELOG.md
Due: none

Remove extraneous newline in test code
  pkg/scalers/ibmmq_scaler_test.go
Due: golangci-lint

Handle password value correctly; add tests. (#1939)
  CHANGELOG.md
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/ibmmq_scaler_test.go
Due: golangci-lint

Update All
  .pre-commit-config.yaml
  go.mod
  tools/build-tools.Dockerfile
Due: none

Commit changes for solace-queue scaler
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/solace-helpers.ts
  tests/scalers/solace.tests.ts
Due: sort-scalers, golangci-lint

Missed some cleanup in previous commit -- deleted unnecessary lines and comments
  pkg/scalers/solace_scaler_test.go
  tests/scalers/solace.tests.ts
Due: golangci-lint

Update All
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.adapter
  go.mod
  go.sum
Due: none

Renovate: update only actions
  renovate.json
Due: none

bump deps
  go.mod
  go.sum
Due: none

Renovate: update only actions (#1947)
  renovate.json
Due: none

Update google.golang.org/genproto commit hash to e76da96
  go.mod
  go.sum
Due: none

Add ratelimitting parameters to keda metrics apiserver to allow override of client defaults
  CHANGELOG.md
  adapter/main.go
Due: golangci-lint

bump deps (#1948)
  go.mod
  go.sum
Due: none

Update github.com/kubernetes-sigs/custom-metrics-apiserver commit hash to 37362ca
  go.mod
Due: none

Update k8s.io/kube-openapi commit hash to 3c81807
  go.mod
  go.sum
Due: none

Update golang Docker tag to v1.16.5
  .devcontainer/Dockerfile
  Dockerfile
  Dockerfile.adapter
Due: none

Add ratelimitting parameters to keda metrics apiserver to allow override of client defaults (#1944)
  CHANGELOG.md
  adapter/main.go
Due: golangci-lint

Renovate: ignore other deps then GH actions
  renovate.json
Due: none

Renovate: ignore other deps then GH actions (#1954)
  renovate.json
Due: none

Corrected linting errors and cleanup
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
  tests/scalers/solace.tests.ts
Due: golangci-lint

Corrected linting errors
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
  tests/scalers/solace-helpers.ts
Due: golangci-lint

Mods for linting complete and tested -- additional minor mods
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
  tests/scalers/solace-helpers.ts
Due: golangci-lint

batch GetOffset requests
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Changes for Solace Scaler - PR #1945 - from review
  CHANGELOG.md
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/solace-helpers.ts
  tests/scalers/solace.tests.ts
Due: sort-scalers, golangci-lint

Add support to use regex with HTTP protocol
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Kafka scaler: batch GetOffset requests (#1956)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Add configuration error and test
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
