Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

feature/datadog-scaler-timeWindowOffset-and-timeWindowOffset (#1)
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

remove comment
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

fix static check err
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

sort CHANGELOG
  CHANGELOG.md
Due: none

use html/template instead of text/template to avoid inyections
  pkg/scalers/activemq_scaler.go
Due: golangci-lint

fix: Added some missing error checks
  pkg/scalers/artemis_scaler.go
  pkg/scalers/openstack/keystone_authentication.go
Due: golangci-lint

fixed dupl for mongodb and couchdb
  .golangci.yml
Due: none

Add Implementation for ExcludePersistentLag
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  tests/helper/helper.go
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

Reduce kafka test duration
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

Cron scaler: Fix unexpected instance count change (#3838)
  CHANGELOG.md
  pkg/scalers/cron_scaler.go
Due: golangci-lint

added new line
  .golangci.yml
Due: none

fix: Added some missing error checks (#3985)
  pkg/scalers/artemis_scaler.go
  pkg/scalers/openstack/keystone_authentication.go
Due: golangci-lint

use html/template instead of text/template to avoid inyections (#3984)
  pkg/scalers/activemq_scaler.go
Due: golangci-lint

Update .golangci.yml
  .golangci.yml
Due: none

Apache Kafka Scaler: Implementation for Excluding Persistent Lag (#3965)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  tests/helper/helper.go
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

Support Restrict Secret Access (#3677)
  CHANGELOG.md
  adapter/main.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/suite_test.go
  main.go
  pkg/scaling/resolver/azure_keyvault_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
  pkg/util/env_resolver.go
Due: sort-scalers, golangci-lint

exclude datadog_scaler.go from static check
  .golangci.yml
Due: none

chore: v2.9 is delayed to Dec 9th
  ROADMAP.md
Due: none

chore: v2.9 is delayed to Dec 9th (#3988)
  ROADMAP.md
Due: none

fix/datadog-scaler-null-last-point (#3954)
  .golangci.yml
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

fix: apply rule trailofbits.go.questionable-assignment.questionable-assignment
  pkg/metricsservice/client.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/etcd_scaler.go
  pkg/scalers/gcp_stackdriver_client.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/kafka_scram_client.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/loki_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix error in workload scaler
  pkg/scalers/kubernetes_workload_scaler.go
Due: golangci-lint

undo the hack deletion
  pkg/metricsservice/client.go
Due: golangci-lint

fix etcd scaler errors
  pkg/scalers/etcd_scaler.go
Due: golangci-lint

update couchdb
  pkg/scalers/couchdb_scaler.go
Due: golangci-lint

fix(mongodb): escape username and password
  BUILD.md
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint

chore: exclude autogenerated code from semgrep
  .semgrepignore
Due: none

chore: exclude autogenerated code from semgrep (#3990)
  .semgrepignore
Due: none

fix: apply rule trailofbits.go.questionable-assignment.questionable-assignment (#3983)
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/etcd_scaler.go
  pkg/scalers/gcp_stackdriver_client.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/kafka_scram_client.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/loki_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

update changelog
  CHANGELOG.md
Due: none

fix(mongodb): escape username and password (#3989)
  BUILD.md
  CHANGELOG.md
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint
