Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Update job concurrency
  .github/workflows/pr-e2e.yml
Due: none

Use a different cluster for pr e2e runs (#2283)
  .github/workflows/pr-e2e.yml
Due: none

`beta.kubernetes.io/os` nodeSelector is deprecated (#2280)
  config/manager/manager.yaml
  config/metrics-server/deployment.yaml
  tests/scalers/azure-blob.test.ts
Due: none

fix typo
  pkg/provider/provider.go
Due: golangci-lint

Add parameter to allow skip tsl validation to httpclient
  pkg/scalers/artemis_scaler.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/openstack/keystone_authentication.go
  pkg/scalers/openstack/utils/serviceTypes.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/solace_scaler.go
  pkg/scalers/stan_scaler.go
  pkg/util/http.go
Due: golangci-lint

Fix typo and add test
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
  pkg/util/http.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

docs: Provide emphasize on preparing our Helm chart
  RELEASE-PROCESS.MD
Due: none

Rebase main
  RELEASE-PROCESS.MD
Due: none

Add `unsafeSsl` parameter in Selenium Grid scaler (#2285)
  CHANGELOG.md
  pkg/scalers/artemis_scaler.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/openstack/keystone_authentication.go
  pkg/scalers/openstack/utils/serviceTypes.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
  pkg/scalers/solace_scaler.go
  pkg/scalers/stan_scaler.go
  pkg/util/http.go
Due: golangci-lint

docs: Provide emphasize on preparing our Helm chart (#2288)
  RELEASE-PROCESS.MD
Due: none

Add tests to check regexp expression
  pkg/scalers/gcp_pubsub_scaler_test.go
Due: golangci-lint

Add functionality in improvements
  CHANGELOG.md
Due: none

Correct PR number
  CHANGELOG.md
Due: none

improve (azure-pipelines): log url on error Co-authored-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

typo: missing ) on string()
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

fixing: unnecessary conversion
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

fixing: ST1005 Go Convention
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

add backwards compatibility for subscriptionSize field
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
Due: golangci-lint

return error if one of value or mode are present with subscriptionSize field
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

fix update in changelog, move from new to improvements
  CHANGELOG.md
Due: none

adds an elasticsearch scaler based on search template
  go.mod
  go.sum
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scaling/scale_handler.go
  tests/scalers/elasticsearch.test.ts
Due: sort-scalers, golangci-lint

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

remove unused field
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

add info about deprecation of subscriptionSize field
  CHANGELOG.md
Due: none

chore: proper indent
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
Due: golangci-lint

chore: fixes lints
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
Due: golangci-lint

chore: add changelog entry
  CHANGELOG.md
Due: none

chore: rename params to parameters
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
  tests/scalers/elasticsearch.test.ts
Due: golangci-lint

chore: fix comment
  pkg/scalers/elasticsearch_scaler.go
Due: golangci-lint

:chore: trim
  tests/scalers/elasticsearch.test.ts
Due: none

chore: fix imports order
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
Due: golangci-lint

chore: fix bad if / else / else if
  pkg/scalers/elasticsearch_scaler_test.go
Due: golangci-lint

chore: fix sort in scale_handler
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint
