Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

update changelog
  CHANGELOG.md
Due: none

.
  CHANGELOG.md
Due: none

prepare v2.18.1
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

fix changelog
  CHANGELOG.md
Due: none

prepare v2.18.1 (#7208)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

Replace deprecated task
  .github/workflows/release-build.yml
  Makefile
  schema/generate_scaler_schema.go
  schema/generated/scalers-metadata-schema-2.18.0.json
  schema/generated/scalers-metadata-schema-2.18.0.yaml
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: golangci-lint

fix(rabbitmq-scaler): support passwordless TLS authentication
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Add tests for fix
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

add `kubernetes-resource` scaler
  CHANGELOG.md
  pkg/scalers/kubernetes_resource_scaler.go
  pkg/scalers/kubernetes_resource_scaler_test.go
  pkg/scaling/scalers_builder.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/scalers/kubernetes_resource/kubernetes_resource_test.go
Due: golangci-lint

fix: race condition when pausing ScaledObject prevents scaling to paused replicas
  CHANGELOG.md
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

Squash merge main into fix-scaledobject-pause-replicas
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

fix temporal e2e
  tests/scalers/temporal/temporal_test.go
Due: golangci-lint

feat: add file-based authentication support for ClusterTriggerAuthentication
  CHANGELOG.md
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  tests/internals/file_based_auth/file_based_auth_test.go
Due: golangci-lint

feat(rabbitmq): support TLS passwordless auth with allowEmpty tag
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

address review feedback
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/triggerauthentication_types_test.go
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
  cmd/operator/main.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  tests/internals/file_based_auth/file_based_auth_test.go
Due: golangci-lint

Refactor openstack swift scaler
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/openstack_swift_scaler_test.go
Due: golangci-lint

Replace deprecated task (#7210)
  .github/workflows/release-build.yml
  Makefile
  schema/generate_scaler_schema.go
  schema/generated/scalers-metadata-schema-2.18.0.json
  schema/generated/scalers-metadata-schema-2.18.0.yaml
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: golangci-lint

Docs: update ROADMAP and changelog
  CHANGELOG.md
  ROADMAP.md
Due: none

Fix ScaledObject pause behavior when HPA doesn't exist
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Add missing v2.18.1 link to CHANGELOG
  CHANGELOG.md
Due: none

Add missing v2.18.1 link to CHANGELOG (#7236)
  CHANGELOG.md
Due: none

add `kubernetes-resource` scaler
  CHANGELOG.md
  pkg/scalers/kubernetes_resource_scaler.go
  pkg/scalers/kubernetes_resource_scaler_test.go
  pkg/scaling/scalers_builder.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
  tests/scalers/kubernetes_resource/kubernetes_resource_test.go
Due: golangci-lint

add `kubernetes-resource` scaler (#7211)
  CHANGELOG.md
  pkg/scalers/kubernetes_resource_scaler.go
  pkg/scalers/kubernetes_resource_scaler_test.go
  pkg/scaling/scalers_builder.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
  tests/scalers/kubernetes_resource/kubernetes_resource_test.go
Due: golangci-lint

fix: vendor/github.com/samber/lo/Dockerfile to reduce vulnerabilities
  vendor/github.com/samber/lo/Dockerfile
Due: none

fix: metricUnavailableValue parameter not working in Datadog scaler
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

feat: add contributing question in bug report template
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

feat: replacing deprecated azure autorest to azure-sdk-go lib
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_keda_client.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_triggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/keda_client.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/triggerauthentication.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/generated/informers/externalversions/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/informers/externalversions/keda/v1alpha1/scaledjob.go
  pkg/generated/informers/externalversions/keda/v1alpha1/scaledobject.go
  pkg/generated/informers/externalversions/keda/v1alpha1/triggerauthentication.go
  pkg/generated/listers/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/listers/keda/v1alpha1/scaledjob.go
  pkg/generated/listers/keda/v1alpha1/scaledobject.go
  pkg/generated/listers/keda/v1alpha1/triggerauthentication.go
Due: none

feat: replacing deprecated azure autorest to azure-sdk-go lib
  CHANGELOG.md
Due: none

feat: replacing deprecated azure autorest to azure-sdk-go lib
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure_app_insights_scaler.go
Due: golangci-lint

feat: replacing deprecated azure autorest to azure-sdk-go lib
  pkg/scalers/azure/azure_app_insights.go
Due: golangci-lint

Update azure_app_insights.go
  pkg/scalers/azure/azure_app_insights.go
Due: golangci-lint

chore: Remove bitnami redis cluster chart
  tests/scalers/redis/helper/helper.go
Due: golangci-lint

fix: apply fallback in polling loop to enable scaling from zero
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  tests/internals/fallback/fallback.go
Due: sort-scalers, golangci-lint

Add optional AWS Account ID when using CloudWatch cross-account observability
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
  tests/scalers/aws/aws_cloudwatch_cross_account/aws_cloudwatch_cross_account_test.go
Due: golangci-lint

fix
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore: Remove bitnami redis cluster chart (#7243)
  tests/scalers/redis/helper/helper.go
Due: golangci-lint
