Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

bump go to v1.17.13
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  CHANGELOG.md
Due: none

fix devcontainer commenting some packages
  .devcontainer/Dockerfile
Due: none

bump gh actions
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/v1-build.yml
Due: none

bump more deps
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  go.mod
  go.sum
Due: none

bump go version
  Dockerfile
  Dockerfile.adapter
Due: none

feat: add ContainerResource type for HPA cpu/memory scaler
  CHANGELOG.md
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
Due: golangci-lint

bump deps
  go.mod
  go.sum
Due: none

resolve conflics
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  go.mod
  go.sum
Due: golangci-lint

workespace path as safe for git running on containers
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  adapter/generated/openapi/zz_generated.openapi.go
Due: golangci-lint

chore: Bump Golang to 1.17.13 and deps (#3466)
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/v1-build.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.adapter
  adapter/generated/openapi/zz_generated.openapi.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  go.mod
  go.sum
Due: golangci-lint

remove npm calls
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .gitignore
  Makefile
Due: none

remove npm calls (#3515)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .gitignore
  Makefile
Due: none

Update for review comments
  CHANGELOG.md
  pkg/scalers/cpu_memory_scaler.go
Due: golangci-lint

Upgraded Azure Pipelines to support demands (#2795)
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

feat: add ContainerResource type for HPA cpu/memory scaler (#3513)
  CHANGELOG.md
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
Due: golangci-lint

Introduce activationValue/thresholdValue for InfluxDB scaler
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

Sign the commit with DCO
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scaling/scale_handler.go
  tests/README.md
  tests/scalers/nats_jetstream/nats_helper.go
  tests/scalers/nats_jetstream/nats_jetstream_test.go
Due: sort-scalers, golangci-lint

Update .golangci.yml to ignore duplicate code warning
  .golangci.yml
Due: none

Fix linter issue
  .golangci.yml
  tests/scalers/nats_jetstream/nats_helper.go
  tests/scalers/nats_jetstream/nats_jetstream_test.go
Due: golangci-lint

Feat: adding activationTest to InfluxDB E2E
  tests/scalers/influxdb/influxdb_test.go
Due: golangci-lint

Update tests/scalers_go/pulsar/pulsar_test.go
  tests/scalers_go/pulsar/pulsar_test.go
Due: golangci-lint

Introduce activationValue/minMetricValue for InfluxDB scaler (#3516)
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  tests/scalers/influxdb/influxdb_test.go
Due: golangci-lint

Add Apache Pulsar Scaler (#3021)
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers_go/pulsar/pulsar_test.go
Due: sort-scalers, golangci-lint

chore: fix Pulsar scaler e2e test and logger
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
  tests/scalers/pulsar/pulsar_test.go
Due: golangci-lint

chore: fix Pulsar scaler e2e test and logger (#3517)
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
  tests/scalers/pulsar/pulsar_test.go
Due: golangci-lint

Add NATS JetStream scaler (#3468)
  .golangci.yml
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scaling/scale_handler.go
  tests/README.md
  tests/scalers/nats_jetstream/nats_helper.go
  tests/scalers/nats_jetstream/nats_jetstream_test.go
Due: sort-scalers, golangci-lint

chore: refactor logger for Nats Jetstream scaler
  pkg/scalers/nats_jetstream_scaler.go
Due: golangci-lint

Add unit tests for NATS JetStream scaler
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

chore: refactor logger for Nats Jetstream scaler (#3519)
  pkg/scalers/nats_jetstream_scaler.go
Due: golangci-lint

Add unit tests for NATS JetStream scaler (#3521)
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

use vendor packages to generate mocks
  controllers/keda/scaledobject_controller.go
  pkg/scalers/azure/azure_aad_podidentity.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/openstack/keystone_authentication.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/solace_scaler.go
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/helper/helper.go
Due: golangci-lint

use vendor packages to generate mocks (#3520)
  controllers/keda/scaledobject_controller.go
  pkg/scalers/azure/azure_aad_podidentity.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/openstack/keystone_authentication.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/solace_scaler.go
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/helper/helper.go
Due: golangci-lint

fix: Broken link in Changelog
  CHANGELOG.md
Due: none

fix: Broken link in Changelog (#3534)
  CHANGELOG.md
Due: none

fix: bump gopkg.in/yaml.v3 to mitigate CVE-2022-28948
  go.mod
  go.sum
Due: none

feat: Provide issue template to track progress of new KEDA release
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none

docs: Prepare changelog
  CHANGELOG.md
Due: none

chore: Add 2.8.0 in bug report
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

feat: Provide issue template to track progress of new KEDA release (#3539)
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none
