Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Fix minor typo and CI failure from code review
  pkg/scalers/external_scaler.go
  pkg/util/tls_config_test.go
Due: golangci-lint

Fix precommit CI check
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/external_scaler_test.go
Due: golangci-lint

Add CHANGELOG file
  CHANGELOG.md
Due: none

Set ignore semgrep
  pkg/scalers/external_scaler.go
Due: golangci-lint

Add test for the new function in tls package
  pkg/util/tls_config_test.go
Due: golangci-lint

Change the argument name to
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
Due: golangci-lint

revert the method to check for CA
  pkg/util/tls_config.go
  pkg/util/tls_config_test.go
Due: golangci-lint

Fix semgrep
  pkg/scalers/external_scaler.go
Due: golangci-lint

Fix static check CI failure
  pkg/util/tls_config_test.go
Due: golangci-lint

Link deprecation comment to an issue
  pkg/scalers/external_scaler.go
Due: golangci-lint

feat: Add OAuth extensions for kafka scaler (#4486)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_oauth_token_provider.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

chore: e2e log messages
  tests/run-all.go
Due: golangci-lint

chore: e2e log messages (#4548)
  tests/run-all.go
Due: golangci-lint

replace namepsace by exported_namespace in keda-dashboard
  CHANGELOG.md
  config/grafana/keda-dashboard.json
Due: none

External Scaler: Add tls options in TriggerAuth metadata (#4407)
  CHANGELOG.md
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
  pkg/util/tls_config_test.go
Due: golangci-lint

refactor: several functions for Status & Conditions handling into pkg util functions. add Changelog
  CHANGELOG.md
Due: none

refactor: several functions for Status & Conditions handling into pkg util functions
  controllers/keda/hpa.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/util/status.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/util/status.go
Due: golangci-lint

refactor: several functions for Status & Conditions handling into pkg util functions. fix error message
  pkg/util/status.go
Due: golangci-lint

Metrics Adapter: remove deprecated Prom Metrics and non-gRPC code (#4479)
  CHANGELOG.md
  cmd/adapter/main.go
  config/metrics-server/deployment.yaml
  config/metrics-server/service.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/metricsservice/client.go
  pkg/metricsservice/server.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/prommetrics/adapter/adapter_prommetrics.go
  pkg/provider/provider.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

refactor: util functions for Status & Conditions handling (#4487)
  CHANGELOG.md
  controllers/keda/hpa.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/util/status.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/util/status.go
Due: golangci-lint

docs(security): We use a combo of Renovate + Dependabot
  SECURITY.md
Due: none

docs(security): Add Dependabot to security policy (#4559)
  SECURITY.md
Due: none

docs(security): Secret scanning is now enabled
  SECURITY.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

docs(security): Secret scanning is now enabled (#4561)
  CHANGELOG.md
  SECURITY.md
Due: none

ci(security): Upload Semgrep & Trivy scan results to GitHub Code Scanning in PRs
  CHANGELOG.md
  SECURITY.md
Due: none

Pulsar: improve error messages
  CHANGELOG.md
  pkg/scalers/pulsar_scaler.go
Due: golangci-lint

Pulsar: improve error messages (#4564)
  CHANGELOG.md
  pkg/scalers/pulsar_scaler.go
Due: golangci-lint

fix: Check if MaxReplicaCount is nil before access to it
  apis/keda/v1alpha1/scaledjob_types.go
Due: golangci-lint

chore: add v2.10.1 to Changelog
  CHANGELOG.md
Due: none

chore: add v2.10.1 to Changelog (#4566)
  CHANGELOG.md
Due: none

fix: Check if MaxReplicaCount is nil before access to it
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  apis/keda/v1alpha1/scaledjob_types_test.go
Due: golangci-lint

fix: Check if MaxReplicaCount is nil before access to it (#4567)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  apis/keda/v1alpha1/scaledjob_types_test.go
Due: golangci-lint

sytle: correct the sentence
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

style: correct the sentence (#4574)
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

fix: disable gRPC client side auth
  pkg/metricsservice/utils/tls.go
Due: golangci-lint

chore: explain how to execute e2e tests on PRs
  tests/README.md
Due: none

add missing changes
  tests/README.md
Due: none

add a note explaining how to skip e2e
  tests/README.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
