Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fix: raw metrics over gRPC (sending to closed channel)
  pkg/metricsservice/server.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
Due: sort-scalers, golangci-lint

fixed e2e test according to failed github actions with static checks
  tests/scalers/splunk_observability/splunk_observability_test.go
Due: golangci-lint

added scalers schema
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
Due: none

fix: external scaler deactivation
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: raw metrics over gRPC (sending to closed channel) (#7115)
  pkg/metricsservice/server.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
Due: sort-scalers, golangci-lint

Add support for partition based scaling on the kafka scaler
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/scalers/apache_kafka/apache_kafka_test.go
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

fixed failed static check by removing new line at end of file
  tests/.env
Due: none

fixed failed static check by adding a new line at the end of the file. I should go to sleep
  tests/.env
Due: none

ci: clear some disk space for PR validation step
  .github/workflows/pr-validation.yml
Due: none

ci: cleanup disk space through container
  .github/workflows/pr-validation.yml
Due: none

add DeliverGetRate, PublishedToDeliveredRatio and ExpectedQueueConsumptionTime trigger modes to RabbitMQ scaler (#6933)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  tests/internals/scaling_strategies/eager_scaling_strategy_test.go
  tests/scalers/rabbitmq/rabbitmq_helper.go
  tests/scalers/rabbitmq/rabbitmq_queue_amqp/rabbitmq_queue_amqp_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_amqp_auth/rabbitmq_queue_amqp_auth_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_amqp_vhost/rabbitmq_queue_amqp_vhost_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http/rabbitmq_queue_http_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_aad_wi/rabbitmq_queue_http_aad_wi_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_auth/rabbitmq_queue_http_auth_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_dget/rabbitmq_queue_http_dget_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_dpratio/rabbitmq_queue_http_dpratio_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_eqct/rabbitmq_queue_http_eqct_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_regex_aad_wi/rabbitmq_queue_http_regex_aad_wi_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_regex_vhost/rabbitmq_queue_http_regex_vhost_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_vhost/rabbitmq_queue_http_vhost_test.go
Due: golangci-lint

Add support for partition based scaling on the kafka scaler (#6558)
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/scalers/apache_kafka/apache_kafka_test.go
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

Solace Scaler: Enhancement add support for hostlist of Solace brokers (#7089)
  CHANGELOG.md
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
Due: golangci-lint

ci: clear some disk space for PR validation step (#7150)
  .github/workflows/pr-validation.yml
Due: none

add: tls & ca
  pkg/scalers/mysql_scaler.go
  pkg/scalers/mysql_scaler_test.go
Due: golangci-lint

feat(azure_pipelines_scaler): add an option to enable demands to be case insensitive
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
Due: golangci-lint

fix: external scaler deactivation (#7116)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

update release schedule and estimations
  ROADMAP.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update Go to 1.24.7
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-s390x-smoke-tests.yml
  .github/workflows/template-smoke-tests.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
Due: none

Splunk observability scaler (#6534)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/splunk_observability_scaler.go
  pkg/scalers/splunk_observability_scaler_test.go
  pkg/scaling/scalers_builder.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/.env
  tests/scalers/splunk_observability/splunk_observability_test.go
  vendor/github.com/signalfx/signalflow-client-go/v2/LICENSE
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/client.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/computation.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/conn.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/doc.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/fake_backend.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/binary.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/control.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/error.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/event.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/info.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/json.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/metadata.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/types.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/requests.go
  vendor/github.com/signalfx/signalfx-go/LICENSE
  vendor/github.com/signalfx/signalfx-go/idtool/idtool.go
  vendor/modules.txt
Due: golangci-lint

chore: update release tracker
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none

chore: update release tracker (#7157)
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none

chore: add support for KEDA version 2.18.0 and Kubernetes versions 1.34, 1.33 in bug report template
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

bump deps
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-s390x-smoke-tests.yml
  .github/workflows/template-smoke-tests.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  go.mod
  go.sum
Due: none

update pb
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

fix dep issues
  go.mod
  pkg/metricsservice/api/metrics.pb.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  vendor/cloud.google.com/go/storage/trace.go
  vendor/github.com/influxdata/line-protocol/v2/LICENSE
  vendor/github.com/klauspost/cpuid/v2/.gitignore
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/schema.go
Due: golangci-lint

update release schedule and estimations (#7155)
  ROADMAP.md
Due: none

fix: update release tracker checklist for changelog preparation
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none

missing files
  vendor/cloud.google.com/go/storage/trace.go
  vendor/github.com/influxdata/line-protocol/v2/LICENSE
  vendor/github.com/klauspost/cpuid/v2/.gitignore
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.34.0/schema.go
Due: none

fix: update release tracker checklist for changelog preparation (#7159)
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none

chore: bump golintci to v2.5.0
  .golangci.yml
  CONTRIBUTING.md
  Makefile
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  controllers/eventing/reconciler.go
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/hpa.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledjob_finalizer.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  controllers/keda/triggerauthentication_controller.go
  pkg/fallback/fallback.go
  pkg/mock/mock_serviceaccounts/mock_interfaces.go
  pkg/scalers/activemq_scaler_test.go
  pkg/scalers/artemis_scaler_test.go
  pkg/scalers/aws/aws_common.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/kafka/kafka_scram_client.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/splunk/splunk.go
  pkg/scalers/splunk/splunk_test.go
  pkg/scalers/sumologic/logs.go
  pkg/scalers/temporal_scaler.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/scale_handler_test.go
  pkg/status/status.go
  tests/helper/helper.go
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint
