Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

chore: refactor scale_handler.go
  .golangci.yml
  CREATE-NEW-SCALER.md
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scalers_builder.go
  tools/sort_scalers.sh
Due: sort-scalers, golangci-lint

Update pkg/scaling/scalers_builder.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

chore: refactor scale_handler.go (#4131)
  .golangci.yml
  CREATE-NEW-SCALER.md
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scalers_builder.go
  tools/sort_scalers.sh
Due: sort-scalers, golangci-lint

use config vars
  .github/workflows/static-analysis.yml
Due: none

split static analysis in 2 files with different triggers
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/static-analysis-semgrep.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

chore: Review CodeQL config (#4133)
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/static-analysis-semgrep.yml
  .github/workflows/static-analysis.yml
  CHANGELOG.md
Due: none

feat: Use e2e testing infrastructure (#3753)
  .github/workflows/pr-e2e.yml
  .github/workflows/v1-build.yml
  Makefile
  tests/.env
  tests/README.md
  tests/helper/helper.go
  tests/run-all.sh
  tests/scalers/aws_cloudwatch/aws_cloudwatch_test.go
  tests/scalers/aws_cloudwatch_expression/aws_cloudwatch_expression_test.go
  tests/scalers/aws_dynamodb/aws_dynamodb_test.go
  tests/scalers/aws_dynamodb_streams/aws_dynamodb_streams_test.go
  tests/scalers/aws_kinesis_stream/aws_kinesis_stream_test.go
  tests/scalers/aws_sqs_queue/aws_sqs_queue_test.go
  tests/scalers/azure_application_insights/azure_application_insights_test.go
  tests/scalers/azure_blob/azure_blob_test.go
  tests/scalers/azure_data_explorer/azure_data_explorer_test.go
  tests/scalers/azure_log_analytics/azure_log_analytics_test.go
  tests/scalers/azure_queue/azure_queue_test.go
  tests/scalers/azure_service_bus_queue/azure_service_bus_queue_test.go
  tests/scalers/azure_service_bus_topic/azure_service_bus_topic_test.go
  tests/scalers/graphite/graphite_test.go
  tests/scalers/new_relic/new_relic_test.go
  tests/secret-providers/azure_keyvault/azure_keyvault_test.go
  tests/secret-providers/azure_workload_identity/azure_workload_identity_test.go
  tests/secret-providers/azure_workload_identity_user_assigned/azure_workload_identity_user_assigned_test.go
  tests/secret-providers/trigger_auth_secret/trigger_auth_secret_test.go
  tests/utils/setup_test.go
Due: golangci-lint

chore: Review CodeQL config (#4133)
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/static-analysis-semgrep.yml
  CHANGELOG.md
Due: none

feat: Use e2e testing infrastructure (#3753) (#4139)
  .github/workflows/pr-e2e.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/static-analysis-semgrep.yml
  .github/workflows/v1-build.yml
  CHANGELOG.md
  Makefile
  tests/.env
  tests/README.md
  tests/helper/helper.go
  tests/run-all.sh
  tests/scalers/aws_cloudwatch/aws_cloudwatch_test.go
  tests/scalers/aws_cloudwatch_expression/aws_cloudwatch_expression_test.go
  tests/scalers/aws_dynamodb/aws_dynamodb_test.go
  tests/scalers/aws_dynamodb_streams/aws_dynamodb_streams_test.go
  tests/scalers/aws_kinesis_stream/aws_kinesis_stream_test.go
  tests/scalers/aws_sqs_queue/aws_sqs_queue_test.go
  tests/scalers/azure_application_insights/azure_application_insights_test.go
  tests/scalers/azure_blob/azure_blob_test.go
  tests/scalers/azure_data_explorer/azure_data_explorer_test.go
  tests/scalers/azure_log_analytics/azure_log_analytics_test.go
  tests/scalers/azure_queue/azure_queue_test.go
  tests/scalers/azure_service_bus_queue/azure_service_bus_queue_test.go
  tests/scalers/azure_service_bus_topic/azure_service_bus_topic_test.go
  tests/scalers/graphite/graphite_test.go
  tests/scalers/new_relic/new_relic_test.go
  tests/secret-providers/azure_keyvault/azure_keyvault_test.go
  tests/secret-providers/azure_workload_identity/azure_workload_identity_test.go
  tests/secret-providers/azure_workload_identity_user_assigned/azure_workload_identity_user_assigned_test.go
  tests/secret-providers/trigger_auth_secret/trigger_auth_secret_test.go
  tests/utils/setup_test.go
Due: golangci-lint

fix: Support unsafeSsl and enable ssl verification as default (#4006)
  CHANGELOG.md
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
Due: golangci-lint

fix: CVE-2022-3172 (#3693)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/mock/mock_scale/mock_interfaces.go
Due: golangci-lint

fix: Respect optional parameter inside envs for ScaledJobs (#3694)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

fix(prometheus scaler): Detect Inf before casting float to int (#3762)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

fix(nats-jetstream): correctly count messages that should be redelivered (waiting for ack) towards keda value (#3809)
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
Due: golangci-lint

NewRelic scaler crashes on logging (#3946)
  CHANGELOG.md
  pkg/scalers/newrelic_scaler.go
Due: golangci-lint

Fix stackdriver client returning 0 for metric types of double (#3788)
  CHANGELOG.md
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scalers/stackdriver_client.go
Due: golangci-lint

fix/datadog-scaler-null-last-point (#3954)
  .golangci.yml
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

fix: Close is called twice on PushScaler's deletion (#3599)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fixing conflicts after cherry-pick
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

fix(mongodb): escape username and password (#3989)
  BUILD.md
  CHANGELOG.md
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint

Hacking generated files to version CI expects
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
Due: golangci-lint

Updating golang/text package to fix CVE
  go.mod
  go.sum
Due: none

Updating aws-sdk and golang packages to fix CVEs
  go.mod
  go.sum
Due: none

Using same version of aws sdk as in main
  go.mod
  go.sum
Due: none

Backport fixes to release 2.8 (#4135)
  .golangci.yml
  BUILD.md
  CHANGELOG.md
  go.mod
  go.sum
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/stackdriver_client.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: Add missing error check
  pkg/scalers/azure_eventhub_scaler.go
Due: golangci-lint

Signed-off-by: Ritu Bhandari <chalocodekare@gmail.com>
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

fix: Add missing error check (#4142)
  pkg/scalers/azure_eventhub_scaler.go
Due: golangci-lint

chore: prepare release
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

chore: prepare release (#4145)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

fix(kafka scaler):activationLagThreshold supports 0 as valid value
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

chore(gcp): remove unused code
  pkg/scalers/gcp_common.go
Due: golangci-lint

chore(gcp): remove unused code
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scalers/gcp_storage_scaler_test.go
Due: golangci-lint

fix: Use GA API for GitHub Projects
  .github/workflows/auto-add-issues-to-project.yml
Due: none

fix: Use GA API for GitHub Projects (#4150)
  .github/workflows/auto-add-issues-to-project.yml
Due: none

chore(gcp): remove unused code (#4146)
  pkg/scalers/gcp_common.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scalers/gcp_storage_scaler_test.go
Due: golangci-lint

Fixed Port Error
  CHANGELOG.md
  pkg/scalers/cassandra_scaler.go
Due: golangci-lint
