Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

removing code duplication
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

correcting json structure of RabbitMQ response
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

RabbitMQ publishRate trigger
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Update OpenStack Swift scaler (#1652)
  CHANGELOG.md
  pkg/scalers/openstack/keystone_authentication.go
  pkg/scalers/openstack/utils/serviceTypes.go
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/openstack_swift_scaler_test.go
Due: golangci-lint

Set logger for controller-runtime
  adapter/main.go
Due: golangci-lint

Update changelog and run the pre-commit hook
  CHANGELOG.md
  adapter/main.go
Due: golangci-lint

fix memory leak by setting logger for controller-runtime in keda-adapter (#1654)
  CHANGELOG.md
  adapter/main.go
Due: golangci-lint

reworking config setup
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

refactor out method to lower cyclomatic complexity
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Add RabbitMQ `publishRate` trigger (#1653)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Pulsar scaler initial commit
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
Due: golangci-lint

Updated changelog for Apache Pulsar scaler
  CHANGELOG.md
Due: none

Lint fixes applied
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
Due: golangci-lint

Support parsing numbers in quotes and quantities. Quantity is returned as a member of ExternalMetricValue so there should be no impact.
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

AWS SQS Scaler: Add Visible + NotVisible messages for scaling considerations
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
Due: golangci-lint

AWS SQS Scaler: Add Visible + NotVisible messages for scaling considerations (#1664)
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
Due: golangci-lint

publish KEDA images on GitHub Container Registry
  .github/workflows/build-tools.yml
  .github/workflows/main-build.yml
  .github/workflows/release-build.yml
  BUILD.md
  CREATE-NEW-SCALER.md
  Makefile
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/metrics-server/deployment.yaml
  config/metrics-server/kustomization.yaml
Due: none

publish KEDA images on GitHub Container Registry (#1671)
  .github/workflows/build-tools.yml
  .github/workflows/main-build.yml
  .github/workflows/release-build.yml
  BUILD.md
  CREATE-NEW-SCALER.md
  Makefile
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/metrics-server/deployment.yaml
  config/metrics-server/kustomization.yaml
Due: none

Updating precommit
  .pre-commit-config.yaml
Due: none

Fixing behavior on ScaledJob with incorrect External Scaler
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Updating precommit (#1673)
  .pre-commit-config.yaml
Due: none

Fixing behavior on ScaledJob with incorrect External Scaler (#1672)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

bump deps
  go.mod
  go.sum
Due: none

regenerate adapter openapi
  .golangci.yml
  adapter/generated/openapi/zz_generated.openapi.go
  controllers/scaledobject_controller_test.go
  controllers/suite_test.go
Due: golangci-lint

regenerate ScaledJob CRD
  config/crd/bases/keda.sh_scaledjobs.yaml
Due: none

regenerate ScaledJob CRD (#1676)
  config/crd/bases/keda.sh_scaledjobs.yaml
Due: none

improve error handling when parsing quantities
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

Metrics API scaler to support parsing numbers in quotes as well as quantities. (#1668)
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

regenerate adapter openapi (#1675)
  .golangci.yml
  adapter/generated/openapi/zz_generated.openapi.go
  controllers/scaledobject_controller_test.go
  controllers/suite_test.go
Due: golangci-lint

bump deps (#1674)
  go.mod
  go.sum
Due: none
