Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Improve and update E2E tests (#1980)
  .github/workflows/pr-validation.yml
  Makefile
  pkg/scaling/scale_handler.go
  tests/package.json
  tests/run-all.sh
  tests/scalers/argo-rollouts.test.ts
  tests/scalers/azure-pipelines.test.ts
  tests/scalers/helpers.ts
  tests/scalers/influxdb.test.ts
  tests/scalers/prometheus-deployment.yaml
  tests/scalers/prometheus.test.ts
  tests/scalers/rabbitmq-helpers.ts
  tests/scalers/rabbitmq-queue-amqp.test.ts
  tests/scalers/rabbitmq-queue-http-regex.test.ts
  tests/scalers/rabbitmq-queue-http.test.ts
  tests/scalers/redis-cluster-lists.test.ts
  tests/scalers/redis-cluster-streams.test.ts
  tests/scalers/stan-helpers.ts
Due: sort-scalers, golangci-lint

Add suport custom metricName in RabbitMQ scaler (#1976)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Support pod conditions for pending job count calculation (#1970)
  CHANGELOG.md
  api/v1alpha1/scaledjob_types.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

Completed the scaler config parsing
  pkg/scalers/kubernetes_workload_scaler.go
Due: golangci-lint

Adds the scaler logic
  pkg/scalers/kubernetes_workload_scaler.go
Due: golangci-lint

Remove unnecesary property
  pkg/scalers/kubernetes_workload_scaler.go
Due: golangci-lint

set timeout on deployment rollout
  tests/scalers/helpers.ts
Due: none

set timeout on deployment rollout (#2007)
  tests/scalers/helpers.ts
Due: none

use prefix for KEDA related labels
  controllers/hpa.go
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Adding `pendingPodConditions` field to ScaledJob CRD
  config/crd/bases/keda.sh_scaledjobs.yaml
Due: none

Adds test
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
Due: golangci-lint

Adding `pendingPodConditions` field to ScaledJob CRD (#2009)
  CHANGELOG.md
  config/crd/bases/keda.sh_scaledjobs.yaml
Due: none

Finish unit tests
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
Due: golangci-lint

Remove duplicated import
  pkg/scalers/kubernetes_workload_scaler_test.go
Due: golangci-lint

Add e2e test
  tests/scalers/kubernetes-workload.test.ts
Due: none

Style fixes
  .golangci.yml
  tests/scalers/kubernetes-workload.test.ts
Due: none

Update e2e to test starting in 0 and ending in 0
  tests/scalers/kubernetes-workload.test.ts
Due: none

Apply suggestions
  pkg/scalers/kubernetes_workload_scaler.go
Due: golangci-lint

Update changelog to include the scaler
  CHANGELOG.md
Due: none

Explain the reason for the linter exclusion
  .golangci.yml
Due: none

Fix lint error
  pkg/scalers/kubernetes_workload_scaler.go
Due: golangci-lint

Remove the namespace selection option
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
  tests/scalers/kubernetes-workload.test.ts
Due: golangci-lint

Remove unused variable
  pkg/scalers/kubernetes_workload_scaler.go
Due: golangci-lint

Support non-public cloud environments in the Azure Service Bus scaler (#1907)
  CHANGELOG.md
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_cloud_environment_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure/azure_storage_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

Add Kubernetes Workload scaler (#2010)
  .golangci.yml
  CHANGELOG.md
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/kubernetes-workload.test.ts
Due: sort-scalers, golangci-lint

Use `scaled[object/job].keda.sh/` prefix for KEDA related labels (#2008)
  CHANGELOG.md
  controllers/hpa.go
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
