Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Provide security policy
  SECURITY.md
Due: none

Move compensation
  SECURITY.md
Due: none

chore: fix for masking server url and connection string
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/postgresql_scaler.go
  pkg/util/normalize_string.go
Due: golangci-lint

Provide security policy (#1434)
  SECURITY.md
Due: none

chore: use different metric default name (#1429)
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/postgresql_scaler.go
  pkg/util/normalize_string.go
Due: golangci-lint

using dedicated HTTP clients (#1251)
  CHANGELOG.md
  adapter/main.go
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
  go.sum
  pkg/scalers/artemis_scaler.go
  pkg/scalers/artemis_scaler_test.go
  pkg/scalers/azure/azure_aad_podidentity.go
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure/azure_blob_test.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_queue.go
  pkg/scalers/azure/azure_queue_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_queue_scaler_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/scaler.go
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
  pkg/scaling/scale_handler.go
  pkg/util/http.go
Due: sort-scalers, golangci-lint

Add Redis cluster support for redis streams scaler
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/redis-cluster-streams.test.ts
Due: sort-scalers, golangci-lint

Re-use lua script for redis list scaler
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_streams_scaler.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

influxdb: fix metric name generation
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

increasing HTTP timeout to fix flaky test
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

increasing HTTP timeout to fix flaky test (#1445)
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Fix lint issues
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
Due: golangci-lint

Fix lint issues
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
  tests/scalers/redis-cluster-lists.test.ts
Due: golangci-lint

influxdb: fix metric name generation (#1444)
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

Add support for per-scaler override on the RabbitMQ vhost.
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Update changelog.
  CHANGELOG.md
Due: none

Add support for cluster-scoped trigger authentication, ClusterTriggerAuthentication.
  CHANGELOG.md
  api/v1alpha1/scaledobject_types.go
  api/v1alpha1/triggerauthentication_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Add a cache so not every reconcile has to do a GET to the /scale endpoint, even when the data isn't needed.
  CHANGELOG.md
  controllers/scaledobject_controller.go
Due: golangci-lint

Add statefulsets to the prefill list too.
  controllers/scaledobject_controller.go
Due: golangci-lint

For scaling deployments in particular, use a direct object get rather than the /scale API so that it can use the informer cache for better performance.
  controllers/scaledobject_controller.go
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

When fetching the pod data for a known core Kind, use a typed client request instead of Unstructured. This allows those requests to hit the informer cache while Unstructured gets cannot.
  controllers/scaledobject_controller.go
  pkg/scaling/scale_hander_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fix controller-gen syntax.
  config/rbac/role.yaml
  controllers/scaledobject_controller.go
Due: golangci-lint

kafka: optimize getLagForPartition
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Add a cache for what resource types are scalable so not every reconcile has to do a GET to the /scale endpoint (#1453)
  CHANGELOG.md
  controllers/scaledobject_controller.go
Due: golangci-lint

kafka: optimize getLagForPartition (#1464)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Change dependabot check interval to monthly
  .github/dependabot.yml
Due: none

Fixing link to workflow actions
  README.md
Due: none

Change dependabot check interval to monthly (#1471)
  .github/dependabot.yml
Due: none

Fixing links to workflow actions (#1472)
  README.md
Due: none
