Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Remove references to ca metadata
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Rearrange Datadog tests
  tests/scalers/datadog/datadog_api/datadog_api_test.go
  tests/scalers/datadog/datadog_dca/datadog_dca_test.go
Due: golangci-lint

Fix linting errors
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Keep token only auth
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Fix activation
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Add E2E tests for the Datadog scaler using the Cluster Agent proxy
  tests/scalers/datadog/datadog_dca_test.go
Due: golangci-lint

Fixes after rebase
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

remove trailing space
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Add changelog entry for cluster agent as proxy feature
  CHANGELOG.md
Due: none

Add Postgres env variables
  .github/workflows/v1-build.yml
Due: none

feat: Splunk scaler
  CHANGELOG.md
  pkg/scalers/splunk/splunk.go
  pkg/scalers/splunk/splunk_test.go
  pkg/scalers/splunk_scaler.go
  pkg/scalers/splunk_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/splunk/splunk_test.go
Due: golangci-lint

chore: install go-junit-report properly (#5870)
  Makefile
  go.mod
  go.sum
  hack/tools.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  vendor/github.com/jstemmer/go-junit-report/v2/.gitignore
  vendor/github.com/jstemmer/go-junit-report/v2/CONTRIBUTING.md
  vendor/github.com/jstemmer/go-junit-report/v2/LICENSE
  vendor/github.com/jstemmer/go-junit-report/v2/Makefile
  vendor/github.com/jstemmer/go-junit-report/v2/README.md
  vendor/github.com/jstemmer/go-junit-report/v2/gtr/gtr.go
  vendor/github.com/jstemmer/go-junit-report/v2/internal/gojunitreport/go-junit-report.go
  vendor/github.com/jstemmer/go-junit-report/v2/junit/junit.go
  vendor/github.com/jstemmer/go-junit-report/v2/main.go
  vendor/github.com/jstemmer/go-junit-report/v2/parser/gotest/benchmark.go
  vendor/github.com/jstemmer/go-junit-report/v2/parser/gotest/event.go
  vendor/github.com/jstemmer/go-junit-report/v2/parser/gotest/gotest.go
  vendor/github.com/jstemmer/go-junit-report/v2/parser/gotest/internal/collector/collector.go
  vendor/github.com/jstemmer/go-junit-report/v2/parser/gotest/internal/reader/reader.go
  vendor/github.com/jstemmer/go-junit-report/v2/parser/gotest/json.go
  vendor/github.com/jstemmer/go-junit-report/v2/parser/gotest/report_builder.go
  vendor/modules.txt
Due: golangci-lint

chore: fallback - patch ScaledObject.Status only when there is a difference (#5871)
  CHANGELOG.md
  pkg/fallback/fallback.go
Due: golangci-lint

remove useless variables
  .github/workflows/v1-build.yml
  tests/scalers/postgresql/azure_postgresql_flex_server_aad_wi/azure_postgresql_flex_server_aad_wi_test.go
Due: golangci-lint

rebase
  CHANGELOG.md
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
Due: golangci-lint

Changelog Improvements sorted a-z
  CHANGELOG.md
Due: none

Naming conventions
  pkg/scalers/cassandra_scaler.go
Due: golangci-lint

remove kustomize commonLabels
  CHANGELOG.md
  config/default/kustomization.yaml
  config/minimal/kustomization.yaml
  config/rbac/kustomization.yaml
Due: none

remove kustomize commonLabels (#5888)
  CHANGELOG.md
  config/default/kustomization.yaml
  config/minimal/kustomization.yaml
  config/rbac/kustomization.yaml
Due: none

Add IBM MQ scaler e2e test (#5854)
  CHANGELOG.md
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/ibmmq_scaler_test.go
  tests/scalers/ibmmq/ibmmq_test.go
Due: golangci-lint

Add support for cassandra tls (#5803)
  CHANGELOG.md
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
Due: golangci-lint

Annotate Jobs with parent ScaledJob generation
  controllers/keda/scaledjob_controller.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

fix tests
  controllers/keda/scaledjob_controller.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

fix lint
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

fix log message
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

remove redundant metadata parsing checkings
  pkg/scalers/splunk_scaler.go
Due: golangci-lint

Report failing ScaledJob triggers in status
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: correct the e2e test case with the missing RMQ connection configuration
  tests/internals/scaling_strategies/eager_scaling_strategy_test.go
Due: golangci-lint

fix scale with windows nodes in cluster issue 4908
  pkg/scalers/selenium_grid_scaler.go
Due: golangci-lint

Add additional manifest checks to detect missing CRDs & CRs
  .github/workflows/pr-validation.yml
  CHANGELOG.md
  hack/verify-manifests.sh
Due: none

update mock interface
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

update tests
  pkg/scaling/scale_handler_test.go
Due: golangci-lint

create ClusterCloudEventSource as a cluster scoped option for CloudEventSource
  apis/eventing/v1alpha1/cloudeventsource_types.go
  controllers/eventing/cloudeventsource_controller.go
  controllers/eventing/cloudeventsource_finalizer.go
  pkg/eventemitter/eventemitter.go
  pkg/status/status.go
Due: golangci-lint

make generate
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
Due: golangci-lint

Add missing sample CR for clustertriggerauthentication
  config/samples/keda_v1alpha1_clustertriggerauthentication.yaml
  config/samples/kustomization.yaml
Due: none

Change sample triggerauthentication group from keda.k8s.io to keda.sh
  config/samples/keda_v1alpha1_triggerauthentication.yaml
Due: none

Fix activation parameter for Datadog API
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
