Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

docs: initial changelog
  CHANGELOG.md
Due: none

fix: initial refactor and add ID
  pkg/scalers/nats_jetstream_scaler.go
Due: golangci-lint

docs: add PR link
  CHANGELOG.md
Due: none

chore: go fmt
  pkg/scalers/nats_jetstream_scaler.go
Due: golangci-lint

chore: tidy of pre-commit failure
  CHANGELOG.md
Due: none

Update go-jose for CVE-2025-27144 & golang.org/x/oauth2 for CVE-2025-22868 (#6614)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/CONTRIBUTING.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/opaque.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/modules.txt
Due: none

Add aggregation from kube service endpoints feature in metrics API scaler
  CHANGELOG.md
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/metrics_api/metrics_api_test.go
Due: golangci-lint

Add BoundServiceAccountToken trigger authentication type
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  cmd/operator/main.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  config/rbac/role.yaml
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  go.mod
  pkg/eventemitter/eventemitter.go
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
Due: sort-scalers, golangci-lint

Fix broken tests
  controllers/keda/suite_test.go
  pkg/scaling/scale_handler_test.go
Due: golangci-lint

Remove verification code; add test case
  go.mod
  pkg/mock/mock_serviceaccounts/mock_interfaces.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Fix golangci-lint
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Rollback privilege escalation
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Additional test cases
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

fixup: rebase changes
  go.mod
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Remove expiry field and hardcode the token expiry to 1 hour
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

go mod tidy; replace bound-service-account-token test image with correct merged ghcr test image
  go.mod
  tests/secret-providers/trigger_auth_bound_service_account_token/trigger_auth_bound_service_account_token_test.go
Due: golangci-lint

Allow bound service account token expiry to be configurable through env vars
  cmd/operator/main.go
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/util/env_resolver.go
Due: golangci-lint

Add bound service account token e2e test
  pkg/util/env_resolver.go
  tests/secret-providers/trigger_auth_bound_service_account_token/trigger_auth_bound_service_account_token_test.go
Due: golangci-lint

feat: Add support to enable backoff when rate limited by the Github API
  pkg/scalers/github_runner_scaler.go
Due: golangci-lint

Make sure the exposed metrics are updated when there is a change to triggers
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

Add time Duration at TypedConfig
  pkg/scalers/beanstalkd_scaler.go
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

(feat): bug fixes
  pkg/scalers/sumologic_scaler.go
Due: golangci-lint

(feat): adopt a logging frameworkin in sumologic package
  pkg/scalers/sumologic/logs.go
  pkg/scalers/sumologic/sumologic.go
  pkg/scalers/sumologic/types.go
Due: golangci-lint

(feat): fix tests..
  pkg/scalers/sumologic/sumologic.go
Due: golangci-lint

(feat): fix metrics queries
  pkg/scalers/sumologic_scaler.go
Due: golangci-lint

(feat): bug fixes
  pkg/scalers/sumologic_scaler.go
  pkg/scalers/sumologic_scaler_test.go
Due: golangci-lint

(feat): fixing metric name
  pkg/scalers/sumologic_scaler.go
Due: golangci-lint

(feat): Adding resultfield and rollup for query result method
  pkg/scalers/sumologic/sumologic.go
  pkg/scalers/sumologic_scaler.go
Due: golangci-lint

feat: Support s390x
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/template-s390x-smoke-tests.yml
  Makefile
Due: none

feat: Support s390x
  .github/workflows/main-build.yml
Due: none

(feat): allow users to specify result field and rollup type
  pkg/scalers/sumologic/logs.go
  pkg/scalers/sumologic/metrics.go
  pkg/scalers/sumologic/sumologic.go
  pkg/scalers/sumologic/sumologic_test.go
  pkg/scalers/sumologic/types.go
  pkg/scalers/sumologic_scaler.go
Due: golangci-lint

(feat): use cookies as recommended
  pkg/scalers/sumologic/sumologic.go
Due: golangci-lint

bump go version
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  go.mod
Due: none

fix devcontainer
  .devcontainer/Dockerfile
Due: none
