Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

feat: add support to not scale GitHub runner on default runner labels (#6251)
  CHANGELOG.md
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

fix: make nsq e2e tests more reliable
  tests/scalers/nsq/nsq_test.go
Due: golangci-lint

Support multiple queues at the IBMMQ scaler (#6182)
  CHANGELOG.md
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/ibmmq_scaler_test.go
Due: golangci-lint

Update tests/scalers/nsq/nsq_test.go
  tests/scalers/nsq/nsq_test.go
Due: golangci-lint

bump workflow actions
  .github/workflows/fossa.yml
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/static-analysis-semgrep.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-smoke-tests.yml
  .github/workflows/template-trivy-scan.yml
  .github/workflows/v1-build.yml
Due: none

bump golang version
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-smoke-tests.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  go.mod
Due: none

bump some deps
  go.mod
  go.sum
  vendor/github.com/dysnix/predictkube-proto/external/proto/commonproto/empty.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/commonproto/metric_value.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/commonproto/ping_pong.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/enums/auth.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/enums/provider.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/events/auth.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/events/provider.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/services/auth.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/services/auth_grpc.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/services/gateway_saver.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/services/gateway_saver_grpc.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/services/ml_engine.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/services/ml_engine_grpc.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/services/provider.pb.go
  vendor/github.com/dysnix/predictkube-proto/external/proto/services/provider_grpc.pb.go
  vendor/modules.txt
Due: none

.
  go.mod
Due: none

bump golang version
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  Makefile
Due: none

update code-gen
  hack/update-codegen.sh
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_triggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/triggerauthentication.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/listers/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/listers/keda/v1alpha1/scaledjob.go
  pkg/generated/listers/keda/v1alpha1/scaledobject.go
  pkg/generated/listers/keda/v1alpha1/triggerauthentication.go
Due: none

Update precommit and golangci-lint
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  config/rbac/role.yaml
  controllers/keda/scaledjob_controller.go
  pkg/metricscollector/opentelemetry.go
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/huawei_cloudeye_scaler.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/scalers/openstack/keystone_authentication.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Apply changes in from custom metrics apiserver
  cmd/adapter/main.go
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/custom-metrics-apiserver/pkg/cmd/builder.go
  vendor/sigs.k8s.io/custom-metrics-apiserver/pkg/generated/openapi/core/zz_generated.openapi.go
Due: golangci-lint

.
  pkg/mock/mock_client/mock_interfaces.go
Due: golangci-lint

update mocks
  pkg/metricsservice/api/metrics.pb.go
Due: golangci-lint

use cert-controller updated package
  go.mod
  go.sum
  vendor/github.com/open-policy-agent/cert-controller/pkg/rotator/rotator.go
  vendor/modules.txt
Due: none

AWS CloudWatch - properly parse multiple values of `dimensionName` & `dimensionValue` lists
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
Due: golangci-lint

test: add unit test for AWS Cloudwatch scaler with multiple dimensions
  pkg/scalers/aws_cloudwatch_scaler_test.go
Due: golangci-lint

AWS CloudWatch - properly parse multiple values of `dimensionName` & `dimensionValue` lists (#6313)
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
Due: golangci-lint

chore: Remove github.com/dgrijalva/jwt-go from replace as it is not getting used anywhere
  go.mod
  go.sum
Due: none

Update the Vendor files
  vendor/modules.txt
Due: none

bump github.com/golang-jwt/jwt/v4 to fix vulnerability
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Due: none

Add missing channel
  cmd/adapter/main.go
Due: golangci-lint

bump golang versions
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  go.mod
Due: none

update gomod
  go.mod
  go.sum
Due: none

v2.16 version release
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
  ROADMAP.md
  pkg/util/welcome.go
Due: golangci-lint

add requireAllDemandsAndIgnoreOthers flag
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

remove allElementsExist, use direct count comparison for requireAllDemandsAndIgnoreOthers
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

chore: Prepare v2.16 (#6317)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
  ROADMAP.md
  pkg/util/welcome.go
Due: golangci-lint

embedded AWS region into Authorization metadata
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/aws/aws_authorization.go
  pkg/scalers/aws/aws_common.go
  pkg/scalers/aws/aws_config_cache.go
  pkg/scalers/aws/aws_config_cache_test.go
  pkg/scalers/aws/aws_sigv4.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/kafka_scaler.go
  pkg/scaling/resolver/aws_secretmanager_handler.go
Due: golangci-lint

fix: Paused ScaledObject count is reported correctly after operator restart
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
