Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fix: Correct parse error ActiveMQ
  CHANGELOG.md
  pkg/scalers/activemq_scaler.go
Due: golangci-lint

feat: add file-based authentication support for ClusterTriggerAuthentication
  CHANGELOG.md
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  tests/internals/file_based_auth/file_based_auth_test.go
Due: golangci-lint

address review feedback
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/triggerauthentication_types_test.go
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
  cmd/operator/main.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  tests/internals/file_based_auth/file_based_auth_test.go
Due: golangci-lint

test: cover both API and ClusterAgent modes in UseFiller test
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Refactor openstack swift scaler
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/openstack_swift_scaler_test.go
Due: golangci-lint

Add new schemas for scaler
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: none

Fix from code review
  pkg/scalers/openstack_swift_scaler.go
Due: golangci-lint

Refactor stan scaler config
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
Due: golangci-lint

fix: Correct parse error ActiveMQ (#7245)
  CHANGELOG.md
  pkg/scalers/activemq_scaler.go
Due: golangci-lint

fix alignment in openstack swift scaler
  pkg/scalers/openstack_swift_scaler.go
Due: golangci-lint

refactor: use pointer type for FillValue to avoid TriggerMetadata access
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: golangci-lint

Refactor openstack swift scaler (#7232)
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/openstack_swift_scaler_test.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: golangci-lint

retrigger jobs
  tests/internals/fallback/fallback.go
Due: golangci-lint

fix: metricUnavailableValue parameter not working in Datadog scaler (#7241)
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: golangci-lint

Fix ScaledObject pause behavior when HPA doesn't exist (#7233)
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Add optional AWS Account ID when using CloudWatch cross-account observability
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
  tests/scalers/aws/aws_cloudwatch_cross_account/aws_cloudwatch_cross_account_test.go
Due: golangci-lint

Refactor GetCloudwatchMetrics() to allow unit testing CloudWatch cross-account observability
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
Due: golangci-lint

feat: add contributing question in bug report template (#7256)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

feat: replacing deprecated azure autorest to azure-sdk-go lib
  CHANGELOG.md
Due: none

fix: use TriggerError when all ScaledJob triggers fail (#7205)
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
  tests/internals/scaled_job_conditions/scaled_job_conditions_test.go
Due: golangci-lint

Only resolve PodSpec if needed (lazy resolution)
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update tests/scalers/aws/aws_cloudwatch_cross_account/aws_cloudwatch_cross_account_test.go
  tests/scalers/aws/aws_cloudwatch_cross_account/aws_cloudwatch_cross_account_test.go
Due: golangci-lint

Apply suggestion from @wozniakjan
  tests/scalers/aws/aws_cloudwatch_cross_account/aws_cloudwatch_cross_account_test.go
Due: golangci-lint

Add optional AWS Account ID to support CloudWatch cross-account observability (#7237)
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
  tests/scalers/aws/aws_cloudwatch_cross_account/aws_cloudwatch_cross_account_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

chore: renormalize line endings
  vendor/github.com/Azure/go-amqp/CODE_OF_CONDUCT.md
  vendor/github.com/Azure/go-amqp/LICENSE
  vendor/github.com/Azure/go-amqp/README.md
  vendor/github.com/Azure/go-amqp/SECURITY.md
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/LICENSE
  vendor/github.com/dimchansky/utfbom/.travis.yml
  vendor/github.com/hashicorp/hcl/.gitignore
  vendor/github.com/hashicorp/hcl/Makefile
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/LICENSE
Due: none

fix: nil pointer when transfer-hpa-ownership is true but hpa name not specified (#7254)
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

revert vendor changes
  vendor/github.com/Azure/go-amqp/CODE_OF_CONDUCT.md
  vendor/github.com/Azure/go-amqp/LICENSE
  vendor/github.com/Azure/go-amqp/README.md
  vendor/github.com/Azure/go-amqp/SECURITY.md
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/LICENSE
  vendor/github.com/dimchansky/utfbom/.travis.yml
  vendor/github.com/hashicorp/hcl/.gitignore
  vendor/github.com/hashicorp/hcl/Makefile
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/LICENSE
Due: none

Fix transfer-hpa-ownership panic when hpa name not provided (#7260)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

Support paused-replicas being false
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_types_test.go
  controllers/keda/scaledobject_controller.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
Due: golangci-lint

Adding postgres connection pooling for reusing connections
  cmd/operator/main.go
  pkg/scalers/connectionpool/config.go
  pkg/scalers/connectionpool/manager.go
  pkg/scalers/connectionpool/postgresql_pool.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
Due: golangci-lint

Create personal-docker-hub.yaml
  .github/workflows/personal-docker-hub.yaml
Due: none

added logs for testing connection pool
  pkg/scalers/connectionpool/manager.go
  pkg/scalers/connectionpool/postgresql_pool.go
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

making config map generic generic
  .github/workflows/personal-docker-hub.yaml
  pkg/scalers/connectionpool/config.go
  pkg/scalers/connectionpool/postgresql_pool.go
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

handling connection if wrong
  pkg/scalers/connectionpool/manager.go
  pkg/scalers/connectionpool/postgresql_pool.go
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

Improve logging and cleaning config map config from mem if removed
  pkg/scalers/connectionpool/config.go
  pkg/scalers/connectionpool/postgresql_pool.go
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

Adding test cases
  pkg/scalers/connectionpool/config.go
  pkg/scalers/connectionpool/connectionpool_test.go
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

Handling string in value from config map
  pkg/scalers/connectionpool/config.go
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

Removing the action created for testing
  .github/workflows/personal-docker-hub.yaml
Due: none

Fix: make pool ref counter atomic, thread-safe using atomic by uber
  pkg/scalers/connectionpool/config.go
  pkg/scalers/connectionpool/connectionpool_test.go
  pkg/scalers/connectionpool/manager.go
Due: golangci-lint
