Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

changelog
  CHANGELOG.md
Due: none

semgrep
  controllers/keda/hpa.go
  pkg/externalscaling/client.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

add certDir to manifest
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: none

revert cacheObj as its not needed now
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

manifest change
  apis/keda/v1alpha1/scaledobject_types.go
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: golangci-lint

hack for recent cache error, added tests
  controllers/keda/hpa.go
  pkg/externalscaling/client.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  tests/internals/external_scaling/external_scaling_test.go
Due: sort-scalers, golangci-lint

keep resource metric in HPA and fix null pointer reference err invalidation
  apis/keda/v1alpha1/scaledobject_webhook.go
  controllers/keda/hpa.go
Due: golangci-lint

hotfix
  apis/keda/v1alpha1/scaledobject_webhook.go
  controllers/keda/hpa.go
  pkg/scaling/cache/scalers_cache.go
Due: golangci-lint

Update
  apis/keda/v1alpha1/scaledobject_types.go
  controllers/keda/scaledobject_controller.go
  tests/internals/pause_scaledobject_explicitly/pause_scaledobject_explicitly_test.go
Due: golangci-lint

Update
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Add CRD generation to releases
  .github/workflows/release-build.yml
  Makefile
Due: none

Add entry to changelog
  CHANGELOG.md
Due: none

Add newline to end of release-build workflow
  .github/workflows/release-build.yml
Due: none

fix path for azure_quque_test.go
  tests/README.md
Due: none

Add support for serverAPIPath
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Security Update pr-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Security Update pr-e2e.yml (#4822)
  .github/workflows/pr-e2e.yml
Due: none

fix path for azure_queue_test.go (#4815)
  tests/README.md
Due: none

chore: Generate standalone CRDs manifests as part of release process (#4814)
  .github/workflows/release-build.yml
  CHANGELOG.md
  Makefile
Due: none

Update
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

Pulsar Scaler: fix `msgBacklogThreshold` field being named wrongly as `msgBacklog` (#4736)
  CHANGELOG.md
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
  pkg/scalers/scaler.go
Due: golangci-lint

update changelog to add missing deprecation message
  CHANGELOG.md
Due: none

fix: AWS Pod Identity uses default service account if not provided (#4768)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
  tests/scalers/aws/aws_cloudwatch_pod_identity/aws_cloudwatch_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_pod_identity/aws_dynamodb_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_streams_pod_identity/aws_dynamodb_streams_pod_identity_test.go
  tests/scalers/aws/aws_kinesis_stream_pod_identity/aws_kinesis_stream_pod_identity_test.go
  tests/scalers/aws/aws_sqs_queue_pod_identity/aws_sqs_queue_pod_identity_test.go
Due: golangci-lint

fix: Restore prometheus metrics in Metrics Server (#4766)
  CHANGELOG.md
  cmd/adapter/main.go
  config/metrics-server/service.yaml
  pkg/provider/provider.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Gh patch rates (#4786)
  CHANGELOG.md
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Hotfix repo bug (#4792)
  CHANGELOG.md
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

Rename kafka-x to apache-kafka
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/apache_kafka/apache_kafka_test.go
Due: golangci-lint

Add unit tests for generic Contains function
  pkg/util/helpers_test.go
Due: golangci-lint

Update CHANGELOG.md - rename kafka-x to apache-kafka
  CHANGELOG.md
Due: none

chore: cherry pick commits for release v2.11.2 (#4826)
  CHANGELOG.md
  cmd/adapter/main.go
  config/metrics-server/service.yaml
  pkg/provider/provider.go
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
  pkg/scalers/scaler.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/scalers/aws/aws_cloudwatch_pod_identity/aws_cloudwatch_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_pod_identity/aws_dynamodb_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_streams_pod_identity/aws_dynamodb_streams_pod_identity_test.go
  tests/scalers/aws/aws_kinesis_stream_pod_identity/aws_kinesis_stream_pod_identity_test.go
  tests/scalers/aws/aws_sqs_queue_pod_identity/aws_sqs_queue_pod_identity_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint
