Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

nit: set case before the default
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

add generated crds and deepcopy obj
  adapter/generated/openapi/zz_generated.openapi.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  controllers/keda/scaledjob_controller.go
  go.mod
Due: golangci-lint

adding context support to the redis scalers
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

using context in SQL scalers (MySQL, PostgreSQL, MS Sql Server) and adding context to scaler Close interface
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/scaler.go
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/solace_scaler.go
  pkg/scalers/stan_scaler.go
Due: golangci-lint

more changes to calling of Close() function
  controllers/keda/hpa.go
  controllers/keda/hpa_test.go
  pkg/mock/mock_scaler/mock_scaler.go
  pkg/provider/provider.go
  pkg/scalers/artemis_scaler.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cron_scaler.go
  pkg/scalers/external_scaler.go
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/huawei_cloudeye_scaler.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/liiklus_scaler.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scaledjob/scale_metrics.go
  pkg/scaling/scaledjob/scale_metrics_test.go
Due: sort-scalers, golangci-lint

adding feature to CHANGELOG
  CHANGELOG.md
Due: none

reverting auto-gen header comment
  pkg/mock/mock_client/mock_interfaces.go
Due: golangci-lint

Update pull request id
  CHANGELOG.md
Due: none

Add Cassandra Scaler
  CHANGELOG.md
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  go.mod
  go.sum
  pkg/scalers/cassandra_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fix CHANGELOG.md
  CHANGELOG.md
Due: none

Add deleted kustomization files
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
Due: none

Update Cassandra scaler files
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  tests/scalers/cassandra.test.ts
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

correcting naming and links in README (#1842)
  tests/README.md
Due: none

Fix: READY and ACTIVE fields of ScaledJob to show status. (#1855)
  CHANGELOG.md
  controllers/scaledjob_controller.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

cron: adding validation for range or hyphenated inputs for start and end (#1836)
  pkg/scalers/cron_scaler.go
  pkg/scalers/cron_scaler_test.go
Due: golangci-lint

linter: update & use revive instead of golint (#1901)
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  .golangci.yml
  CONTRIBUTING.md
  controllers/scaledjob_controller.go
  controllers/scaledjob_finalizer.go
  controllers/scaledobject_controller_test.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_swift_scaler.go
Due: golangci-lint

Renovate: update only actions (#1947)
  renovate.json
Due: none

bump to golang 1.15.13 (#1902)
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  Dockerfile
  Dockerfile.adapter
  tools/build-tools.Dockerfile
Due: none

Enable PR controls for Renovate (#1889)
  renovate.json
Due: none

feat: adding version metadata to be able to specify kafka broker version (#1866)
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Update Renovate to describe updates in the commmit (#1886)
  renovate.json
Due: none

Show HashiCorp Vault Address when using 'kubectl get ta' or 'kubectl get cta' (#1862)
  CHANGELOG.md
  api/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: golangci-lint

Add support for Trigger Authentication for InfluxDB (#1904)
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

Extend Azure Monitor scaler to support custom metrics (#1883)
  CHANGELOG.md
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
Due: golangci-lint

Handle password value correctly; add tests. (#1939)
  CHANGELOG.md
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/ibmmq_scaler_test.go
Due: golangci-lint

scale handler chores (#1903)
  api/v1alpha1/withtriggers_types.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

docs: Add container image scanning in security policy (#1882)
  SECURITY.md
Due: none

Don't panic when HashiCorp Vault path doesn't exist (#1867)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Support non-public cloud environments in the Azure Storage Queue and Azure Storage Blob scalers (#1863)
  CHANGELOG.md
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure/azure_blob_test.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure/azure_queue.go
  pkg/scalers/azure/azure_queue_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure/azure_storage_test.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_queue_scaler_test.go
Due: golangci-lint

Fix timing in azure-queue, redis-cluster-streams, and influxdb tests (#1978)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  tests/scalers/azure-queue.test.ts
  tests/scalers/helpers.ts
  tests/scalers/influxdb.test.ts
  tests/scalers/redis-cluster-streams.test.ts
Due: none

use Bash instead of Dash (#2003)
  tools/build-tools.Dockerfile
Due: none

Use `scaled[object/job].keda.sh/` prefix for KEDA related labels (#2008)
  CHANGELOG.md
  controllers/hpa.go
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

Add Bearer Auth for Metrics API scaler (#2028)
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

validation and check in cron scaler for same start and end case (#2032)
  CHANGELOG.md
  pkg/scalers/cron_scaler.go
  pkg/scalers/cron_scaler_test.go
Due: golangci-lint

AZ queue - Idle Replicas test fix (#1961)
  tests/scalers/azure-queue-idle-replicas.test.ts
Due: none

Kafka scaler: batch GetOffset requests (#1956)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Prepare 2.4.0 release (#2012)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

Adapt Prometheus test to #381 (#2051)
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
