Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

feat: replacing deprecated azure autorest to azure-sdk-go lib
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_keda_client.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_triggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/keda_client.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/triggerauthentication.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/generated/informers/externalversions/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/informers/externalversions/keda/v1alpha1/scaledjob.go
  pkg/generated/informers/externalversions/keda/v1alpha1/scaledobject.go
  pkg/generated/informers/externalversions/keda/v1alpha1/triggerauthentication.go
  pkg/generated/listers/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/listers/keda/v1alpha1/scaledjob.go
  pkg/generated/listers/keda/v1alpha1/scaledobject.go
  pkg/generated/listers/keda/v1alpha1/triggerauthentication.go
Due: none

feat: replacing deprecated azure autorest to azure-sdk-go lib
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure_app_insights_scaler.go
Due: golangci-lint

feat: replacing deprecated azure autorest to azure-sdk-go lib
  CHANGELOG.md
Due: none

Update azure_app_insights.go
  pkg/scalers/azure/azure_app_insights.go
Due: golangci-lint

feat: replacing deprecated azure autorest to azure-sdk-go lib
  pkg/scalers/azure/azure_app_insights.go
Due: golangci-lint

feat: replacing deprecated azure autorest to azure-sdk-go lib
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
  pkg/scalers/azure/azure_app_insights.go
  tests/.env
Due: golangci-lint

Update kustomization.yaml
  config/manager/kustomization.yaml
Due: none

Update kustomization.yaml
  config/metrics-server/kustomization.yaml
Due: none

feat: replacing deprecated azure autorest to azure-sdk-go lib
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/scalers/azure_app_insights_scaler_test.go
Due: golangci-lint

prepare v2.18.2 (#7300)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

feat(util): add log when Kubernetes minor version parsing fails
  pkg/util/k8sversion.go
Due: golangci-lint

feat(util): add log when Kubernetes minor version parsing fails (#7303)
  pkg/util/k8sversion.go
Due: golangci-lint

Fix smoke tests
  .github/workflows/template-smoke-tests.yml
Due: none

Remove duplicate checkout step in workflow
  .github/workflows/template-s390x-smoke-tests.yml
Due: none

chore: Add output to e2e test check
  .github/workflows/pr-e2e.yml
Due: none

Apply suggestions from code review
  .github/workflows/template-smoke-tests.yml
Due: none

ci: use GitHub-hosted ARM64 runners
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/template-arm64-smoke-tests.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-versions-smoke-tests.yml
  CHANGELOG.md
Due: none

improve(aws): error message when secret access key is missing from credential (#7265)
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scalers/aws/aws_common.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
  pkg/scalers/aws_dynamodb_scaler_test.go
Due: golangci-lint

Add checklist for running scalers schema generation (#7193)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

changes after feedback
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

update after feedback
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: apply fallback in polling loop to enable scaling from zero (#7244)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  tests/internals/fallback/fallback.go
Due: sort-scalers, golangci-lint

Log deprecation warning for old adapter log args
  cmd/adapter/main.go
Due: golangci-lint

fix changelog
  CHANGELOG.md
Due: none

added e2e tests
  tests/secret-providers/akeyless/akeyless_test.go
Due: golangci-lint

add to changelog
  CHANGELOG.md
Due: none

update tests and fix namespace
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

update to webhook
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

copy code back
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/scaling/cache/metricscache/metrics_record.go
  pkg/scaling/cache/metricscache/metrics_record_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

ci: use GitHub-hosted ARM64 runners (#7294)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/template-arm64-smoke-tests.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-versions-smoke-tests.yml
  CHANGELOG.md
Due: none

fix: e2e test on PR doesn't fail because missing docker
  .github/workflows/pr-e2e.yml
Due: none

Update pr-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Fix smoke tests (#7304)
  .github/workflows/pr-e2e.yml
  .github/workflows/template-s390x-smoke-tests.yml
  .github/workflows/template-smoke-tests.yml
Due: none

chore: smoke e2e tests on PR
  .github/workflows/pr-e2e.yml
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
