Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Update ROADMAP.md
  ROADMAP.md
Due: none

push 2.17 release date (#6632)
  ROADMAP.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

feat: Add support to enable backoff when rate limited by the Github API
  pkg/scalers/github_runner_scaler.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Make sure the exposed metrics are updated when there is a change to triggers
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

Reset also other scaler-related metrics that are affected by the bug
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

feat: Add support to enable backoff when rate limited by the Github API
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Metrics API: Fix text format parsing error resulting in unexpected end of input stream
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

Update an existing test to cover the empty new line case
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

Remove unused awsEndpoint in Apache Kafka scaler (#6627)
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler.go
Due: golangci-lint

Make sure the exposed metrics are updated when there is a change to triggers (#6618)
  CHANGELOG.md
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

fix: GCP Storage scaler ignores the root folder (#6596)
  CHANGELOG.md
  pkg/scalers/gcp_storage_scaler.go
  tests/scalers/gcp/gcp_storage/gcp_storage_test.go
Due: golangci-lint

Refactor Azure ServiceBus Scaler (#6624)
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

JetStream: add accountID param for when an account's name and id differ (#6611)
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

fix: CVE-2025-30204
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: none

fix: CVE-2025-30204
  CHANGELOG.md
Due: none

fix: CVE-2025-30204
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Due: none

Metrics API: Fix text format parsing error (#6640)
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

Update Makefile
  Makefile
Due: none

fix: CVE-2025-30204 (#6641)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: none

Add aggregation from kube service endpoints feature in metrics API scaler
  CHANGELOG.md
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/metrics_api/metrics_api_test.go
Due: golangci-lint

do not fallback to kubernetes service URL querying if aggregating metrics from all kubernetes service endpoints fail for whatever reason
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

fix!: fix CheckFallbackValid logic
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

feat: Add support to enable backoff when rate limited by the Github API
  pkg/scalers/github_runner_scaler.go
  tests/scalers/github_runner/github_runner_test.go
Due: golangci-lint

feat: Add support to enable backoff when rate limited by the Github API
  CHANGELOG.md
Due: none

Support multiple auth methods simultaneously in Metrics API scaler
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

Update
  pkg/scalers/azure_monitor_scaler.go
Due: golangci-lint

Refactor Azure Pipeline Scaler (#6626)
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

Azure Log Analytics, Prometheus scaler: custom HTTP client timeout (#6607)
  CHANGELOG.md
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

feat: add `BoundServiceAccountToken` trigger authentication type (#6272)
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  cmd/operator/main.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  controllers/keda/scaledjob_controller.go
  controllers/keda/suite_test.go
  pkg/eventemitter/eventemitter.go
  pkg/mock/mock_serviceaccounts/mock_interfaces.go
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scalers_builder.go
  pkg/util/env_resolver.go
  tests/secret-providers/trigger_auth_bound_service_account_token/trigger_auth_bound_service_account_token_test.go
Due: sort-scalers, golangci-lint

Add time duration prometheus scaler
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

fix!: fix CheckFallbackValid logic (#6538)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

Correct changelog
  CHANGELOG.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
