Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Update
  pkg/metricscollector/opentelemetry.go
Due: golangci-lint

show only logs with a severity level of ERROR or higher in the stderr stream.
  config/metrics-server/deployment.yaml
Due: none

Add testing
  pkg/metricscollector/opentelemetry_test.go
Due: golangci-lint

prioritizing **General** section
  CHANGELOG.md
  hack/validate-changelog.sh
Due: none

removing validate changelog from pr-validation
  .github/workflows/pr-validation.yml
Due: none

message improvement
  CHANGELOG.md
Due: none

Add testing strategy document
  README.md
  TESTING.md
Due: none

Update TESTING.md
  TESTING.md
Due: none

Add script to check the whole changelog and fix issues there
  CHANGELOG.md
  hack/validate-changelog.sh
Due: none

fix style typos
  CHANGELOG.md
Due: none

fix style typo
  hack/validate-changelog.sh
Due: none

ignore case during sorting
  hack/validate-changelog.sh
Due: none

update script
  hack/validate-changelog.sh
Due: none

Update
  controllers/keda/scaledobject_controller.go
  pkg/common/message/message.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
  tests/internals/events/events_test.go
Due: sort-scalers, golangci-lint

remove whitespaces
  hack/validate-changelog.sh
Due: none

Update
  tests/internals/events/events_test.go
Due: golangci-lint

add extra info to tests
  tests/README.md
Due: none

readd worngly removed entries
  CHANGELOG.md
Due: none

remove whiteline
  CHANGELOG.md
Due: none

update precommit yaml
  .pre-commit-config.yaml
Due: none

adding the script to validate changelog (#4731)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  hack/validate-changelog.sh
Due: none

Update
  apis/keda/v1alpha1/triggerauthentication_webhook.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/internals/trigger_authentication_validation/trigger_authentication_validation_test.go
Due: golangci-lint

Update
  tests/internals/trigger_authentication_validation/trigger_authentication_validation_test.go
Due: golangci-lint

Update
  CHANGELOG.md
Due: none

Fix order
  CHANGELOG.md
Due: none

chore: Add testing documentation (#4884)
  README.md
  TESTING.md
  tests/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update
  Makefile
  go.mod
  pkg/metricscollector/opentelemetry.go
  tests/helper/helper.go
  tests/opentelemetry_setup/keda_setup/kustomization.yml
  tests/opentelemetry_setup/keda_setup/patch_operator.yml
  tests/opentelemetry_setup/otlp.yml
  tests/opentelemetry_setup/service.yml
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

Update
  pkg/metricscollector/opentelemetry.go
  tests/opentelemetry_setup/keda_setup/patch_operator.yml
  tests/opentelemetry_setup/otlp.yml
  tests/opentelemetry_setup/service.yml
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

Update change log
  CHANGELOG.md
Due: none

chore: KEDA is a CNCF Graduated project
  README.md
Due: none
