Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Migrates Cron e2e test to Go
  tests/scalers/cron.test.ts
  tests/scalers_go/cron/cron_test.go
Due: golangci-lint

Use `AWS_REGION` environment variable (#3278)
  CHANGELOG.md
  tests/scalers_go/aws_sqs_queue/aws_sqs_queue_test.go
Due: golangci-lint

Migrates Cron e2e test to Go (#3271)
  tests/scalers/cron.test.ts
  tests/scalers_go/cron/cron_test.go
Due: golangci-lint

add exclusion
  .golangci.yml
Due: none

chore: bump deps (#3277)
  .golangci.yml
  go.mod
  go.sum
Due: none

Add config
  .github/workflows/pr-e2e.yml
Due: none

Add config
  .github/workflows/main-build.yml
Due: none

Add config
  .github/workflows/nightly-e2e.yml
Due: none

tests: Provide e2e configuration for AD identity seperation (#3280)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Migrate e2e test for AWS Kinesis Stream scaler to Go.
  tests/scalers/aws-kinesis-stream.test.ts
  tests/scalers_go/aws_kinesis_stream/aws_kinesis_stream_test.go
Due: golangci-lint

Migrate e2e test for AWS Kinesis Stream scaler to Go. (#3282)
  tests/scalers/aws-kinesis-stream.test.ts
  tests/scalers_go/aws_kinesis_stream/aws_kinesis_stream_test.go
Due: golangci-lint

Migrate e2e test for AWS DynamoDB scaler to Go.
  tests/scalers/aws-dynamodb.test.ts
  tests/scalers_go/aws_dynamodb/aws_dynamodb_test.go
Due: golangci-lint

Fix Cron e2e test.
  tests/run-arm-smoke-tests.sh
Due: none

fix arm e2e test. (#3285)
  tests/run-arm-smoke-tests.sh
Due: none

migrate e2e test for AWS DynamoDB scaler to Go. (#3284)
  tests/scalers/aws-dynamodb.test.ts
  tests/scalers_go/aws_dynamodb/aws_dynamodb_test.go
Due: golangci-lint

Update tests/scalers_go/aws_dynamodb_streams/aws_dynamodb_streams_test.go
  tests/scalers_go/aws_dynamodb_streams/aws_dynamodb_streams_test.go
Due: golangci-lint

fix golangci-lint error
  tests/scalers_go/aws_dynamodb_streams/aws_dynamodb_streams_test.go
Due: golangci-lint

Update azure_pipelines_scaler_test.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

fix: e2e tests for alternative Service Bus namespace is using wrong env var
  .github/workflows/main-build.yml
Due: none

fix: e2e tests for alternative Service Bus namespace is using wrong env var
  .github/workflows/nightly-e2e.yml
Due: none

fix: e2e tests for alternative Service Bus namespace is using wrong env var
  .github/workflows/pr-e2e.yml
Due: none

fix: e2e tests for alternative Service Bus namespace is using wrong env var (#3286)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Add AWS DynamoDB Streams Scaler (#3121)
  CHANGELOG.md
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers_go/aws_dynamodb_streams/aws_dynamodb_streams_test.go
Due: sort-scalers, golangci-lint

Use identityID from TriggerAuthentication CRD when fetching Pod Identity tokens.
  pkg/scalers/azure/azure_aad_podidentity.go
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scaling/resolver/azure_keyvault_handler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fix unit tests.
  pkg/scalers/azure_queue_scaler_test.go
Due: golangci-lint

Add E2E tests.
  tests/helper/helper.go
  tests/scalers/azure-service-bus-queue-workload-identity.test.ts
  tests/scalers_go/azure_service_bus_queue_workload_identity/azure_service_bus_queue_workload_identity_test.go
  tests/scalers_go/azure_service_bus_queue_workload_identity_override/azure_service_bus_queue_workload_identity_override_test.go
Due: golangci-lint

Fix stupid mistake.
  tests/helper/helper.go
Due: golangci-lint

Minor refactor.
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update CHANGELOG.
  CHANGELOG.md
Due: none

Fix helper method.
  tests/helper/helper.go
Due: golangci-lint

Refactor tests.
  tests/scalers_go/azure_workload_identity/azure_workload_identity_test.go
  tests/scalers_go/azure_workload_identity_user_assigned/azure_workload_identity_user_assigned_test.go
Due: golangci-lint

Add identityID field to podIdentity in TriggerAuthentication CRD.
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: golangci-lint

Address PR feedback.
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

Migrate e2e test for AWS Cloudwatch scaler to Go.
  tests/scalers/aws-cloudwatch.test.ts
  tests/scalers_go/aws_cloudwatch/aws_cloudwatch_test.go
Due: golangci-lint

Use AWS region from environment variable
  tests/scalers_go/aws_dynamodb_streams/aws_dynamodb_streams_test.go
Due: golangci-lint

Use AWS region from environment variable (#3288)
  tests/scalers_go/aws_dynamodb_streams/aws_dynamodb_streams_test.go
Due: golangci-lint

Migrate e2e test for AWS CloudWatch Expression to Go
  tests/scalers/aws-cloudwatch-expression.test.ts
  tests/scalers_go/aws_cloudwatch_expression/aws_cloudwatch_expression_test.go
Due: golangci-lint

Add trivy scan on_pr and on_push
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
Due: none
