Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fix golangci-lint
  pkg/scalers/aws_cloudwatch_scaler.go
Due: golangci-lint

fix styles
  tests/scalers/mssql/mssql_test.go
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
  tests/scalers/postgresql/postgresql_high_available/postgresql_ha_test.go
  tests/scalers/postgresql/postgresql_standalone/postgresql_test.go
  tests/scalers/prometheus/prometheus_helper.go
  tests/scalers/rabbitmq/rabbitmq_helper.go
Due: golangci-lint

Update
  apis/eventing/v1alpha1/cloudeventsource_types.go
  cmd/operator/main.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  controllers/keda/suite_test.go
  pkg/eventemitter/azure_event_grid_topic_handler.go
  pkg/eventemitter/eventemitter.go
  tests/eventemitter/azureeventgridtopic/azureeventgridtopic_test.go
Due: golangci-lint

Update
  CHANGELOG.md
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Update
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

improve error message for empty results
  pkg/scalers/aws_cloudwatch_scaler.go
Due: golangci-lint

fixes
  tests/scalers/couchdb/couchdb_test.go
  tests/scalers/elasticsearch/elasticsearch_test.go
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/helper/helper.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_vhost/rabbitmq_queue_http_vhost_test.go
  tests/scalers/redis/helper/helper.go
  tests/scalers/solr/solr_test.go
Due: golangci-lint

add error when empty metric values to changelog
  CHANGELOG.md
Due: none

fix redis e2e
  tests/scalers/redis/helper/helper.go
  tests/scalers/redis/redis_standalone_streams_lag/redis_standalone_streams_lag_test.go
Due: golangci-lint

remove some namespaces
  tests/scalers/predictkube/predictkube_test.go
  tests/scalers/redis/helper/helper.go
Due: golangci-lint

downgrade rabbitmq
  tests/scalers/rabbitmq/rabbitmq_helper.go
Due: golangci-lint

feat: Add new alignment parameters 'rate' and 'count' for GCP Stackdriver Scaler (#5634)
  CHANGELOG.md
  pkg/scalers/gcp/gcp_stackdriver_client.go
Due: golangci-lint

rename errorWhenMetricValuesEmpty -> errorWhenNullValues
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
Due: golangci-lint

use getParameterFromConfigV2 to read config for errorWhenNullValues
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
Due: golangci-lint

Fix
  apis/eventing/v1alpha1/cloudeventsource_webhook.go
  apis/eventing/v1alpha1/cloudeventsource_webhook_test.go
  pkg/eventemitter/eventemitter.go
  pkg/eventemitter/eventfilter.go
Due: golangci-lint

Update
  apis/eventing/v1alpha1/cloudeventsource_webhook_test.go
Due: golangci-lint

Fix
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

move to getParameterFromConfigV2 for input, excluding auth
  pkg/scalers/aws_cloudwatch_scaler.go
Due: golangci-lint

add tests for expression and query get functions
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
Due: golangci-lint

add test for validate fallback
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

Update
  apis/eventing/v1alpha1/cloudeventsource_types.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  pkg/eventemitter/azure_event_grid_topic_handler.go
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
  pkg/eventemitter/eventhelper.go
  tests/eventemitter/azureeventgridtopic/azureeventgridtopic_test.go
Due: golangci-lint

Update pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

refactored fallback logic to only patch status when the fallback is enabled
  controllers/keda/scaledobject_controller.go
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
Due: golangci-lint

removed newline
  pkg/fallback/fallback_test.go
Due: golangci-lint

Update
  apis/eventing/v1alpha1/cloudeventsource_webhook.go
  pkg/eventemitter/eventemitter.go
  pkg/eventemitter/eventfilter.go
  tests/internals/cloudevent_source/cloudevent_source_test.go
Due: golangci-lint

fixed bug with access token not being found
  Makefile
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
  pkg/scalers/splunk_o11y_scaler.go
Due: golangci-lint

add e2e for error state for cw, and improve e2e for min values for cw
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
  tests/helper/helper.go
  tests/scalers/aws/aws_cloudwatch_error_null_values/aws_cloudwatch_error_null_values_test.go
  tests/scalers/aws/aws_cloudwatch_min_value_null_values/aws_cloudwatch_min_value_null_values_test.go
Due: golangci-lint

remove erroneous print statement
  pkg/scalers/aws_cloudwatch_scaler.go
Due: golangci-lint

remove unused vars
  tests/scalers/aws/aws_cloudwatch_error_null_values/aws_cloudwatch_error_null_values_test.go
  tests/scalers/aws/aws_cloudwatch_min_value_null_values/aws_cloudwatch_min_value_null_values_test.go
Due: golangci-lint

remove todo for awsAuth
  pkg/scalers/aws_cloudwatch_scaler.go
Due: golangci-lint

Improve scale out event with active trigger's name (#5637)
  CHANGELOG.md
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

add tls authentication for NATS Streaming
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
Due: golangci-lint

update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: reports errors during upstream requests
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

.
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

move the metric
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint
