Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

wait in the main goroutine
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

concurrently fetch consumer and producer offsets
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

fix: wrong calculation of retry backoff duraion
  pkg/scalers/external_scaler.go
Due: golangci-lint

Start implementation for predictKube scaler
  go.mod
  go.sum
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
Due: golangci-lint

Graphite scaler should use latest datapoint, not earliest, returned (#2365)
  CHANGELOG.md
  pkg/scalers/graphite_scaler.go
Due: golangci-lint

Add azure-functions-core-tool v4.x link to release docs (#2369)
  RELEASE-PROCESS.MD
Due: none

chore: Never close Epic issues (#2358)
  .github/stale.yml
Due: none

Start implementation for predictKube scaler
  pkg/scalers/predictkube_scaler.go
Due: golangci-lint

Add note about Snyk (#2351)
  RELEASE-PROCESS.MD
Due: none

Increse golangci timeout to 10m (#2368)
  .golangci.yml
Due: none

fix IsActive method
  adapter/generated/openapi/zz_generated.openapi.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/scalers/predictkube_scaler.go
Due: golangci-lint

Start implementation for predictKube scaler
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix IsActive method
  go.mod
  go.sum
  pkg/scalers/predictkube_scaler.go
Due: golangci-lint

chore: Remove PR checkbox for Renovate PRs (#2362)
  renovate.json
Due: none

Kubernetes Workload Scaler: ignore terminated pods (#2384)
  CHANGELOG.md
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
Due: golangci-lint

Add NewRelic variables for e2e tests (#2390)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

rename dependency Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  go.mod
Due: none

Add datadog secrets (and sort the variables) (#2412)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

fix: add list and watch access for service accounts to cluster role (#2406)
  CHANGELOG.md
  config/rbac/role.yaml
Due: none

change health import Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  pkg/scalers/predictkube_scaler.go
Due: golangci-lint

add tests Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  pkg/scalers/predictkube_scaler.go
Due: golangci-lint

fix IsActive method Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
Due: golangci-lint

change health import Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  go.mod
  go.sum
  pkg/scalers/predictkube_scaler.go
Due: golangci-lint

rename dependency Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  go.mod
  go.sum
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
Due: golangci-lint

fix IsActive method Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  go.mod
  go.sum
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: add list and watch access for service accounts to cluster role (#2410)
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

change CHANGELOG.md Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  CHANGELOG.md
Due: none

update dependency Signed-off-by: Dysnix <aleksandr.yershov@dysnix.com>
  go.mod
  go.sum
Due: none

sort scalers Signed-off-by: Dysnix <alex6021710@gmail.com>
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

back to old generated files comments Signed-off-by: Dysnix <alex6021710@gmail.com>
  adapter/generated/openapi/zz_generated.openapi.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

back to old mock comment Signed-off-by: Dysnix <alex6021710@gmail.com>
  pkg/mock/mock_client/mock_interfaces.go
Due: golangci-lint

change dependency Signed-off-by: Dysnix <alex6021710@gmail.com>
  go.mod
  go.sum
Due: none

change dependency Signed-off-by: Dysnix <alex6021710@gmail.com>
  go.mod
Due: none

fix linting errors Signed-off-by: Dysnix <alex6021710@gmail.com>
  go.mod
  go.sum
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
Due: golangci-lint

Assign PostgreSQL userName to correct attribute
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

Add ActiveMQ scaler (#2305)
  CHANGELOG.md
  pkg/scalers/activemq_scaler.go
  pkg/scalers/activemq_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/activemq.test.ts
Due: sort-scalers, golangci-lint

Azure EventHub Scaler: don't expose connection string in metricName (#2404)
  CHANGELOG.md
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

Kafka scaler: concurrent offset fetches (#2405)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  tests/README.md
  tests/scalers/kafka.test.ts
Due: golangci-lint
