Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Include basic info
  .github/workflows/pr-welcome.yml
Due: none

Reword
  .github/workflows/pr-welcome.yml
Due: none

Fixing changelog to link issue and not PR
  CHANGELOG.md
Due: none

Publish Prometheus metrics about build info (#4576)
  CHANGELOG.md
  pkg/prommetrics/prommetrics.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Fix typo
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Fix typo (#4648)
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

chore: GH Actions: use more descriptive name for Manifests check step
  .github/workflows/pr-validation.yml
Due: none

chore: GH Actions: use more descriptive name for Manifests check step (#4650)
  .github/workflows/pr-validation.yml
Due: none

Added activation value check andmade namespaces unique across tests
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
  tests/scalers/redis/redis_cluster_streams_lag/redis_cluster_streams_lag_test.go
  tests/scalers/redis/redis_cluster_streams_pending_entries/redis_cluster_streams_pending_entries_test.go
  tests/scalers/redis/redis_sentinel_streams_lag/redis_sentinel_streams_lag_test.go
  tests/scalers/redis/redis_sentinel_streams_pending_entries/redis_sentinel_streams_pending_entries_test.go
Due: golangci-lint

chore: Add more
  .github/workflows/pr-welcome.yml
Due: none

Update .github/workflows/pr-welcome.yml
  .github/workflows/pr-welcome.yml
Due: none

feat: Introduce "Welcome" message for new PRs (#4644)
  .github/workflows/pr-welcome.yml
Due: none

chore: Introduce /skip-e2e to add label to skip e2e test
  .github/workflows/pr-e2e.yml
Due: none

Correcting stylistic errors
  pkg/scalers/redis_streams_scaler_test.go
  tests/scalers/redis/redis_cluster_streams_lag/redis_cluster_streams_lag_test.go
  tests/scalers/redis/redis_sentinel_streams_lag/redis_sentinel_streams_lag_test.go
Due: golangci-lint

Fixed unnecessary leading newline
  pkg/scalers/redis_streams_scaler_test.go
Due: golangci-lint

Fixing formatting
  tests/scalers/redis/redis_sentinel_streams_lag/redis_sentinel_streams_lag_test.go
Due: golangci-lint

chore: Introduce /skip-e2e to add label to skip e2e test (#4653)
  .github/workflows/pr-e2e.yml
Due: none

Streamlined e2e test
  tests/scalers/redis/redis_cluster_streams_lag/redis_cluster_streams_lag_test.go
  tests/scalers/redis/redis_sentinel_streams_lag/redis_sentinel_streams_lag_test.go
Due: golangci-lint

Problem pushing commits
  tests/scalers/redis/redis_cluster_streams_lag/redis_cluster_streams_lag_test.go
  tests/scalers/redis/redis_sentinel_streams_lag/redis_sentinel_streams_lag_test.go
Due: golangci-lint

Add support for avg_rate from rabbitmq metrics
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Fix typo
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint

Fix typo (#4661)
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint

remove obsolete comment
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update field names per @tomkerkhove's suggestion
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update s/messageRates/messageRate/ in tests
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Add metric to Solace Scaler
  CHANGELOG.md
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
  tests/scalers/solace/solace_test.go
Due: golangci-lint

fix: PR Welcome bot fails with resource not accessible by integration
  .github/workflows/pr-welcome.yml
Due: none

chore: remove obsolete comment (#4662)
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: PR Welcome bot fails with resource not accessible by integration (#4669)
  .github/workflows/pr-welcome.yml
Due: none

Update pr-e2e-checker.yml
  .github/workflows/pr-e2e-checker.yml
Due: none

test: Improve E2E GitHub Action Names
  .github/workflows/pr-e2e-creator.yml
Due: none

Update CREATE-NEW-SCALER.md
  CREATE-NEW-SCALER.md
Due: none

fix: Use pull_request_target for Welcome bot
  .github/workflows/pr-welcome.yml
Due: none

test: Improve E2E GitHub Action Names (#4671)
  .github/workflows/pr-e2e-checker.yml
  .github/workflows/pr-e2e-creator.yml
Due: none

feat: support GCP native auth to access Google Managed Prometheus
  pkg/scalers/gcp_common.go
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
