Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Add Fix to solace `endpointURL` to query escape special character from `queueName` (#4940)
  CHANGELOG.md
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
Due: golangci-lint

Fix code issues
  apis/keda/v1alpha1/suite_test.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  cmd/adapter/main.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/provider/provider.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scalers/mongo_scaler.go
  pkg/util/watch.go
Due: golangci-lint

temporally add my fork
  config/crd/bases/keda.sh_scaledjobs.yaml
  go.mod
  go.sum
  vendor/github.com/open-policy-agent/cert-controller/pkg/rotator/rotator.go
  vendor/modules.txt
Due: golangci-lint

Update client generators
  Makefile
  hack/update-codegen.sh
Due: none

fix code generation issue with a hack
  hack/update-codegen.sh
  pkg/generated/informers/externalversions/factory.go
  vendor/k8s.io/code-generator/generate-internal-groups.sh
Due: golangci-lint

update manifests
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: none

some fixes
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  cmd/adapter/main.go
  cmd/operator/main.go
  pkg/provider/provider.go
Due: golangci-lint

update the logic for namespaces
  go.mod
  go.sum
  pkg/util/watch.go
  vendor/github.com/open-policy-agent/cert-controller/pkg/rotator/rotator.go
  vendor/modules.txt
Due: golangci-lint

Deprecation cleanup for 2.12 release (#4806)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/couchdb_scaler_test.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/graphite_scaler_test.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/scaler.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
Due: golangci-lint

feat(aws-sqs): Support for scaling to include delayed messages (#4900)
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

chore: KEDA is a CNCF Graduated project (#4896)
  CHANGELOG.md
  README.md
Due: none

adding the script to validate changelog (#4731)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  hack/validate-changelog.sh
Due: none

chore: Replace deprecated command with environment file (#4915)
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  CHANGELOG.md
Due: none

chore: KEDA v2.12 is targeted for September 26th, instead of 12th (#4909)
  ROADMAP.md
Due: none

chore: Add testing documentation (#4884)
  README.md
  TESTING.md
  tests/README.md
Due: none

fix typo in log message (#4902)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update (#4904)
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Improve events of CRDs (#4829)
  CHANGELOG.md
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/common/message/message.go
  pkg/eventreason/eventreason.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
  tests/internals/events/events_test.go
Due: sort-scalers, golangci-lint

Provide validation for identityId with Azure pod identity & Azure AD Workload Identity in TriggerAuthentication (#4696)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  apis/keda/v1alpha1/suite_test.go
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/triggerauthentication_webhook.go
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
  cmd/webhooks/main.go
  config/webhooks/validation_webhooks.yaml
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_managed_prometheus_http_round_tripper.go
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scaling/resolver/azure_keyvault_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/util/conver_types.go
  tests/internals/trigger_authentication_validation/trigger_authentication_validation_test.go
Due: golangci-lint

show only logs with a severity level of ERROR or higher in the stderr
  CHANGELOG.md
  config/metrics-server/deployment.yaml
Due: none

chore: Adjust supported versions on CI and welcome message (#4941)
  .github/workflows/template-arm64-smoke-tests.yml
  .github/workflows/template-versions-smoke-tests.yml
  pkg/util/welcome.go
Due: golangci-lint

adding aws endpoint to client
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_common.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

ci: Summer is over 👋
  .github/workflows/pr-welcome.yml
Due: none

ci: Summer is over 👋 (#4948)
  .github/workflows/pr-welcome.yml
Due: none

fix RabbitMQ Scaler, allow subpaths along with vhost in connection string (#4584)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Fix CHANGELOG.md, remove redundant/wrong pieces that were made during rebase, this fix is aimed to resolve failed workflow's Static Check (validate-changelog) test
  CHANGELOG.md
Due: none

fix: add gcp as prefix for naming for clarity
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

fix: correct problem in test when changing name in struct
  pkg/scalers/gcp_cloud_tasks_scaler_test.go
Due: golangci-lint

fix: order in changelog
  CHANGELOG.md
Due: none

fix: another order change in changelog
  CHANGELOG.md
Due: none

bump pending deps
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/README.md
  vendor/github.com/emicklei/go-restful/v3/route.go
  vendor/github.com/emicklei/go-restful/v3/route_builder.go
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/modules.txt
  vendor/sigs.k8s.io/custom-metrics-apiserver/pkg/apiserver/endpoints/handlers/get.go
  vendor/sigs.k8s.io/custom-metrics-apiserver/pkg/generated/openapi/core/zz_generated.openapi.go
  vendor/sigs.k8s.io/custom-metrics-apiserver/pkg/registry/custom_metrics/reststorage.go
Due: golangci-lint

fix: more renaming
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scalers/gcp_cloud_tasks_scaler_test.go
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
  tests/scalers/gcp/gcp_cloud_tasks_workload_identity/gcp_cloud_tasks_workload_identity_test.go
Due: golangci-lint

Selenium Grid | Fix latest browser version use case scaling (#4922)
  CHANGELOG.md
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

remove some replaces because they don't apply anymore
  go.mod
  go.sum
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/escape.go
  vendor/golang.org/x/net/html/render.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_roundrobin.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/golang.org/x/net/idna/tables15.0.0.go
  vendor/golang.org/x/net/idna/trie.go
  vendor/golang.org/x/net/idna/trie12.0.0.go
  vendor/golang.org/x/net/idna/trie13.0.0.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/modules.txt
Due: golangci-lint
