Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

add MongoDB scaler to Changelog (#1543)
  CHANGELOG.md
Due: none

Improve redis cluster e2e tests stability
  tests/scalers/redis-cluster-lists.test.ts
  tests/scalers/redis-cluster-streams.test.ts
Due: none

Improve redis cluster e2e tests stability (#1547)
  tests/scalers/redis-cluster-lists.test.ts
  tests/scalers/redis-cluster-streams.test.ts
Due: none

Add global http timeout for manager
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
  main.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

chore: Add Helm chart to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add global http timeout for manager (#1548)
  CHANGELOG.md
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
  main.go
Due: golangci-lint

Emit kubernetes events from KEDA
  CHANGELOG.md
  adapter/main.go
  controllers/scaledjob_controller.go
  controllers/scaledjob_finalizer.go
  controllers/scaledobject_controller.go
  controllers/scaledobject_finalizer.go
  go.sum
  main.go
  pkg/eventreason/eventreason.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

CR comments
  CHANGELOG.md
  api/v1alpha1/condition_types.go
  controllers/scaledjob_controller.go
  controllers/scaledjob_finalizer.go
  controllers/scaledobject_controller.go
  controllers/scaledobject_finalizer.go
  controllers/triggerauthentication_controller.go
  main.go
  pkg/eventreason/eventreason.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fix CI errors
  api/v1alpha1/condition_types.go
  controllers/triggerauthentication_controller.go
  pkg/eventreason/eventreason.go
Due: golangci-lint

goimports
  controllers/scaledjob_controller.go
  controllers/triggerauthentication_controller.go
Due: golangci-lint

Extend PR template for chart
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add link to DCO help
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update link to contribution guide
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Remome MIN field for scaledjob.
  api/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
Due: golangci-lint

chore: Add Helm chart to PR template (#1549)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Updated the CHANGELOG.
  CHANGELOG.md
Due: none

Removed MIN field for scaledjob. (#1553)
  CHANGELOG.md
  api/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
Due: golangci-lint

Increase timeout for redis cluster in e2e tests
  tests/scalers/redis-cluster-lists.test.ts
  tests/scalers/redis-cluster-streams.test.ts
Due: none

feat: Add container port for Prometheus on operator YAML
  config/manager/manager.yaml
Due: none

Increase timeout for redis cluster in e2e tests (#1561)
  tests/scalers/redis-cluster-lists.test.ts
  tests/scalers/redis-cluster-streams.test.ts
Due: none

Code review comments
  CHANGELOG.md
  controllers/scaledobject_controller.go
  main.go
Due: golangci-lint

Fix nil pointer panic
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

Migrate to GitHub Issue Forms
  .github/ISSUE_TEMPLATE/1_feature_request.yml
  .github/ISSUE_TEMPLATE/2_suggest_scaler.yml
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Suggest_scaler.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  Makefile
  RELEASE-PROCESS.MD
  api/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/kustomization.yaml
  controllers/hpa.go
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
  main.go
  tests/scalers/redis-cluster-lists.test.ts
  tests/scalers/redis-cluster-streams.test.ts
Due: golangci-lint

Fix CHANGELOG.md
  CHANGELOG.md
Due: none

Disable sarama metrics and close scalers
  CHANGELOG.md
  go.mod
  pkg/scalers/scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

add auth to the prometheus scaler
  pkg/scalers/authentication_types.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Disable sarama metrics and close scalers (#1572)
  CHANGELOG.md
  go.mod
  pkg/scalers/scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Emit kubernetes events from KEDA (#1523)
  CHANGELOG.md
  adapter/main.go
  api/v1alpha1/condition_types.go
  controllers/scaledjob_controller.go
  controllers/scaledjob_finalizer.go
  controllers/scaledobject_controller.go
  controllers/scaledobject_finalizer.go
  controllers/triggerauthentication_controller.go
  go.sum
  main.go
  pkg/eventreason/eventreason.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fix nil pointer panic (#1567)
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint
