Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

chore: fix import order per gci
  pkg/scalers/connectionpool/config.go
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

Fix: adjust import order per gci
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

improve the error message when awsSecretAccessKey is missing from credential
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scalers/aws/aws_common.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
  pkg/scalers/aws_dynamodb_scaler_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Include trigger actvivity in raw metrics
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/server.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
Due: sort-scalers, golangci-lint

added akeyless auth trigger
  .gitignore
  apis/keda/v1alpha1/triggerauthentication_types.go
  go.mod
  go.sum
  pkg/scaling/resolver/akeyless_handler.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

add k8s svc token only if specified
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

fixed incorrect handle of static secret of string type
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

rm todo
  apis/keda/v1alpha1/triggerauthentication_types.go
Due: golangci-lint

auto detect gw url api v2 ep
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

fixed incorrect secret type case when fetching secret
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

added uts
  pkg/scaling/resolver/akeyless_handler_test.go
Due: golangci-lint

added k8s auth support
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

added cloud id
  go.mod
  go.sum
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

fix logging
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

updated manifests to add gw url, access id and secrets to crd field output
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

added direnv to ignore
  .gitignore
Due: none

added triggerauth types to base
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: none

added crd output fields/columns for gw address, access id, secrets
  apis/keda/v1alpha1/triggerauthentication_types.go
Due: golangci-lint

add support for dynamic and rotated secrets
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

add logging for static secret get secret op
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

propagated err
  pkg/scaling/resolver/akeyless_handler.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

added support for generic json/kv and basic auth static secret
  pkg/scaling/resolver/akeyless_handler.go
Due: golangci-lint

fix: handle requestScaleLoop error in ScaledObject controller
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

chore: update CHANGELOG for PR #7273
  CHANGELOG.md
Due: none

feat: Add cooldownPeriod and pollingInterval checks for ScaledObject
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

Update scaledobject_controller_test.go
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

Apply suggestions from code review
  pkg/scaling/scale_handler.go
  tests/internals/fallback/fallback.go
Due: sort-scalers, golangci-lint

retrigger jobs
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

refactor: remove unused scaledObjectMetricSpecs variable
  controllers/keda/hpa.go
Due: golangci-lint

update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: restore HPA behavior when paused-scale-in/out annotation is deleted
  CHANGELOG.md
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller_test.go
  tests/internals/pause_scale_in_restore/pause_scale_in_restore_test.go
Due: golangci-lint

bump actions and go version
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/scorecards.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/static-analysis-semgrep.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-s390x-smoke-tests.yml
  .github/workflows/template-smoke-tests.yml
  .github/workflows/template-trivy-scan.yml
  .github/workflows/v1-build.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  go.mod
Due: none

update tools
  Makefile
Due: none

fix test
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

fix lint
  pkg/scalers/authentication/authentication_types.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
