Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

add comments
  Makefile
  config/default/kustomization.yaml
Due: none

fix format
  Makefile
Due: none

remove app.kubernetes.io/part-of from selector
  config/default/kustomization.yaml
  config/default/kustomize-config/metadataLabelTransformer.yaml
Due: none

Remove app.kubernetes.io/version label from label selectors (#1696)
  CHANGELOG.md
  Makefile
  config/default/kustomization.yaml
  config/default/kustomize-config/metadataLabelTransformer.yaml
Due: none

Apply golangci-lint and fix its apointments
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
Due: golangci-lint

fix time window calculation and improve request time window query
  pkg/scalers/openstack_metrics_scaler.go
Due: golangci-lint

Add tests and rename aodh scaler to openstack metric scaler
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
Due: golangci-lint

Modify scaler to fit openstack keystone client api
  pkg/scalers/openstack_aodh_scaler.go
Due: golangci-lint

add metric scaler to sclae_handler
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update tests to new openstack keystone api
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
Due: golangci-lint

Fix bugs during e2e test
  pkg/scalers/openstack_metrics_scaler.go
Due: golangci-lint

create openstack aodh metrics scaler
  pkg/scalers/openstack_aodh_scaler.go
Due: golangci-lint

update changelog.md
  CHANGELOG.md
Due: none

Update CHANLOG.md file after rebasement to fix conflicts
  CHANGELOG.md
Due: none

provide new option to enable scaling past partition count
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

add additional test
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Kafka: provide new option to enable scaling past partition count (#1684)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

fix changelog
  CHANGELOG.md
Due: none

fix changelog (#1701)
  CHANGELOG.md
Due: none

improve metric nomination on keda and update changelog.md
  CHANGELOG.md
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
Due: golangci-lint

update OpenStack naming on changelog
  CHANGELOG.md
Due: none

Add OpenStack Metrics scaler (#1692)
  CHANGELOG.md
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

using time.Timers instead of time.After()
  pkg/scalers/external_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

adding entry to changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Using time.Timers instead of time.After() (#1704)
  CHANGELOG.md
  pkg/scalers/external_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Breaking changes to feature request
  .github/ISSUE_TEMPLATE/1_feature_request.yml
Due: none

Remove issue body
  .github/ISSUE_TEMPLATE/1_feature_request.yml
Due: none

Update suggest scaler for breaking changes
  .github/ISSUE_TEMPLATE/2_suggest_scaler.yml
Due: none

Update bug report for breaking changes
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

Breaking changes to GitHub's Issue Forms (#1733)
  .github/ISSUE_TEMPLATE/1_feature_request.yml
  .github/ISSUE_TEMPLATE/2_suggest_scaler.yml
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

Add OpenStack Swift scaler e2e tests
  CHANGELOG.md
  tests/.env
  tests/package-lock.json
  tests/package.json
  tests/scalers/openstack-swift.test.ts
  tests/scalers/openstack/openstack-helper.ts
  tests/scalers/openstack/openstack-service-types-helper.ts
  tests/scalers/openstack/openstack-swift-helper.ts
Due: none

Change test environment variable names
  CHANGELOG.md
  tests/.env
  tests/scalers/openstack-swift.test.ts
Due: none

Add OpenStack Swift scaler e2e tests (#1522)
  CHANGELOG.md
  tests/.env
  tests/package-lock.json
  tests/package.json
  tests/scalers/openstack-swift.test.ts
  tests/scalers/openstack/openstack-helper.ts
  tests/scalers/openstack/openstack-service-types-helper.ts
  tests/scalers/openstack/openstack-swift-helper.ts
Due: none
