Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

language agnostic checkpointing for azure eventhub scaler (#1621)
  CHANGELOG.md
  go.mod
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

Fix MongoDB Scaler
  pkg/scalers/mongo_scaler.go
Due: golangci-lint

Enable Authentication Parameters to configure as triggers metadata
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Add missing testcase
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

add-basic-auth
  CHANGELOG.md
  pkg/scalers/graphite_scaler.go
Due: golangci-lint

fix
  pkg/scalers/graphite_scaler.go
Due: golangci-lint

Apache artemis needs a header origin when joining console management api Adding the origin header making it configurable Signed-off-by: Bernard Chesnoy <bernard.chesnoy@gmail.com>
  pkg/scalers/artemis_scaler.go
  pkg/scalers/artemis_scaler_test.go
Due: golangci-lint

Modifying changelog Signed-off-by: Bernard Chesnoy <bernard.chesnoy@gmail.com>
  CHANGELOG.md
Due: none

Fix MongoDB Scaler (#1787)
  pkg/scalers/mongo_scaler.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Apache artemis origin header needed (#1796)
  CHANGELOG.md
  pkg/scalers/artemis_scaler.go
  pkg/scalers/artemis_scaler_test.go
Due: golangci-lint

chore: End-to-end tests are mandatory for newscalers
  CONTRIBUTING.md
Due: none

chore: End-to-end tests are mandatory for newscalers (#1808)
  CONTRIBUTING.md
Due: none

pass deepCopy objects to the polling goroutines
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Added cluster namespace to metric name for uniqueness
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

Updated changelog
  CHANGELOG.md
Due: none

include blobPrefix in metricName and allow custom metricName for azure-blob scaler
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
Due: golangci-lint

Update changelog for PR 1816
  CHANGELOG.md
Due: none

Updated according to hint from @tomkerkhove
  CHANGELOG.md
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

deepcopy near start of go routines
  controllers/scaledjob_controller.go
  controllers/scaledobject_controller.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fixed error handling
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

simplification
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Azure Blob Scaler - Fix multiple scalers with the same blobContainerName (#1816)
  CHANGELOG.md
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
Due: golangci-lint

Changed Azure Service Bus scaler `metricName` to include Azure Service Bus Namespace (#1810)
  CHANGELOG.md
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

bump deps
  go.mod
  go.sum
Due: none

bump deps (#1822)
  go.mod
  go.sum
Due: none

Pass deepCopy objects to the polling goroutines (#1812)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Correct Community Meeting Time
  README.md
Due: none

Correct Community Meeting Time (#1825)
  README.md
Due: none

Delete kustomization.yaml
  config/manager/kustomization.yaml
Due: none

Delete kustomization.yaml
  config/metrics-server/kustomization.yaml
Due: none
