Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

make generate
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: none

fix: add necessary configuration for devcontainer with ARM arch
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
Due: none

fix: correct way of check ARM
  .github/workflows/pr-validation.yml
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

fix: add necessary configuration for devcontainer with ARM arch (#3085)
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  CHANGELOG.md
Due: none

bump image base version and add missing envs
  tools/build-tools.Dockerfile
Due: none

add the option to skip e2e tests
  .github/workflows/pr-e2e-checker.yml
Due: none

fix style
  .github/workflows/pr-e2e-checker.yml
Due: none

remove the job enqueue
  .github/workflows/pr-e2e.yml
Due: none

fix typo
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

prevent operator from panic on invalid characters within eventhub-storage path
  CHANGELOG.md
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
Due: golangci-lint

fix lint
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

fix(build-tools): bump image base version and add missing envs (#3086)
  tools/build-tools.Dockerfile
Due: none

prevent operator from panic on invalid characters within Azure eventhub-storage path (#3080)
  CHANGELOG.md
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
Due: golangci-lint

chore(deps): update actions/cache action to v3.0.3
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/v1-build.yml
Due: none

Add the workflows for creating the checks and edits based on labels
  .github/workflows/pr-e2e-creator.yml
Due: none

use variable
  .github/workflows/pr-e2e.yml
Due: none

remove reopen trigger
  .github/workflows/pr-e2e-creator.yml
Due: none

fix styles
  .github/workflows/pr-e2e-checker.yml
  .github/workflows/pr-e2e-creator.yml
Due: none

fix scaleobject ready condition 'True'->'False/Unknow' requeue
  controllers/keda/scaledobject_controller.go
  controllers/keda/util/predicate.go
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

fix ci
  controllers/keda/util/predicate.go
Due: golangci-lint

Prometheus scaler add option to ignore null value (#3073)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

verify that HPA name defined in SO
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

chore: Use GH Checks API for manual e2e tests (#3071)
  .github/workflows/pr-e2e-checker.yml
  .github/workflows/pr-e2e-creator.yml
  .github/workflows/pr-e2e-pr-validation.yml
  .github/workflows/pr-e2e.yml
  CHANGELOG.md
Due: none

chore: Add check to block PR if label is present
  .github/workflows/pr-e2e-checker.yml
Due: none

add change log
  CHANGELOG.md
Due: none

Add AWS DynamoDB Stream Scaler
  pkg/scalers/aws_dynamodb_stream_scaler.go
  pkg/scalers/aws_dynamodb_stream_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Add e2e test for aws dynamodb stream scaler
  tests/package-lock.json
  tests/package.json
  tests/scalers/aws-dynamodb-stream.test.ts
Due: none

fix static check error
  pkg/scalers/aws_dynamodb_stream_scaler.go
  pkg/scalers/aws_dynamodb_stream_scaler_test.go
Due: golangci-lint

add a test to check if dynamodb stream shard num is greater than 0
  tests/scalers/aws-dynamodb-stream.test.ts
Due: none

update for the content propagation
  pkg/scalers/aws_dynamodb_stream_scaler.go
  pkg/scalers/aws_dynamodb_stream_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

let me align scaler type and name to aws-dynamodb-streams and DynamoDB Streams
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/aws-dynamodb-streams.test.ts
Due: sort-scalers, golangci-lint

align scaler type and name to aws-dynamodb-streams and DynamoDB Streams
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/aws-dynamodb-streams.test.ts
Due: sort-scalers, golangci-lint

add support for ARM64 in build-tools Dockerfile (#3094)
  .github/workflows/build-tools.yml
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  CHANGELOG.md
  Makefile
  tools/build-tools.Dockerfile
Due: none

modify metric name prefix to s{index}-aws-dynamodb-streams
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
Due: golangci-lint

modify e2e test
  tests/scalers/aws-dynamodb-streams.test.ts
Due: none

update comment
  tests/scalers/aws-dynamodb-streams.test.ts
Due: none

add 'A' scalers
  pkg/scalers/activemq_scaler.go
  pkg/scalers/artemis_scaler.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure/azure_app_insights_test.go
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/scaler.go
Due: golangci-lint

add 'E' scalers
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cron_scaler.go
  pkg/scalers/datadog_scaler.go
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/external_scaler.go
Due: golangci-lint

add 'G' scalers
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/stackdriver_client.go
Due: golangci-lint
