Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Add Selenium Grid scaler (#1971)
  CHANGELOG.md
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/selenium-grid-test.ts
Due: sort-scalers, golangci-lint

fix typo in isScalableCache (#2064)
  controllers/scaledobject_controller.go
Due: golangci-lint

bump golangci-lint to 1.42.0 (#2066)
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  CONTRIBUTING.md
Due: none

Add ratelimitting parameters to keda metrics apiserver to allow override of client defaults (#1944)
  CHANGELOG.md
  adapter/main.go
Due: golangci-lint

bump Golang to 1.16.7 (#2065)
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.adapter
  adapter/generated/openapi/zz_generated.openapi.go
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  hack/tools.go
Due: golangci-lint

Add Kubernetes Workload scaler (#2010)
  .golangci.yml
  CHANGELOG.md
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/kubernetes-workload.test.ts
Due: sort-scalers, golangci-lint

Escape `queueName` and `vhostName` in RabbitMQ Scaler before use them in query string (bug fix) (#2055)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  tests/scalers/rabbitmq-helpers.ts
  tests/scalers/rabbitmq-queue-amqp.test.ts
  tests/scalers/rabbitmq-queue-http-regex.test.ts
  tests/scalers/rabbitmq-queue-http.test.ts
  tests/scalers/rabbitmq-queue-trigger-auth.test.ts
Due: golangci-lint

Adding `pendingPodConditions` field to ScaledJob CRD (#2009)
  CHANGELOG.md
  config/crd/bases/keda.sh_scaledjobs.yaml
Due: none

Renovate: ignore other deps then GH actions (#1954)
  renovate.json
Due: none

Adds support to use regex with HTTP protocol in RabbitMQ Scaler (#1957)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  tests/scalers/rabbitmq-queue-http-regex.test.ts
Due: golangci-lint

Change ClusterRoleBinding name to align with industry standard (#1616)
  CHANGELOG.md
  config/metrics-server/role_binding.yaml
Due: none

chore: change Keda -> KEDA (#1959)
  .gitignore
  pkg/provider/provider.go
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: golangci-lint

influxdb scaler: add support for integer query results (#1977)
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
  tests/scalers/influxdb.test.ts
Due: golangci-lint

set timeout on deployment rollout (#2007)
  tests/scalers/helpers.ts
Due: none

Update cron scaler to parse the cron with parser instead of searching for '-' (#2038)
  CHANGELOG.md
  pkg/scalers/cron_scaler.go
  pkg/scalers/cron_scaler_test.go
Due: golangci-lint

Add fallback functionality (#1910)
  CHANGELOG.md
  api/v1alpha1/condition_types.go
  api/v1alpha1/scaledobject_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/hpa.go
  controllers/hpa_test.go
  controllers/scaledobject_controller.go
  controllers/scaledobject_finalizer.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/mock/mock_scaler/mock_scaler.go
  pkg/provider/fallback.go
  pkg/provider/fallback_test.go
  pkg/provider/provider.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  pkg/scaling/scale_hander_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Adds explicit the option of setting KEDA_HTTP_DEFAULT_TIMEOUT (#2062)
  config/manager/manager.yaml
  config/metrics-server/deployment.yaml
Due: none

update test dependencies (#1974)
  tests/package-lock.json
  tests/package.json
Due: none

build-tools image: bump Golang to 1.16.7 (#2067)
  tools/build-tools.Dockerfile
Due: none

Introduce Idle Replica Mode (#1958)
  CHANGELOG.md
  api/v1alpha1/scaledobject_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/scaledobject_controller.go
  controllers/scaledobject_controller_test.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  tests/scalers/azure-queue-idle-replicas.test.ts
Due: golangci-lint

add Kafka Version support to Changelog (#2000)
  CHANGELOG.md
Due: none

Provide Solace Queue Scaler (#1945)
  CHANGELOG.md
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/solace-helpers.ts
  tests/scalers/solace.tests.ts
Due: sort-scalers, golangci-lint

Improve and update E2E tests (#1980)
  .github/workflows/pr-validation.yml
  Makefile
  pkg/scaling/scale_handler.go
  tests/package.json
  tests/run-all.sh
  tests/scalers/argo-rollouts.test.ts
  tests/scalers/azure-pipelines.test.ts
  tests/scalers/helpers.ts
  tests/scalers/influxdb.test.ts
  tests/scalers/prometheus-deployment.yaml
  tests/scalers/prometheus.test.ts
  tests/scalers/rabbitmq-helpers.ts
  tests/scalers/rabbitmq-queue-amqp.test.ts
  tests/scalers/rabbitmq-queue-http-regex.test.ts
  tests/scalers/rabbitmq-queue-http.test.ts
  tests/scalers/redis-cluster-lists.test.ts
  tests/scalers/redis-cluster-streams.test.ts
  tests/scalers/stan-helpers.ts
Due: sort-scalers, golangci-lint

use Patch to set FallbackCondition on ScaledObject.Status (#2037)
  CHANGELOG.md
  pkg/provider/fallback.go
  pkg/provider/fallback_test.go
Due: golangci-lint

Anonymize the host in case of HTTP failure (RabbitMQ Scaler) (#2041)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

prepare testenv in Makefile (#1960)
  .gitignore
  Makefile
  tools/build-tools.Dockerfile
Due: none

controller test - increasing timeouts (#1968)
  controllers/scaledobject_controller_test.go
Due: golangci-lint

Update Makefile to ensure that bash is used instead of sh or another (#2061)
  Makefile
Due: none

Update Python in dev containers and add .gitattributes (#2021)
  .devcontainer/Dockerfile
  .gitattributes
Due: none

chore: KEDA was accepted as CNCF Incubation project (#2039)
  README.md
Due: none

bump deps (#1948)
  go.mod
  go.sum
Due: none

Support non-public cloud environments in the Azure Service Bus scaler (#1907)
  CHANGELOG.md
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_cloud_environment_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure/azure_storage_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

Support pod conditions for pending job count calculation (#1970)
  CHANGELOG.md
  api/v1alpha1/scaledjob_types.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

Add suport custom metricName in RabbitMQ scaler (#1976)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Add Graphite Scaler + e2e tests (#2092)
  CHANGELOG.md
  CREATE-NEW-SCALER.md
  pkg/scalers/graphite_scaler.go
  pkg/scalers/graphite_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/graphite-deployment.yaml
  tests/scalers/graphite.test.ts
Due: sort-scalers, golangci-lint

Add support to get connection data from Trigger Authorization in MongoDB Scaler (#2115)
  CHANGELOG.md
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint

bump Golang to 1.16.9 (#2186)
  .devcontainer/Dockerfile
  CHANGELOG.md
  Dockerfile
  Dockerfile.adapter
  tools/build-tools.Dockerfile
Due: none

Raises an error when RabbitMQ regex matches more than 1 page (#2103)
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

ScaledJob: introduce `MultipleScalersCalculation` (#2016)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scaledjob/scale_metrics.go
  pkg/scaling/scaledjob/scale_metrics_test.go
Due: sort-scalers, golangci-lint

Add Makefile mockgen targets (#2137)
  CHANGELOG.md
  Makefile
  go.mod
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scalers/liiklus/mocks/mock_liiklus.go
Due: golangci-lint
