Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Update changelog
  CHANGELOG.md
Due: none

add rolloutStrategy to the scaledjob controller
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

add rolloutStrategy to the scaledjob types
  apis/keda/v1alpha1/scaledjob_types.go
Due: golangci-lint

Provide support for configuring authentication through TriggerAuthentication for Stan scaler
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
Due: golangci-lint

Add pageSize (using regex) in RabbitMQ Scaler (#2162)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Artemis Scaler parses out broker config parameters in case `restAPITemplate` is given (#2104)
  CHANGELOG.md
  pkg/scalers/artemis_scaler.go
  pkg/scalers/artemis_scaler_test.go
Due: golangci-lint

adds usnafeSsl parameter on the influxdb scaler
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

removed unnecessary trailing newline from influxdb scaler
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

removed unnecessary trailing newline from influxdb scaler
  CHANGELOG.md
Due: none

Add `unsafeSsl` parameter on InfluxDB (#2157)
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

rename ActiveMQ Classic as ActiveMQ
  adapter/generated/openapi/zz_generated.openapi.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scalers/activemq_classic_scaler.go
  pkg/scalers/activemq_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Improve Redis support
  go.mod
  go.sum
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fix scalers sorting, pass sentinelUsername in connection settings, change if statements to switch statements
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

updating changelog
  CHANGELOG.md
Due: none

bump deps
  adapter/generated/openapi/zz_generated.openapi.go
  go.mod
  go.sum
Due: golangci-lint

bump Golang to 1.16.9
  .devcontainer/Dockerfile
  Dockerfile
  Dockerfile.adapter
  tools/build-tools.Dockerfile
Due: none

update changelog
  CHANGELOG.md
Due: none

fix
  CHANGELOG.md
Due: none

bump Golang to 1.16.9 (#2186)
  .devcontainer/Dockerfile
  CHANGELOG.md
  Dockerfile
  Dockerfile.adapter
  tools/build-tools.Dockerfile
Due: none

bump deps (#2185)
  adapter/generated/openapi/zz_generated.openapi.go
  go.mod
  go.sum
Due: golangci-lint

update liiklus protobuf generation
  Makefile
  hack/LiiklusService.proto
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

changelog
  CHANGELOG.md
Due: none

Prometheus scaler: omit `serverAddress` from generated `metricName`
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

update liiklus protobuf generation (#2184)
  CHANGELOG.md
  Makefile
  hack/LiiklusService.proto
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

chore: Provide configuration for automatically closing inactive issues
  .github/stale.yml
Due: none

Trailing whitespace
  .github/stale.yml
Due: none

updating test codes-stan scaler
  pkg/scalers/stan_scaler_test.go
Due: golangci-lint

Add e2e tests for sentinel
  tests/scalers/redis-sentinel-lists.test.ts
  tests/scalers/redis-sentinel-streams.test.ts
Due: none

Use Keda context in some cases
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
Due: golangci-lint

Prometheus scaler: omit `serverAddress` from generated metric name (#2099)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Update artemis, azure and aws scalers to handle scalerIndex
  pkg/scalers/artemis_scaler.go
  pkg/scalers/artemis_scaler_test.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_test.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_test.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_queue_scaler_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
