Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Implements PendingJobCount to fix kedacore/keda#1323
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

Enabled errcheck Linter in golangci.yml
  .golangci.yml
  adapter/main.go
  controllers/scaledobject_controller.go
  go.sum
  pkg/metrics/prometheus_metrics.go
  pkg/scalers/artemis_scaler.go
  pkg/scalers/external_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/stan_scaler.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

not running go-vet in precommit
  .pre-commit-config.yaml
Due: none

restoring mysql scaler test
  pkg/scalers/mysql_scaler_test.go
Due: golangci-lint

tidy deps
  go.sum
Due: none

newline at EOF
  pkg/scalers/mysql_scaler_test.go
Due: golangci-lint

fixing syntax error
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

simplify code, bring closer to main
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

removing obsolete todo
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Not running govet or gofmt in Dockerfile builds (#1283)
  Dockerfile
  Dockerfile.adapter
  Makefile
Due: none

Enabled errcheck Linter in golangci.yml (#1393)
  .golangci.yml
  adapter/main.go
  controllers/scaledobject_controller.go
  pkg/metrics/prometheus_metrics.go
  pkg/scalers/artemis_scaler.go
  pkg/scalers/external_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/stan_scaler.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Fixing static check error
  adapter/main.go
Due: golangci-lint

Add section on KEDA operator logs for bug template
  .github/ISSUE_TEMPLATE/Bug_report.md
Due: none

Implements PendingJobCount to fix kedacore/keda#1323 (#1391)
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

Add section on KEDA operator logs for bug template (#1409)
  .github/ISSUE_TEMPLATE/Bug_report.md
Due: none

fixing http 404 on mention of releases page
  RELEASE-PROCESS.MD
Due: none

CREATE_NEW_SCALER: fix typos
  CREATE-NEW-SCALER.md
Due: none

Ensure that all scalers are closed before breaking out the loop
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update changelog
  CHANGELOG.md
Due: none

fixing http 404 on mention of releases page (#1414)
  RELEASE-PROCESS.MD
Due: none

CREATE_NEW_SCALER: fix typos (#1415)
  CREATE-NEW-SCALER.md
Due: none

Ensure that all scalers are closed (#1416)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

BUILD.md: fixing some typos
  BUILD.md
Due: none

BUILD.md: fixing some typos (#1427)
  BUILD.md
Due: none

Fix metrics-apiserver panic on scalerErrors init
  pkg/metrics/prometheus_metrics.go
Due: golangci-lint

Remove Request from artemisMonitoring
  pkg/scalers/artemis_scaler.go
Due: golangci-lint

Increase timeout for influxdb and cleanup
  tests/scalers/influxdb.test.ts
Due: none

fixes for tests (#1428)
  pkg/metrics/prometheus_metrics.go
  pkg/scalers/artemis_scaler.go
  tests/scalers/influxdb.test.ts
Due: golangci-lint

chore: use different metric default name
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

Add Redis cluster support for redis list scaler
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scaling/scale_handler.go
  tests/scalers/redis-cluster-lists.test.ts
  tests/setup.test.ts
Due: sort-scalers, golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
