Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fix style
  tests/scalers/external-scaler.sj.test.ts
  tests/scalers/mongodb.test.ts
Due: none

fix styles
  pkg/scaling/cache/scalers_cache_test.go
Due: golangci-lint

update e2e tests
  tests/scalers/external-scaler.sj.test.ts
  tests/scalers/external-scaler.so.test.ts
Due: none

solve problems with job helper
  tests/scalers/external-scaler.sj.test.ts
  tests/scalers/helpers.ts
  tests/scalers/mongodb.test.ts
Due: none

update changelog
  CHANGELOG.md
Due: none

fix error in mongo
  tests/scalers/mongodb.test.ts
Due: none

Delete param of tenant and namespace, Change enable tls config to trigger metadata
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
Due: golangci-lint

chore: Automatically add 'e2e-tests/not-run' label to new PRs
  .github/workflows/new-pr.yml
Due: none

chore: Use label prefix
  .github/workflows/pr-e2e-pr-validation.yml
Due: none

chore: Use label prefix
  .github/workflows/pr-e2e.yml
Due: none

Use different approach
  .github/workflows/new-pr.yml
Due: none

fix: Use new env var
  .github/workflows/pr-e2e-pr-validation.yml
Due: none

fix: Remove spaces
  .github/workflows/pr-e2e-pr-validation.yml
Due: none

chore: Remove not run label once tests start
  .github/workflows/pr-e2e.yml
Due: none

Add e2e-tests/running & e2e-tests/failed
  .github/workflows/pr-e2e.yml
Due: none

Add pulsar metadata param of statsURL and use httpclient of kedautil
  pkg/scalers/pulsar_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Use GenerateMetricNameWithIndex for pulsar scaler metrics name and delete unuse log
  pkg/scalers/pulsar_scaler.go
Due: golangci-lint

Refactor SetStatusConditions logic
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/util/status.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/util/status.go
Due: golangci-lint

Make SetStatusConditions not overwrite existing conditions
  pkg/util/status.go
Due: golangci-lint

Making error messages lowercase
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

New maxSessions and sessionBrowserName logic
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

Changelog edits for #2709 and #3061
  CHANGELOG.md
Due: none

Add test for Edge
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

fix: refactor adapter startup to ensure proper log initilization
  adapter/main.go
Due: golangci-lint

Formatting fixes
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

rename metricName in test case
  pkg/scaling/cache/scalers_cache_test.go
Due: golangci-lint

e2e teat, metadata test for edge, tried to fix broken unit tests.
  pkg/scalers/selenium_grid_scaler_test.go
  tests/scalers/selenium-grid.test.ts
Due: golangci-lint

use more readable timestamps in KEDA operator logs
  BUILD.md
  CHANGELOG.md
  config/manager/manager.yaml
Due: none

use more readable timestamps in KEDA operator logs (#3067)
  BUILD.md
  CHANGELOG.md
  config/manager/manager.yaml
Due: none

Use of multiple sessions in the unit tests giving trouble
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

add test cases with different metric names
  pkg/scaling/cache/scalers_cache_test.go
Due: golangci-lint

Add support for custom hpa name
  apis/keda/v1alpha1/scaledobject_types.go
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

Add Changelog entry
  CHANGELOG.md
Due: none

fix import linting
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

edit small comment
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

fix CR comment
  CHANGELOG.md
Due: none

Revert "Use of multiple sessions in the unit tests giving trouble"
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

Unit test fixes
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint
