Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Update CHANGELOG
  CHANGELOG.md
Due: none

reimplement prometheus auth parsing
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

declarative scaler config parsing
  CHANGELOG.md
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

reimplement prometheus config parsing
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

wip changelog
  CHANGELOG.md
Due: none

review items
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

fix:Resolve deprecation warning for klogr.New in Metrics Server
  Dockerfile.adapter
  cmd/adapter/main.go
  config/metrics-server/deployment.yaml
  vendor/k8s.io/klog/v2/klogr/README.md
  vendor/k8s.io/klog/v2/klogr/klogr.go
  vendor/modules.txt
Due: golangci-lint

Declarative scaler config (#5676)
  CHANGELOG.md
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

refactored
  tests/run-all.go
  tests/utils/regex_check.go
Due: golangci-lint

corrected
  tests/run-all.go
Due: golangci-lint

Added support for creating certs and keys on the go for cassandra scaler only when tls enabled
  pkg/scalers/cassandra_scaler.go
Due: golangci-lint

Add logic to scale to zero on invalid offset even with earliest offsetResetPolicy (#5689)
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/kafka_scaler.go
  tests/scalers/apache_kafka/apache_kafka_test.go
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

Fix scaler leak during cache refresh
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: issue when GitHub organization contains more than 30 repos
  pkg/scalers/github_runner_scaler.go
Due: golangci-lint

Fixed PR comments
  CHANGELOG.md
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Update pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler.go
Due: golangci-lint

fix: unit test
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Fixed changelog
  CHANGELOG.md
Due: none

Fixed static checks
  CHANGELOG.md
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

add metrics field to horizontalPodAutoscalerConfig
  apis/keda/v1alpha1/scaledobject_types.go
Due: golangci-lint

make generate
  apis/keda/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint

copy metric specs from horizontalPodAutoscalerConfig to HPA
  controllers/keda/hpa.go
Due: golangci-lint

make fmt
  controllers/keda/hpa.go
Due: golangci-lint

make manifests
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: none

refactor ActiveMQ scaler config
  CHANGELOG.md
  pkg/scalers/activemq_scaler.go
  pkg/scalers/activemq_scaler_test.go
Due: golangci-lint

corrected changelog
  CHANGELOG.md
Due: none

updated the workflow
  .github/workflows/pr-e2e.yml
Due: none

remove podIdentityAzure references (but keep AzureWorkload ones)
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
Due: golangci-lint

replace switch by if statements + fix error when comparing + close connection before recreating it
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

feat(metrics): histogram metric for loop latency
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

fix: issue when GitHub organization contains more than 30 repos (#5746)
  CHANGELOG.md
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Fix scaler leak during cache refresh (#5807)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

refactor ActiveMQ scaler config (#5799)
  CHANGELOG.md
  pkg/scalers/activemq_scaler.go
  pkg/scalers/activemq_scaler_test.go
Due: golangci-lint

Update
  apis/eventing/v1alpha1/cloudeventsource_types.go
  apis/eventing/v1alpha1/cloudeventsource_webhook.go
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/webhooks/validation_webhooks.yaml
  controllers/eventing/cloudeventsource_finalizer.go
  controllers/eventing/clustercloudeventsource_controller.go
  controllers/eventing/finalizer.go
  pkg/eventemitter/eventemitter.go
  pkg/mock/mock_eventemitter/mock_interface.go
  pkg/status/status.go
  tests/internals/cloudevent_source/cloudevent_source_test.go
Due: golangci-lint

Update ChangeLog
  CHANGELOG.md
Due: none

Update
  CHANGELOG.md
Due: none

fix ci checks
  CHANGELOG.md
  tests/scalers/aws/aws_cloudwatch_ignore_null_values_false/aws_cloudwatch_ignore_null_values_false_test.go
  tests/scalers/aws/aws_cloudwatch_min_metric_value/aws_cloudwatch_min_metric_value_test.go
Due: golangci-lint
