Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Fix static checks
  pkg/scalers/datadog_scaler.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

Update pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

test: add declarative e2e test filtering
  CHANGELOG.md
  tests/README.md
  tests/example-config.yml
  tests/run-all.go
Due: golangci-lint

Update
  CHANGELOG.md
Due: none

Update
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

Add error and event for mismatching input property (#6763)
  CHANGELOG.md
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

chore: use ARM64 machine to build e2e test images
  .github/workflows/pr-e2e.yml
Due: none

chore: use ARM64 machine to build e2e test images (#7003)
  .github/workflows/pr-e2e.yml
Due: none

test
  .github/reviewers.yml
  .github/workflows/pr-notify.yml
Due: none

.
  .github/workflows/pr-notify.yml
Due: none

feat: Notify teams
  .github/CODEOWNERS
  .github/cherry-pick-bot.yml
  .github/reviewers.yaml
  .github/workflows/pr-notify.yml
Due: none

feat: Notify teams
  .github/workflows/pr-notify.yml
Due: none

feat: Notify teams
  .github/CODEOWNERS
Due: none

feat: Notify teams
  .github/reviewers.yaml
Due: none

feat: Notify teams (#7006)
  .github/CODEOWNERS
  .github/cherry-pick-bot.yml
  .github/reviewers.yaml
  .github/workflows/pr-notify.yml
Due: none

Fix waitfordeploymentreplicareadycount duration logs (#6990)
  tests/README.md
  tests/internals/fallback/fallback_test.go
  tests/internals/global_custom_ca/global_custom_ca_test.go
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
  tests/internals/replica_update_so/replica_update_so_test.go
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
  tests/internals/trigger_update_so/trigger_update_so_test.go
  tests/internals/update_ta/update_ta_test.go
  tests/scalers/aws/aws_managed_prometheus/aws_managed_prometheus_test.go
  tests/scalers/aws/aws_managed_prometheus_pod_identity/aws_managed_prometheus_pod_identity_test.go
  tests/scalers/beanstalkd/beanstalkd_test.go
  tests/scalers/cron/cron_test.go
  tests/scalers/datadog/datadog_api/datadog_api_test.go
  tests/scalers/dynatrace/dynatrace_test.go
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
  tests/scalers/gcp/gcp_cloud_tasks_workload_identity/gcp_cloud_tasks_workload_identity_test.go
  tests/scalers/gcp/gcp_prometheus_workload_identity/gcp_prometheus_workload_identity_test.go
  tests/scalers/gcp/gcp_pubsub/gcp_pubsub_test.go
  tests/scalers/kubernetes_workload/kubernetes_workload_test.go
  tests/scalers/metrics_api/metrics_api_test.go
  tests/scalers/mysql/mysql_test.go
  tests/scalers/redis/redis_standalone_streams_lag/redis_standalone_streams_lag_test.go
  tests/scalers/splunk/splunk_test.go
  tests/scalers/sumologic/sumologic_test.go
  tests/secret-providers/trigger_auth_bound_service_account_token/trigger_auth_bound_service_account_token_test.go
  tests/sequential/datadog_dca/datadog_dca_test.go
Due: golangci-lint

Refactor openstack metric scaler (#6971)
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
Due: golangci-lint

fix: rename reviewers.yaml to reviewers.yml
  .github/reviewers.yml
Due: none

signed commit
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/hashicorpvault_handler_test.go
  pkg/scaling/resolver/scale_resolvers.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
  vendor/google.golang.org/protobuf/internal/filedesc/presence.go
Due: golangci-lint

Delete vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
Due: none

Delete vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  vendor/google.golang.org/protobuf/internal/filedesc/presence.go
Due: none

fix: rename reviewers.yaml to reviewers.yml (#7007)
  .github/reviewers.yml
Due: none

chore: Add arapulido as datadog reviewer
  .github/reviewers.yml
Due: none

fix: correct pending pod condition logic for ScaledJobs (#6980)
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

minor changes
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/hashicorpvault_handler_test.go
Due: golangci-lint

sort changelog
  CHANGELOG.md
Due: none

fix: sigsegv accessing scaleClient in non-static fallback modes
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Extend fallback e2e tests for argo rollouts
  tests/helper/helper.go
  tests/internals/fallback/fallback_test.go
  tests/internals/subresource_scale/subresource_scale_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

add test for e2e
  tests/secret-providers/hashicorp_vault/hashicorp_vault_test.go
Due: golangci-lint

set CRD
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: none

set CRD
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
Due: none

remove space
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

chore: Add arapulido as datadog reviewer (#7008)
  .github/reviewers.yml
Due: none

dummy change
  tests/sequential/datadog_dca/datadog_dca_test.go
Due: golangci-lint

Update reviewers.yml
  .github/reviewers.yml
Due: none

fix typo in reviewers.yml
  .github/reviewers.yml
Due: none

Remove extra space in CHANGELOG
  CHANGELOG.md
Due: none

fix: parse timeout config as milliseconds instead of seconds (#6997)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint
