Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

chore(prometheus-scaler): 🩹 higher precedence to auth header
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

Refined code, all tested, still needs enterprise testing (#1732)
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

fix: change way of returns service bus namespace object
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

fix: add necessary update in CHANGELOG.md
  CHANGELOG.md
Due: none

fix: add test
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

fix: change way of returns service bus namespace object (#4273)
  CHANGELOG.md
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

fix statci check failure
  pkg/scalers/azure/azure_managed_prometheus_http_round_tripper.go
  pkg/scalers/azure/azure_managed_prometheus_http_round_tripper_test.go
Due: golangci-lint

fix static check
  pkg/scalers/azure/azure_managed_prometheus_http_round_tripper.go
Due: golangci-lint

docs(changelog): Clarify recent Azure Service Bus improvement
  CHANGELOG.md
Due: none

docs(changelog): Clarify recent Azure Service Bus improvement (#4275)
  CHANGELOG.md
Due: none

Prometheus Scaler Add custom headers and custom auth support (#4208)
  CHANGELOG.md
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/loki_scaler_test.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/util/parse_string.go
  pkg/util/parse_string_test.go
Due: golangci-lint

Added more coverage to scaler (#1732)
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

namespace should not contain underscore
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
Due: golangci-lint

rename to easy stuff
  tests/internals/polling_cooldown_so/polling_cooldown_test.go
Due: golangci-lint

polling interval test
  tests/internals/polling_interval_so/polling_interval_so_test.go
Due: golangci-lint

fix
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
Due: golangci-lint

polling interval a cd period tests
  tests/helper/helper.go
  tests/internals/polling_int_cd_period_so/polling_int_cd_period_so_test.go
Due: golangci-lint

fix reserve time & string->int
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
Due: golangci-lint

chore: use random queue name for servicebus e2e test
  tests/scalers/azure/azure_service_bus_queue_aad_wi/azure_service_bus_queue_aad_wi_test.go
Due: golangci-lint

add new pollingInterval & cooldownPeriod tests (#4271)
  tests/helper/helper.go
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
Due: golangci-lint

chore: use random queue name for servicebus e2e test (#4280)
  tests/scalers/azure/azure_service_bus_queue_aad_wi/azure_service_bus_queue_aad_wi_test.go
Due: golangci-lint

Deprecate explicitly setting `metricName` for all scalers (#4235)
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/graphite_scaler_test.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

updated scaler
  pkg/scalers/neo4j_scaler.go
  pkg/scalers/neo4j_scaler_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
  tests/scalers/neo4j/neo4j_test.go
  vendor/modules.txt
Due: sort-scalers, golangci-lint

updated scaler handler
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

updated scaler
  pkg/scalers/neo4j_scaler_test.go
  tests/scalers/neo4j/neo4j_test.go
Due: golangci-lint

formatted scaler code
  pkg/scalers/neo4j_scaler_test.go
Due: golangci-lint

formatted scaler code
  pkg/scalers/neo4j_scaler.go
  tests/scalers/neo4j/neo4j_test.go
Due: golangci-lint

Draft with Unit Test Coverage, live tested (#1732)
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

add e2e tests
  pkg/scalers/azure/azure_managed_prometheus_http_round_tripper.go
  pkg/scalers/prometheus_scaler.go
  tests/.env
  tests/scalers/prometheus/azure_managed_prometheus/azure_managed_prometheus_test.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
Due: golangci-lint

add changelog
  CHANGELOG.md
Due: none

fixing static check and adding env var check
  pkg/scalers/azure/azure_managed_prometheus_http_round_tripper.go
  tests/scalers/prometheus/azure_managed_prometheus/azure_managed_prometheus_test.go
Due: golangci-lint

adding e2e for pod identity
  tests/scalers/prometheus/azure_managed_prometheus/azure_managed_prometheus_test.go
Due: golangci-lint

fix query endpoint
  tests/scalers/prometheus/azure_managed_prometheus/azure_managed_prometheus_test.go
Due: golangci-lint

fix audience
  pkg/scalers/azure/azure_managed_prometheus_http_round_tripper.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Use approximate queue length for azure queue scaler (#4003)
  CHANGELOG.md
  pkg/scalers/azure/azure_queue.go
Due: golangci-lint

Added experimental GitHub Runner Scaler (#1732)
  CHANGELOG.md
Due: none

fix(changelog): Broken link to metric deprecation
  CHANGELOG.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
