Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Add OpenStack Swift scaler e2e tests (#1522)
  CHANGELOG.md
  tests/.env
  tests/package-lock.json
  tests/package.json
  tests/scalers/openstack-swift.test.ts
  tests/scalers/openstack/openstack-helper.ts
  tests/scalers/openstack/openstack-service-types-helper.ts
  tests/scalers/openstack/openstack-swift-helper.ts
Due: none

fix timer in scale loop
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

update changelog
  CHANGELOG.md
Due: none

bump deps
  go.mod
  go.sum
Due: none

add Azure Pipelines Scaler
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix pre-commit errors
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

fix unit test
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

fix testdata
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

add organization name to metricName
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

add e2e test
  tests/.env
  tests/scalers/azure-pipelines.test.ts
Due: none

fix trailing whitespace
  tests/scalers/azure-pipelines.test.ts
Due: none

remove whitespace
  tests/scalers/azure-pipelines.test.ts
Due: none

add GitHub secrets for e2e test
  .github/workflows/nightly-e2e.yml
Due: none

use image from keda registry
  tests/scalers/azure-pipelines.test.ts
Due: none

add Azure Pipelines Scaler (#1706)
  .github/workflows/nightly-e2e.yml
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/.env
  tests/scalers/azure-pipelines.test.ts
Due: sort-scalers, golangci-lint

Fix regression brought by using time.NewTimer() in scale loop (#1739)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

inject OpenStack and Azure DevOps secrets
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
Due: none

inject OpenStack and Azure DevOps secrets (#1743)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
Due: none

add azure devops dependency
  tests/package-lock.json
  tests/package.json
Due: none

add azure devops dependency (#1745)
  tests/package-lock.json
  tests/package.json
Due: none

Fix Swift scaler E2E test enviroment variables
  tests/scalers/openstack-swift.test.ts
  tests/scalers/openstack/openstack-helper.ts
Due: none

Fix Swift scaler E2E test enviroment variables (#1747)
  tests/scalers/openstack-swift.test.ts
  tests/scalers/openstack/openstack-helper.ts
Due: none

chore: Support workflow_dispatch for end-to-end tests
  .github/workflows/nightly-e2e.yml
Due: none

add-graphite-scaler
  pkg/scalers/graphite_api_scaler.go
  pkg/scalers/graphite_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix-graphite-test
  pkg/scalers/graphite_scaler_test.go
Due: golangci-lint

feat: add a way to always have job running
  CHANGELOG.md
  api/v1alpha1/scaledjob_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore: Don't send .git in docker context
  .dockerignore
  Dockerfile
  Dockerfile.adapter
  Makefile
Due: none

chore: Don't send .git in docker context (#1753)
  .dockerignore
  Dockerfile
  Dockerfile.adapter
  Makefile
Due: none

Adding HTTP timeout to the IBM MQ Scaler
  pkg/scalers/ibmmq_scaler.go
Due: golangci-lint

adding to changelog
  CHANGELOG.md
Due: none

fixing tests
  pkg/scalers/ibmmq_scaler_test.go
Due: golangci-lint

Adding HTTP timeout to the IBM MQ Scaler (#1758)
  CHANGELOG.md
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/ibmmq_scaler_test.go
Due: golangci-lint

changelog chores
  CHANGELOG.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
