Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

bump Golang to 1.16.7
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  Dockerfile
  Dockerfile.adapter
  adapter/generated/openapi/zz_generated.openapi.go
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  hack/tools.go
  tools/build-tools.Dockerfile
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

bump golangci-lint to 1.42.0
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  CONTRIBUTING.md
Due: none

build-tools image: bump Golang to 1.16.7
  tools/build-tools.Dockerfile
Due: none

Adds support to timeout and parsing test
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

build-tools image: bump Golang to 1.16.7 (#2067)
  tools/build-tools.Dockerfile
Due: none

bump golangci-lint to 1.42.0 (#2066)
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  CONTRIBUTING.md
Due: none

bump Golang to 1.16.7 (#2065)
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.adapter
  adapter/generated/openapi/zz_generated.openapi.go
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  hack/tools.go
Due: golangci-lint

Fixes typo
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Updates CHANGELOG
  CHANGELOG.md
Due: none

Adds page navigation
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Adds navigation test
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Clear navigation test
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Fixes styles
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

TriggerAuthentication/Vault: add support for vault namespace
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  pkg/scaling/resolver/hashicorpvault_handler.go
Due: golangci-lint

Adds e2e test for postgresql scaler
  tests/scalers/postgresql.test.ts
Due: none

fixed style
  tests/scalers/postgresql.test.ts
Due: none

Update pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

revert version and refactor scaling logic
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/metrics/scaledjob_prometheus_metrics.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scaledjob/scale_metrics.go
  pkg/scaling/scaledjob/scale_metrics_test.go
Due: sort-scalers, golangci-lint

Change option name from MultipleScalersOption to MultipleScalersCalculation
  apis/keda/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  pkg/scaling/scaledjob/scale_metrics.go
  pkg/scaling/scaledjob/scale_metrics_test.go
Due: golangci-lint

Updates image to use KEDA owned image
  tests/scalers/postgresql.test.ts
Due: none

Fixes typo
  tests/scalers/postgresql.test.ts
Due: none

update changelog for multiple triggers section
  CHANGELOG.md
Due: none

Error Handling
  pkg/scaling/scaledjob/scale_metrics.go
Due: golangci-lint

Refactor logging
  pkg/scaling/scaledjob/scale_metrics.go
Due: golangci-lint

remove scaledjob prometheus
  pkg/metrics/scaledjob_prometheus_metrics.go
Due: golangci-lint

Adds e2e test for PostgreSQL scaler (#2091)
  tests/scalers/postgresql.test.ts
Due: none

Add custom http timeout in RabbitMQ Scaler (#2086)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

TriggerAuthentication/Vault: add support for vault namespace (#2085)
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  pkg/scaling/resolver/hashicorpvault_handler.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
