Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Fix test
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

Update CHANGELOG
  CHANGELOG.md
Due: none

Document the new convention about how to create metric names inside scalers
  CREATE-NEW-SCALER.md
Due: none

Refactor a bit the doc
  CREATE-NEW-SCALER.md
Due: none

Add missing changes
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
Due: golangci-lint

Add a reference to GenerateMetricNameWithIndex()
  CREATE-NEW-SCALER.md
Due: none

Add example about how to use GenerateMetricNameWithIndex()
  CREATE-NEW-SCALER.md
Due: none

Fix merging typo
  CHANGELOG.md
Due: none

Fix merging typo in prometheus_scalers
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

MySQL Scaler: masking connection string in metricName
  pkg/scalers/mysql_scaler.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

don't use connection string in metricName
  pkg/scalers/mysql_scaler.go
  pkg/scalers/mysql_scaler_test.go
Due: golangci-lint

incorporate recent changes
  pkg/scalers/mysql_scaler.go
Due: golangci-lint

remove meta.scalerIndex
  pkg/scalers/mysql_scaler.go
Due: golangci-lint

Provide support for configuring authentication through TriggerAuthentication for Stan scaler (#2167)
  CHANGELOG.md
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
Due: golangci-lint

MySQL Scaler: don't expose connection string in `metricName` (#2171)
  CHANGELOG.md
  pkg/scalers/mysql_scaler.go
  pkg/scalers/mysql_scaler_test.go
Due: golangci-lint

Add `feature-request`
  .github/stale.yml
Due: none

chore: Provide configuration for automatically closing inactive issues (#2189)
  .github/stale.yml
Due: none

chore: Change `feature` as allowed label for stale issues, instead of `feature-request`
  .github/stale.yml
Due: none

chore: Change `feature` as allowed label for stale issues, instead of `feature-request` (#2193)
  .github/stale.yml
Due: none

chore: Change CI to run on ARM agent
  .github/workflows/pr-validation.yml
Due: none

We don't need ARM runs for static checks & code scanning
  .github/workflows/pr-validation.yml
Due: none

Beginning to propagate contexts down scaler call stacks
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scalers/artemis_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
Due: golangci-lint

finishing the rest of the http.NewRequest() calls
  pkg/scalers/azure/azure_aad_podidentity.go
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure/azure_queue.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/openstack/keystone_authentication.go
  pkg/scalers/openstack/utils/serviceTypes.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/solace_scaler.go
  pkg/scalers/stan_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

docs: Add step in release process for next release
  RELEASE-PROCESS.MD
Due: none

fix: Add link to new milestone and naming convention
  RELEASE-PROCESS.MD
Due: none

docs: Add step in release process for next release (#2205)
  RELEASE-PROCESS.MD
Due: none

set logger message according to best practices
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

fix typo deleteing -> deleting
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

remove redundant files
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: none

set logger messages according to best practices
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
