Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Adding Changelog
  CHANGELOG.md
Due: none

Address is a mandatory field
  pkg/scalers/temporal_scaler.go
  pkg/scalers/temporal_scaler_test.go
Due: golangci-lint

feat: Allow to change the Admission Webhooks port (#4712)
  CHANGELOG.md
  cmd/webhooks/main.go
Due: golangci-lint

feat: Add a Prometheus metric for measuring the scalable object loop processing deviation (#4703)
  CHANGELOG.md
  pkg/prommetrics/prommetrics.go
  pkg/scaling/scale_handler.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

chore: update changelog
  CHANGELOG.md
Due: none

feat: Support ScaledObject taking over existing HPAs with the same name while they are not managed by other ScaledObject
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  tests/internals/scaled_object_validation/scaled_object_validation_test.go
Due: golangci-lint

chore: dedicated so on validation test
  tests/internals/scaled_object_validation/scaled_object_validation_test.go
Due: golangci-lint

Update transfer-hpa-ownership label
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  tests/internals/scaled_object_validation/scaled_object_validation_test.go
Due: golangci-lint

Support ScaledObject taking over existing HPAs with the same name while they are not managed by other ScaledObject (#4537)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  tests/internals/scaled_object_validation/scaled_object_validation_test.go
Due: golangci-lint

bump deps
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/dynamodb/api.go
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: golangci-lint

feat: fix metrics not showing and improve graphs
  config/grafana/keda-dashboard.json
Due: none

fix: Skip Resolving Secrets From Restricted Namespace
  CHANGELOG.md
  Makefile
  pkg/mock/mock_secretLister/mock_interfaces.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

fix: Add extra line
  CHANGELOG.md
Due: none

fix: Fix case sensitive issue in folder
  pkg/mock/mock_secretlister/mock_interfaces.go
Due: golangci-lint

fix: Remove unwanted file
  pkg/mock/mock_secretLister/mock_interfaces.go
Due: golangci-lint

bump deps (#4726)
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/service/dynamodb/api.go
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/errors.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: golangci-lint

feat: fix metrics not showing and improve graphs (#4727)
  config/grafana/keda-dashboard.json
Due: none

fix: Address Semantic Errors
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

fix: Skip Resolving Secrets From Restricted Namespace
  CHANGELOG.md
  Makefile
  pkg/mock/mock_secretlister/mock_interfaces.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

fix: Address Semantic Errors
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

feat: Provide support for explicitly pausing autoscaling of ScaledJobs (#4558)
  CHANGELOG.md
  apis/keda/v1alpha1/condition_types.go
  apis/keda/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  controllers/keda/scaledjob_controller.go
  controllers/keda/util/predicate.go
  tests/internals/pause_scaledjob/pause_scaledjob_test.go
  tests/internals/pause_scaledobject/pause_scaledobject_test.go
Due: golangci-lint

prepare release 2.11.0
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

rename to general
  CHANGELOG.md
Due: none

prepare release 2.11.0 (#4728)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

udpate roadmap with 2.14
  ROADMAP.md
Due: none

Update ROADMAP.md
  ROADMAP.md
Due: none

updated per review
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
Due: golangci-lint

udpate roadmap with 2.14 (#4729)
  ROADMAP.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix e2e test
  tests/internals/pause_scaledobject/pause_scaledobject_test.go
Due: golangci-lint

update code and changes
  CHANGELOG.md
  controllers/keda/util/predicate.go
Due: golangci-lint

fix static error
  tests/internals/pause_scaledobject/pause_scaledobject_test.go
Due: golangci-lint

Paused ScaledObject continues after removing pause annotation (#4734)
  CHANGELOG.md
  controllers/keda/util/predicate.go
  tests/internals/pause_scaledobject/pause_scaledobject_test.go
Due: golangci-lint

Fix typo
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

Fix typo (#4737)
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

making changes
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/aws_secretManager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

fix: Skip Resolving Secrets From Restricted Namespace (#4735)
  CHANGELOG.md
  Makefile
  pkg/mock/mock_secretlister/mock_interfaces.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint
