Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Revert GH action change and fix makefile
  .github/workflows/release-build.yml
  Makefile
Due: none

Revert GH action change and fix makefile (#2350)
  .github/workflows/release-build.yml
  Makefile
Due: none

Add note about Snyk
  RELEASE-PROCESS.MD
Due: none

Add note about Snyk (#2351)
  RELEASE-PROCESS.MD
Due: none

chore: Never close Epic issues
  .github/stale.yml
Due: none

chore: Never close Epic issues (#2358)
  .github/stale.yml
Due: none

chore(deps): update actions/setup-python action to v2.3.1
  .github/workflows/pr-validation.yml
Due: none

chore: Remove PR checkbox for Renovate PRs
  renovate.json
Due: none

chore: Remove PR checkbox for Renovate PRs (#2362)
  renovate.json
Due: none

Add ParseNumeric and configure cpu_memory_scaler to use for #2299
  pkg/scalers/cpu_memory_scaler.go
  pkg/util/parse_numeric.go
  pkg/util/parse_numeric_test.go
Due: golangci-lint

Correct composite literal using unkeyed fields
  pkg/util/parse_numeric_test.go
Due: golangci-lint

Fix CI linting failures
  pkg/util/parse_numeric.go
  pkg/util/parse_numeric_test.go
Due: golangci-lint

Fix return values for new function signature
  pkg/util/parse_numeric.go
Due: golangci-lint

Switch regexp to raw string
  pkg/util/parse_numeric.go
Due: golangci-lint

Graphite scaler should use latest datapoint, not earliest, returned.
  pkg/scalers/graphite_scaler.go
Due: golangci-lint

Changelog
  CHANGELOG.md
Due: none

Changelog whitespace
  CHANGELOG.md
Due: none

Address PR feedback to not recompile regexes, add bitSize field
  pkg/scalers/cpu_memory_scaler.go
  pkg/util/parse_numeric.go
  pkg/util/parse_numeric_test.go
Due: golangci-lint

Increse golangci timeout to 10m
  .golangci.yml
Due: none

Increse golangci timeout to 10m (#2368)
  .golangci.yml
Due: none

remove test code not in use
  pkg/scalers/newrelic_scaler_test.go
Due: golangci-lint

Fix changelog, add check for whether zero data is returned
  CHANGELOG.md
  pkg/scalers/graphite_scaler.go
Due: golangci-lint

wip azure devops
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Add azure-functions-core-tool v4.x link
  RELEASE-PROCESS.MD
Due: none

Graphite scaler should use latest datapoint, not earliest, returned (#2365)
  CHANGELOG.md
  pkg/scalers/graphite_scaler.go
Due: golangci-lint

Add azure-functions-core-tool v4.x link to release docs (#2369)
  RELEASE-PROCESS.MD
Due: none

add e2e test for activemq and update changelog file
  CHANGELOG.md
  tests/scalers/activemq.test.ts
Due: none

Support giving poolID or poolName
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

Adjust comment, add defensive type assertion
  pkg/scalers/cpu_memory_scaler.go
  pkg/util/parse_numeric.go
Due: golangci-lint

Fix precommit requirements
  pkg/scalers/cpu_memory_scaler.go
  pkg/util/parse_numeric.go
Due: golangci-lint

Run gofmt
  pkg/util/parse_numeric.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
