Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

apply feedback
  .github/assets/test-upgrade-manifest.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/upgrade-validation-template.yml
  CHANGELOG.md
Due: none

apply feedback
  .github/workflows/upgrade-validation-template.yml
Due: none

chore: Provide more extensive release document
  RELEASE-PROCESS.MD
Due: none

Add PredictKube scaler Signed-off-by: Daniel Yavorovych <daniel@dysnix.com>
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

allow kafka scaler to lag for all topics within a consumer group
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  tests/scalers/kafka.test.ts
Due: golangci-lint

update e2e test
  tests/scalers/kafka.test.ts
Due: none

address comment
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Add kubernetes v1.23 for the tests
  .github/workflows/upgrade-validation-template.yml
Due: none

Add workflow for testing breaking changes on CRDs (`Scaled{Object|Job}`) (#2450)
  .github/assets/test-upgrade-manifest.yml
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/upgrade-validation-template.yml
  CHANGELOG.md
Due: none

chore: Provide more extensive release document (#2454)
  RELEASE-PROCESS.MD
Due: none

chore: Add Kubernetes v1.23 to bug report template
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

chore: Add Kubernetes v1.23 to bug report template (#2464)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

fix: Use a user with permissions for ghcr login always
  .github/workflows/pr-e2e.yml
  .github/workflows/upgrade-validation-template.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

fix: Use a user with permissions for ghcr login always (#2465)
  .github/workflows/pr-e2e.yml
  .github/workflows/upgrade-validation-template.yml
  CHANGELOG.md
Due: none

Update reusable workloads with missing parameters Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/upgrade-validation-template.yml
Due: none

fix error Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/upgrade-validation-template.yml
Due: none

fix typo Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/upgrade-validation-template.yml
Due: none

add missing key Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/upgrade-validation-template.yml
Due: none

remove white line Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/upgrade-validation-template.yml
Due: none

use main branch again Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/pr-validation.yml
Due: none

update changelog Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  CHANGELOG.md
Due: none

Update reusable workloads with missing parameters (#2466)
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/upgrade-validation-template.yml
  CHANGELOG.md
Due: none

add auth logic for prometheus and predictkube scalers Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  go.mod
  go.sum
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/authentication/transporttype_enum.go
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Add new Datadog scaler
  go.mod
  go.sum
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Rename ddSite param to datadogSite
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Generate the metric name based on the query
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Reuse existing context
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Avoid potential out of range index
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Avoid a potential reference to null
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Improve golang style
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Fix tests as metricName is now generated based on the query
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Add e2e tests for the Datadog scaler
  tests/scalers/datadog.test.ts
Due: none

Add changelog entry for new datadog scaler
  CHANGELOG.md
Due: none

Fix static tests
  pkg/scalers/datadog_scaler.go
  tests/scalers/datadog.test.ts
Due: golangci-lint

More linting
  pkg/scalers/datadog_scaler.go
  tests/scalers/datadog.test.ts
Due: golangci-lint

Use Keda HTTP client to connect to Datadog
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Improve output for failed tests
  tests/scalers/datadog.test.ts
Due: none

Clean datadog namespaces before running tests
  tests/scalers/datadog.test.ts
Due: none

Removed upgrade-validation from pr workflow Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/pr-validation.yml
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
