Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

chore: Provide update on prevention for security vulnerabilities in security policy (#2703)
  SECURITY.md
Due: none

chore: Improve README for CloMonitor compliance (#2704)
  README.md
Due: none

test
  .github/workflows/pr-validation.yml
Due: none

test
  tests/run-arm-smoke-tests.sh
Due: none

Use full links
  README.md
Due: none

Remove arm64 smoke tests
  .github/workflows/main-build.yml
Due: none

chore: Migrate to CNCF-based Zoom account and Google Docs (#2702)
  README.md
Due: none

Remove arm64 smoke tests (#2706)
  .github/workflows/main-build.yml
Due: none

Added Demand checker to validate job
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

golint advisor - if else@245
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

Add default value for image generation
  Dockerfile
  Dockerfile.adapter
Due: none

Add workflow for testing dockerfiles if changes
  .github/workflows/pr-validation.yml
Due: none

Fix e2e test command (#2708)
  .github/workflows/pr-validation.yml
  Dockerfile
  Dockerfile.adapter
Due: none

Review fixes
  pkg/scalers/gcp_storage_scaler.go
Due: golangci-lint

Update gcs-storage scaler test
  pkg/scalers/gcp_storage_scaler_test.go
Due: golangci-lint

Added e2e test to gcp_storage scaler
  pkg/scalers/gcp_common.go
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/gcp_storage_scaler_test.go
  tests/scalers/gcp-storage.test.ts
Due: golangci-lint

Update google storage related packages
  go.mod
  go.sum
Due: none

Add a scaler based on number of GCP Storage bucket objects
  go.mod
  go.sum
  pkg/scalers/gcp_common.go
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/gcp_storage_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Updated changelog
  CHANGELOG.md
Due: none

Make e2e test work with the test GCP project
  pkg/scalers/gcp_storage_scaler.go
  tests/scalers/gcp-storage.test.ts
Due: golangci-lint

Fix GCP authentication in test
  tests/scalers/gcp-storage.test.ts
Due: none

Fix static styling issues
  pkg/scalers/gcp_common.go
  pkg/scalers/gcp_storage_scaler.go
Due: golangci-lint

Remove option to specify an alternate metric name
  pkg/scalers/gcp_storage_scaler.go
Due: golangci-lint

Precalculate metric name
  pkg/scalers/gcp_storage_scaler.go
Due: golangci-lint

Use methods from helpers utilities
  tests/scalers/gcp-storage.test.ts
Due: none

Keep the pubsub subscriber pod alive
  tests/scalers/gcp-pubsub.test.ts
Due: none

chore: Add pubsub scaler e2e test
  tests/scalers/gcp-pubsub.test.ts
Due: none

Use methods from helpers utilities
  tests/scalers/gcp-pubsub.test.ts
Due: none

Make e2e test work with the test GCP project
  tests/scalers/gcp-pubsub.test.ts
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Improve azure-blob e2e test
  tests/scalers/azure-blob.test.ts
Due: none

Include vhost for RabbitMQ when retrieving queue info with useRegex
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
