Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

feat: Support using connection strings for Event Hub namespace instead of the Event Hub itself. (#3924)
  CHANGELOG.md
  Makefile
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

chore: bump deps (#3944)
  .github/workflows/pr-e2e.yml
  go.mod
  go.sum
  vendor/github.com/Azure/azure-kusto-go/kusto/data/errors/errors.go
  vendor/github.com/Azure/azure-kusto-go/kusto/internal/version/version.go
  vendor/github.com/Azure/azure-kusto-go/kusto/query_builder.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/gocql/gocql/.travis.yml
  vendor/github.com/gocql/gocql/AUTHORS
  vendor/github.com/gocql/gocql/CHANGELOG.md
  vendor/github.com/gocql/gocql/README.md
  vendor/github.com/gocql/gocql/conn.go
  vendor/github.com/gocql/gocql/connectionpool.go
  vendor/github.com/gocql/gocql/debug_off.go
  vendor/github.com/gocql/gocql/debug_on.go
  vendor/github.com/gocql/gocql/doc.go
  vendor/github.com/gocql/gocql/fuzz.go
  vendor/github.com/gocql/gocql/host_source_gen.go
  vendor/github.com/gocql/gocql/marshal.go
  vendor/github.com/gocql/gocql/policies.go
  vendor/github.com/gocql/gocql/session.go
  vendor/modules.txt
Due: golangci-lint

chore: add `stale-bot-ignore` label to stale bot ignores (#3936)
  .github/stale.yml
Due: none

fix: add missing env var for gcp e2e and missing Semgrep stuff (#3960)
  .github/workflows/static-analysis.yml
  .github/workflows/template-main-e2e-test.yml
  SECURITY.md
Due: none

NewRelic scaler crashes on logging (#3946)
  CHANGELOG.md
  pkg/scalers/newrelic_scaler.go
Due: golangci-lint

feat: add semgrep as CI tool (#3958)
  .github/workflows/static-analysis.yml
Due: none

Add support for JetStream scaler to query the stream consumer leader when clustered (#3564)
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
  tests/scalers/nats_jetstream/helper/nats_helper.go
  tests/scalers/nats_jetstream/nats_helper.go
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
  tests/scalers/nats_jetstream/nats_jetstream_standalone/nats_jetstream_standalone_test.go
  tests/scalers/nats_jetstream/nats_jetstream_test.go
Due: golangci-lint

Kafka: Increase logging V-level (#3953)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

fix: remove vendor folder from semgrep scan and fix workflow (#3959)
  .github/workflows/static-analysis.yml
  .semgrepignore
Due: none

fix(azure event hub): wrong calc of the remaining items (#3912)
  pkg/scalers/azure_eventhub_scaler.go
Due: golangci-lint

Eventhub Scaler: add new dapr checkpoint strategy to eventhub scaler (#3732)
  CHANGELOG.md
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  tests/scalers/azure/azure_event_hub_dapr/azure_event_hub_dapr_test.go
Due: golangci-lint

Split CodeQL into a specific static analysers workflow (#3957)
  .github/workflows/pr-validation.yml
  .github/workflows/static-analysis.yml
Due: none

Added panel regarding ammount of HPA (#3934)
  config/grafana/keda-dashboard.json
Due: none

Fix stackdriver client returning 0 for metric types of double (#3788)
  CHANGELOG.md
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_client.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

Metrics Server: use correct k8s config in Manager (#3955)
  CHANGELOG.md
  adapter/main.go
Due: golangci-lint

docs(changelog): Provide off-the-shelf dashboard (#3951)
  CHANGELOG.md
Due: none

feat: add e2e tests for GCP with workload identity (#3916)
  Makefile
  pkg/scalers/gcp_stackdriver_client.go
  tests/.env
  tests/helper/helper.go
  tests/scalers/gcp/gcp_pubsub/gcp_pubsub_test.go
  tests/scalers/gcp/gcp_pubsub_workload_identity/gcp_pubsub_workload_identity_test.go
  tests/scalers/gcp/gcp_stackdriver/gcp_stackdriver_test.go
  tests/scalers/gcp/gcp_stackdriver_workload_identity/gcp_stackdriver_workload_identity_test.go
  tests/scalers/gcp/gcp_storage/gcp_storage_test.go
  tests/scalers/gcp/gcp_storage_workload_identity/gcp_storage_workload_identity_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

Add Implementation for ExcludePersistentLag
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  tests/helper/helper.go
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

fix: use net.JoinHostPort and fix semgrep pipeline
  .github/workflows/static-analysis.yml
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/predictkube_scaler.go
Due: golangci-lint

add missing file
  pkg/scalers/redis_scaler.go
Due: golangci-lint

update yaml to continue in case of fail
  .github/workflows/static-analysis.yml
Due: none

remove whitespace
  .github/workflows/static-analysis.yml
Due: none

fix: use net.JoinHostPort and fix semgrep pipeline (#3966)
  .github/workflows/static-analysis.yml
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/redis_scaler.go
Due: golangci-lint

chore(contributing): Include deprecations & breaking changes policy in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Add links in contribution guide
  CONTRIBUTING.md
Due: none

Update TOC
  CONTRIBUTING.md
Due: none

docs(changelog): Improve end-user experience in changelog
  CHANGELOG.md
Due: none

chore(stale): Don't track issues with `breaking-change` label for stale issues
  .github/stale.yml
Due: none

docs(changelog): Introduce breaking changes overview
  CHANGELOG.md
Due: none

fix e2e tests
  tests/scalers/etcd/helper/helper.go
Due: golangci-lint

chore(stale): Don't track issues with `breaking-change` label for stale issues (#3971)
  .github/stale.yml
Due: none

docs(changelog): Introduce breaking changes overview for v2.9 in release notes (#3974)
  CHANGELOG.md
Due: none

fix: Close is called twice on PushScaler's deletion (#3599)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Add etcd scaler (#3598)
  CHANGELOG.md
  pkg/scalers/etcd_scaler.go
  pkg/scalers/etcd_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/helper/helper.go
Due: sort-scalers, golangci-lint

chore(contributing): Deprecations & breaking changes policy introductino (#3967)
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Limit Kafka Partitions KEDA operates on (#3879)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/util/parse_string.go
  pkg/util/parse_string_test.go
Due: golangci-lint

fix static check
  CHANGELOG.md
  pkg/scalers/cron_scaler.go
Due: golangci-lint

rename the iterator
  pkg/scalers/datadog_scaler.go
Due: golangci-lint
