Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

changelog
  CHANGELOG.md
Due: none

refactor of validator, big comments
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  controllers/keda/hpa.go
  pkg/scaling/modifiers/formula.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

change test name
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
Due: golangci-lint

new modifiers file, cache compiled formula
  CHANGELOG.md
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/modifiers/formula.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

fix pointers in so webhook test
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

create SO method for checking SM, some feedback
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  controllers/keda/hpa.go
  pkg/scaling/modifiers/formula.go
Due: golangci-lint

webhook test, update expr version
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  go.mod
  go.sum
  vendor/github.com/antonmedv/expr/checker/checker.go
  vendor/github.com/antonmedv/expr/vm/runtime/runtime.go
  vendor/modules.txt
Due: golangci-lint

changelog upd
  CHANGELOG.md
  vendor/github.com/antonmedv/expr/SECURITY.md
  vendor/github.com/antonmedv/expr/ast/dump.go
  vendor/github.com/antonmedv/expr/ast/func.go
  vendor/github.com/antonmedv/expr/builtin/func.go
  vendor/github.com/antonmedv/expr/builtin/sort.go
  vendor/github.com/antonmedv/expr/builtin/utils.go
  vendor/github.com/antonmedv/expr/optimizer/filter_first.go
  vendor/github.com/antonmedv/expr/optimizer/filter_last.go
  vendor/github.com/antonmedv/expr/optimizer/filter_len.go
  vendor/github.com/antonmedv/expr/optimizer/filter_map.go
  vendor/github.com/antonmedv/expr/parser/operator/operator.go
  vendor/github.com/antonmedv/expr/parser/utils/utils.go
Due: golangci-lint

update struct name, dummy compiler beforehand
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  controllers/keda/hpa.go
  pkg/scaling/modifiers/formula.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix webhook test
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

test name change
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
Due: golangci-lint

change structure name, add cache.recorder
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/keda/hpa.go
  pkg/scaling/modifiers/formula.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  tests/internals/external_scaling/external_scaling_test.go
Due: sort-scalers, golangci-lint

replaces gcp credentials secret to manifest template
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/rbac/role.yaml
  config/webhooks/kustomization.yaml
  pkg/scaling/resolver/gcp_secretmanager_handler.go
  tests/secret-providers/gcp_secret_manager/gcp_secret_manager_test.go
Due: golangci-lint

undo controller-gen version changes, creationTimestamp, and Kustomization newImage fields
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/rbac/role.yaml
  config/webhooks/kustomization.yaml
Due: none

sorts items in the changelog new section
  CHANGELOG.md
Due: none

resolves PR comments
  CHANGELOG.md
  pkg/scaling/resolver/gcp_secretmanager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update
  config/samples/keda_v1alpha1_cloudevents.yaml
Due: none

Fix
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
Due: none

Fix
  config/crd/bases/keda.sh_cloudevents.yaml
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: none

Update pkg/eventemitter/eventemitter.go
  pkg/eventemitter/eventemitter.go
Due: golangci-lint

Update controllers/keda/cloudevent_controller.go
  controllers/keda/cloudevent_controller.go
Due: golangci-lint

Update
  pkg/eventemitter/eventemitter.go
Due: golangci-lint

fix: Changelog validation script works again (#4901)
  hack/validate-changelog.sh
Due: none

Metric Server - consolidate apiserver to one port (#4982)
  CHANGELOG.md
  cmd/adapter/main.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Add tls authentication for redis scaler (#4979)
  CHANGELOG.md
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
Due: golangci-lint

Provide explicitly pausing annotations of ScaledObjects at the current replica count (#4809)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  controllers/keda/util/predicate.go
  pkg/scaling/executor/scale_scaledobjects.go
  tests/internals/pause_scaledobject_explicitly/pause_scaledobject_explicitly_test.go
Due: golangci-lint

Add create handler failed checking
  pkg/eventemitter/eventemitter.go
Due: golangci-lint

reduce complexity
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

remove the requirement of value using the scaler AsMetricSource
  pkg/scalers/arangodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/datadog_scaler.go
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/loki_scaler.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/scaler.go
  pkg/scalers/solr_scaler.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
Due: sort-scalers, golangci-lint

add scaledjobs
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

add activation test
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
Due: golangci-lint

feat: query metrics in parallel
  cmd/adapter/main.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  go.mod
  go.sum
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/LICENSE
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/go.uber.org/automaxprocs/glide.yaml
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroup.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups2.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/doc.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/errors.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/mountpoint.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/subsys.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_linux.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_unsupported.go
  vendor/go.uber.org/automaxprocs/internal/runtime/runtime.go
  vendor/go.uber.org/automaxprocs/maxprocs/maxprocs.go
  vendor/go.uber.org/automaxprocs/maxprocs/version.go
  vendor/modules.txt
Due: golangci-lint

add missing change
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

add logic inside operator
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/keda/hpa.go
  pkg/eventreason/eventreason.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

revert go.uber.org/automaxprocs
  cmd/adapter/main.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  go.mod
  go.sum
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/LICENSE
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/go.uber.org/automaxprocs/glide.yaml
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroup.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups2.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/doc.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/errors.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/mountpoint.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/subsys.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_linux.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_unsupported.go
  vendor/go.uber.org/automaxprocs/internal/runtime/runtime.go
  vendor/go.uber.org/automaxprocs/maxprocs/maxprocs.go
  vendor/go.uber.org/automaxprocs/maxprocs/version.go
  vendor/modules.txt
Due: golangci-lint
