Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Add fallback functionality
  CHANGELOG.md
  api/v1alpha1/condition_types.go
  api/v1alpha1/scaledobject_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/hpa.go
  controllers/hpa_test.go
  controllers/scaledobject_controller.go
  controllers/scaledobject_finalizer.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/mock/mock_scaler/mock_scaler.go
  pkg/provider/fallback.go
  pkg/provider/fallback_test.go
  pkg/provider/provider.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  pkg/scaling/scale_hander_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Add fallback functionality (#1910)
  CHANGELOG.md
  api/v1alpha1/condition_types.go
  api/v1alpha1/scaledobject_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/hpa.go
  controllers/hpa_test.go
  controllers/scaledobject_controller.go
  controllers/scaledobject_finalizer.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/mock/mock_scaler/mock_scaler.go
  pkg/provider/fallback.go
  pkg/provider/fallback_test.go
  pkg/provider/provider.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  pkg/scaling/scale_hander_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Commit Solace Scaler for #1945
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
Due: golangci-lint

Adds support to multiple operations to merge regex queues
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Introduce Idle Replica Mode
  CHANGELOG.md
  api/v1alpha1/scaledobject_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/scaledobject_controller.go
  controllers/scaledobject_controller_test.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  tests/scalers/azure-queue-idle-replicas.test.ts
Due: golangci-lint

chore: change Keda -> KEDA
  .gitignore
  pkg/provider/provider.go
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: golangci-lint

prepare testenv in Makefile
  .gitignore
  Makefile
  tools/build-tools.Dockerfile
Due: none

handle scaledObject.Spec.MinReplicaCount
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

chore: change Keda -> KEDA (#1959)
  .gitignore
  pkg/provider/provider.go
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: golangci-lint

Provide Solace Queue Scaler (#1945)
  CHANGELOG.md
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/solace-helpers.ts
  tests/scalers/solace.tests.ts
Due: sort-scalers, golangci-lint

Adds unit tests
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Adds integration test
  tests/scalers/rabbitmq-queue-http-regex.test.ts
Due: none

Updates CHANGELOG.md
  CHANGELOG.md
Due: none

Introduce Idle Replica Mode (#1958)
  CHANGELOG.md
  api/v1alpha1/scaledobject_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/scaledobject_controller.go
  controllers/scaledobject_controller_test.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  tests/scalers/azure-queue-idle-replicas.test.ts
Due: golangci-lint

Correct ClusterRoleBinding name
  config/metrics-server/role_binding.yaml
Due: none

Add Changelog entry
  CHANGELOG.md
Due: none

AZ queue - Idle Replicas test fix
  tests/scalers/azure-queue-idle-replicas.test.ts
Due: none

Fix linting errors
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

AZ queue - Idle Replicas test fix (#1961)
  tests/scalers/azure-queue-idle-replicas.test.ts
Due: none

Move ClusterRoleBinding name change into Breaking Changes in Changelog
  CHANGELOG.md
Due: none

Change ClusterRoleBinding name to align with industry standard (#1616)
  CHANGELOG.md
  config/metrics-server/role_binding.yaml
Due: none

Support non-public cloud environments in the Azure Service Bus scaler
  CHANGELOG.md
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_cloud_environment_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure/azure_storage_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

Added new scaler for selenium grid and test cases.
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

controller test - increasing timeouts
  controllers/scaledobject_controller_test.go
Due: golangci-lint

Added new scaler for selenium grid
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

changed metric type to value instead average
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

update test dependencies
  tests/package-lock.json
  tests/package.json
Due: none

update test dependencies (#1974)
  tests/package-lock.json
  tests/package.json
Due: none

feat(influxdb-scaler): add support for integer query results
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
  tests/scalers/influxdb.test.ts
Due: golangci-lint

Update behavior tu allow regex + messageRate
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Update tests to check regex + messageRate
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Fix typo in comments
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Fix timing in azure-queue, redis-cluster-streams, and influxdb tests
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  tests/scalers/azure-queue.test.ts
  tests/scalers/helpers.ts
  tests/scalers/influxdb.test.ts
  tests/scalers/redis-cluster-streams.test.ts
Due: none
