Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Fix docker build error for go 1.20.5 version (#4877)
  .devcontainer/Dockerfile
Due: none

fix path for azure_queue_test.go (#4815)
  tests/README.md
Due: none

Use prometheus label to diffentiate scaledObject and scaledJob
  pkg/prommetrics/prommetrics.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Use separate scaledJob prometheus counters
  pkg/prommetrics/prommetrics.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Security Update pr-e2e.yml (#4822)
  .github/workflows/pr-e2e.yml
Due: none

chore: Update changelog and bug template with v2.11.2 (#4828)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

adding the script to validate changelog (#4731)
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  hack/validate-changelog.sh
Due: none

Support prometheus for scaledJob
  pkg/prommetrics/prommetrics.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Rollback to original change
  CHANGELOG.md
  pkg/prommetrics/prommetrics.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Rename to contain scaledObject to differentiate
  pkg/prommetrics/prommetrics.go
Due: golangci-lint

Update (#4904)
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

chore: KEDA v2.12 is targeted for September 26th, instead of 12th (#4909)
  ROADMAP.md
Due: none

chore: KEDA is a CNCF Graduated project (#4896)
  CHANGELOG.md
  README.md
Due: none

fix typo in log message (#4902)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Deprecation cleanup for 2.12 release (#4806)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/couchdb_scaler_test.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/graphite_scaler_test.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/scaler.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
Due: golangci-lint

Improve events of CRDs (#4829)
  CHANGELOG.md
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/common/message/message.go
  pkg/eventreason/eventreason.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
  tests/internals/events/events_test.go
Due: sort-scalers, golangci-lint

feat(aws-sqs): Support for scaling to include delayed messages (#4900)
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

add support for gssapi to kafka scaler
  CHANGELOG.md
  config/manager/manager.yaml
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

chore: Replace deprecated command with environment file
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  CHANGELOG.md
Due: none

chore: Replace deprecated command with environment file (#4915)
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  CHANGELOG.md
Due: none

Provide validation for identityId with Azure pod identity & Azure AD Workload Identity in TriggerAuthentication (#4696)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  apis/keda/v1alpha1/suite_test.go
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/triggerauthentication_webhook.go
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
  cmd/webhooks/main.go
  config/webhooks/validation_webhooks.yaml
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_managed_prometheus_http_round_tripper.go
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scaling/resolver/azure_keyvault_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/util/conver_types.go
  tests/internals/trigger_authentication_validation/trigger_authentication_validation_test.go
Due: golangci-lint

Remove unnecessary file
  tests/opentelemetry_setup/keda_setup/kustomization.yml
  tests/opentelemetry_setup/keda_setup/patch_operator.yml
  tests/opentelemetry_setup/otlp.yml
  tests/opentelemetry_setup/service.yml
Due: none

Selenium Grid | Fix latest browser version use case scaling
  CHANGELOG.md
Due: none

Allow default settings to pick up current sessions
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

Kafka Scaler: refactor parseTLS return
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Updating AWS SDK to V2
  pkg/scalers/aws_cloudwatch_scaler_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
Due: golangci-lint

Updating Changelog
  CHANGELOG.md
Due: none

update go mod file and vendor modules text
  go.mod
  go.sum
  vendor/modules.txt
Due: none

fixing pre-commit issues
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_common.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler_test.go
  tests/scalers/aws/aws_dynamodb_streams/aws_dynamodb_streams_test.go
  tests/scalers/aws/aws_kinesis_stream/aws_kinesis_stream_test.go
Due: golangci-lint

fixing pre-commit issues
  pkg/scalers/aws_cloudwatch_scaler_test.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
  tests/scalers/aws/aws_cloudwatch/aws_cloudwatch_test.go
  tests/scalers/aws/aws_cloudwatch_expression/aws_cloudwatch_expression_test.go
  tests/scalers/aws/aws_cloudwatch_pod_identity/aws_cloudwatch_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb/aws_dynamodb_test.go
  tests/scalers/aws/aws_dynamodb_pod_identity/aws_dynamodb_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_streams_pod_identity/aws_dynamodb_streams_pod_identity_test.go
  tests/scalers/aws/aws_kinesis_stream_pod_identity/aws_kinesis_stream_pod_identity_test.go
  tests/scalers/aws/aws_sqs_queue/aws_sqs_queue_test.go
  tests/scalers/aws/aws_sqs_queue_pod_identity/aws_sqs_queue_pod_identity_test.go
Due: golangci-lint

passing context to aws methods
  CHANGELOG.md
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_common.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scaling/scalers_builder.go
  tests/scalers/aws/aws_cloudwatch/aws_cloudwatch_test.go
  tests/scalers/aws/aws_cloudwatch_expression/aws_cloudwatch_expression_test.go
  tests/scalers/aws/aws_cloudwatch_pod_identity/aws_cloudwatch_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb/aws_dynamodb_test.go
  tests/scalers/aws/aws_dynamodb_pod_identity/aws_dynamodb_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_streams/aws_dynamodb_streams_test.go
  tests/scalers/aws/aws_dynamodb_streams_pod_identity/aws_dynamodb_streams_pod_identity_test.go
  tests/scalers/aws/aws_kinesis_stream/aws_kinesis_stream_test.go
  tests/scalers/aws/aws_kinesis_stream_pod_identity/aws_kinesis_stream_pod_identity_test.go
  tests/scalers/aws/aws_sqs_queue/aws_sqs_queue_test.go
  tests/scalers/aws/aws_sqs_queue_pod_identity/aws_sqs_queue_pod_identity_test.go
Due: golangci-lint

revert protoc changes
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

Add Fix to solace endpointURL to query escape special character from queue name
  pkg/scalers/solace_scaler.go
  pkg/scalers/solace_scaler_test.go
Due: golangci-lint

Add CHANGELOG.md
  CHANGELOG.md
Due: none

Update kind node version
  .github/workflows/template-arm64-smoke-tests.yml
Due: none

Update template-versions-smoke-tests.yml
  .github/workflows/template-versions-smoke-tests.yml
Due: none

chore: Adjust supported versions on CI and welcome message
  .github/workflows/template-arm64-smoke-tests.yml
  .github/workflows/template-versions-smoke-tests.yml
  pkg/util/welcome.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
