Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Refactor Azure Event Hub scaler (#6908)
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

(fix): Sumo Logic scaler throws errors when upstream returns empty result (#6906)
  pkg/scalers/sumologic/logs.go
  pkg/scalers/sumologic/metrics.go
  pkg/scalers/sumologic/sumologic.go
  pkg/scalers/sumologic/sumologic_test.go
  pkg/scalers/sumologic/types.go
  pkg/scalers/sumologic_scaler.go
  pkg/scalers/sumologic_scaler_test.go
  tests/scalers/sumologic/sumologic_test.go
Due: golangci-lint

Fix dev container building (#6905)
  .devcontainer/Dockerfile
Due: none

fix: eliminate race conditions in NSQ scaler tests by using separate mock servers (#6914)
  pkg/scalers/nsq_scaler_test.go
Due: golangci-lint

fix: increase timeout for HPA name status update test in the scaledobject controller test (#6924)
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

Refactor GCP storage scaler (#6868)
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/gcp_storage_scaler_test.go
Due: golangci-lint

refactor gcp pubsub scaler (#6866)
  CHANGELOG.md
  pkg/scalers/gcp/gcp_stackdriver_client.go
  pkg/scalers/gcp/gcp_stackdriver_client_test.go
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
Due: golangci-lint

Add annotations to exclude labels from generated HPA and Job objects (#6851)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  apis/keda/v1alpha1/scaledobject_types.go
  controllers/keda/hpa.go
  pkg/scaling/executor/scale_jobs.go
  tests/helper/helper.go
  tests/internals/scaled_job_validation/scaled_job_validation_test.go
  tests/internals/scaled_object_validation/scaled_object_validation_test.go
Due: golangci-lint

fix: resolve race condition in NSQ scaler tests by fixing atomic counter usage (#6843)
  pkg/scalers/nsq_scaler_test.go
Due: golangci-lint

fix: e2e test checks label value by name and not by index (#6858)
  tests/helper/helper.go
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

(feat): Add Sumo Logic scaler (#6736)
  CHANGELOG.md
  pkg/scalers/sumologic/logs.go
  pkg/scalers/sumologic/metrics.go
  pkg/scalers/sumologic/query.go
  pkg/scalers/sumologic/sumologic.go
  pkg/scalers/sumologic/sumologic_test.go
  pkg/scalers/sumologic/types.go
  pkg/scalers/sumologic_scaler.go
  pkg/scalers/sumologic_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/.env
  tests/scalers/sumologic/sumologic_test.go
Due: golangci-lint

refactor: rename temporal scaler files for consistency (#6911)
  pkg/scalers/temporal_scaler.go
  pkg/scalers/temporal_scaler_test.go
Due: golangci-lint

feat(ci): Simplify PR bot workflow and improve contributor instructions (#6922)
  .github/workflows/pr-bot-welcome.yml
  .github/workflows/pr-welcome.yml
Due: none

refactor github runner scaler (#6834)
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Kafka e2e: Bump Strimzi/Kafka for Kube 1.33, fix offset test flakes (#6929)
  Makefile
  tests/helper/helper.go
  tests/scalers/apache_kafka/apache_kafka_test.go
  tests/scalers/kafka/kafka_test.go
  tests/utils/setup_test.go
Due: golangci-lint

Refactor Azure Log Analytics Scaler (#6701)
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
Due: golangci-lint

Refactor huawei cloudeye scaler (#6978)
  CHANGELOG.md
  pkg/scalers/huawei_cloudeye_scaler.go
  pkg/scalers/huawei_cloudeye_scaler_test.go
Due: golangci-lint

Fix/3401 mssql e2e (#6801)
  CHANGELOG.md
  tests/scalers/mssql/mssql_test.go
Due: golangci-lint

New Solace Direct Messaging Scaler (#6546)
  CHANGELOG.md
  pkg/scalers/solace_dm_scaler.go
  pkg/scalers/solace_dm_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/solace/direct-messaging/solace_dm_test.go
Due: golangci-lint

Misc typos (#6909)
  BUILD.md
  CHANGELOG.md
  CONTRIBUTING.md
  CREATE-NEW-SCALER.md
  RELEASE-PROCESS.md
  pkg/metricsservice/client.go
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/arangodb_scaler.go
  pkg/scalers/aws/aws_config_cache.go
  pkg/scalers/aws/aws_sigv4.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/gcp_cloud_tasks_scaler_test.go
  pkg/scalers/liiklus_scaler_test.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/openstack/keystone_authentication.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/pulsar_scaler_test.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/scalersconfig/scalersconfig.go
  pkg/scalers/selenium_grid_scaler_test.go
  pkg/scaling/resolver/gcp_secretmanager_handler.go
Due: golangci-lint

fix: correct pending pod condition logic for ScaledJobs (#6980)
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

fix: Resolve nil pointer dereference in Pulsar scaler redirect handling (#7030)
  CHANGELOG.md
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
Due: golangci-lint

Improve reliability of the Datadog scaler (#6999)
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

chore: Add arapulido as datadog reviewer (#7008)
  .github/reviewers.yml
Due: none

remove unnecessary import
  pkg/scalers/solace_scaler.go
Due: golangci-lint

fix: sigsegv accessing scaleClient in non-static fallback modes (#6992)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  tests/helper/helper.go
  tests/internals/fallback/fallback_test.go
  tests/internals/subresource_scale/subresource_scale_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: sort-scalers, golangci-lint

chore: only add webhook DNS names when webhook patching is enabled (#6979)
  CHANGELOG.md
  pkg/certificates/certificate_manager.go
Due: golangci-lint

Docs: Fix local dev guide (#7027)
  BUILD.md
  Makefile
Due: none

Add error and event for mismatching input property (#6763)
  CHANGELOG.md
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

fix typo in reviewers.yml (#7010)
  .github/reviewers.yml
Due: none

chore: Bump k8s tested versions (#6988)
  .github/workflows/template-arm64-smoke-tests.yml
  .github/workflows/template-versions-smoke-tests.yml
  pkg/util/welcome.go
Due: golangci-lint

Fix Vault PKI param using camel case param when making API call to Vault PKI endpoint (#6864)
  CHANGELOG.md
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/hashicorpvault_handler_test.go
Due: golangci-lint

fix: rename reviewers.yaml to reviewers.yml (#7007)
  .github/reviewers.yml
Due: none

Add support for pausing scale in annotation (#6901)
  CHANGELOG.md
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  controllers/keda/util/predicate.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  tests/internals/pause_scale_in/pause_scale_in_test.go
Due: golangci-lint

chore: use ARM64 machine to build e2e test images (#7003)
  .github/workflows/pr-e2e.yml
Due: none

Refactor openstack metric scaler (#6971)
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
Due: golangci-lint

remove lock and move changelog entry to unreleased section as requested
  CHANGELOG.md
  pkg/scalers/solace_scaler.go
Due: golangci-lint

fix: prevent e2e test reset when adding non-skip labels (#6930)
  .github/workflows/pr-e2e-checker.yml
Due: none

fix: resolve race condition when removing paused-replicas annotation from ScaledObject (#7018)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_types_test.go
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
