Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

add 'M' scalers
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/huawei_cloudeye_scaler.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/liiklus_scaler.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/newrelic_scaler.go
Due: golangci-lint

fix error in metrics api
  .gitignore
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

add 'P' scalers
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

update gitignore
  .gitignore
Due: none

Add all the scalers
  .gitignore
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/solace_scaler.go
  pkg/scalers/stan_scaler.go
Due: golangci-lint

apply pre-commit
  pkg/scalers/ibmmq_scaler.go
Due: golangci-lint

undo changes in cassandra scaler
  pkg/scalers/cassandra_scaler.go
Due: golangci-lint

update e2e
  tests/scalers/mongodb.test.ts
  tests/scalers/postgresql.test.ts
Due: none

reverted changes in gcp scalers
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/stackdriver_client.go
Due: golangci-lint

added new config options for scale on in flight metrics + changelog
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

updated changelog with link to docs pr
  CHANGELOG.md
Due: none

fixed indentation on test case
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

Changed test case to string
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

run pre commit work
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

add ut
  controllers/keda/scaledobject_controller_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
  pkg/scalers/external_mock_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix static check with sort
  controllers/keda/scaledobject_controller_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

revert file permission
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

fix: scaleobject ready condition 'False/Unknow' to 'True' requeue (#3097)
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  controllers/keda/util/predicate.go
  pkg/scalers/external_mock_scaler.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore(deps): update actions/cache action to v3.0.4
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/v1-build.yml
Due: none

use float64 for ScaledJob calculations
  pkg/scaling/cache/scalers_cache.go
Due: golangci-lint

undo e2e test changes
  tests/scalers/mongodb.test.ts
  tests/scalers/postgresql.test.ts
Due: none

fix tests
  pkg/scaling/cache/scalers_cache_test.go
Due: golangci-lint

chore: improve error message in getting ServiceAccount for PodIdentityProviderAwsEKS
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

chore: improve error message in getting ServiceAccount for PodIdentityProviderAwsEKS (#3143)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

chore(deps): update actions/setup-python action to v4
  .github/workflows/pr-validation.yml
Due: none

chore: bump actions/setup-python
  .github/workflows/pr-validation.yml
Due: none

chore(deps): update actions/setup-python action to v4 (#3145)
  .github/workflows/pr-validation.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

fix typo
  CHANGELOG.md
Due: none

Update tests/scalers/aws-dynamodb-streams.test.ts
  tests/scalers/aws-dynamodb-streams.test.ts
Due: none

Add Queue (Trigger Auth), Key Vault Tests. Refactor old tests.
  tests/helper.go
  tests/run-all.sh
  tests/scalers/azure-keyvault-queue.test.ts
  tests/scalers_go/azure_keyvault_queue/azure_keyvault_queue_test.go
  tests/scalers_go/azure_queue_trigger_auth/azure_queue_trigger_auth_test.go
  tests/scalers_go/azure_service_bus_topic/azure_service_bus_topic_test.go
Due: golangci-lint

Add global setup and cleanup code.
  go.mod
  go.sum
  tests/cleanup.test.ts
  tests/cleanup_test.go
  tests/helper.go
  tests/run-all.sh
  tests/run-arm-smoke-tests.sh
  tests/setup.test.ts
  tests/setup_test.go
Due: golangci-lint

Sort environment variables in .env file.
  tests/.env
Due: none

Replace uses of go-playground/assert/v2 with testify/assert for parity.
  go.mod
  pkg/scalers/azure/azure_eventhub_test.go
Due: golangci-lint

Use 'e2e' build tag to exclude e2e tests from GitHub workflows.
  tests/run-all.sh
  tests/run-arm-smoke-tests.sh
Due: none

Update CHANGELOG.
  CHANGELOG.md
Due: none

Add Azure Service Bus (Queue + Topic), Azure Queue Storage tests.
  go.mod
  go.sum
  tests/helper.go
  tests/scalers/azure-queue.test.ts
  tests/scalers/azure-service-bus-queue.test.ts
  tests/scalers/azure-service-bus-topic.test.ts
  tests/scalers_go/azure_queue/azure_queue_test.go
  tests/scalers_go/azure_service_bus_queue/azure_service_bus_queue_test.go
  tests/scalers_go/azure_service_bus_topic/azure_service_bus_topic_test.go
Due: golangci-lint

Update test runner scripts.
  tests/run-all.sh
  tests/run-arm-smoke-tests.sh
Due: none

Update README.
  tests/OLD-README.md
  tests/README.md
Due: none

Add missing build tags.
  report.xml
  tests/README.md
  tests/scalers_go/azure_keyvault_queue/azure_keyvault_queue_test.go
  tests/scalers_go/azure_queue/azure_queue_test.go
  tests/scalers_go/azure_queue_trigger_auth/azure_queue_trigger_auth_test.go
  tests/scalers_go/azure_service_bus_queue/azure_service_bus_queue_test.go
  tests/scalers_go/azure_service_bus_topic/azure_service_bus_topic_test.go
Due: golangci-lint
