Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

fix: Update Kubernetes cluster naming in CI workflow (#7342)
  .github/workflows/pr-e2e.yml
Due: none

fixes
  CHANGELOG.md
  pkg/fallback/fallback.go
  pkg/scaling/cache/metricscache/metrics_record_test.go
Due: golangci-lint

Update releases (#7335)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
  pkg/scaling/resolver/k8s_validator_test.go
Due: golangci-lint

Fix smoke tests (#7304)
  .github/workflows/pr-e2e.yml
  .github/workflows/template-s390x-smoke-tests.yml
  .github/workflows/template-smoke-tests.yml
Due: none

chore: smoke e2e tests on PR (#7319)
  .github/workflows/pr-e2e.yml
Due: none

relates to discussion https://github.com/kedacore/keda/pull/6565#discussion_r2260561904 (#7370)
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

Docs: update ROADMAP (#7328)
  ROADMAP.md
Due: none

Merge commit from fork
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/k8s_validator.go
  pkg/scaling/resolver/k8s_validator_test.go
Due: golangci-lint

ci: use GitHub-hosted ARM64 runners (#7294)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/template-arm64-smoke-tests.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-versions-smoke-tests.yml
  CHANGELOG.md
Due: none

Refactor Azure blob scaler
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure/azure_blob_test.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: golangci-lint

perf: optimize resolvedEnv parsing in buildScalers
  pkg/scaling/scalers_builder.go
Due: golangci-lint

fix: Update pre-commit config to check scalers_builder.go instead of scale_handler.go
  .pre-commit-config.yaml
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update changelog for pre-commit config fix (#7373)
  CHANGELOG.md
Due: none

fix: correct PR number format in changelog (#7374)
  CHANGELOG.md
Due: none

revert
  pkg/scaling/scalers_builder.go
Due: golangci-lint

chore: remove changelog entry for reverted optimization
  CHANGELOG.md
Due: none

dynatrace: Support DQL
  pkg/scalers/dynatrace_scaler.go
  tests/scalers/dynatrace_dql/dynatrace_dql_test.go
Due: golangci-lint

feat: Implement multi-trigger failover for resilient autoscaling
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_types_test.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/eventreason/eventreason.go
  pkg/fallback/fallback.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scalers/mock_scaler.go
  pkg/scalers/mock_scaler_test.go
  pkg/scaling/failover_helper.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
  tests/scalers/failover/failover_test.go
Due: sort-scalers, golangci-lint

update schema
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: none

fix lint
  pkg/scalers/dynatrace_scaler.go
Due: golangci-lint

refactor: replace switch statement with registry pattern for all scalers
  controllers/keda/suite_test.go
  pkg/scaling/scalers_builder.go
  pkg/scaling/scalers_builder_registry_test.go
  pkg/scaling/scalers_registry.go
  tools/sort_scalers.sh
Due: golangci-lint

refactor: replace switch statement with registry pattern for all scalers
  Makefile
  pkg/scaling/scalers_registry.go
  schema/generate_scaler_schema.go
Due: golangci-lint

Add some unit tests
  pkg/scalers/dynatrace_scaler.go
  pkg/scalers/dynatrace_scaler_test.go
Due: golangci-lint

Add some unit tests
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: none

fix lint
  pkg/scalers/dynatrace_scaler_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

add parameters to control polling
  pkg/scalers/dynatrace_scaler.go
  pkg/scalers/dynatrace_scaler_test.go
Due: golangci-lint

add parameters to control polling
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: none

Apply suggestions from code review
  pkg/scalers/dynatrace_scaler_test.go
  tests/scalers/dynatrace_dql/dynatrace_dql_test.go
Due: golangci-lint

apply feedbaclk
  pkg/scalers/dynatrace_scaler.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: golangci-lint

apply feedback
  pkg/scalers/dynatrace_scaler.go
Due: golangci-lint

ci: replace stale bot with official GitHub Actions stale action (#7320)
  .github/stale.yml
  .github/workflows/stale.yml
  CHANGELOG.md
Due: none

Remove the Stan scaler
  CHANGELOG.md
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/stan/stan_test.go
Due: golangci-lint

fix(datadog): use metricUnavailableValue for 422 errors in Datadog Cluster Agent
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Add StatusUnprocessableEntity to getQueryResult
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

fix temporal e2e tests
  tests/scalers/temporal/temporal_test.go
Due: golangci-lint

Add test
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

fix temporal e2e tests (#7385)
  tests/scalers/temporal/temporal_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
