Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

allow for customisable prometheus metric name
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

fix: use context.Background() instead of context.TODO() in test
  CHANGELOG.md
  tests/secret-providers/aws_identity_external_id/aws_identity_external_id_test.go
Due: golangci-lint

fix: Update Kubernetes cluster naming in CI workflow
  .github/workflows/pr-e2e.yml
Due: none

feat: add inverse scaling mode to OpenCost scaler
  pkg/scalers/opencost_scaler.go
Due: golangci-lint

test: add comprehensive tests for inverse scaling mode
  pkg/scalers/opencost_scaler_test.go
Due: golangci-lint

chore: update generated scalers schema for inverseScaling parameter
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
Due: none

fix: Update Kubernetes cluster naming in CI workflow (#7342)
  .github/workflows/pr-e2e.yml
Due: none

Docs: update ROADMAP (#7328)
  ROADMAP.md
Due: none

Track activity for each trigger in the status
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/triggers_activity_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

feat: adding cooldownOnlyAfterHpaMinReplica feature
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  keda-main-core.yaml
  keda-main-crds.yaml
  keda-main.yaml
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
Due: golangci-lint

feat: adding cooldownOnlyAfterHpaMinReplica feature
  CHANGELOG.md
Due: none

feat: adding cooldownOnlyAfterHpaMinReplica feature
  CHANGELOG.md
  pkg/scaling/executor/scale_scaledobjects_test.go
Due: golangci-lint

feat: adding cooldownOnlyAfterHpaMinReplica feature
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
  tests/internals/polling_cooldown_so/polling_cooldown_so_test.go
Due: golangci-lint

feat(scaler/mongodb): add TLS support
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint

fix(gcp): resolve deprecation in GCP Stackdriver API
  CHANGELOG.md
  pkg/scalers/gcp/gcp_stackdriver_client.go
  pkg/scalers/gcp/gcp_stackdriver_client_test.go
  pkg/scalers/gcp_pubsub_scaler.go
Due: golangci-lint

fix: handle DistributionValue and BoolValue in extractValueFromPoint
  pkg/scalers/gcp/gcp_stackdriver_client.go
  pkg/scalers/gcp/gcp_stackdriver_client_test.go
Due: golangci-lint

feat: adding cooldownOnlyAfterHpaMinReplica feature
  keda-main-core.yaml
  keda-main-crds.yaml
  keda-main.yaml
Due: none

Datadog scaler: handle 422 no-data responses
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Datadog scaler: avoid ResponseWriter writes in test
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Datadog scaler: tighten 422 no-data handling
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Update kustomization.yaml
  config/webhooks/kustomization.yaml
Due: none

Update kustomization.yaml
  config/metrics-server/kustomization.yaml
Due: none

Update kustomization.yaml
  config/manager/kustomization.yaml
Due: none

Update externalscaler_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
Due: golangci-lint

Update metrics_grpc.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update LiiklusService_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

fix(datadog): Handle 422 No Data response in Cluster Agent Proxy mode
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

relates to discussion https://github.com/kedacore/keda/pull/6565#discussion_r2260561904
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

relates to discussion https://github.com/kedacore/keda/pull/6565#discussion_r2260561904 (#7370)
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

Include trigger actvivity in raw metrics
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/server.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
Due: sort-scalers, golangci-lint

update changelog
  CHANGELOG.md
Due: none

Fix lint
  CHANGELOG.md
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

Include trigger actvivity in raw metrics (#7270)
  CHANGELOG.md
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/metricsservice/server.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
Due: sort-scalers, golangci-lint

fix(datadog): align 422 no-data handling
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

test(datadog): cover error message dedup
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

refactor: separate test-only scalers from production code
  controllers/keda/suite_test.go
  pkg/scaling/scalers_builder.go
  pkg/scaling/scalers_builder_registry_test.go
Due: golangci-lint

copy code back
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/scaling/cache/metricscache/metrics_record.go
  pkg/scaling/cache/metricscache/metrics_record_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
