Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

fix: use AMD machines again for semgrep workflow (#5983)
  .github/workflows/static-analysis-semgrep.yml
Due: none

chore: Update e2e image (#6000)
  .github/workflows/pr-e2e.yml
Due: none

[BUG-5656] Annotate Jobs with parent ScaledJob generation (#5876)
  CHANGELOG.md
  controllers/keda/scaledjob_controller.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

[BUG-5922] Report failing ScaledJob triggers in status (#5916)
  CHANGELOG.md
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

feat: Dynatrace scaler (#5685)
  CHANGELOG.md
  pkg/scalers/dynatrace_scaler.go
  pkg/scalers/dynatrace_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/dynatrace/dynatrace_test.go
Due: golangci-lint

Remove deprecated cortexOrgId in prometheus scaler (#5990)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

remove unused leader election parameters of metrics adapter (#5986)
  CHANGELOG.md
  cmd/adapter/main.go
Due: golangci-lint

fix
  pkg/scalers/selenium_grid_scaler.go
Due: golangci-lint

fix: reassign err to prevent invalid return in KedaProvider `GetExternalMetric` (#6010)
  CHANGELOG.md
  pkg/provider/provider.go
Due: golangci-lint

chore: Disable temporally AzPipeline WI e2e (#6003)
  tests/scalers/azure/azure_pipelines_aad_wi/azure_pipelines_aad_wi_test.go
Due: golangci-lint

chore: Prepare main branch for v2.14.1 (#6007)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

Prepare v2.15 (#6012)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  .github/workflows/pr-validation.yml
  CHANGELOG.md
  CONTRIBUTING.md
  ROADMAP.md
Due: none

Update debug.yaml
  .github/workflows/debug.yaml
Due: none

Refactored fallback logic to only patch status when the fallback is e… (#5659)
  controllers/keda/scaledobject_controller.go
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/scaling/scale_handler_test.go
Due: golangci-lint

fix: Jetstream e2e test uses the right config value (#6011)
  tests/helper/helper.go
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
Due: golangci-lint

fix: Hashicorp Vault PKI doesn't fail with due to KeyPair mismatch
  CHANGELOG.md
  pkg/scaling/resolver/hashicorpvault_handler.go
Due: golangci-lint

Add SecretKey to AWS SecretsManager TriggerAuthentication spec
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/aws_secretmanager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix linting issue
  pkg/scaling/resolver/aws_secretmanager_handler.go
Due: golangci-lint

Refactor aws dynamodb scaler
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
Due: golangci-lint

Minor fixes in the logic and in typed_config.go file for kv separator too
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

revert some changes
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

Update
  apis/eventing/v1alpha1/cloudeventsource_types.go
  apis/eventing/v1alpha1/cloudeventsource_webhook.go
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/webhooks/validation_webhooks.yaml
  controllers/eventing/cloudeventsource_finalizer.go
  controllers/eventing/clustercloudeventsource_controller.go
  controllers/eventing/finalizer.go
  pkg/eventemitter/eventemitter.go
  pkg/mock/mock_eventemitter/mock_interface.go
  pkg/status/status.go
  tests/internals/cloudevent_source/cloudevent_source_test.go
Due: golangci-lint

Update ChangeLog
  CHANGELOG.md
Due: none

Update
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update
  config/samples/eventing_v1alpha1_clustercloudeventsource.yaml
  config/samples/kustomization.yaml
Due: none

Refactor
  apis/eventing/v1alpha1/cloudeventsource_types.go
  controllers/eventing/cloudeventsource_controller.go
  controllers/eventing/clustercloudeventsource_controller.go
  controllers/eventing/finalizer.go
  controllers/eventing/reconciler.go
  pkg/eventemitter/eventemitter.go
Due: golangci-lint

chore: golangci-lint: `run.skip-dirs` is deprecated
  .golangci.yml
Due: none

chore: golangci-lint: `run.skip-dirs` is deprecated (#6036)
  .golangci.yml
Due: none

fix: Hashicorp Vault PKI doesn't fail with due to KeyPair mismatch (#6029)
  CHANGELOG.md
  pkg/scaling/resolver/hashicorpvault_handler.go
Due: golangci-lint

Update MSSQL commands
  tests/scalers/mssql/mssql_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
