Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

chore: Update changelog and bug template with v2.11.2
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

chore: Update changelog and bug template with v2.11.2 (#4828)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

Update
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/eventreason/eventreason.go
Due: golangci-lint

Update
  pkg/scaling/scalers_builder.go
Due: golangci-lint

Update
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/triggerauthentication_controller.go
  pkg/eventreason/eventreason.go
Due: golangci-lint

Update
  CHANGELOG.md
Due: none

adds gcp secrets manager support for scaler trigger authentication
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  go.mod
  go.sum
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scaling/resolver/gcp_secretmanager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  vendor/cloud.google.com/go/iam/CHANGES.md
  vendor/cloud.google.com/go/iam/apiv1/iampb/iam_policy.pb.go
  vendor/cloud.google.com/go/iam/apiv1/iampb/options.pb.go
  vendor/cloud.google.com/go/iam/apiv1/iampb/policy.pb.go
  vendor/cloud.google.com/go/secretmanager/LICENSE
  vendor/cloud.google.com/go/secretmanager/apiv1/doc.go
  vendor/cloud.google.com/go/secretmanager/apiv1/gapic_metadata.json
  vendor/cloud.google.com/go/secretmanager/apiv1/iam.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secret_manager_client.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secretmanagerpb/resources.pb.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secretmanagerpb/service.pb.go
  vendor/cloud.google.com/go/secretmanager/apiv1/version.go
  vendor/cloud.google.com/go/secretmanager/internal/version.go
  vendor/modules.txt
Due: golangci-lint

fix(solr e2e): remove '-' from status command
  tests/scalers/solr/solr_test.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/triggerauthentication_controller.go
Due: golangci-lint

fix(solr e2e): remove '-' from status command (#4835)
  tests/scalers/solr/solr_test.go
Due: golangci-lint

feature: add cloud tasks scaler
  CHANGELOG.md
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scalers/gcp_cloud_tasks_scaler_test.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

Add cloud tasks e2e test
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
Due: golangci-lint

fix: Return files to the original state
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

fix: static checks
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scalers/gcp_cloud_tasks_scaler_test.go
Due: golangci-lint

fix: more static checks fixed
  pkg/scalers/gcp_cloud_tasks_scaler.go
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
Due: golangci-lint

fix: add location for queue
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
Due: golangci-lint

fix: add correct command to create test tasks in queue
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
Due: golangci-lint

fix: add fixes to test and add pod identity test
  tests/scalers/gcp/gcp_cloud_tasks_workload_identity/gcp_cloud_tasks_workload_identity_test.go
Due: golangci-lint

fix: specify location also in tasks
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
  tests/scalers/gcp/gcp_cloud_tasks_workload_identity/gcp_cloud_tasks_workload_identity_test.go
Due: golangci-lint

adding pre-checks based on regex to fail the tests
  .github/workflows/pr-e2e.yml
  Makefile
  tests/run-all.go
  tests/run-regex.go
Due: golangci-lint

fix: correct indentation and location for purge
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
  tests/scalers/gcp/gcp_cloud_tasks_workload_identity/gcp_cloud_tasks_workload_identity_test.go
Due: golangci-lint

Revert "chore(deps): bump helm/kind-action from 1.7.0 to 1.8.0 (#4838)"
  .github/workflows/template-smoke-tests.yml
Due: none

fix: correct naming, add package correctly to identity tests
  tests/scalers/gcp/gcp_cloud_tasks/gcp_cloud_tasks_test.go
  tests/scalers/gcp/gcp_cloud_tasks_workload_identity/gcp_cloud_tasks_workload_identity_test.go
Due: golangci-lint

fix: change test name
  tests/scalers/gcp/gcp_cloud_tasks_workload_identity/gcp_cloud_tasks_workload_identity_test.go
Due: golangci-lint

Revert "chore(deps): bump helm/kind-action from 1.7.0 to 1.8.0" (#4856)
  .github/workflows/template-smoke-tests.yml
Due: none

Update
  apis/keda/v1alpha1/scaledobject_webhook.go
  cmd/operator/main.go
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/triggerauthentication_controller.go
  go.mod
  go.sum
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
  pkg/metricscollector/webhook/webhook_prommetrics.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

mandates gcp project id to be input a part of the triggerAuth
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/gcp_secretmanager_handler.go
Due: golangci-lint

fixes error string format specifiers and error logs
  pkg/scaling/resolver/gcp_secretmanager_handler.go
Due: golangci-lint

fixes ci lint errors
  pkg/scaling/resolver/gcp_secretmanager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

add scaler for temporal
  pkg/scalers/temporal_scaler.go
  pkg/scalers/temporal_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/temporal/temporal_test.go
Due: golangci-lint

use pagination to get number of open workflows
  pkg/scalers/temporal_scaler.go
Due: golangci-lint

update CHANGELOG.md
  CHANGELOG.md
Due: none

Refined Queue Sizing: Incorporating Activity Names in Evaluation
  pkg/scalers/temporal_scaler.go
  pkg/scalers/temporal_scaler_test.go
  tests/scalers/temporal/temporal_test.go
Due: golangci-lint

Update
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

adding the script to validate changelog
  .github/workflows/pr-validation.yml
  Makefile
  hack/validate-changelog.sh
Due: none

adding pre-commit for validate check
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  hack/validate-changelog.sh
Due: none

Fix docker build error in go 1.20.5 version
  .devcontainer/Dockerfile
Due: none

Fix docker build error for go 1.20.5 version (#4877)
  .devcontainer/Dockerfile
Due: none

Update
  pkg/metricscollector/opentelemetry.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
