Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Update helm command to use legacy etcd image (#7190)
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/etcd_cluster_auth/etcd_cluster_auth_test.go
Due: golangci-lint

fix
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/loki_scaler.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/internals/pause_scaledjob/pause_scaledjob_test.go
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/etcd_cluster_auth/etcd_cluster_auth_test.go
Due: golangci-lint

fix: feature flag for unexpected scaler param check
  CHANGELOG.md
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

feat: Add support to enable backoff when rate limited by the Github API
  pkg/scalers/github_runner_scaler.go
Due: golangci-lint

Feat : Add aggregation from kube service endpoints feature in metrics API scaler (#6565)
  CHANGELOG.md
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
  pkg/scaling/scalers_builder.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/scalers/metrics_api/metrics_api_test.go
Due: golangci-lint

feat: Add support to enable backoff when rate limited by the Github API
  pkg/scalers/github_runner_scaler.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
Due: golangci-lint

Add checklist for running scalers schema generation
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update prometheus dependency version
  go.mod
  vendor/modules.txt
Due: none

fix: feature flag for unexpected scaler param check (#7191)
  CHANGELOG.md
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

fix: send raw metrrics also during polling interval
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
Due: sort-scalers, golangci-lint

Add e2e test for scaling modifiers with cron trigger
  tests/internals/scaling_modifiers_with_cron/scaling_modifiers_with_cron_test.go
Due: golangci-lint

Update prometheus dependency version (#7194)
  go.mod
  vendor/modules.txt
Due: none

fix: add missing error returns in kafka scaler error handling (#7182)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

feat: add file-based authentication support for ClusterTriggerAuthentication
  CHANGELOG.md
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  tests/internals/file_based_auth/file_based_auth_test.go
Due: golangci-lint

Remove some bitnami charts and images
  tests/scalers/cassandra/cassandra_test.go
  tests/scalers/mongodb/mongodb_test.go
  tests/scalers/redis/helper/helper.go
  tests/scalers/redis/redis_cluster_lists/redis_cluster_lists_test.go
  tests/scalers/redis/redis_cluster_streams_lag/redis_cluster_streams_lag_test.go
  tests/scalers/redis/redis_cluster_streams_length/redis_cluster_streams_length_test.go
  tests/scalers/redis/redis_cluster_streams_pending_entries/redis_cluster_streams_pending_entries_test.go
  tests/scalers/redis/redis_sentinel_lists/redis_sentinel_lists_test.go
  tests/scalers/redis/redis_sentinel_streams_lag/redis_sentinel_streams_lag_test.go
  tests/scalers/redis/redis_sentinel_streams_length/redis_sentinel_streams_length_test.go
  tests/scalers/redis/redis_sentinel_streams_pending_entries/redis_sentinel_streams_pending_entries_test.go
  tests/scalers/redis/redis_standalone_lists/redis_standalone_lists_test.go
  tests/scalers/redis/redis_standalone_streams_lag/redis_standalone_streams_lag_test.go
  tests/scalers/redis/redis_standalone_streams_length/redis_standalone_streams_length_test.go
  tests/scalers/redis/redis_standalone_streams_pending_entries/redis_standalone_streams_test_pending_entries_test.go
Due: golangci-lint

Remove some bitnami charts and images
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/etcd_cluster_auth/etcd_cluster_auth_test.go
  tests/scalers/redis/helper/helper.go
Due: golangci-lint

remove redundant line
  tests/scalers/graphite/graphite_test.go
Due: golangci-lint

fix tests
  tests/scalers/redis/redis_standalone_streams_lag/redis_standalone_streams_lag_test.go
  tests/scalers/redis/redis_standalone_streams_length/redis_standalone_streams_length_test.go
  tests/scalers/redis/redis_standalone_streams_pending_entries/redis_standalone_streams_test_pending_entries_test.go
Due: golangci-lint

Refactor graphite scaler (#7185)
  pkg/scalers/graphite_scaler.go
  pkg/scalers/graphite_scaler_test.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/scalers/graphite/graphite_test.go
Due: golangci-lint

fix: create new HTTP request for each queue query in IBMMQ scaler
  CHANGELOG.md
  pkg/scalers/ibmmq_scaler.go
Due: golangci-lint

fix: update shouldSendRawMetrics function to use RawMetricsMode for better clarity
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
Due: sort-scalers, golangci-lint

fix: send raw metrics also during polling interval (#7198)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
Due: sort-scalers, golangci-lint

fix: create new HTTP request for each queue query in IBMMQ scaler (#7202)
  CHANGELOG.md
  pkg/scalers/ibmmq_scaler.go
Due: golangci-lint

fix: use TriggerError when all ScaledJob triggers fail
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
  tests/internals/scaled_job_conditions/scaled_job_conditions_test.go
Due: golangci-lint

Remove some bitnami charts and images (#7200)
  tests/scalers/cassandra/cassandra_test.go
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/etcd_cluster_auth/etcd_cluster_auth_test.go
  tests/scalers/mongodb/mongodb_test.go
  tests/scalers/redis/helper/helper.go
  tests/scalers/redis/redis_cluster_lists/redis_cluster_lists_test.go
  tests/scalers/redis/redis_cluster_streams_lag/redis_cluster_streams_lag_test.go
  tests/scalers/redis/redis_cluster_streams_length/redis_cluster_streams_length_test.go
  tests/scalers/redis/redis_cluster_streams_pending_entries/redis_cluster_streams_pending_entries_test.go
  tests/scalers/redis/redis_sentinel_lists/redis_sentinel_lists_test.go
  tests/scalers/redis/redis_sentinel_streams_lag/redis_sentinel_streams_lag_test.go
  tests/scalers/redis/redis_sentinel_streams_length/redis_sentinel_streams_length_test.go
  tests/scalers/redis/redis_sentinel_streams_pending_entries/redis_sentinel_streams_pending_entries_test.go
  tests/scalers/redis/redis_standalone_lists/redis_standalone_lists_test.go
  tests/scalers/redis/redis_standalone_streams_lag/redis_standalone_streams_lag_test.go
  tests/scalers/redis/redis_standalone_streams_length/redis_standalone_streams_length_test.go
  tests/scalers/redis/redis_standalone_streams_pending_entries/redis_standalone_streams_test_pending_entries_test.go
Due: golangci-lint

Fix incorrect 'unmatched input property' notification (#7188)
  pkg/scalers/arangodb_scaler.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scalers/gcp_cloud_tasks_scaler_test.go
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/loki_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/solarwinds_scaler.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/scalers/azure/azure_managed_prometheus/helper/helper.go
  tests/scalers/couchdb/couchdb_test.go
  tests/scalers/gcp/gcp_stackdriver/gcp_stackdriver_test.go
  tests/scalers/gcp/gcp_stackdriver_workload_identity/gcp_stackdriver_workload_identity_test.go
  tests/scalers/selenium/selenium_test.go
  tests/scalers/solarwinds/solarwinds_test.go
  tests/scalers/sumologic/sumologic_test.go
Due: golangci-lint

Fix incorrect 'unmatched input property' notification (#7176)
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  pkg/scalers/loki_scaler.go
  pkg/scalers/loki_scaler_test.go
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/scalers/prometheus/prometheus_test.go
  tests/scalers/pulsar/helper/helper.go
Due: golangci-lint
