Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

feat: updating schema
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
Due: none

Emit metric tracking empty responses from prometheus
  CHANGELOG.md
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

- Add aggregation from kube service endpoints feature in metrics API scaler - make generate-scalers-schema
  CHANGELOG.md
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
  pkg/scaling/scalers_builder.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/scalers/metrics_api/metrics_api_test.go
Due: golangci-lint

Add gRPC service that allows subscribing to a raw metric values for given ns,SO&triggerName
  Makefile
  cmd/adapter/main.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/metricsservice/client.go
  pkg/metricsservice/server.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Address review feedback
  AWS_RDS_IAM_SUPPORT.md
  pkg/scalers/postgresql_scaler_aws_iam.go
Due: golangci-lint

Update Azure Blob scaler to accommodate hierarchical namespaces
  .gitignore
  pkg/scalers/azure/azure_blob.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

update the vendor modules
  vendor/modules.txt
Due: none

Update go.mod
  go.mod
Due: none

feat: update scaled controller test by remove Unknown
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

apply feedback
  pkg/scaling/scalers_builder.go
Due: golangci-lint

feat: Add TLS support to artemis scaler
  pkg/scalers/artemis_scaler.go
  pkg/scalers/artemis_scaler_test.go
Due: golangci-lint

feat: Add TLS support with client certificates to Artemis scaler
  CHANGELOG.md
  pkg/scalers/artemis_scaler.go
  pkg/scalers/artemis_scaler_test.go
Due: golangci-lint

chore: Regenerate scalers schema for Artemis TLS fields
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
Due: none

fix: allowing usage of sasl none on kafka scaler (#7070)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Update Datadog reviewer team in reviewers.yml
  .github/reviewers.yml
Due: none

feat: Updating go.sum after merge
  go.sum
Due: none

Add gRPC service that allows subscribing to a raw metric values for given ns,SO&triggerName
  CHANGELOG.md
  Makefile
  cmd/adapter/main.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/metricsservice/client.go
  pkg/metricsservice/server.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Add gRPC service that allows subscribing to a raw metric values for given ns,SO&triggerName (#7093)
  CHANGELOG.md
  Makefile
  cmd/adapter/main.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/metricsservice/client.go
  pkg/metricsservice/server.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_raw_metrics.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Allow setting targetQueueSize to 0.
  CHANGELOG.md
  pkg/scalers/temporal_scaler.go
Due: golangci-lint

Revert accidental whitespace change.
  CHANGELOG.md
Due: none

rename to empty_upstream_responses_total
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

update comment
  pkg/metricscollector/metricscollectors.go
Due: golangci-lint

chore(deps): move new indirect deps to existing require block
  go.mod
Due: none

fix: use enum struct tag param to validate InfluxVersion field
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

refactor(influxdb): add deprecated authToken from triggerMetadata param
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

fix: add nil check to influxdbv3 client close
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

chore: reduce calls to strings.ToLower()
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

chore: regenerate scaler schemas
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
Due: none

chore: remove dotenv loading in influxdb e2e tests
  go.mod
  tests/scalers/influxdb/influxdb_v2/influxdb_v2_test.go
  tests/scalers/influxdb/influxdb_v3/influxdb_v3_test.go
Due: golangci-lint

new forgejo scaler (#6495)
  CHANGELOG.md
  pkg/scalers/forgejo_runner_scaler.go
  pkg/scalers/forgejo_runner_scaler_test.go
  pkg/scaling/scalers_builder.go
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
  tests/helper/helper.go
  tests/scalers/forgejo_runner/forgejo_runner_test.go
Due: golangci-lint

Add support for pause scale out annotation (#7023)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  controllers/keda/util/predicate.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  tests/internals/pause_scale_out/pause_scale_out_test.go
Due: golangci-lint

feat: update scaled controller test by remove Unknown (#7104)
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

Allow setting Temporal's targetQueueSize to 0. (#7113)
  CHANGELOG.md
  pkg/scalers/temporal_scaler.go
Due: golangci-lint

Update Datadog reviewer team in reviewers.yml (#7108)
  .github/reviewers.yml
Due: none

temporal: always set temporal-namespace header on requests (#7079) (#7080)
  CHANGELOG.md
  pkg/scalers/temporal_scaler.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
