Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

delete scaledObjectsMetricsLock、externalMetricsInfo which unused Signed-off-by: penghuazhou <penghuazhou@1021556870@qq.com>
  adapter/main.go
  controllers/keda/metrics_adapter_controller.go
  pkg/provider/provider.go
Due: golangci-lint

chore: build endpoint once in the parser
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
Due: golangci-lint

feat: Provide Prometheus metrics for total number of custom resources. (#3719)
  CHANGELOG.md
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/clustertriggerauthentication_finalizer.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledjob_finalizer.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_finalizer.go
  controllers/keda/triggerauthentication_controller.go
  controllers/keda/triggerauthentication_finalizer.go
  controllers/keda/util/finalizer.go
  main.go
  pkg/metrics/operator_prom_metrics.go
  tests/clean-crds.sh
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Fixed duplicate agent issue (#3782)
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
  pkg/scalers/octopus_tentacle_scaler.go
Due: golangci-lint

Tidied scaler code (#3782)
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

Delete octopus_tentacle_scaler.go
  pkg/scalers/octopus_tentacle_scaler.go
Due: golangci-lint

chore: move Prometheus related metrics to `prommetrics` package
  adapter/main.go
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledjob_finalizer.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_finalizer.go
  controllers/keda/triggerauthentication_controller.go
  controllers/keda/util/finalizer.go
  pkg/prommetrics/adapter_prommetrics.go
  pkg/prommetrics/operator_prommetrics.go
  pkg/prommetrics/prommetrics.go
  pkg/provider/provider.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

trying commit from fresh branch
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  controllers/keda/scaledjob_controller.go
  controllers/keda/util/predicate.go
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

chore: move Prometheus related metrics to `prommetrics` package (#3827)
  adapter/main.go
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledjob_finalizer.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_finalizer.go
  controllers/keda/triggerauthentication_controller.go
  controllers/keda/util/finalizer.go
  pkg/prommetrics/adapter_prommetrics.go
  pkg/prommetrics/operator_prommetrics.go
  pkg/prommetrics/prommetrics.go
  pkg/provider/provider.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

fix: keda now include the messages that should be retried in the count of pending messages used for scaling
  pkg/scalers/nats_jetstream_scaler.go
Due: golangci-lint

chore: update changelog
  CHANGELOG.md
Due: none

chore: remove unnecessary variable
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/stan_scaler.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

triggerName is part of Prometheus metrics
  controllers/keda/hpa_test.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/prommetrics/adapter_prommetrics.go
  pkg/provider/provider.go
  pkg/scalers/scaler.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/cache/scalers_cache_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

triggerName is part of Prometheus metrics (#3826)
  controllers/keda/hpa_test.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/prommetrics/adapter_prommetrics.go
  pkg/provider/provider.go
  pkg/scalers/scaler.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/cache/scalers_cache_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Use new infrastructure
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-terraform-check.yml
  .github/workflows/v1-build.yml
  Makefile
  tests/.env
  tests/README.md
  tests/helper/helper.go
  tests/scalers/aws/aws_cloudwatch/aws_cloudwatch_test.go
  tests/scalers/aws/aws_cloudwatch_expression/aws_cloudwatch_expression_test.go
  tests/scalers/aws/aws_cloudwatch_pod_identity/aws_cloudwatch_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb/aws_dynamodb_test.go
  tests/scalers/aws/aws_dynamodb_pod_identity/aws_dynamodb_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_streams/aws_dynamodb_streams_test.go
  tests/scalers/aws/aws_dynamodb_streams_pod_identity/aws_dynamodb_streams_pod_identity_test.go
  tests/scalers/aws/aws_kinesis_stream/aws_kinesis_stream_test.go
  tests/scalers/aws/aws_kinesis_stream_pod_identity/aws_kinesis_stream_pod_identity_test.go
  tests/scalers/aws/aws_sqs_queue/aws_sqs_queue_test.go
  tests/scalers/aws/aws_sqs_queue_pod_identity/aws_sqs_queue_pod_identity_test.go
  tests/scalers/azure/azure_application_insights/azure_application_insights_test.go
  tests/scalers/azure/azure_blob/azure_blob_test.go
  tests/scalers/azure/azure_data_explorer/azure_data_explorer_test.go
  tests/scalers/azure/azure_event_hub_blob_metadata/azure_event_hub_blob_metadata_test.go
  tests/scalers/azure/azure_event_hub_go_sdk/azure_event_hub_go_sdk_test.go
  tests/scalers/azure/azure_log_analytics/azure_log_analytics_test.go
  tests/scalers/azure/azure_queue/azure_queue_test.go
  tests/scalers/azure/azure_service_bus_queue/azure_service_bus_queue_test.go
  tests/scalers/azure/azure_service_bus_queue_regex/azure_service_bus_queue_regex_test.go
  tests/scalers/azure/azure_service_bus_topic/azure_service_bus_topic_test.go
  tests/scalers/azure/azure_service_bus_topic_regex/azure_service_bus_topic_regex_test.go
  tests/scalers/new_relic/new_relic_test.go
  tests/secret-providers/azure_keyvault/azure_keyvault_test.go
  tests/secret-providers/azure_keyvault_workload_identity/azure_keyvault_workload_identity_test.go
  tests/secret-providers/azure_workload_identity/azure_workload_identity_test.go
  tests/secret-providers/azure_workload_identity_user_assigned/azure_workload_identity_user_assigned_test.go
  tests/secret-providers/trigger_auth_secret/trigger_auth_secret_test.go
  tests/utils/setup_test.go
Due: golangci-lint

reduce sizes
  tests/scalers/aws/aws_cloudwatch/aws_cloudwatch_test.go
  tests/scalers/aws/aws_cloudwatch_expression/aws_cloudwatch_expression_test.go
  tests/scalers/aws/aws_cloudwatch_pod_identity/aws_cloudwatch_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb/aws_dynamodb_test.go
  tests/scalers/aws/aws_dynamodb_pod_identity/aws_dynamodb_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_streams/aws_dynamodb_streams_test.go
  tests/scalers/aws/aws_dynamodb_streams_pod_identity/aws_dynamodb_streams_pod_identity_test.go
  tests/scalers/aws/aws_kinesis_stream/aws_kinesis_stream_test.go
  tests/scalers/aws/aws_kinesis_stream_pod_identity/aws_kinesis_stream_pod_identity_test.go
  tests/scalers/aws/aws_sqs_queue/aws_sqs_queue_test.go
  tests/scalers/aws/aws_sqs_queue_pod_identity/aws_sqs_queue_pod_identity_test.go
  tests/scalers/azure/azure_application_insights/azure_application_insights_test.go
  tests/scalers/azure/azure_blob/azure_blob_test.go
  tests/scalers/azure/azure_event_hub_blob_metadata/azure_event_hub_blob_metadata_test.go
  tests/scalers/azure/azure_event_hub_go_sdk/azure_event_hub_go_sdk_test.go
  tests/scalers/azure/azure_queue/azure_queue_test.go
  tests/scalers/azure/azure_service_bus_queue/azure_service_bus_queue_test.go
  tests/scalers/azure/azure_service_bus_queue_regex/azure_service_bus_queue_regex_test.go
  tests/scalers/azure/azure_service_bus_topic/azure_service_bus_topic_test.go
  tests/scalers/azure/azure_service_bus_topic_regex/azure_service_bus_topic_regex_test.go
Due: golangci-lint

.
  .github/workflows/pr-terraform-check.yml
Due: none

fix typo
  tests/scalers/aws/aws_sqs_queue_pod_identity/aws_sqs_queue_pod_identity_test.go
Due: golangci-lint

feat: Update roadmap, KEDA v2.9 to ship in December
  ROADMAP.md
Due: none

feat: Update roadmap, KEDA v2.9 to ship in December (#3831)
  ROADMAP.md
Due: none

fix(nats-jetstream): correctly count messages that should be redelivered (waiting for ack) towards keda value (#3809)
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
Due: golangci-lint

add missing change
  tests/secret-providers/azure_keyvault_workload_identity/azure_keyvault_workload_identity_test.go
Due: golangci-lint

triger the whole suite
  .github/workflows/pr-terraform-check.yml
  Makefile
  tests/run-all.sh
Due: none

reduce e2e paralellization
  tests/run-all.sh
Due: none

add trivy-config support
  .github/workflows/template-trivy-scan.yml
  trivy.yml
Due: none

add trivy-config support (#3837)
  .github/workflows/template-trivy-scan.yml
  trivy.yml
Due: none

Update Makefile
  Makefile
Due: none

Update cron_scaler.go
  pkg/scalers/cron_scaler.go
Due: golangci-lint

feat: support https protocol in nats scalers (#3815)
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
Due: golangci-lint

add mockgen to vendor
  hack/tools.go
  vendor/github.com/golang/mock/mockgen/mockgen.go
  vendor/github.com/golang/mock/mockgen/model/model.go
  vendor/github.com/golang/mock/mockgen/parse.go
  vendor/github.com/golang/mock/mockgen/reflect.go
  vendor/github.com/golang/mock/mockgen/version.1.11.go
  vendor/github.com/golang/mock/mockgen/version.1.12.go
  vendor/golang.org/x/mod/modfile/print.go
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/golang.org/x/mod/modfile/work.go
  vendor/modules.txt
Due: golangci-lint

appease trivy
  trivy.yml
Due: none

rearrange dockerfile
  Dockerfile
  Dockerfile.adapter
Due: none

changelog & updates
  CHANGELOG.md
Due: none

fix changelog
  CHANGELOG.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
