Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

reverted back to exportloopref
  .golangci.yml
Due: none

fix: truncate label values longer than 63 characters
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/util/string.go
  controllers/keda/util/string_test.go
Due: golangci-lint

Add header for string and string_test
  controllers/keda/util/string.go
  controllers/keda/util/string_test.go
Due: golangci-lint

Deprecate Stan scaler (#6363)
  CHANGELOG.md
  pkg/scalers/stan_scaler.go
Due: golangci-lint

feat: add nsq scaler (#6230)
  CHANGELOG.md
  pkg/scalers/nsq_scaler.go
  pkg/scalers/nsq_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/nsq/nsq_test.go
Due: golangci-lint

refactor aws sqs queue scaler configuration (#6358)
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

fix: scaledjobs stuck as not ready (#6329)
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
Due: golangci-lint

fix: Paused ScaledObject count is reported correctly after operator restart (#6322)
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Refactor AWS DynamoDB Streams scaler configuration (#6351)
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
Due: golangci-lint

Refactor New Relic scaler (#6326)
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler_test.go
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

fix: ensure consistent JSON log format for automaxprocs (#6335)
  CHANGELOG.md
  cmd/adapter/main.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  pkg/util/maxprocs.go
Due: golangci-lint

fix: Selenium Grid scaler exposes sum of pending and ongoing sessions to KDEA
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix panic runtime error predictkube scaler test
  go.mod
  go.sum
  pkg/scalers/predictkube_scaler_test.go
  vendor/modules.txt
Due: golangci-lint

Use `toolchain` to define desired Go version
  go.mod
  go.sum
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/modules.txt
Due: none

Use `toolchain` to define desired Go version (#6378)
  go.mod
  go.sum
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/modules.txt
Due: none

Add Scorecard GitHub Action (#6365)
  .github/workflows/scorecards.yml
  CHANGELOG.md
  README.md
  SECURITY.md
Due: none

add: enable webhook patching with flag
  cmd/operator/main.go
  pkg/certificates/certificate_manager.go
Due: golangci-lint

update: should enable/disable only the webhook
  CHANGELOG.md
  pkg/certificates/certificate_manager.go
Due: golangci-lint

changelog: put webhook patching flag to 'New' section
  CHANGELOG.md
Due: none

refactor aws_kinesis_stream_scaler
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler_test.go
Due: golangci-lint

fix: Selenium Grid scaler exposes sum of pending and ongoing sessions to KDEA (#6368)
  CHANGELOG.md
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

chore: set go to 1.23 for core collections
  go.mod
Due: none

Add AWS region to the AWS Config Cache key (#6134)
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/aws/aws_authorization.go
  pkg/scalers/aws/aws_common.go
  pkg/scalers/aws/aws_config_cache.go
  pkg/scalers/aws/aws_config_cache_test.go
  pkg/scalers/aws/aws_sigv4.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/kafka_scaler.go
  pkg/scaling/resolver/aws_secretmanager_handler.go
Due: golangci-lint

Fix scorecard badge
  README.md
Due: none

Fix
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/solace_scaler.go
Due: golangci-lint

refactor: replace experimental `maps` and `slices` with stdlib (#6372)
  CHANGELOG.md
  apis/eventing/v1alpha1/cloudeventsource_webhook.go
  go.mod
  pkg/eventemitter/eventfilter.go
  pkg/scalers/scalersconfig/typed_config.go
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

Add KEDAScalersInfo to display important information
  CHANGELOG.md
  pkg/eventreason/eventreason.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/scalersconfig/scalersconfig.go
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

Add KEDAScalersInfo to display important information (#6330)
  CHANGELOG.md
  pkg/eventreason/eventreason.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/scalersconfig/scalersconfig.go
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

update CHANGELOG
  CHANGELOG.md
Due: none

Add BoundServiceAccountToken trigger authentication type
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  cmd/operator/main.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  config/rbac/role.yaml
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  go.mod
  pkg/eventemitter/eventemitter.go
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
Due: sort-scalers, golangci-lint

Fix golangci-lint
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Remove verification code; add test case
  go.mod
  pkg/mock/mock_serviceaccounts/mock_interfaces.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Fix broken tests
  controllers/keda/suite_test.go
  pkg/scaling/scale_handler_test.go
Due: golangci-lint

Rollback privilege escalation
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Additional test cases
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fixup: rebase changes
  go.mod
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Remove expiry field and hardcode the token expiry to 1 hour
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint
