Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Delete the cache entry when a ScaledObject is deleted (#2408)
  CHANGELOG.md
  apis/keda/v1alpha1/withtriggers_types.go
  controllers/keda/scaledobject_controller_test.go
  go.mod
  go.sum
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Apply feedback Co-authored-by: Zbynek Roubalik <726523+zroubalik@users.noreply.github.com>
  CHANGELOG.md
Due: none

Assign PostgreSQL userName to correct attribute (#2432)
  CHANGELOG.md
Due: none

remove metricName from tests
  pkg/scalers/newrelic_scaler_test.go
Due: golangci-lint

Fix changelog text
  CHANGELOG.md
Due: none

feat: Provide New Relic scaler (#2387)
  CHANGELOG.md
  apis/keda/v1alpha1/withtriggers_types.go
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  go.mod
  go.sum
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scalers/activemq_scaler.go
  pkg/scalers/activemq_scaler_test.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/README.md
  tests/scalers/activemq.test.ts
  tests/scalers/kafka.test.ts
  tests/scalers/new-relic.test.ts
Due: sort-scalers, golangci-lint

Support `poolName` or `poolID` validation in Azure Pipelines Scaler (#2370)
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/azure-pipelines.test.ts
Due: sort-scalers, golangci-lint

Assign PostgreSQL userName to correct attribute (#2432)
  CHANGELOG.md
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

Add connectionString test in postgre
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

docs(CHANGELOG): update improvements section
  CHANGELOG.md
Due: none

Add PostgreSQL connectionString generation test (#2433)
  CHANGELOG.md
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
Due: golangci-lint

External Scaler: fix wrong calculation of retry backoff duration (#2416)
  CHANGELOG.md
  pkg/scalers/external_scaler.go
Due: golangci-lint

Revert changes
  apis/keda/v1alpha1/withtriggers_types.go
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/kafka_scaler.go
  pkg/scaling/scale_handler.go
  tests/README.md
  tests/scalers/kafka.test.ts
Due: sort-scalers, golangci-lint

add missing files
  pkg/scalers/activemq_scaler.go
  pkg/scalers/activemq_scaler_test.go
  tests/scalers/activemq.test.ts
Due: golangci-lint

fix error
  tests/scalers/activemq.test.ts
Due: none

Add ActiveMQ scaler (#2305)
  pkg/scalers/activemq_scaler.go
  pkg/scalers/activemq_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/activemq.test.ts
Due: sort-scalers, golangci-lint

Azure EventHub Scaler: don't expose connection string in metricName (#2404)
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

Kafka scaler: concurrent offset fetches (#2405)
  pkg/scalers/kafka_scaler.go
  tests/README.md
  tests/scalers/kafka.test.ts
Due: golangci-lint

Delete the cache entry when a ScaledObject is deleted (#2408)
  apis/keda/v1alpha1/withtriggers_types.go
  controllers/keda/scaledobject_controller_test.go
  go.mod
  go.sum
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: add list and watch access for service accounts to cluster role (#2406)
  config/rbac/role.yaml
Due: none

fix: add list and watch access for service accounts to cluster role (#2410)
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

chore: Don't consider dependencies for stale updates
  .github/stale.yml
Due: none

chore: Don't consider dependencies for stale updates (#2436)
  .github/stale.yml
Due: none

chore: Provide formatting for changelog
  CHANGELOG.md
Due: none

chore: Provide formatting for changelog (#2437)
  CHANGELOG.md
Due: none

Fix Azure Queue TriggerAuthentication E2E test failure
  tests/scalers/azure-queue-trigger-auth.test.ts
Due: none

Fix Cloudwatch Scaler test data
  pkg/scalers/aws_cloudwatch_test.go
Due: golangci-lint

fix: Fix Azure Queue TriggerAuthentication E2E test failure (#2443)
  tests/scalers/azure-queue-trigger-auth.test.ts
Due: none

Fix Cloudwatch Scaler test data (#2444)
  pkg/scalers/aws_cloudwatch_test.go
Due: golangci-lint

Rabbitmq Add create queue and binding routing
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Add pipeline for testing CRD updates
  .github/assets/test-manifest.yml
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/upgrade-validation-template.yml
Due: none

Remove references to my own repo
  .github/workflows/upgrade-validation-template.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
