Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

wip
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  Makefile
Due: none

use gh-cli instead of hub
  .github/workflows/pr-e2e.yml
  tools/build-tools.Dockerfile
Due: none

use same go-version in fossa than others
  .github/workflows/fossa.yml
Due: none

fix: use gh-cli instead of hub (#3025)
  .github/workflows/fossa.yml
  .github/workflows/pr-e2e.yml
  tools/build-tools.Dockerfile
Due: none

chore: add safe folder to git
  .github/workflows/pr-e2e.yml
Due: none

use variable instead hardcoded value
  .github/workflows/pr-e2e.yml
Due: none

chore: add safe folder to git (#3026)
  .github/workflows/pr-e2e.yml
Due: none

Azure AD Workload Identity Support - Azure Monitor Scaler.
  pkg/scalers/azure/azure_aad_auth.go
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
Due: golangci-lint

Add e2e test for workload identity using service bus scaler.
  tests/run-all.sh
  tests/scalers/azure-service-bus-queue-workload-identity.test.ts
Due: none

Setup and clean up for Azure Workload Identity e2e tests.
  tests/cleanup.test.ts
  tests/run-all.sh
  tests/setup.test.ts
Due: none

Remove unused secret from e2e test.
  tests/scalers/azure-service-bus-queue-workload-identity.test.ts
Due: none

Azure AD Workload Identity Support - Azure Blob Storage Scaler.
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
Due: golangci-lint

Azure AD Pod Identity & Workload Identity Support - Azure Key Vault.
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/azure_keyvault_handler.go
  pkg/scaling/resolver/azure_keyvault_handler_test.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Azure AD Workload Identity Support - Azure Application Insights Scaler.
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/azure/azure_app_insights.go
  pkg/scalers/azure/azure_app_insights_test.go
  pkg/scalers/azure_app_insights_scaler_test.go
Due: golangci-lint

Change env variable names.
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: none

Rework e2e tests.
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: none

Use kustomize for setting require labels and annotations on service account.
  Makefile
  config/default/kustomization.yaml
  config/general/kustomization.yaml
  config/service_account/kustomization.yaml
  config/service_account/service_account.yaml
  tests/setup.test.ts
Due: none

Azure AD Workload Identity Support - Azure Data Explorer Scaler.
  pkg/scalers/azure/azure_aad_auth.go
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_data_explorer_test.go
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Use 'PodIdentityProvider' instead of 'strings', and 'switch' instead of 'if' for consistency.
  pkg/scalers/azure/azure_data_explorer.go
  pkg/scalers/azure/azure_data_explorer_test.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_monitor_scaler.go
Due: golangci-lint

Refresh token only if expired.
  pkg/scalers/azure/azure_aad_auth.go
  pkg/scalers/azure/azure_aad_workload_identity.go
Due: golangci-lint

Add more logs for debugging.
  tests/setup.test.ts
Due: none

Fix application insight e2e test.
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
  tests/scalers/azure-app-insights.test.ts
Due: none

Minor changes.
  Makefile
  tests/setup.test.ts
Due: none

Azure AD Workload Identity Support - Azure Log Analytics Scaler.
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
Due: golangci-lint

Change test name.
  tests/scalers/azure-service-bus-queue-workload-identity.test.ts
Due: none

Fix import blocks.
  pkg/scalers/azure/azure_data_explorer_test.go
  pkg/scalers/azure/azure_eventhub_test.go
Due: golangci-lint

Minor refactoring.
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scaling/resolver/azure_keyvault_handler.go
Due: golangci-lint

Undo workflow .yml changes.
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Azure AD Workload Identity Support - Azure Storage Queue Scaler.
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_queue_scaler_test.go
Due: golangci-lint

Change env variable name.
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: none

Make workload identity tests optional.
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: none

Add sleep for webhook, remove cleanup code.
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: none

Azure AD Workload Identity Support - Azure Service Bus Scaler.
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  go.mod
  go.sum
  pkg/scalers/azure/azure_aad_auth.go
  pkg/scalers/azure/azure_aad_podidentity.go
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

Azure AD Workload Identity Support - Azure Event Hub Scaler.
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fix event hub unit tests.
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

Remove debug logs, TODOs, fix changelog.
  CHANGELOG.md
  tests/cleanup.test.ts
  tests/setup.test.ts
Due: none

test: move account id to trigger auth on integration test for new relic
  tests/scalers/new-relic.test.ts
Due: none

use go install for failing deps
  .devcontainer/Dockerfile
Due: none

reduce the layers
  .devcontainer/Dockerfile
Due: none

Add whitespace
  Makefile
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
