Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Update unit tests
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

Metrics Server: use vendored OpenAPI definitions
  CHANGELOG.md
  Makefile
  adapter/generated/openapi/zz_generated.openapi.go
  adapter/main.go
  go.mod
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Metrics Server: use vendored OpenAPI definitions (#3928)
  CHANGELOG.md
  Makefile
  adapter/generated/openapi/zz_generated.openapi.go
  adapter/main.go
  go.mod
Due: golangci-lint

feat: Support using connection strings for Event Hub namespace instead of the Event Hub itself. (#3924)
  CHANGELOG.md
  Makefile
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

add `KEDA_USE_METRICS_SERVICE_GRPC` option & dynamically generate default service address
  adapter/main.go
  config/metrics-server/deployment.yaml
  pkg/metricsservice/server.go
  pkg/provider/provider.go
  pkg/util/env_resolver.go
Due: golangci-lint

fix cache identifiers
  apis/keda/v1alpha1/indentifier.go
  apis/keda/v1alpha1/withtriggers_types.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

serve all Prometheus metrics from Operator
  adapter/main.go
  config/manager/service.yaml
  pkg/metricsservice/server.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/prommetrics/adapter/adapter_prommetrics.go
  pkg/prommetrics/adapter/prommetrics.go
  pkg/prommetrics/operator_prommetrics.go
  pkg/provider/provider.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  pkg/util/env_resolver.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

start/stop gRPC Server based on leader election
  main.go
  pkg/metricsservice/server.go
Due: golangci-lint

expose Prometheus metrics also from Metrics Server
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics.proto
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/metricsservice/client.go
  pkg/metricsservice/server.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/prommetrics/adapter/adapter_prommetrics.go
  pkg/prommetrics/adapter/prommetrics.go
  pkg/prommetrics/prommetrics.go
  pkg/provider/provider.go
  pkg/scaling/scale_handler.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

update changelog
  CHANGELOG.md
Due: none

cleanup
  pkg/prommetrics/adapter/adapter_prommetrics.go
  pkg/prommetrics/prommetrics.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

feat: add chaos e2e test
  tests/chaos/chaos_test.go
  tests/helper/helper.go
  tests/run-all.sh
Due: golangci-lint

remove whitespaces
  tests/run-all.sh
Due: none

add chaos logs
  tests/run-all.sh
Due: none

Update stackdriver client to handle metrics of value type double
  CHANGELOG.md
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_stackdriver_client.go
  pkg/scalers/gcp_stackdriver_scaler.go
Due: golangci-lint

move change log note to below general
  CHANGELOG.md
Due: none

parse activation value as float64
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

chore: add `stale-bot-cant-touch-this` to stale bot ignores
  .github/stale.yml
Due: none

update label
  .github/stale.yml
Due: none

chore: add `stale-bot-ignore` label to stale bot ignores (#3936)
  .github/stale.yml
Due: none

grpc client: wait properly for establishing a connection
  apis/keda/v1alpha1/identifier.go
  pkg/metricsservice/client.go
  pkg/provider/provider.go
Due: golangci-lint

grpc client: wait properly for establishing a connection (#3938)
  apis/keda/v1alpha1/identifier.go
  pkg/metricsservice/client.go
  pkg/provider/provider.go
Due: golangci-lint

execute keda restarts sequentially
  tests/chaos/chaos_test.go
  tests/helper/helper.go
  tests/run-all.sh
Due: golangci-lint

save logs for each pod before killing it
  tests/chaos/chaos_test.go
  tests/run-all.sh
Due: golangci-lint

fix style issues
  tests/run-all.sh
Due: none

add ne wlines
  tests/run-all.sh
Due: none

feat: add chaos e2e test (#3935)
  tests/chaos/chaos_test.go
  tests/helper/helper.go
  tests/run-all.sh
Due: golangci-lint

bump deps
  .github/workflows/pr-e2e.yml
  go.mod
  go.sum
  vendor/github.com/Azure/azure-kusto-go/kusto/data/errors/errors.go
  vendor/github.com/Azure/azure-kusto-go/kusto/internal/version/version.go
  vendor/github.com/Azure/azure-kusto-go/kusto/query_builder.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/gocql/gocql/.travis.yml
  vendor/github.com/gocql/gocql/AUTHORS
  vendor/github.com/gocql/gocql/CHANGELOG.md
  vendor/github.com/gocql/gocql/README.md
  vendor/github.com/gocql/gocql/conn.go
  vendor/github.com/gocql/gocql/connectionpool.go
  vendor/github.com/gocql/gocql/debug_off.go
  vendor/github.com/gocql/gocql/debug_on.go
  vendor/github.com/gocql/gocql/doc.go
  vendor/github.com/gocql/gocql/fuzz.go
  vendor/github.com/gocql/gocql/host_source_gen.go
  vendor/github.com/gocql/gocql/marshal.go
  vendor/github.com/gocql/gocql/policies.go
  vendor/github.com/gocql/gocql/session.go
  vendor/modules.txt
Due: golangci-lint

chore: bump deps (#3944)
  .github/workflows/pr-e2e.yml
  go.mod
  go.sum
  vendor/github.com/Azure/azure-kusto-go/kusto/data/errors/errors.go
  vendor/github.com/Azure/azure-kusto-go/kusto/internal/version/version.go
  vendor/github.com/Azure/azure-kusto-go/kusto/query_builder.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/gocql/gocql/.travis.yml
  vendor/github.com/gocql/gocql/AUTHORS
  vendor/github.com/gocql/gocql/CHANGELOG.md
  vendor/github.com/gocql/gocql/README.md
  vendor/github.com/gocql/gocql/conn.go
  vendor/github.com/gocql/gocql/connectionpool.go
  vendor/github.com/gocql/gocql/debug_off.go
  vendor/github.com/gocql/gocql/debug_on.go
  vendor/github.com/gocql/gocql/doc.go
  vendor/github.com/gocql/gocql/fuzz.go
  vendor/github.com/gocql/gocql/host_source_gen.go
  vendor/github.com/gocql/gocql/marshal.go
  vendor/github.com/gocql/gocql/policies.go
  vendor/github.com/gocql/gocql/session.go
  vendor/modules.txt
Due: golangci-lint

NewRelic scaler crashes on logging
  CHANGELOG.md
  pkg/scalers/newrelic_scaler.go
Due: golangci-lint

NewRelic scaler crashes on logging (#3946)
  CHANGELOG.md
  pkg/scalers/newrelic_scaler.go
Due: golangci-lint

Add support for JetStream scaler to query the stream consumer leader when clustered
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
  tests/scalers/nats_jetstream/helper/nats_helper.go
  tests/scalers/nats_jetstream/nats_helper.go
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
  tests/scalers/nats_jetstream/nats_jetstream_standalone/nats_jetstream_standalone_test.go
  tests/scalers/nats_jetstream/nats_jetstream_test.go
Due: golangci-lint

change target value to float64 for GCP pub/sub and stackdriver
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

use my own image
  Makefile
  tests/utils/setup_test.go
Due: golangci-lint

.
  Makefile
  tests/.env
  tests/scalers/gcp/gcp_pubsub/gcp_pubsub_test.go
  tests/scalers/gcp/gcp_pubsub_workload_identity/gcp_pubsub_workload_identity_test.go
  tests/scalers/gcp/gcp_stackdriver/gcp_stackdriver_test.go
  tests/scalers/gcp/gcp_storage/gcp_storage_test.go
Due: golangci-lint

.
  Makefile
Due: none

.
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_stackdriver_client.go
  pkg/scalers/gcp_stackdriver_scaler.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
