Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

add e2e test
  config/metrics-server/service.yaml
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Update
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  apis/keda/v1alpha1/suite_test.go
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
Due: golangci-lint

Update
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Update
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

fix
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  apis/keda/v1alpha1/suite_test.go
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/triggerauthentication_webhook.go
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
Due: golangci-lint

Update
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
Due: golangci-lint

Update
  apis/keda/v1alpha1/triggerauthentication_webhook.go
Due: golangci-lint

updated per review
  CHANGELOG.md
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
Due: golangci-lint

Add e2e test
  tests/scalers/azure/azure_aad_pod_identity/azure_aad_pod_identityte_test.go
Due: golangci-lint

Fix
  tests/scalers/azure/azure_aad_pod_identity/azure_aad_pod_identityte_test.go
Due: golangci-lint

fix: Restore prometheus metrics in Metrics Server (#4766)
  CHANGELOG.md
  cmd/adapter/main.go
  config/metrics-server/service.yaml
  pkg/provider/provider.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Use githubAPIURL instead of githubApiURL in github-runner scaler
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Add work to changelog
  CHANGELOG.md
Due: none

Update
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

Update
  pkg/scaling/resolver/scale_resolvers.go
  tests/internals/trigger_authentication_validation/trigger_authentication_validation_test.go
Due: golangci-lint

Add change log
  CHANGELOG.md
  pkg/scaling/scaledjob/metrics.go
Due: golangci-lint

rename the package name and delete comments
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scaledjob/metrics.go
  pkg/scaling/scaledjob/metrics_test.go
Due: sort-scalers, golangci-lint

Delete scalers_cache_tests.go after migration
  pkg/scaling/cache/scalers_cache_test.go
Due: golangci-lint

Delete unnecessary lines
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Implement test cases inside scale_handler_test.go
  apis/keda/v1alpha1/scaledjob_types.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Use renamed function getTargetAverageValue
  pkg/scaling/scaledjob/metrics_test.go
Due: golangci-lint

Delete ineffectual assignment
  pkg/scaling/scaledjob/metrics_test.go
Due: golangci-lint

Use separate package for the method getTargetAverageValue
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/utils/metrics.go
Due: sort-scalers, golangci-lint

Move createMetricSpec inside test code
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scaledjob/metrics.go
  pkg/scaling/scaledjob/metrics_test.go
Due: golangci-lint

Sort module to pass statick analysis
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Change receiver name
  apis/keda/v1alpha1/scaledjob_types.go
Due: golangci-lint

Add CalculateQueueLengthAndMaxValue at scaledJob
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  pkg/scaling/scaledjob/metrics.go
Due: sort-scalers, golangci-lint

Refator to use GetMetricsAndActivityForScaler
  pkg/scaling/cache/scalers_cache.go
Due: golangci-lint

All tests work
  pkg/scaling/scale_handler_test.go
Due: golangci-lint

Remove methods at scalers_cache.go as well
  pkg/scaling/cache/scalers_cache.go
Due: golangci-lint

Make all test cases runnable under scale_hanlder_test
  apis/keda/v1alpha1/withtriggers_types.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Relocate createMetricSpec and related test cases
  pkg/scaling/scale_handler_test.go
  pkg/scaling/utils/metrics.go
  pkg/scaling/utils/metrics_test.go
Due: golangci-lint

Rearrange import module to pass static analysis
  pkg/scaling/utils/metrics_test.go
Due: golangci-lint

Add tests for scaledJob identifier
  apis/keda/v1alpha1/identifier_test.go
Due: golangci-lint

Use different metric name to pass static analysis
  pkg/scaling/scaledjob/metrics_test.go
Due: golangci-lint

Move scaledJob metric logic under scaledJob package
  pkg/scaling/scale_handler.go
  pkg/scaling/scaledjob/metrics.go
Due: sort-scalers, golangci-lint

hotfix for GHEC rate limits (#4784)
  pkg/scalers/github_runner_scaler.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
