Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

update e2e test
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

fix styles
  pkg/scalers/mysql_scaler.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix styles
  pkg/scalers/arangodb_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/loki_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

revert scaledjobs split
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix test issues
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Automatically set GOMAXPROCS to match Linux container CPU quota
  CHANGELOG.md
  cmd/adapter/main.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  go.mod
  go.sum
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/LICENSE
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/go.uber.org/automaxprocs/glide.yaml
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroup.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups2.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/doc.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/errors.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/mountpoint.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/subsys.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_linux.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_unsupported.go
  vendor/go.uber.org/automaxprocs/internal/runtime/runtime.go
  vendor/go.uber.org/automaxprocs/maxprocs/maxprocs.go
  vendor/go.uber.org/automaxprocs/maxprocs/version.go
  vendor/modules.txt
Due: golangci-lint

bump Golang to 1.20.8
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
Due: none

Automatically set GOMAXPROCS to match Linux container CPU quota (#5000)
  CHANGELOG.md
  cmd/adapter/main.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  go.mod
  go.sum
  vendor/go.uber.org/automaxprocs/.codecov.yml
  vendor/go.uber.org/automaxprocs/.gitignore
  vendor/go.uber.org/automaxprocs/CHANGELOG.md
  vendor/go.uber.org/automaxprocs/CODE_OF_CONDUCT.md
  vendor/go.uber.org/automaxprocs/CONTRIBUTING.md
  vendor/go.uber.org/automaxprocs/LICENSE
  vendor/go.uber.org/automaxprocs/Makefile
  vendor/go.uber.org/automaxprocs/README.md
  vendor/go.uber.org/automaxprocs/automaxprocs.go
  vendor/go.uber.org/automaxprocs/glide.yaml
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroup.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/cgroups2.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/doc.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/errors.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/mountpoint.go
  vendor/go.uber.org/automaxprocs/internal/cgroups/subsys.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_linux.go
  vendor/go.uber.org/automaxprocs/internal/runtime/cpu_quota_unsupported.go
  vendor/go.uber.org/automaxprocs/internal/runtime/runtime.go
  vendor/go.uber.org/automaxprocs/maxprocs/maxprocs.go
  vendor/go.uber.org/automaxprocs/maxprocs/version.go
  vendor/modules.txt
Due: golangci-lint

apply feedback
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

update AsSource detection
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix scaling test
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
Due: golangci-lint

fix error from last refactor
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update apis/keda/v1alpha1/cloudevent_types.go
  apis/keda/v1alpha1/cloudevent_types.go
Due: golangci-lint

Fix
  apis/keda/v1alpha1/cloudevent_types.go
Due: golangci-lint

Update controllers/keda/cloudevent_finalizer.go
  controllers/keda/cloudevent_finalizer.go
Due: golangci-lint

Update pkg/eventemitter/eventemitter.go
  pkg/eventemitter/eventemitter.go
Due: golangci-lint

Fix
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

Update pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/cloudevent_http_handler.go
Due: golangci-lint

Fix
  controllers/keda/cloudevent_controller.go
Due: golangci-lint

Update
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
Due: golangci-lint

Fix
  pkg/eventemitter/eventemitter.go
Due: golangci-lint

increase wait on test
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

increase timeout on test
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

Update
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
Due: golangci-lint

bump Golang to 1.20.8 (#5001)
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
Due: none

Kafka Scaler: Add UnsafeSsl flag (#4911)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

refactor the code and add commets
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

remove whiteline
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

remove the request
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix typo
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix: typo
  BUILD.md
  hack/update-codegen.sh
  tests/README.md
Due: none

fix: typos (#5004)
  BUILD.md
  hack/update-codegen.sh
  tests/README.md
Due: none

feat: Add activationTarget for formulas (#4998)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/keda/hpa.go
  pkg/eventreason/eventreason.go
  pkg/scalers/arangodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/datadog_scaler.go
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/loki_scaler.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/scaler.go
  pkg/scalers/solr_scaler.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

Update queryParameter test
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Add character validate in queryParameter
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

Update
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
