Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fix: bump golang.org/x/text to solve CVE-2022-32149 (#3763)
  go.mod
  go.sum
Due: none

fix(prometheus scaler): Detect Inf before casting float to int
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Add option to get queueURL from env for aws SQS scaler (#3559)
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

Improve the log message
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

replaced js codeblock with json
  tests/README.md
Due: none

fixed whitespace at the end of the lines
  tests/README.md
Due: none

chore(E2E test README): Add steps for adding IDE e2e build tags (#3761)
  tests/README.md
Due: none

GCP Storage scaler: Add Prefix and Delimiter support
  CHANGELOG.md
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/gcp_storage_scaler_test.go
Due: golangci-lint

add trigger name as a label in prometheus metrics
  pkg/metrics/adapter_prom_metrics.go
  pkg/provider/provider.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

update changelog.md
  CHANGELOG.md
Due: none

add trigger name as a label in Prometheus metrics (#3650)
  CHANGELOG.md
  pkg/metrics/adapter_prom_metrics.go
  pkg/provider/provider.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Support custom AWS endpoint
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

Refactor aws sdk client creation
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_common.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
Due: golangci-lint

Add changelog for support aws endpoint
  CHANGELOG.md
Due: none

Move changelog to new section
  CHANGELOG.md
Due: none

Support custom AWS endpoint (#3779)
  CHANGELOG.md
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
  pkg/scalers/aws_common.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

Fixed issue (#3782)
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

Add pod identity support to Blob Storage
  CHANGELOG.md
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_cloud_environment_test.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

Add log message. Fix a broken test case with private clouds.
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

"authentication"
  pkg/scalers/azure/azure_eventhub_checkpoint.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Address cyclomatic complexity of parse method
  pkg/scalers/azure_eventhub_scaler.go
Due: golangci-lint

Address log string inconsistencies
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure_eventhub_scaler.go
Due: golangci-lint

Spell out AAD
  CHANGELOG.md
Due: none

feat(event-hubs-scaler): Add pod/workload identity support to checkpoint in Azure Blob Storage (#3573)
  CHANGELOG.md
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_cloud_environment_test.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

chore: use go 1.18.8 for build-tools
  Makefile
Due: none

bump go version and deps
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e-checker.yml
  .github/workflows/pr-e2e-creator.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-trivy-scan.yml
  Dockerfile
  Dockerfile.adapter
  go.mod
  go.sum
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/stackdriver_client.go
Due: golangci-lint

append gcp_ prefix to stackdriverclient file
  pkg/scalers/gcp_stackdriver_client.go
Due: golangci-lint

chore: use go 1.18.8 for build-tools (#3806)
  Makefile
Due: none

increase time to KEDA instalation verification (e2e tests)
  tests/utils/setup_test.go
Due: golangci-lint

Provide support for defining autoscaling trigger dependencies with dependsOn
  apis/keda/v1alpha1/scaledobject_types.go
  go.mod
  go.sum
  pkg/scaling/cache/scalers_cache.go
Due: golangci-lint

chore: bump go version and deps (#3807)
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e-checker.yml
  .github/workflows/pr-e2e-creator.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-trivy-scan.yml
  Dockerfile
  Dockerfile.adapter
  go.mod
  go.sum
  pkg/scalers/gcp_stackdriver_client.go
  pkg/scalers/gcp_stackdriver_scaler.go
  tests/utils/setup_test.go
Due: golangci-lint

feat: Add support to use pod identities for authentication in Azure Key Vault
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/azure_keyvault_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/secret-providers/azure_keyvault_workload_identity/azure_keyvault_workload_identity_test.go
Due: golangci-lint

fix issues
  pkg/scaling/resolver/azure_keyvault_handler_test.go
  tests/secret-providers/azure_keyvault_workload_identity/azure_keyvault_workload_identity_test.go
Due: golangci-lint

GCP Storage scaler: Add Prefix and Delimiter support (#3774)
  CHANGELOG.md
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/gcp_storage_scaler_test.go
Due: golangci-lint

fix error in e2e test
  tests/secret-providers/azure_keyvault_workload_identity/azure_keyvault_workload_identity_test.go
Due: golangci-lint

chore: support https protocol in nats scalers
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/stan_scaler.go
Due: golangci-lint

fix: store logger in azure blob scaler
  CHANGELOG.md
  pkg/scalers/azure_blob_scaler.go
Due: golangci-lint

fix: store logger in azure blob scaler (#3812)
  CHANGELOG.md
  pkg/scalers/azure_blob_scaler.go
Due: golangci-lint

Add Prometheus metrics for TriggerAuthentication totals
  controllers/keda/triggerauthentication_controller.go
  pkg/metrics/operator_prom_metrics.go
Due: golangci-lint
