Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

change trigger-type
  .github/workflows/static-analysis.yml
Due: none

add new line
  .github/workflows/static-analysis.yml
Due: none

feat: add semgrep as CI tool (#3958)
  .github/workflows/static-analysis.yml
Due: none

chore: remove vendor folder from semgrep scan
  .semgrepignore
Due: none

fix the checkout
  .github/workflows/static-analysis.yml
Due: none

add ne wline
  .semgrepignore
Due: none

Add etcd scaler
  CHANGELOG.md
  pkg/scalers/etcd_scaler.go
  pkg/scalers/etcd_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/etcd/etcd_cluster/etcd_cluster_test.go
  tests/scalers/etcd/helper/helper.go
Due: sort-scalers, golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add e2e tests for GCP with workload identity (#3916)
  Makefile
  pkg/scalers/gcp_stackdriver_client.go
  tests/.env
  tests/helper/helper.go
  tests/scalers/gcp/gcp_pubsub/gcp_pubsub_test.go
  tests/scalers/gcp/gcp_pubsub_workload_identity/gcp_pubsub_workload_identity_test.go
  tests/scalers/gcp/gcp_stackdriver/gcp_stackdriver_test.go
  tests/scalers/gcp/gcp_stackdriver_workload_identity/gcp_stackdriver_workload_identity_test.go
  tests/scalers/gcp/gcp_storage/gcp_storage_test.go
  tests/scalers/gcp/gcp_storage_workload_identity/gcp_storage_workload_identity_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

fix: remove vendor folder from semgrep scan and fix workflow (#3959)
  .github/workflows/static-analysis.yml
  .semgrepignore
Due: none

fix: add missing env var for gcp e2e
  .github/workflows/template-main-e2e-test.yml
Due: none

add missing gh-cli for checking out
  .github/workflows/static-analysis.yml
Due: none

update security page with semgrep
  SECURITY.md
Due: none

fix: add missing env var for gcp e2e and missing Semgrep stuff (#3960)
  .github/workflows/static-analysis.yml
  .github/workflows/template-main-e2e-test.yml
  SECURITY.md
Due: none

fix: Changelog sorting
  CHANGELOG.md
Due: none

Fix scaledobject controller test and hpa test
  adapter/main.go
  controllers/keda/hpa_test.go
  main.go
Due: golangci-lint

fixing redeclaring during merge
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

Support Restrict Secret Access
  adapter/main.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  main.go
  pkg/scaling/resolver/azure_keyvault_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/scale_handler.go
  pkg/util/env_resolver.go
Due: sort-scalers, golangci-lint

Add logging if KEDA_RESTRICT_SECRET_ACCESS=true
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Move WaitForCacheSync out of reconcile
  main.go
Due: golangci-lint

fix static checks
  controllers/keda/hpa_test.go
Due: golangci-lint

fix UT
  controllers/keda/scaledobject_controller_test.go
Due: golangci-lint

fix UT
  controllers/keda/suite_test.go
Due: golangci-lint

Fix the test
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

gofmt
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

sort imports
  controllers/keda/scaledobject_controller_test.go
  main.go
Due: golangci-lint

Update isSecretAcessRestricted function
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Enhance based on comments
  adapter/main.go
  main.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/util/env_resolver.go
Due: golangci-lint

Add changelog & comments
  CHANGELOG.md
  adapter/main.go
  main.go
  pkg/util/env_resolver.go
Due: golangci-lint

Eventhub Scaler: add new dapr checkpoint strategy to eventhub scaler (#3732)
  CHANGELOG.md
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  tests/scalers/azure/azure_event_hub_dapr/azure_event_hub_dapr_test.go
Due: golangci-lint

fix: Remove unnecessary TLS Config (#3857)
  pkg/util/tls_config.go
  tests/scalers/pulsar/README.md
  tests/scalers/pulsar/helper/helper.go
Due: golangci-lint

Disable response compression for k8s restAPI in client-go (#3866)
  CHANGELOG.md
  adapter/main.go
  main.go
Due: golangci-lint

Add simple Grafana dashboard (#3902)
  config/grafana/keda-dashboard.json
Due: none

feat(scaler): support cloudID and apiKey in elasticsearch scaler (#3786)
  CHANGELOG.md
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
Due: golangci-lint

Do not keep alive http connection (#3878)
  CHANGELOG.md
  pkg/util/env_resolver.go
  pkg/util/http.go
Due: golangci-lint

feat: add chaos e2e test (#3935)
  tests/chaos/chaos_test.go
  tests/helper/helper.go
  tests/run-all.sh
Due: golangci-lint

grpc client: wait properly for establishing a connection (#3938)
  apis/keda/v1alpha1/identifier.go
  pkg/metricsservice/client.go
  pkg/provider/provider.go
Due: golangci-lint

Metrics Server: use vendored OpenAPI definitions (#3928)
  CHANGELOG.md
  Makefile
  adapter/generated/openapi/zz_generated.openapi.go
  adapter/main.go
  go.mod
Due: golangci-lint

chore: add GCP_RUN_IDENTITY_TESTS in e2e pr (#3915)
  .github/workflows/pr-e2e.yml
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
