Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

feat: validate fallback configuration (#5629)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

update .devcontainer
  .devcontainer/Dockerfile
Due: none

Update
  pkg/fallback/fallback.go
  pkg/scaling/modifiers/formula.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update bug report
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

Update
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  pkg/util/welcome.go
Due: golangci-lint

Update
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

chore: Increase maximum supported Kubernetes version for KEDA v2.14 (#5736)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  pkg/util/welcome.go
Due: golangci-lint

Update
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
Due: golangci-lint

Update
  pkg/scaling/modifiers/formula.go
Due: golangci-lint

bump Go to 1.21.9 (#5734)
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
Due: none

Update
  go.mod
  go.sum
  vendor/github.com/cloudevents/sdk-go/v2/protocol/http/protocol.go
  vendor/modules.txt
Due: none

Update
  CHANGELOG.md
Due: none

Fix fallback logic in formula-based evaluation (#5684)
  CHANGELOG.md
  pkg/fallback/fallback.go
  pkg/scaling/modifiers/formula.go
  pkg/scaling/scale_handler.go
  tests/internals/scaling_modifiers/scaling_modifiers_test.go
Due: sort-scalers, golangci-lint

add `flowcontrol.apiserver.k8s.io` to RBAC
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Revert "chore: Increase maximum supported Kubernetes version for KEDA v2.14 (…"
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  pkg/util/welcome.go
Due: golangci-lint

Add AWS MSK IAM authentication to Kafka scaler
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/kafka/kafka_scaler_oauth_token_provider.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/scaling/scalers_builder.go
  vendor/github.com/aws/aws-msk-iam-sasl-signer-go/LICENSE
  vendor/github.com/aws/aws-msk-iam-sasl-signer-go/NOTICE
  vendor/github.com/aws/aws-msk-iam-sasl-signer-go/signer/msk_auth_token_provider.go
  vendor/github.com/aws/aws-msk-iam-sasl-signer-go/signer/version.go
  vendor/modules.txt
Due: golangci-lint

revert RBAC
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Optimize experimental Kafka scaler and fix consumer group logic
  pkg/scalers/apache_kafka_scaler.go
Due: golangci-lint

update codegen
  pkg/generated/informers/externalversions/factory.go
  vendor/k8s.io/code-generator/generate-internal-groups.sh
Due: none

Add AWS MSK IAM authentication to Kafka scaler (#5692)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/kafka/kafka_scaler_oauth_token_provider.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/scaling/scalers_builder.go
  vendor/github.com/aws/aws-msk-iam-sasl-signer-go/LICENSE
  vendor/github.com/aws/aws-msk-iam-sasl-signer-go/NOTICE
  vendor/github.com/aws/aws-msk-iam-sasl-signer-go/signer/msk_auth_token_provider.go
  vendor/github.com/aws/aws-msk-iam-sasl-signer-go/signer/version.go
  vendor/modules.txt
Due: golangci-lint

Update ROADMAP.md
  ROADMAP.md
Due: none

Update ROADMAP.md (#5749)
  ROADMAP.md
Due: none

fail fast
  tests/scalers/aws/aws_cloudwatch_ignore_null_values_false/aws_cloudwatch_ignore_null_values_false_test.go
Due: golangci-lint

Update tests/scalers/aws/aws_cloudwatch_ignore_null_values_false/aws_cloudwatch_ignore_null_values_false_test.go
  tests/scalers/aws/aws_cloudwatch_ignore_null_values_false/aws_cloudwatch_ignore_null_values_false_test.go
Due: golangci-lint

Apply suggestions from code review
  tests/scalers/aws/aws_cloudwatch_ignore_null_values_false/aws_cloudwatch_ignore_null_values_false_test.go
Due: golangci-lint

fail fast
  tests/scalers/aws/aws_cloudwatch_min_metric_value/aws_cloudwatch_min_metric_value_test.go
Due: golangci-lint

fix broken new line
  tests/helper/helper.go
Due: golangci-lint

fix broken new lines
  tests/helper/helper.go
Due: golangci-lint
