Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

chore(release): Introduce 2.9 as version in bug report
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

chore(release): Introduce 2.9 as version in bug report (#3993)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

Finalization
  CHANGELOG.md
Due: none

docs(changelog): Provide changelog for v2.9 (#3969)
  CHANGELOG.md
Due: none

chore: Add KEDA v2.12 to our roadmap
  ROADMAP.md
Due: none

chore: Add KEDA v2.12 to our roadmap (#3995)
  ROADMAP.md
Due: none

Use approximate queue length
  pkg/scalers/azure/azure_queue.go
Due: golangci-lint

fix: Support unsafeSsl and enable ssl verification as default
  CHANGELOG.md
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
Due: golangci-lint

fix: update connections strings to address db-connection-string rule
  pkg/scalers/mongo_scaler.go
  pkg/scalers/postgresql_scaler.go
  pkg/util/normalize_string.go
Due: golangci-lint

fix: update connections strings to address db-connection-string rule
  pkg/scalers/couchdb_scaler.go
Due: golangci-lint

sort parameters to pass the failing test
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

remove whiteline
  pkg/scalers/couchdb_scaler.go
Due: golangci-lint

tested neo4j scaler in local
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  pkg/scalers/neo4j_scaler.go
Due: golangci-lint

updated helm install command
  tests/scalers/arangodb/helper.go
Due: golangci-lint

fix: properly retrieve and close scalers cache
  CHANGELOG.md
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

added e2e test for neo4j
  tests/scalers/neo4j/neo4j_test.go
Due: golangci-lint

fix: properly retrieve and close scalers cache (#4012)
  CHANGELOG.md
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix(az key vault): Raise an error instead of panic if authentication not provided
  CHANGELOG.md
  pkg/scaling/resolver/azure_keyvault_handler.go
Due: golangci-lint

fix(az key vault): Raise an error instead of panic if authentication not provided (#4017)
  CHANGELOG.md
  pkg/scaling/resolver/azure_keyvault_handler.go
Due: golangci-lint

fix: Support unsafeSsl and enable ssl verification as default (#4006)
  CHANGELOG.md
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
Due: golangci-lint

chore: prepare release
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
  RELEASE-PROCESS.md
Due: none

chore: prepare release (#4019)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
  RELEASE-PROCESS.md
Due: none

Fix logging for cpu memory scaler
  pkg/scalers/cpu_memory_scaler.go
Due: golangci-lint

Add CHANGELOG
  CHANGELOG.md
Due: none

adds helper function to wait for all pods in the namespace to be running
  tests/helper/helper.go
  tests/scalers/arangodb/arangodb_test.go
  tests/scalers/arangodb/helper.go
Due: golangci-lint

updated neo4j scaler
  go.mod
  go.sum
  pkg/scalers/neo4j_scaler.go
  pkg/scalers/neo4j_scaler_test.go
  tests/scalers/neo4j/neo4j_test.go
  vendor/modules.txt
Due: golangci-lint

updated neo4j scaler
  tests/scalers/neo4j/neo4j_test.go
Due: golangci-lint

completed e2e test for neo4j scaler
  pkg/scalers/neo4j_scaler.go
  tests/scalers/neo4j/neo4j_test.go
Due: golangci-lint

updated neo4j scaler
  CHANGELOG.md
Due: none

fixes username as base64 input
  tests/helper/helper.go
  tests/scalers/arangodb/arangodb_test.go
  tests/scalers/arangodb/helper.go
Due: golangci-lint

fix: Logging for cpu memory scaler (#4022)
  CHANGELOG.md
  pkg/scalers/cpu_memory_scaler.go
Due: golangci-lint

Update pkg/scalers/neo4j_scaler.go
  pkg/scalers/neo4j_scaler.go
Due: golangci-lint

fix helper for deleting arango deployment
  tests/scalers/arangodb/arangodb_test.go
  tests/scalers/arangodb/helper.go
Due: golangci-lint

updates changelog
  tests/scalers/arangodb/arangodb_test.go
  tests/scalers/arangodb/helper.go
Due: golangci-lint

updated post scaler creation steps
  CHANGELOG.md
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
Due: none

updates changelog
  CHANGELOG.md
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  pkg/scalers/arangodb_scaler.go
Due: golangci-lint

resolves ci checks and comments
  pkg/scalers/arangodb_scaler.go
  tests/helper/helper.go
Due: golangci-lint

adds function comment
  pkg/scalers/arangodb_scaler.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
