Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

add 'cloud' parameter to azure storage scalers
  go.mod
  go.sum
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_queue_scaler.go
Due: golangci-lint

add tests and fix changelog update
  CHANGELOG.md
  pkg/scalers/azure/azure_storage_test.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_queue_scaler_test.go
Due: golangci-lint

make the linter happy
  pkg/scalers/azure/azure_storage.go
Due: golangci-lint

Show HashiCorp Vault Address when using 'kubectl get ta' or 'kubectl get cta' (#1862)
  CHANGELOG.md
  api/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: golangci-lint

don't panic when HC Vault path doesn't exist
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Don't panic when HashiCorp Vault path doesn't exist (#1867)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Support non-public cloud environments in the Azure Storage Queue and Azure Storage Blob scalers (#1863)
  CHANGELOG.md
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure/azure_blob_test.go
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure/azure_queue.go
  pkg/scalers/azure/azure_queue_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure/azure_storage_test.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_queue_scaler_test.go
Due: golangci-lint

feat: adding version metadata to be able to specify kafka broker version
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Use single PR for all dependency updates
  renovate.json
Due: none

Use package filters
  renovate.json
Due: none

chore: Renovate configuration for single PR (#1871)
  renovate.json
Due: none

docs: Add container image scanning in security policy
  SECURITY.md
Due: none

Extend Azure Monitor scaler to support custom metrics
  CHANGELOG.md
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
Due: golangci-lint

docs: Add container image scanning in security policy (#1882)
  SECURITY.md
Due: none

feat: adding version metadata to be able to specify kafka broker version (#1866)
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Extend Azure Monitor scaler to support custom metrics (#1883)
  CHANGELOG.md
  pkg/scalers/azure/azure_monitor.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
Due: golangci-lint

Update Renovate to describe updates in the commmit
  renovate.json
Due: none

Update Renovate to describe updates in the commmit (#1886)
  renovate.json
Due: none

Enable PR controls for Renovate
  renovate.json
Due: none

Enable PR controls for Renovate (#1889)
  renovate.json
Due: none

Update actions/cache action to v2.1.6
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/v1-build.yml
Due: none

Update actions/checkout action to v2
  .github/workflows/build-tools.yml
  .github/workflows/fossa.yml
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/v1-build.yml
Due: none

Update module k8s.io/client-go to v12
  go.mod
Due: none

linter: update & use revive instead of golint
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  .golangci.yml
  CONTRIBUTING.md
  controllers/scaledjob_controller.go
  controllers/scaledjob_finalizer.go
  controllers/scaledobject_controller_test.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_swift_scaler.go
Due: golangci-lint

bump to golang 1.15.13
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  Dockerfile
  Dockerfile.adapter
  tools/build-tools.Dockerfile
Due: none

bump to golang 1.15.13 (#1902)
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  Dockerfile
  Dockerfile.adapter
  tools/build-tools.Dockerfile
Due: none

linter: update & use revive instead of golint (#1901)
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  .golangci.yml
  CONTRIBUTING.md
  controllers/scaledjob_controller.go
  controllers/scaledjob_finalizer.go
  controllers/scaledobject_controller_test.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_swift_scaler.go
Due: golangci-lint

scale handler chores
  api/v1alpha1/withtriggers_types.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

influxdb: add support for pulling authToken, organizationName, and serverURL from (Cluster)TriggerAuthentication
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint
