Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Update pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler.go
Due: golangci-lint

Turn rest API template into a text/template
  pkg/scalers/activemq_scaler.go
Due: golangci-lint

Add name field to unit test and configure functions accordingly
  pkg/scalers/activemq_scaler_test.go
Due: golangci-lint

Ignores terminated pods in kubernetes-workload count
  pkg/scalers/kubernetes_workload_scaler.go
Due: golangci-lint

Unknown shouldn't count as terminated
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
Due: golangci-lint

Expects getMetricValue to filter on phase before counting
  pkg/scalers/kubernetes_workload_scaler_test.go
Due: golangci-lint

Adds changelog entry for kubernetes-workload ignore terminated pods
  CHANGELOG.md
Due: none

Aligns 2.6.0 changelog formatting with that of sections below
  CHANGELOG.md
Due: none

Kubernetes Workload Scaler: ignore terminated pods (#2384)
  CHANGELOG.md
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
Due: golangci-lint

Fix some error messages and add a check for missing threshold value Clean up more test logs
  pkg/scalers/newrelic_scaler.go
Due: golangci-lint

initial e2e tests for new relic
  tests/scalers/new-relic.test.ts
Due: none

remove keys
  tests/scalers/new-relic.test.ts
Due: none

make account id a env variable too
  tests/scalers/new-relic.test.ts
Due: none

fix wrong lowercase 'i' in the variable
  tests/scalers/new-relic.test.ts
Due: none

new-relic scaler Add an option to make empty data returned by query as an error Make sure test-app has at least 1 pod and keda-test-app is 0 before running tests
  go.mod
  go.sum
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/new-relic.test.ts
Due: sort-scalers, golangci-lint

go.mod/go.sum from main
  go.mod
  go.sum
Due: none

Fix noDataErr string case add noDataErr to tests add missinng threshold to tests add better error description when NerdGraph query fails
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler_test.go
Due: golangci-lint

Make metricName optional also fix the test so newrelic is replaced by new-relic to keep consistency on the names
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler_test.go
Due: golangci-lint

fix e2e test
  tests/scalers/new-relic.test.ts
Due: none

Fix e2e test fail, add suggested changes to scaler
  pkg/scalers/activemq_scaler.go
  tests/scalers/activemq.test.ts
Due: golangci-lint

add NewRelic variables to e2e test
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Added missing NEWRELIC_ACCOUNT_ID to test description on requiered env variables
  tests/scalers/new-relic.test.ts
Due: none

Update CHANGELOG.md file
  CHANGELOG.md
Due: none

Add NewRelic variables for e2e tests
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Add NewRelic variables for e2e tests (#2390)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Replace TODO line with new ActiveMQ line
  CHANGELOG.md
Due: none

add go.mod/go.sum files
  go.mod
  go.sum
Due: none

Update a variable name to make more sense of it use
  tests/scalers/new-relic.test.ts
Due: none

fix imports
  pkg/scalers/newrelic_scaler.go
Due: golangci-lint

add helm repo update to test
  tests/scalers/new-relic.test.ts
Due: none

wip
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

init impl
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

fix option
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

another fix to e2e test. Make use of variables for helm package repo instead of hardcoded it (Thanks Jorge!) Split long lines on the test to make more easy to ready and catch errors
  tests/scalers/new-relic.test.ts
Due: none

added region as parameter to the e2e test
  tests/scalers/new-relic.test.ts
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

Update pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler.go
Due: golangci-lint

Remove metricName from scaler
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler_test.go
Due: golangci-lint

Remove user-defined option of metricName parameter
  pkg/scalers/activemq_scaler.go
  pkg/scalers/activemq_scaler_test.go
Due: golangci-lint
