Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

move changelog entry to Improvments section + update issue link
  CHANGELOG.md
Due: none

fix(datadog): ensure that returns the same element that has been checked
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Fixed Linting Issue
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

tesst: remove ts files
  tests/scalers/rabbitmq-helpers.ts
  tests/scalers/rabbitmq-queue-amqp.test.ts
Due: none

style: fix format
  pkg/scalers/rabbitmq_scaler.go
  tests/scalers_go/rabbitmq/rabbitmq_queue_amqp/rabbitmq_queue_amqp_test.go
Due: golangci-lint

pr: fix comments
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

**Kafka Scaler:** Handle Sarama errors properly
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

move min_replica_sj e2e test into dedicated file
  tests/internals/min_replica_sj/min_replica_sj_test.go
  tests/scalers_go/external_scaler_sj/external_scaler_sj_test.go
Due: golangci-lint

clean up
  tests/helper/helper.go
  tests/internals/min_replica_sj/min_replica_sj_test.go
Due: golangci-lint

clean up
  tests/internals/min_replica_sj/min_replica_sj_test.go
Due: golangci-lint

make static checks happy
  tests/helper/helper.go
Due: golangci-lint

chore: bump build tools to go 1.17.13
  Makefile
Due: none

chore: bump build tools to go 1.17.13 (#3465)
  Makefile
Due: none

chore: Add extra path to build tools CI
  .github/workflows/build-tools.yml
Due: none

chore: Add extra path to build tools CI (#3471)
  .github/workflows/build-tools.yml
Due: none

dummy commit
  .github/workflows/pr-validation.yml
  Makefile
Due: none

dummy ci
  .github/workflows/Dummy.yml
Due: none

undo
  Makefile
Due: none

fix(datadog): ensure that returns the same element that has been checked (#3450)
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Introduce minReplicaCount for scaledjob (#3425)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/cache/scalers_cache_test.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
  tests/helper/helper.go
  tests/internals/min_replica_sj/min_replica_sj_test.go
Due: golangci-lint

Kafka Scaler: added support for PKCS #8 private key decryption (#3413)
  CHANGELOG.md
  go.mod
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/util/tls_config.go
Due: golangci-lint

fix(kafka): Handle Sarama errors properly (#3452)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Add unit test for util
  pkg/util/env_resolver_test.go
Due: golangci-lint

chore: KEDA v2.8 will be released on Aug 10th
  ROADMAP.md
Due: none

Reference ScaledObject's/ScaledJob's name in the scalers log
  CHANGELOG.md
  controllers/keda/scaledobject_controller_test.go
  pkg/scalers/activemq_scaler.go
  pkg/scalers/artemis_scaler.go
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
  pkg/scalers/scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Reference ScaledObject's/ScaledJob's name in the scalers log (#3485)
  CHANGELOG.md
  controllers/keda/scaledobject_controller_test.go
  pkg/scalers/activemq_scaler.go
  pkg/scalers/artemis_scaler.go
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
  pkg/scalers/kubernetes_workload_scaler.go
  pkg/scalers/kubernetes_workload_scaler_test.go
  pkg/scalers/scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

aws: Reference ScaledObject's/ScaledJob's name in the scalers log
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_cloudwatch_scaler_test.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler_test.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler_test.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

azure: Reference ScaledObject's/ScaledJob's name in the scalers log
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_app_insights_scaler_test.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_queue_scaler_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

g*: Reference ScaledObject's/ScaledJob's name in the scalers log
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/gcp_storage_scaler_test.go
  pkg/scalers/graphite_scaler.go
Due: golangci-lint

c|d|e*: Reference ScaledObject's/ScaledJob's name in the scalers log
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
  pkg/scalers/cron_scaler.go
  pkg/scalers/cron_scaler_test.go
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  pkg/scalers/elasticsearch_scaler.go
Due: golangci-lint

h|i|k|l*: Reference ScaledObject's/ScaledJob's name in the scalers log
  pkg/scalers/huawei_cloudeye_scaler.go
  pkg/scalers/huawei_cloudeye_scaler_test.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/scalers/liiklus_scaler.go
  pkg/scalers/liiklus_scaler_test.go
Due: golangci-lint

m|n|o*: Reference ScaledObject's/ScaledJob's name in the scalers log
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler_test.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/openstack_swift_scaler_test.go
Due: golangci-lint

azure: Reference ScaledObject's/ScaledJob's name in the scalers log (#3489)
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_app_insights_scaler_test.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_queue_scaler.go
  pkg/scalers/azure_queue_scaler_test.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

g*: Reference ScaledObject's/ScaledJob's name in the scalers log (#3490)
  pkg/scalers/gcp_pubsub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scalers/gcp_storage_scaler.go
  pkg/scalers/gcp_storage_scaler_test.go
  pkg/scalers/graphite_scaler.go
Due: golangci-lint

c|d|e*: Reference ScaledObject's/ScaledJob's name in the scalers log (#3491)
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
  pkg/scalers/cron_scaler.go
  pkg/scalers/cron_scaler_test.go
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  pkg/scalers/elasticsearch_scaler.go
Due: golangci-lint

h|i|k|l*: Reference ScaledObject's/ScaledJob's name in the scalers log (#3492)
  pkg/scalers/huawei_cloudeye_scaler.go
  pkg/scalers/huawei_cloudeye_scaler_test.go
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  pkg/scalers/liiklus_scaler.go
  pkg/scalers/liiklus_scaler_test.go
Due: golangci-lint

m|n|o*: Reference ScaledObject's/ScaledJob's name in the scalers log (#3493)
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/newrelic_scaler.go
  pkg/scalers/newrelic_scaler_test.go
  pkg/scalers/openstack_metrics_scaler.go
  pkg/scalers/openstack_metrics_scaler_test.go
  pkg/scalers/openstack_swift_scaler.go
  pkg/scalers/openstack_swift_scaler_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
