Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

fix typo
  config/webhooks/webhooks.yaml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update parameter name
  cmd/webhooks/main.go
  config/webhooks/webhooks.yaml
  tests/helper/helper.go
  tests/utils/setup_test.go
Due: golangci-lint

update docs
  BUILD.md
  CONTRIBUTING.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  config/webhooks/kustomization.yaml
  tests/helper/helper.go
Due: golangci-lint

update rbac
  apis/keda/v1alpha1/scaledobject_webhook.go
  config/webhooks/role.yaml
  config/webhooks/role_binding.yaml
Due: golangci-lint

update contributing
  CONTRIBUTING.md
Due: none

chore: Add "interested to contribute" to issue template for feature request
  .github/ISSUE_TEMPLATE/1_feature_request.yml
Due: none

chore: Add "interested to contribute" to issue template for feature request (#4071)
  .github/ISSUE_TEMPLATE/1_feature_request.yml
Due: none

add cpu/memory validation
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  cmd/webhooks/main.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

solve styles
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

fix errors
  apis/keda/v1alpha1/scaledobject_webhook.go
  tests/internals/scaled_object_validation/scaled_object_validation_test.go
Due: golangci-lint

Add e2e test
  pkg/prommetrics/adapter/adapter_prommetrics.go
  pkg/provider/provider.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Add scaler metric latency support
  pkg/prommetrics/adapter/adapter_prommetrics.go
  pkg/prommetrics/prommetrics.go
  pkg/provider/provider.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Add changelog & fix static checks
  CHANGELOG.md
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Fix scaled_object_errors
  pkg/prommetrics/prommetrics.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

move the logic for measuring latency inside cache.GetMetricsForScaler()
  pkg/provider/provider.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fix ut
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Add scaler metric latency support (#4040)
  CHANGELOG.md
  pkg/prommetrics/prommetrics.go
  pkg/provider/provider.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

Cassandra_scaler improvement
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
Due: golangci-lint

update arch picture
  images/keda-arch.png
  images/keda-architecture.pptx
Due: none

use my own fork temporally
  go.mod
  go.sum
  vendor/github.com/open-policy-agent/cert-controller/pkg/rotator/rotator.go
  vendor/modules.txt
Due: golangci-lint

move to the operator the cert generation
  Makefile
  apis/keda/v1alpha1/scaledobject_webhook.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  config/manager/manager.yaml
  config/metrics-server/deployment.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/webhooks/kustomization.yaml
  config/webhooks/role.yaml
  config/webhooks/role_binding.yaml
  config/webhooks/webhooks.yaml
Due: golangci-lint

fix influx test
  cmd/operator/main.go
  tests/scalers/influxdb/influxdb_test.go
Due: golangci-lint

fix influx test
  cmd/operator/main.go
  config/rbac/role_binding.yaml
  tests/scalers/influxdb/influxdb_test.go
Due: golangci-lint

fix matching errors
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  tests/scalers/selenium/selenium_test.go
Due: golangci-lint

undo incorrect change
  Makefile
Due: none

remove keda-architecture ppt in favour of keda-docs schematics.pptx
  images/keda-architecture.pptx
Due: none

Update Makefile
  Makefile
Due: none

apply feedback
  CHANGELOG.md
  cmd/operator/main.go
Due: golangci-lint

add a deletion note in release yaml
  .github/workflows/release-build.yml
Due: none

chore: add needed variables to pipelines
  .github/workflows/pr-e2e.yml
  .github/workflows/template-main-e2e-test.yml
Due: none

chore: add needed variables to workflows (#4083)
  .github/workflows/pr-e2e.yml
  .github/workflows/template-main-e2e-test.yml
Due: none

feat: use self-signed certs
  cmd/operator/main.go
  config/rbac/role.yaml
  pkg/certificates/certificate_manager.go
Due: golangci-lint

use certs for gRPC TLS and metrics server
  Dockerfile.adapter
  cmd/adapter/main.go
  cmd/operator/main.go
  config/metrics-server/api_service.yaml
  config/metrics-server/deployment.yaml
  pkg/metricsservice/client.go
  pkg/metricsservice/server.go
  pkg/metricsservice/utils/tls.go
Due: golangci-lint

use already existing arg
  cmd/adapter/main.go
  config/metrics-server/deployment.yaml
Due: golangci-lint

add extra dns name
  pkg/certificates/certificate_manager.go
Due: golangci-lint

update dns names
  cmd/adapter/main.go
  pkg/certificates/certificate_manager.go
Due: golangci-lint

remove cert-rotator replace
  go.mod
  go.sum
  vendor/github.com/open-policy-agent/cert-controller/pkg/rotator/rotator.go
  vendor/modules.txt
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
