Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Bug report template - prepare 2.12.1 (#5212)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

Changelog - prepare 2.12.1 (#5213)
  CHANGELOG.md
Due: none

fix: URL encode poolName in azure-pipelines (#5120)
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

update Changelog for 2.12.1
  CHANGELOG.md
Due: none

Fix logger in OTEL collector (#5095)
  CHANGELOG.md
  pkg/metricscollector/opentelemetry.go
Due: golangci-lint

fix: use new injection appoach for gcp e2e tests (#5187)
  Makefile
Due: none

fix: Prevented stuck status due to timeouts during scalers generation (#5084)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  tests/sequential/broken_scaledobject_tolerancy/broken_scaledobject_tolerancy_test.go
Due: sort-scalers, golangci-lint

chore(e2e): Print KEDA logs despite installation fails (#5214)
  .pre-commit-config.yaml
  tests/run-all.go
Due: golangci-lint

chore: Enable cherry-pick-bot
  .github/cherry-pick-bot.yml
Due: none

Fix go fmt failure
  pkg/scalers/azure_data_explorer_scaler_test.go
Due: golangci-lint

Fix CI failure
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
  pkg/scalers/external_scaler.go
Due: golangci-lint

Remove deprecation in 2.13 for clientSecret in ADX scaler
  pkg/scalers/azure_data_explorer_scaler.go
Due: golangci-lint

Revert changes in external_scaler.go from code review
  pkg/scalers/external_scaler.go
Due: golangci-lint

Minor changes from code review
  CHANGELOG.md
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
Due: golangci-lint

Add Changelog
  CHANGELOG.md
Due: none

Remove deprecation for external scaler in v2.13
  pkg/scalers/external_scaler.go
Due: golangci-lint

General: Bubble up TriggerAuthentication errors as ScaledObject events
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler_test.go
Due: golangci-lint

General: Bubble up AuthRef TriggerAuthentication errors as ScaledObject events
  CHANGELOG.md
Due: none

General: Bubble up AuthRef TriggerAuthentication errors as ScaledObject events
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Handled -> Registered
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/opentelemetry_test.go
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

align namespace naming to not be pluralized
  pkg/metricscollector/opentelemetry.go
Due: golangci-lint

rewrite the metric names in the tests
  pkg/metricscollector/opentelemetry_test.go
Due: golangci-lint

even more rewriting ... :facepalm:
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

chore: Enable cherry-pick-bot (#5217)
  .github/cherry-pick-bot.yml
Due: none

chore: e2e test improvements
  config/e2e/patch_operator.yml
  tests/clean-crds.sh
  tests/helper/helper.go
  tests/run-all.go
  tests/scalers/influxdb/influxdb_test.go
  tests/sequential/disruption/disruption_test.go
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
