Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

Update
  apis/eventing/v1alpha1/cloudevent_types.go
  cmd/operator/main.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/triggerauthentication_controller.go
  controllers/keda/util/finalizer.go
  pkg/common/message/message.go
  pkg/eventreason/eventreason.go
  tests/internals/events/events_test.go
Due: golangci-lint

Update
  CHANGELOG.md
Due: none

Update
  tests/internals/events/events_test.go
Due: golangci-lint

Pulsar: remove deprecated trigger name (#6092)
  CHANGELOG.md
  pkg/scalers/pulsar_scaler.go
  pkg/scalers/pulsar_scaler_test.go
Due: golangci-lint

Make seperator configurable
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
  pkg/scalers/scalersconfig/typed_config.go
  pkg/scalers/scalersconfig/typed_config_test.go
Due: golangci-lint

Provide ClusterCloudEventSource around the management of TriggerAuthentication/ClusterTriggerAuthentication resources (#6131)
  CHANGELOG.md
  apis/eventing/v1alpha1/cloudevent_types.go
  cmd/operator/main.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  controllers/keda/clustertriggerauthentication_controller.go
  controllers/keda/triggerauthentication_controller.go
  controllers/keda/util/finalizer.go
  pkg/common/message/message.go
  pkg/eventreason/eventreason.go
  tests/internals/events/events_test.go
Due: golangci-lint

Update Remote Container references to Dev Containers
  BUILD.md
Due: none

Add splitWithSeparator func
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

Refactor aws dynamodb scaler (#5961)
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_scaler_test.go
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

Add Username and Password for Selenium Grid Basic Auth
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

Allow using secretRef for hashicorpVault auth
  apis/keda/v1alpha1/triggerauthentication_types.go
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/hashicorpvault_handler_test.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

.
  CHANGELOG.md
  pkg/scalers/azure_eventhub_scaler.go
Due: golangci-lint

Add azure-workload auth to MSSQL scaler
  CHANGELOG.md
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
Due: golangci-lint

use oauth2
  pkg/scalers/mssql_scaler.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

Updated the manifest
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
Due: none

rfac: Improve cron scaler
  CHANGELOG.md
  pkg/scalers/cron_scaler.go
  pkg/scalers/cron_scaler_test.go
Due: golangci-lint

add activation feature for cpu & memory scaler
  pkg/scalers/cpu_memory_scaler.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
Due: sort-scalers, golangci-lint

fix: panic when owner or runnerScope env is empty
  CHANGELOG.md
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

Update Remote Container references to Dev Containers (#6140)
  BUILD.md
Due: none

add test for CPU/Memory trigger activation feature
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
  tests/scalers/cpu/cpu_test.go
Due: golangci-lint

modify CHANGELOG
  CHANGELOG.md
Due: none

Introduce aws region into the AWS config cache
  pkg/scalers/aws/aws_common.go
  pkg/scalers/aws/aws_config_cache.go
  pkg/scalers/aws/aws_config_cache_test.go
  pkg/scalers/aws_cloudwatch_scaler.go
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_streams_scaler.go
  pkg/scalers/aws_kinesis_stream_scaler.go
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scaling/resolver/aws_secretmanager_handler.go
Due: golangci-lint

add CHANGELOG entry
  CHANGELOG.md
Due: none

fix: correct Update logic for PausedReplicasPredicate to handle empty annotations
  CHANGELOG.md
  controllers/keda/util/predicate.go
  controllers/keda/util/predicate_test.go
Due: golangci-lint

fix: Expose errors in parsing applicationID and installationID
  pkg/scalers/github_runner_scaler.go
  pkg/scalers/github_runner_scaler_test.go
Due: golangci-lint

fix: fix slice init length
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

feat: provide separate paremeters for user and password
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  tests/scalers/rabbitmq/rabbitmq_helper.go
  tests/scalers/rabbitmq/rabbitmq_queue_amqp_auth/rabbitmq_queue_amqp_auth_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_auth/rabbitmq_queue_http_auth_test.go
Due: golangci-lint

fix: rabbitmq golangci error
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Support multiple queues at the IBMMQ scaler
  CHANGELOG.md
  pkg/scalers/ibmmq_scaler.go
  pkg/scalers/ibmmq_scaler_test.go
Due: golangci-lint

Update
  pkg/scalers/aws_dynamodb_scaler_test.go
Due: golangci-lint

fix: Initial delay e2e test use a scaler without failures
  tests/internals/initial_delay_cooldownperiod/initial_delay_cooldownperiod_test.go
Due: golangci-lint

fix: fix slice init length (#6179)
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

fix: Initial delay e2e test use a scaler without failures (#6185)
  tests/internals/initial_delay_cooldownperiod/initial_delay_cooldownperiod_test.go
Due: golangci-lint

fix: Azure EventHub shows checkpointer error properly (#6096)
  CHANGELOG.md
  pkg/scalers/azure_eventhub_scaler.go
Due: golangci-lint

webhook: cache miss fallback to direct client for ScaledObject
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/suite_test.go
  cmd/webhooks/main.go
Due: golangci-lint

one commit on feature/splunk-observability-scaler to sign off commits in hindsight
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  go.mod
  go.sum
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scalers/splunk_observability_scaler.go
  pkg/scalers/splunk_observability_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/splunk_observability_test/splunk_observability_test.go
  vendor/github.com/signalfx/signalflow-client-go/v2/LICENSE
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/client.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/computation.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/conn.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/doc.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/fake_backend.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/binary.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/control.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/error.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/event.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/info.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/json.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/metadata.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/messages/types.go
  vendor/github.com/signalfx/signalflow-client-go/v2/signalflow/requests.go
  vendor/github.com/signalfx/signalfx-go/LICENSE
  vendor/github.com/signalfx/signalfx-go/idtool/idtool.go
  vendor/modules.txt
Due: golangci-lint

add scaler for temporal
  pkg/scalers/temporal.go
  pkg/scalers/temporal_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/temporal/temporal_test.go
Due: golangci-lint

updated changelog accordingly
  CHANGELOG.md
Due: none
