Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fix: Cron Scaler e2e test works during min 59
  tests/scalers/cron/cron_test.go
Due: golangci-lint

fix typo
  BUILD.md
Due: none

apply feedback
  BUILD.md
Due: none

move smoke test to resuable workflows
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/workflow-templates/smoke-tests.yml
Due: none

add dummy step
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/smoke-tests-reusable-workflow.yml
Due: none

docs: Improve documentation about how to debug metrics server (#3585)
  BUILD.md
Due: none

move smoke test to resuable workflows for ARM and multi versions
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/rw-arm64-smoke-tests.yml
  .github/workflows/rw-smoke-tests.yml
  .github/workflows/rw-versions-smoke-tests.yml
  Makefile
  tests/run-smoke-tests.sh
Due: none

fix: Cron Scaler e2e test works during min 59 (#3590)
  tests/scalers/cron/cron_test.go
Due: golangci-lint

fix styles
  .github/workflows/rw-arm64-smoke-tests.yml
  .github/workflows/rw-smoke-tests.yml
  .github/workflows/rw-versions-smoke-tests.yml
Due: none

add needed permission to script
  tests/run-smoke-tests.sh
Due: none

dummy
  .github/workflows/pr-validation.yml
Due: none

undo dummy changes
  .github/workflows/pr-validation.yml
Due: none

add rw to trivy
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/rw-trivy-scan.yml
Due: none

use main for rw
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/rw-arm64-smoke-tests.yml
  .github/workflows/rw-versions-smoke-tests.yml
Due: none

add rw for e2e test on main
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/rw-main-e2e-test.yml
  .github/workflows/rw-trivy-scan.yml
Due: none

undo dummy change
  .github/workflows/pr-validation.yml
Due: none

use current branch on PR
  .github/workflows/pr-validation.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

remove whitespace
  .github/workflows/rw-trivy-scan.yml
Due: none

update unit test per comment
  pkg/scalers/azure_data_explorer_scaler.go
  pkg/scalers/azure_data_explorer_scaler_test.go
Due: golangci-lint

fix: Metrics endpoint returns correct HPA value (#3584)
  CHANGELOG.md
  config/metrics-server/deployment.yaml
  config/metrics-server/service.yaml
  pkg/metrics/prometheus_metrics.go
  pkg/provider/provider.go
  tests/internals/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

add scaledobject.spec.triggers.passowrd, fix bug #3600
  pkg/scalers/postgresql_scaler.go
Due: golangci-lint

fix: The close method has already been called once in ScalersCache. PushScaler here will call the scaler's close method again.
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore: Add a note about debbugging metrics server
  BUILD.md
Due: none

chore: Add a note about debbugging metrics server (#3608)
  BUILD.md
Due: none

feat: Add scaler governance to PR checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix: panic in datadog scaler
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Fix: panic in datadog scaler (#3617)
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

feat: Add scaler governance to PR checklist (#3616)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

bump deps and fix deprecations
  .devcontainer/Dockerfile
  Makefile
  go.mod
  go.sum
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scalers/stackdriver_client.go
  tests/utils/setup_test.go
Due: golangci-lint

chore: bump deps and get rid of `github.com/golang/protobuf` (as a direct dep) (#3618)
  .devcontainer/Dockerfile
  Makefile
  go.mod
  go.sum
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  pkg/scalers/stackdriver_client.go
  tests/utils/setup_test.go
Due: golangci-lint

fix(rabbitmq): Parse vhost correctly if it's provided in the host url
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_amqp/rabbitmq_queue_amqp_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_amqp_vhost/rabbitmq_queue_amqp_vhost_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http/rabbitmq_queue_http_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_vhost/rabbitmq_queue_http_vhost_test.go
Due: golangci-lint

Fixes for upstream changes integration
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

fix(rabbitmq): Parse vhost correctly if it's provided in the host url (#3604)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_amqp/rabbitmq_queue_amqp_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_amqp_vhost/rabbitmq_queue_amqp_vhost_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http/rabbitmq_queue_http_test.go
  tests/scalers/rabbitmq/rabbitmq_queue_http_vhost/rabbitmq_queue_http_vhost_test.go
Due: golangci-lint

chore: prepare release v2.8.1
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

fix link
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none

apply feedback
  CHANGELOG.md
Due: none

chore: prepare release v2.8.1 (#3625)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  .github/ISSUE_TEMPLATE/4_release_tracker.md
  CHANGELOG.md
Due: none

update k8s versions in bug template
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none
