Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

.
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

fix style
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

unify token providers and allow setting the clientID
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

use namespace instead of fullyQualifiedNamespace
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

remove unecessary test
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

split pod identity cases
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

apply feedback
  CHANGELOG.md
  README.md
  RELEASE-PROCESS.md
Due: none

remove unsupported versions
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  .github/workflows/template-versions-smoke-tests.yml
Due: none

Add missing changes
  CHANGELOG.md
  pkg/scalers/external_mock_scaler.go
Due: golangci-lint

add a compatibility matrixs
  README.md
  RELEASE-PROCESS.md
Due: none

add k8s v1.25 to versions test
  .github/workflows/template-arm64-smoke-tests.yml
  .github/workflows/template-versions-smoke-tests.yml
Due: none

undo changes in bug_report_template
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

chore: remove not supported versions from bug template
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

chore: remove not supported versions from bug template (#3662)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

apply feedback
  CHANGELOG.md
Due: none

fix: allow user to configure metrics API server port (related to https://github.com/kedacore/keda/issues/3570) (#3571)
  adapter/main.go
Due: golangci-lint

chore: bump deps (#3639)
  .devcontainer/Dockerfile
  .github/workflows/pr-e2e-checker.yml
  .github/workflows/pr-e2e-creator.yml
  .github/workflows/pr-e2e.yml
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/azure/azure_aad_workload_identity.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
  tests/scalers/azure_service_bus_queue/azure_service_bus_queue_test.go
  tests/scalers/azure_service_bus_topic/azure_service_bus_topic_test.go
  tests/secret-providers/azure_workload_identity/azure_workload_identity_test.go
  tests/secret-providers/azure_workload_identity_user_assigned/azure_workload_identity_user_assigned_test.go
Due: golangci-lint

Update CHANGELOG.
  CHANGELOG.md
Due: none

feat: Add support for SAS tokens for authentication in Azure Service Bus scaler. (#3673)
  CHANGELOG.md
Due: none

chore: add secrets for aws-pod-identity e2e tests
  .github/workflows/pr-e2e.yml
  .github/workflows/template-main-e2e-test.yml
Due: none

chore: add secrets for aws-pod-identity e2e tests (#3684)
  .github/workflows/pr-e2e.yml
  .github/workflows/template-main-e2e-test.yml
Due: none

chore: add aws-pod-identity e2e tests
  config/crd/bases/keda.sh_scaledobjects.yaml
  tests/scalers/aws/aws_cloudwatch/aws_cloudwatch_test.go
  tests/scalers/aws/aws_cloudwatch_expression/aws_cloudwatch_expression_test.go
  tests/scalers/aws/aws_cloudwatch_pod_identity/aws_cloudwatch_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb/aws_dynamodb_test.go
  tests/scalers/aws/aws_dynamodb_pod_identity/aws_dynamodb_pod_identity_test.go
  tests/scalers/aws/aws_dynamodb_streams/aws_dynamodb_streams_test.go
  tests/scalers/aws/aws_dynamodb_streams_pod_identity/aws_dynamodb_streams_pod_identity_test.go
  tests/scalers/aws/aws_kinesis_stream/aws_kinesis_stream_test.go
  tests/scalers/aws/aws_kinesis_stream_pod_identity/aws_kinesis_stream_pod_identity_test.go
  tests/scalers/aws/aws_sqs_queue/aws_sqs_queue_test.go
  tests/scalers/aws/aws_sqs_queue_pod_identity/aws_sqs_queue_pod_identity_test.go
Due: golangci-lint

install/uninstall aws pod identity
  Makefile
  tests/helper/helper.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

fix styles
  tests/helper/helper.go
  tests/scalers/kafka/kafka_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

fix typo
  tests/scalers/kafka/kafka_test.go
Due: golangci-lint

add cert-manager
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

added loki scaler
  config/crd/bases/keda.sh_scaledobjects.yaml
  go.mod
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scalers/loki_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore: Add Min columnt to SJ visualization
  apis/keda/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  go.mod
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
Due: golangci-lint

added correct context to newRequest
  pkg/scalers/loki_scaler.go
Due: golangci-lint

fix: Use licensed versions in deps
  go.mod
  go.sum
Due: none

update changelog
  CHANGELOG.md
Due: none

chore: Add Min column to SJ visualization (#3687)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  go.mod
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
Due: golangci-lint

kustomize images update
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
Due: none

docs: How to use devcontainers and a local Kubernetes cluster
  BUILD.md
Due: none

fix: CVE-2022-3172
  CHANGELOG.md
  go.mod
  go.sum
  pkg/mock/mock_scale/mock_interfaces.go
Due: golangci-lint

fix: Respect optional parameter inside envs for ScaledJobs
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

fix: CVE-2022-3172 (#3693)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/mock/mock_scale/mock_interfaces.go
Due: golangci-lint

fix: Use licensed versions in deps (#3688)
  go.mod
  go.sum
Due: none
