Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fix logs
  pkg/scalers/aws/aws_config_cache.go
Due: golangci-lint

feat: Automatically apply label for review + PR comment for draft PRs
  .github/workflows/pr-welcome.yml
Due: none

fix: don't validate workload with only resource limits set (#4803)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  tests/internals/scaled_object_validation/scaled_object_validation_test.go
Due: golangci-lint

fix isRemovingFinalizer in webhook (#5317)
  apis/keda/v1alpha1/scaledobject_webhook.go
Due: golangci-lint

feat(gcp-stackdriver): handling value if no timeseries is return
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scalers/gcp_stackdriver_client.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

fix bad space
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Update pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler.go
Due: golangci-lint

feat(gcp-stackdriver): handling value if no timeseries is return (#5345)
  CHANGELOG.md
  pkg/scalers/gcp_cloud_tasks_scaler.go
  pkg/scalers/gcp_stackdriver_client.go
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

Update Azure EventHub scaling
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

Remove unused context
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

add missing headers
  hack/boilerplate.go.txt
  pkg/scalers/aws/aws_authorization.go
  pkg/scalers/aws/aws_common.go
  pkg/scalers/aws/aws_config_cache.go
  pkg/scalers/aws/aws_config_cache_test.go
Due: golangci-lint

propagate ctx
  pkg/scalers/aws/aws_config_cache.go
Due: golangci-lint

Add documentation commments
  pkg/scalers/aws/aws_common.go
  pkg/scalers/aws/aws_config_cache.go
Due: golangci-lint

Add explanation to new files
  pkg/scalers/aws/aws_common.go
  pkg/scalers/aws/aws_config_cache.go
Due: golangci-lint

Add semgrep exclusion
  pkg/scaling/scalers_builder.go
Due: golangci-lint

go mod updates
  go.mod
  vendor/github.com/valyala/fasthttp/coarsetime.go
Due: none

update comment
  pkg/scalers/aws/aws_authorization.go
Due: golangci-lint

update clientset
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/fake/doc.go
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/doc.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/doc.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/doc.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_keda_client.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_triggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/keda_client.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/triggerauthentication.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/generated/informers/externalversions/keda/interface.go
  pkg/generated/informers/externalversions/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/informers/externalversions/keda/v1alpha1/interface.go
  pkg/generated/informers/externalversions/keda/v1alpha1/scaledjob.go
  pkg/generated/informers/externalversions/keda/v1alpha1/scaledobject.go
  pkg/generated/informers/externalversions/keda/v1alpha1/triggerauthentication.go
  pkg/generated/listers/keda/v1alpha1/clustertriggerauthentication.go
  pkg/generated/listers/keda/v1alpha1/expansion_generated.go
  pkg/generated/listers/keda/v1alpha1/scaledjob.go
  pkg/generated/listers/keda/v1alpha1/scaledobject.go
  pkg/generated/listers/keda/v1alpha1/triggerauthentication.go
Due: none

Improve Azure Event Hub scaling (#5125)
  CHANGELOG.md
  pkg/scalers/azure/azure_eventhub_checkpoint.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

fixed on fixcloudeventtypes
  controllers/keda/scaledobject_controller.go
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
  pkg/eventemitter/eventtypes.go
  tests/internals/cloudevent_source/cloudevent_source_test.go
Due: golangci-lint

Fix: Update CloudEventType to correct format (#5277)
  controllers/keda/scaledobject_controller.go
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
  pkg/eventemitter/eventtypes.go
  tests/internals/cloudevent_source/cloudevent_source_test.go
Due: golangci-lint

Support metrics externally ScaledJob as well as ScaledObject
  pkg/metricsservice/server.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Fix CRD PodIdentity not considered
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update CHANGELOG
  CHANGELOG.md
Due: none

Add expectedPodIndity to ResolveAuthRef tests
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Fix pod identity ignored when scaled target is CRD (#5351)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

apply feedback
  pkg/scalers/aws/aws_config_cache.go
Due: golangci-lint

fix(jetstream): Scaler doesn't print multiple (wrong) errors
  pkg/scalers/nats_jetstream_scaler.go
  tests/scalers/nats_jetstream/helper/nats_helper.go
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
Due: golangci-lint

Add error on failed leader search
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

.
  tests/scalers/nats_jetstream/helper/nats_helper.go
Due: golangci-lint

Remove duplicated tests for speeding up the process
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
Due: golangci-lint

fix go mod vendor
  go.mod
  go.sum
  vendor/cloud.google.com/go/secretmanager/apiv1/doc.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secret_manager_client.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secretmanagerpb/resources.pb.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secretmanagerpb/service.pb.go
  vendor/cloud.google.com/go/secretmanager/internal/version.go
  vendor/modules.txt
Due: none

fix(jetstream): Raise an error if leader not found and added v2.10 e2e coverage (#5358)
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
  tests/scalers/nats_jetstream/helper/nats_helper.go
  tests/scalers/nats_jetstream/nats_jetstream_cluster/nats_jetstream_cluster_test.go
Due: golangci-lint
