Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Reverting #2261 (#2265)
  .github/workflows/pr-e2e.yml
Due: none

Add prometheus scaler execute query tests
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Update CHANGELOG
  CHANGELOG.md
Due: none

Add ScalersCache to reuse scalers unless they need changing (#2187)
  CHANGELOG.md
  CREATE-NEW-SCALER.md
  adapter/main.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/keda/hpa.go
  controllers/keda/hpa_test.go
  controllers/keda/metrics_adapter_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/provider/fallback.go
  pkg/provider/fallback_test.go
  pkg/provider/provider.go
  pkg/scalers/scaler.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/cache/scalers_cache_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scaledjob/scale_metrics.go
  tests/scalers/mongodb.test.ts
Due: sort-scalers, golangci-lint

add ability to scale using oldest unacked message age metric from gcp stackdriver and update tests
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
Due: golangci-lint

propagating contexts to all remaining scalers
  CHANGELOG.md
  adapter/main.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

adding PR link
  CHANGELOG.md
Due: none

removing context.TODO() and replacing with contexts passed down the stack
  adapter/main.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledjob_finalizer.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_finalizer.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/provider/provider.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Propagating contexts to all remaining scalers (#2267)
  CHANGELOG.md
  adapter/main.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledjob_finalizer.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_finalizer.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/provider/provider.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Validate values length for prometheus scaler (#2264)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Add logic to accept subscription IDs identifying the whole chain, including projectID
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/stackdriver_client.go
Due: golangci-lint

Correct static checks
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

fix linter issue
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

typo and logging improve
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

change (azure_pipelines): typo and logging improve
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

Cache metrics provided by KEDA Metrics Server
  adapter/main.go
  controllers/keda/metrics_adapter_controller.go
  pkg/provider/fallback_test.go
  pkg/provider/provider.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

`beta.kubernetes.io/os` nodeSelector is deprecated
  config/manager/manager.yaml
  config/metrics-server/deployment.yaml
  tests/scalers/azure-blob.test.ts
Due: none

review feedback
  controllers/keda/metrics_adapter_controller.go
Due: golangci-lint

Update pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

Avoid unneccessary logic
  pkg/scalers/stackdriver_client.go
Due: golangci-lint

bump go deps
  go.mod
  go.sum
Due: none

defer unlock
  controllers/keda/metrics_adapter_controller.go
Due: golangci-lint

defer unlock 2
  pkg/provider/provider.go
Due: golangci-lint

Correct regular expression
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

change if-else statement to switch case for extendability
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

Add private method to get subscription data from subscription string
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

create generic getMetric method for getting data from stackdriver client
  pkg/scalers/gcp_pub_sub_scaler.go
Due: golangci-lint

Use a different cluster for pr e2e runs
  .github/workflows/pr-e2e.yml
Due: none

bump go deps (#2281)
  go.mod
  go.sum
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
