Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Drop a transitive dependency on bou.ke/monkey
  CHANGELOG.md
  go.mod
  go.sum
  vendor/modules.txt
Due: none

chore: Execute FOSSA on PRs
  .github/workflows/fossa.yml
Due: none

Drop a transitive dependency on bou.ke/monkey (#4366)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/modules.txt
Due: none

chore: Execute FOSSA on PRs (#4367)
  .github/workflows/fossa.yml
Due: none

fix odd number of arguments passed as key-value pairs for logging
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

fix odd number of arguments passed as key-value pairs for logging (#4369)
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

chore: Upload artifacts in case of failure in main e2e tests
  .github/workflows/template-main-e2e-test.yml
Due: none

fix: Use latest image for GH Actions e2e test to avoid agent updates
  tests/scalers/github_runner/github_runner_test.go
Due: golangci-lint

chore: Upload artifacts in case of failure in main e2e tests (#4371)
  .github/workflows/template-main-e2e-test.yml
Due: none

chore: Provide more robust release tracker issue template
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none

chore: Provide more robust release tracker issue template (#4375
  .github/ISSUE_TEMPLATE/4_release_tracker.md
Due: none

fix: Use explicit parameter for workflow step
  .github/workflows/pr-e2e.yml
  .github/workflows/template-smoke-tests.yml
Due: none

fix: Use explicit parameter for workflow step
  .github/workflows/template-main-e2e-test.yml
Due: none

fix: Use latest image for GH Actions e2e test to avoid agent updates (#4373
  tests/scalers/github_runner/github_runner_test.go
Due: golangci-lint

fix: Use explicit parameter for workflow step (#4376
  .github/workflows/pr-e2e.yml
  .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-smoke-tests.yml
Due: none

init
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scaling/scale_handler.go
  tests/scalers/cpu/cpu_test.go
Due: sort-scalers, golangci-lint

add exception for kubebuilder imports until fixed
  .golangci.yml
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  controllers/keda/suite_test.go
Due: golangci-lint

change simplified
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  cmd/operator/main.go
  cmd/webhooks/main.go
  controllers/keda/suite_test.go
  pkg/scalers/cpu_memory_scaler.go
  pkg/scaling/scale_handler.go
  tests/scalers/cpu/cpu_test.go
  tests/scalers/memory/memory_test.go
Due: sort-scalers, golangci-lint

resolve convos
  .golangci.yml
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

minor addition
  tests/scalers/cpu/cpu_test.go
Due: golangci-lint

changelog
  CHANGELOG.md
Due: none

fix tests
  tests/scalers/cpu/cpu_test.go
  tests/scalers/memory/memory_test.go
Due: golangci-lint

Add scaleOnDelayed
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

Respect scaleOnDelayed
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

Respect scaleOnDelayed
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

fix link in the changelog
  CHANGELOG.md
Due: none

fix link in the changelog (#4384)
  CHANGELOG.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
