Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Correct indexes for testing
  pkg/scalers/gcp_pubsub_scaler_test.go
Due: golangci-lint

set default scaledObjectMaxReconciles to 10
  main.go
Due: golangci-lint

allow setting `MaxConcurrentReconciles` for controllers
  adapter/main.go
  controllers/keda/metrics_adapter_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  main.go
Due: golangci-lint

fix
  pkg/util/env_resolver.go
Due: golangci-lint

update changelog
  CHANGELOG.md
Due: none

util fn for ENV resolving
  adapter/main.go
  main.go
  pkg/util/env_resolver.go
Due: golangci-lint

init map
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

refactor
  controllers/keda/metrics_adapter_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/suite_test.go
  main.go
Due: golangci-lint

Fix influx code scanning issue
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

chore: fix typo in changelog and organize imports
  CHANGELOG.md
  pkg/scalers/elasticsearch_scaler.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

Refactor client creation
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

Fix typo
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

Influx: Update client generation to fix issues (#2320)
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

GCP Pub/Sub Scaler: add logic to accept subscription IDs with projectID (#2269)
  CHANGELOG.md
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/gcp_pubsub_scaler_test.go
  pkg/scalers/stackdriver_client.go
Due: golangci-lint

Add Elasticsearch Scaler based on search template (#2311)
  .pre-commit-config.yaml
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scaling/scale_handler.go
  tests/scalers/elasticsearch.test.ts
Due: sort-scalers, golangci-lint

Allow setting `MaxConcurrentReconciles` for reconcilers (#2272)
  CHANGELOG.md
  adapter/main.go
  controllers/keda/metrics_adapter_controller.go
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/suite_test.go
  main.go
  pkg/util/env_resolver.go
Due: golangci-lint

docs: Introduce continous container scanning with Snyk in release process
  RELEASE-PROCESS.MD
Due: none

chore: Use @kedacore/keda-maintainers for code ownership
  .github/CODEOWNERS
Due: none

chore: Use @kedacore/keda-maintainers for code ownership (#2326)
  .github/CODEOWNERS
Due: none

docs: Introduce continous container scanning with Snyk in release process (#2325)
  RELEASE-PROCESS.MD
Due: none

bump to Go 1.17.3
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  Dockerfile
  Dockerfile.adapter
  go.mod
  tools/build-tools.Dockerfile
Due: none

fix: Remove org prefix for code owners
  .github/CODEOWNERS
Due: none

fix: Remove org prefix for code owners (#2330)
  .github/CODEOWNERS
Due: none

bump to Go 1.17.3 (#2329)
  .devcontainer/Dockerfile
  .github/workflows/fossa.yml
  .github/workflows/pr-validation.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.adapter
  go.mod
  tools/build-tools.Dockerfile
Due: none

bump deps
  go.mod
  go.sum
Due: none

changelog chores
  CHANGELOG.md
Due: none

update
  CHANGELOG.md
Due: none

fix typo
  CHANGELOG.md
Due: none

ordering
  CHANGELOG.md
Due: none

aws
  CHANGELOG.md
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
