Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Add custom http timeout in RabbitMQ Scaler (#2086)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Fix typo in Makefile (#2154)
  Makefile
Due: none

TriggerAuthentication/Vault: add support for vault namespace (#2085)
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  pkg/scaling/resolver/hashicorpvault_handler.go
Due: golangci-lint

Add support to get connection data from Trigger Authorization in MySQL Scaler (#2113)
  CHANGELOG.md
  pkg/scalers/mysql_scaler.go
  pkg/scalers/mysql_scaler_test.go
Due: golangci-lint

Add e2e test for cron scaler (#2107)
  tests/scalers/cron.test.ts
Due: none

Add support to get connection data from Trigger Authorization in MSSQL Scaler (#2112)
  CHANGELOG.md
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
Due: golangci-lint

Add pageSize (using regex) in RabbitMQ Scaler (#2162)
  CHANGELOG.md
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

Set the previous behavior in dev container (#2102)
  .devcontainer/Dockerfile
Due: none

Add `unsafeSsl` parameter on InfluxDB (#2157)
  CHANGELOG.md
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
Due: golangci-lint

Artemis Scaler parses out broker config parameters in case `restAPITemplate` is given (#2104)
  CHANGELOG.md
  pkg/scalers/artemis_scaler.go
  pkg/scalers/artemis_scaler_test.go
Due: golangci-lint

Add support to provide the metric name in Azure Log Analytics Scaler (#2106)
  CHANGELOG.md
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
Due: golangci-lint

Add support to get connection data from Trigger Authorization in PostgreSQL Scaler (#2114)
  CHANGELOG.md
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mysql_scaler.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/postgresql_scaler_test.go
  pkg/scalers/scaler.go
Due: golangci-lint

Fix mongdb e2e tests (#2140)
  pkg/scalers/mongo_scaler.go
Due: golangci-lint

Adds e2e test for PostgreSQL scaler (#2091)
  tests/scalers/postgresql.test.ts
Due: none

docs: Add step in release process for next release (#2205)
  RELEASE-PROCESS.MD
Due: none

Prometheus scaler: omit `serverAddress` from generated metric name (#2099)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Update cassandra files
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
Due: golangci-lint

Provide support for configuring authentication through TriggerAuthentication for Stan scaler (#2167)
  CHANGELOG.md
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
Due: golangci-lint

chore: Change `feature` as allowed label for stale issues, instead of `feature-request` (#2193)
  .github/stale.yml
Due: none

chore: Provide configuration for automatically closing inactive issues (#2189)
  .github/stale.yml
Due: none

bump deps (#2185)
  adapter/generated/openapi/zz_generated.openapi.go
  go.mod
  go.sum
Due: golangci-lint

Update .gitignore
  .gitignore
  .pre-commit-config.yaml
Due: none

update liiklus protobuf generation (#2184)
  CHANGELOG.md
  Makefile
  hack/LiiklusService.proto
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
Due: golangci-lint

MySQL Scaler: don't expose connection string in `metricName` (#2171)
  CHANGELOG.md
  pkg/scalers/mysql_scaler.go
  pkg/scalers/mysql_scaler_test.go
Due: golangci-lint

Add Cassandra scaler and tests
  go.mod
  go.sum
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/cassandra.test.ts
Due: sort-scalers, golangci-lint

Update CI to run on arm64
  .github/workflows/pr-validation.yml
Due: none

add arm64
  .github/workflows/pr-validation.yml
Due: none

Fix error message if IdleReplicaCount is equal to MinReplicaCount
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

Fix error message if IdleReplicaCount is equal to MinReplicaCount (#2212)
  CHANGELOG.md
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

restore relevant files
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: none

use ctx in favor of context.TODO()
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

separate arm64 job
  .github/workflows/pr-validation.yml
Due: none

certs
  .github/workflows/pr-validation.yml
Due: none

gcc
  .github/workflows/pr-validation.yml
Due: none

final
  .github/workflows/pr-validation.yml
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
