Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fix: Clean go.mod to fix golangci-lint
  go.mod
  go.sum
Due: none

fix style error
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

Update cloud environment package to fetch specified property.
  go.mod
  go.sum
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_cloud_environment_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

fix: clean go.mod to fix golangci-lint (#2782)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

Enable support for non-public clouds.
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure_eventhub_scaler.go
Due: golangci-lint

Add AWS DynamoDB Scaler (#2486)
  CHANGELOG.md
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_test.go
  pkg/scaling/scale_handler.go
  tests/.env
  tests/package-lock.json
  tests/package.json
  tests/scalers/aws-dynamodb.test.ts
Due: sort-scalers, golangci-lint

Add unit tests.
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure_eventhub_scaler_test.go
Due: golangci-lint

Update CHANGELOG.
  CHANGELOG.md
Due: none

Rely on Datadog API to validate the query
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

Code linting
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Rely on Datadog API to validate the query (#2771)
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

fix: Consider maxSessions in Selenium Grid Scaler (#2774)
  CHANGELOG.md
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

Added Tests to the Pipelines demand checker
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

Check and properly inform user that `threshold` is not set
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Prometheus: check and properly inform user that `threshold` is not set (#2794)
  CHANGELOG.md
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Upgraded Azure Pipelines to support demands
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

Support for non-public clouds for EventHub scaler. (#2788)
  CHANGELOG.md
  pkg/scalers/azure/azure_cloud_environment.go
  pkg/scalers/azure/azure_cloud_environment_test.go
  pkg/scalers/azure/azure_eventhub.go
  pkg/scalers/azure/azure_eventhub_test.go
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure_eventhub_scaler.go
  pkg/scalers/azure_eventhub_scaler_test.go
  pkg/scalers/azure_servicebus_scaler.go
Due: golangci-lint

changelog chores
  CHANGELOG.md
Due: none

update golangci-lint to 1.45.0
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  CONTRIBUTING.md
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

changelog chores (#2796)
  CHANGELOG.md
Due: none

update golangci-lint to 1.45.0 (#2797)
  .devcontainer/Dockerfile
  .github/workflows/pr-validation.yml
  CONTRIBUTING.md
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Datadog: isActive should react on `num > 0`
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

Rename filter var in test
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

Make e2e test work with the test GCP project
  tests/scalers/gcp-stackdriver.test.ts
Due: none

Move stackdriver initialization to scaler init
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Rename projectId to projectID
  pkg/scalers/gcp_stackdriver_scaler.go
Due: golangci-lint

Calculate metric name beforehand
  pkg/scalers/gcp_stackdriver_scaler.go
Due: golangci-lint

Wait for gcp-sdk container to be ready in tests
  tests/scalers/gcp-stackdriver.test.ts
Due: none

feat: Add a scaler based on a GCP Stackdriver metric
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/gcp-stackdriver.test.ts
Due: sort-scalers, golangci-lint

Use methods from helpers utilities
  tests/scalers/gcp-stackdriver.test.ts
Due: none

Remove metricName parameter
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

Change targetValue to int64
  pkg/scalers/gcp_stackdriver_scaler.go
Due: golangci-lint

Add a scaler based on a GCP Stackdriver metric (#2758)
  CHANGELOG.md
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/gcp-stackdriver.test.ts
Due: sort-scalers, golangci-lint

disable aws dynamodb e2e tests properly
  tests/package-lock.json
  tests/run-all.sh
  tests/scalers/aws-dynamodb.test.ts
Due: none

Disable AWS DynamoDB e2e tests properly (#2804)
  tests/package-lock.json
  tests/run-all.sh
  tests/scalers/aws-dynamodb.test.ts
Due: none
