Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Improve reliability of the Datadog scaler (#6999)
  CHANGELOG.md
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  pkg/scaling/scalers_builder.go
Due: golangci-lint

Aligns command structure across all deployments (#6966)
  config/metrics-server/deployment.yaml
Due: none

fix e2e test
  tests/secret-providers/hashicorp_vault/hashicorp_vault_test.go
Due: golangci-lint

e2e testing
  tests/secret-providers/hashicorp_vault/hashicorp_vault_test.go
Due: golangci-lint

sort changelog
  CHANGELOG.md
Due: none

chore(deps): move new indirect deps to existing require block
  go.mod
Due: none

fix: add nil check to influxdbv3 client close
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

fix: use enum struct tag param to validate InfluxVersion field
  pkg/scalers/influxdb_scaler.go
Due: golangci-lint

fix typo in reviewers.yml (#7010)
  .github/reviewers.yml
Due: none

feat: add fallback support for value metric type
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_types_test.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  tests/internals/fallback/fallback_test.go
Due: golangci-lint

Alternative implementation for getReadyReplicasCount in fallback
  pkg/fallback/fallback.go
Due: golangci-lint

Update
  schema/generated/scalers-metadata-schema.json
  schema/generated/scalers-metadata-schema.yaml
Due: none

Add aggregation from kube service endpoints feature in metrics API scaler
  CHANGELOG.md
  config/rbac/role.yaml
  controllers/keda/scaledobject_controller.go
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/metrics_api/metrics_api_test.go
Due: golangci-lint

Update pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

do not fallback to kubernetes service URL querying if aggregating metrics from all kubernetes service endpoints fail for whatever reason
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

golangci fix for parseMetricsAPIMetadata() : cyclomatic complexity 31 of func is high (> 30) : use a dedicated parseMetricsAPIAggregateFromKubeMetadata() submethod
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

post-rebase conflict fixing on changelog and getMetricAPIServerRequest()
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

Apply suggestions : remove useless waitgroup & change verbosity of some error logs from info to debug. Also move changes description to improvements in changelog
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
Due: golangci-lint

Make the SO initially unpaused. 'Unknown' looks ugly in the output.
  CHANGELOG.md
  apis/keda/v1alpha1/condition_types.go
  controllers/keda/scaledjob_controller_test.go
Due: golangci-lint

chore: only add webhook DNS names when webhook patching is enabled (#6979)
  CHANGELOG.md
  pkg/certificates/certificate_manager.go
Due: golangci-lint

fix: resolve race condition when removing paused-replicas annotation from ScaledObject
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

fix: resolve race condition when removing paused-replicas annotation from ScaledObject
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_types_test.go
  controllers/keda/scaledobject_controller.go
Due: golangci-lint

comment fixes and improvements
  tests/helper/helper.go
  tests/scalers/forgejo_runner/forgejo_runner_test.go
Due: golangci-lint

comment fixes and improvements
  pkg/scalers/forgejo_runner_scaler.go
Due: golangci-lint

Add support for pausing scale in annotation (#6901)
  CHANGELOG.md
  apis/eventing/v1alpha1/zz_generated.deepcopy.go
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  controllers/keda/util/predicate.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
  tests/internals/pause_scale_in/pause_scale_in_test.go
Due: golangci-lint

Add `fetchUnfinishedJobsOnly` property to Azure Pipelines scaler trigger metadata (#6894)
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

Fix Vault PKI param using camel case param when making API call to Vault PKI endpoint (#6864)
  CHANGELOG.md
  pkg/scaling/resolver/hashicorpvault_handler.go
  pkg/scaling/resolver/hashicorpvault_handler_test.go
Due: golangci-lint

Implement force activation annotation
  apis/keda/v1alpha1/scaledobject_types.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/util/predicate.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
Due: golangci-lint

add contributing.md entry
  CHANGELOG.md
Due: none

fix tests, fix conditions
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
Due: golangci-lint

Add e2e tests
  apis/keda/v1alpha1/scaledobject_types.go
  config/default/kustomize-config/metadataLabelTransformer.yaml
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
  tests/internals/force_activation/force_activation_test.go
Due: golangci-lint

remove kustomization changes
  config/default/kustomize-config/metadataLabelTransformer.yaml
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
Due: none

fix changelog
  CHANGELOG.md
Due: none

fix changelog
  pkg/scaling/executor/scale_scaledobjects.go
Due: golangci-lint

fix: sigsegv accessing scaleClient in non-static fallback modes (#6992)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
  tests/helper/helper.go
  tests/internals/fallback/fallback_test.go
  tests/internals/subresource_scale/subresource_scale_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: sort-scalers, golangci-lint

Add support for pause scale out annotation
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  controllers/keda/util/predicate.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/scale_scaledobjects_test.go
Due: golangci-lint

Update scalers_cache.go
  pkg/scaling/cache/scalers_cache.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
