Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Remove the Stan scaler (#7380)
  CHANGELOG.md
  pkg/scalers/stan_scaler.go
  pkg/scalers/stan_scaler_test.go
  pkg/scaling/scalers_builder.go
  tests/scalers/stan/stan_test.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

bump go to 1.25.6
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  go.mod
Due: none

bump go to 1.25.6 (#7416)
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  go.mod
Due: none

ScaledObject/ScaledJob: emit more Kubernetes Events (#7381)
  .golangci.yml
  CHANGELOG.md
  apis/eventing/v1alpha1/cloudevent_types.go
  config/crd/bases/eventing.keda.sh_cloudeventsources.yaml
  config/crd/bases/eventing.keda.sh_clustercloudeventsources.yaml
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/common/message/message.go
  pkg/eventreason/eventreason.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Track activity for each trigger in the status
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/triggers_activity_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Fix: better check for missing partition information when calculating lag (#7324)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Fix accurateScalingStrategy ignoring pendingJobCount in maxReplicaCount check
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

Track activity for each trigger in the status (#7346)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledjob_types.go
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/mock/mock_scaling/mock_executor/mock_interface.go
  pkg/scaling/executor/scale_executor.go
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/executor/triggers_activity_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

chore(clickhouse): schema, static-check fixes, changelog link
  CHANGELOG.md
  pkg/scalers/clickhouse_scaler.go
  pkg/scaling/scalers_builder.go
  schema/generated/scalers-schema.json
  schema/generated/scalers-schema.yaml
  tests/scalers/clickhouse/clickhouse_test.go
Due: golangci-lint

fix(clickhouse): use net.JoinHostPort, add E2E tests
  pkg/scalers/clickhouse_scaler.go
  tests/scalers/clickhouse/clickhouse_test.go
Due: golangci-lint

fix(clickhouse): address PR review comments
  go.mod
  pkg/scalers/clickhouse_scaler.go
  pkg/scalers/clickhouse_scaler_test.go
Due: golangci-lint

fix(clickhouse): correct E2E job template YAML (backoffLimit, command indentation)
  tests/scalers/clickhouse/clickhouse_test.go
Due: golangci-lint

chore: link CHANGELOG ClickHouse entry to issue #7418
  CHANGELOG.md
Due: none

add pod id to akl init handler
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

synced vendors
  vendor/cloud.google.com/go/auth/credentials/idtoken/file.go
  vendor/cloud.google.com/go/auth/credentials/idtoken/idtoken.go
  vendor/cloud.google.com/go/auth/credentials/idtoken/validate.go
  vendor/cloud.google.com/go/auth/credentials/impersonate/user.go
  vendor/google.golang.org/api/idtoken/idtoken.go
  vendor/modules.txt
Due: none

chore: Regenerate CRD manifests for triggerScoped behavior
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/scaling/modifiers/formula_test.go
Due: golangci-lint

feat: Implement triggerScoped fallback behavior for formula-based failover
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  pkg/eventreason/eventreason.go
  pkg/scaling/modifiers/formula.go
Due: golangci-lint

fix: Rename test file to fix static checks
  tests/internals/fallback/fallback_trigger_scoped.go
Due: golangci-lint

test: Add unit and validation tests for triggerScoped behavior
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  pkg/scaling/modifiers/formula_test.go
Due: golangci-lint

test: Add e2e tests for triggerScoped fallback behavior
  tests/internals/fallback/deployments/fallback_trigger_scoped_test.go
  tests/internals/fallback/fallback_trigger_scoped_test.go
Due: golangci-lint

feat: add file-based authentication support for ClusterTriggerAuthentication
  .github/workflows/pr-e2e.yml
  CHANGELOG.md
  Makefile
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/triggerauthentication_types_test.go
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
  cmd/operator/main.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  config/e2e/file_auth/patch_operator.yml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  tests/helper/helper.go
  tests/internals/file_based_auth/file_based_auth_test.go
Due: golangci-lint

always run file_based_auth e2e tests
  .github/workflows/pr-e2e.yml
  Makefile
  tests/helper/helper.go
  tests/internals/file_based_auth/file_based_auth_test.go
Due: golangci-lint

Fix accurateScalingStrategy ignoring pendingJobCount in maxReplicaCount check (#7417)
  CHANGELOG.md
  pkg/scaling/executor/scale_jobs.go
  pkg/scaling/executor/scale_jobs_test.go
Due: golangci-lint

bump more deps
  go.mod
  go.sum
  vendor/github.com/spf13/afero/.editorconfig
  vendor/github.com/spf13/afero/.golangci.yaml
  vendor/github.com/spf13/afero/README.md
  vendor/github.com/spf13/afero/copyOnWriteFs.go
  vendor/github.com/spf13/afero/iofs.go
  vendor/github.com/spf13/afero/lstater.go
  vendor/github.com/spf13/afero/mem/file.go
  vendor/github.com/spf13/afero/unionFile.go
  vendor/github.com/spf13/afero/util.go
  vendor/modules.txt
Due: none

feat: add file-based authentication support for ClusterTriggerAuthentication (#7082)
  CHANGELOG.md
  Makefile
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/triggerauthentication_types_test.go
  apis/keda/v1alpha1/triggerauthentication_webhook_test.go
  cmd/operator/main.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  config/e2e/file_auth/patch_operator.yml
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  tests/helper/helper.go
  tests/internals/file_based_auth/file_based_auth_test.go
Due: golangci-lint

prepare changelog for 2.19.0
  CHANGELOG.md
Due: none

add version 2.19.0 to bug report template
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

prepare changelog for 2.19.0 (#7431)
  CHANGELOG.md
Due: none

add version 2.19.0 to bug report template (#7432)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
Due: none

update roadmap
  .github/ISSUE_TEMPLATE/4_release_tracker.md
  ROADMAP.md
Due: none

update roadmap (#7434)
  .github/ISSUE_TEMPLATE/4_release_tracker.md
  ROADMAP.md
Due: none

Add paths-filter action to PR validation workflow
  .github/workflows/pr-validation.yml
  .github/workflows/static-analysis-codeql.yml
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
