Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

remove MetricName object variable
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/couchdb_scaler_test.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/graphite_scaler_test.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Code Review fixes
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller_test.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
Due: golangci-lint

Recommit with comply with DCO
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/graphite_scaler_test.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/scaler.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
Due: golangci-lint

Fix CI precommit hook
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/mssql_scaler_test.go
Due: golangci-lint

Add Changelog for PR
  CHANGELOG.md
Due: none

fix: Changelog validation script works again
  hack/validate-changelog.sh
Due: none

set location and add dummy change
  CHANGELOG.md
  hack/validate-changelog.sh
Due: none

revert dummy change
  CHANGELOG.md
Due: none

feat(aws-sqs): Support for scaling to include delayed messages (#4377)
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

Deprecation cleanup for 2.12 release (#4806)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaletriggers_types.go
  apis/keda/v1alpha1/scaletriggers_types_test.go
  controllers/keda/hpa.go
  controllers/keda/scaledobject_controller.go
  controllers/keda/scaledobject_controller_test.go
  pkg/scalers/azure/azure_blob.go
  pkg/scalers/azure_blob_scaler.go
  pkg/scalers/azure_blob_scaler_test.go
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  pkg/scalers/couchdb_scaler.go
  pkg/scalers/couchdb_scaler_test.go
  pkg/scalers/graphite_scaler.go
  pkg/scalers/graphite_scaler_test.go
  pkg/scalers/influxdb_scaler.go
  pkg/scalers/influxdb_scaler_test.go
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
  pkg/scalers/mssql_scaler.go
  pkg/scalers/mssql_scaler_test.go
  pkg/scalers/postgresql_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/rabbitmq_scaler_test.go
  pkg/scalers/scaler.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
Due: golangci-lint

chore: update the changelog to reflect the breaking change
  CHANGELOG.md
Due: none

Update
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Update
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/opentelemetry_test.go
  pkg/metricscollector/prommetrics.go
  tests/opentelemetry_setup/keda_setup/kustomization.yml
  tests/opentelemetry_setup/keda_setup/patch_operator.yml
  tests/opentelemetry_setup/otlp.yml
  tests/opentelemetry_setup/service.yml
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
  tests/utils/cleanup_test.go
  tests/utils/setup_test.go
Due: golangci-lint

Update (#4904)
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Update
  pkg/metricscollector/opentelemetry_test.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix typo
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

fix typo in log message (#4902)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update
  Makefile
  config/e2e/patch_operator.yml
  tests/helper/helper.go
  tests/utils/helper/helper.go
  tests/utils/setup_test.go
Due: golangci-lint

Update
  tests/internals/events/events_test.go
Due: golangci-lint

Update
  pkg/scalers/azure/azure_monitor.go
Due: golangci-lint

chore: KEDA v2.12 is targeted for September 26th, 2023 instead of 12th
  ROADMAP.md
Due: none

chore: KEDA v2.12 is targeted for September 26th, instead of 12th (#4909)
  ROADMAP.md
Due: none

Improve events of CRDs (#4829)
  CHANGELOG.md
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/common/message/message.go
  pkg/eventreason/eventreason.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scalers_builder.go
  tests/internals/events/events_test.go
Due: sort-scalers, golangci-lint

feat(aws-sqs): Support for scaling to include delayed messages (#4900)
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_scaler_test.go
Due: golangci-lint

chore: KEDA is a CNCF Graduated project (#4896)
  CHANGELOG.md
  README.md
Due: none

Kafka Scaler: Add UnsafeSsl flag
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Kafka Scaler: Add UnsafeSsl flag
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Use switch case for scaledObject and scaledJob
  pkg/prommetrics/prommetrics.go
Due: golangci-lint

chore: Generate standalone CRDs manifests as part of release process (#4814)
  .github/workflows/release-build.yml
  CHANGELOG.md
  Makefile
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Use predefined variable metricName
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

chore: Add testing documentation (#4884)
  README.md
  TESTING.md
  tests/README.md
Due: none

Revert "chore(deps): bump helm/kind-action from 1.7.0 to 1.8.0" (#4856)
  .github/workflows/template-smoke-tests.yml
Due: none

fix(solr e2e): remove '-' from status command (#4835)
  tests/scalers/solr/solr_test.go
Due: golangci-lint

Use unused scaledJobErrors
  pkg/prommetrics/prommetrics.go
  pkg/scaling/scale_handler_test.go
Due: golangci-lint

Update comment to explain the purpose of empty return line
  pkg/prommetrics/prommetrics.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
