Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Fix Semgrep
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Fix static check CI failure
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Add apache_kafka_scaler
  pkg/scalers/apache_kafka_scaler.go
Due: golangci-lint

Finish apache kafka scaler
  pkg/scalers/apache_kafka_scaler.go
Due: golangci-lint

Rebase from master
  pkg/scalers/apache_kafka_scaler.go
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

Add support for workload identity
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
  tests/scalers/azure/azure_pipelines_aad_wi/azure_pipelines_aad_wi_test.go
Due: golangci-lint

Fix changelog
  CHANGELOG.md
Due: none

Update pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

cleanup commented code and update changelog
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

Expose prometheus metrics for ScaledJob resources (#4913)
  CHANGELOG.md
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
  pkg/scaling/scale_handler.go
  tests/sequential/opentelemetry_metrics/opentelemetry_metrics_test.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: sort-scalers, golangci-lint

https://github.com/kedacore/keda/issues/2214
  pkg/scalers/aws_sigv4.go
  pkg/scalers/aws_sigv4_test.go
Due: golangci-lint

https://github.com/kedacore/keda/issues/2214
  tests/scalers/aws/aws_managed_prometheus/aws_managed_prometheus_test.go
  tests/scalers/aws/aws_managed_prometheus_pod_identity/aws_managed_prometheus_pod_identity_test.go
Due: golangci-lint

Update pkg/scalers/aws_sigv4.go
  pkg/scalers/aws_sigv4.go
Due: golangci-lint

chore: bump Go to 1.21.6 (#5370)
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
Due: none

chore: add large lag threshold test for Kafka scalers (#5361)
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler_test.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

chore: fix jetstream flaky test (#5372)
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

Update tests/scalers/aws/aws_managed_prometheus_pod_identity/aws_managed_prometheus_pod_identity_test.go
  tests/scalers/aws/aws_managed_prometheus_pod_identity/aws_managed_prometheus_pod_identity_test.go
Due: golangci-lint

https://github.com/kedacore/keda/issues/2214
  tests/scalers/aws/aws_managed_prometheus/aws_managed_prometheus_test.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add token cache
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

fix: PR Bot has malformed workflow manifest
  .github/workflows/pr-welcome.yml
Due: none

ADD support for PodIdentityProvider config in azure pipeline trigger (#4867)
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
  tests/scalers/azure/azure_pipelines_aad_wi/azure_pipelines_aad_wi_test.go
Due: golangci-lint

allow to authenticate to Azure Storage using SAS tokens
  pkg/scalers/azure/azure_storage.go
  pkg/scalers/azure/azure_storage_test.go
Due: golangci-lint

fix: PR Bot has malformed workflow manifest (#5380)
  .github/workflows/pr-welcome.yml
Due: none

https://github.com/kedacore/keda/issues/2214
  pkg/scalers/aws_sigv4.go
Due: golangci-lint

Add support for key authentication against GHES
  pkg/scalers/github_runner_scaler.go
Due: golangci-lint

set default activationValue to 1
  pkg/scalers/gcp_pubsub_scaler.go
Due: golangci-lint

update conditional logic for is active to be greater than or equal to activationValue
  CHANGELOG.md
  pkg/scalers/gcp_pubsub_scaler.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$, but not: (^vendor/|^pkg/generated/)
  golangci-lint: any of: \.go$, but not: (^vendor/|^pkg/generated/)
