Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

e2e: run Solace and Selenium Grid tests
  tests/scalers/selenium-grid.test.ts
  tests/scalers/solace.test.ts
Due: none

Add scalerIndex
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add scaledjob rolloutStrategy to unreleased changelog
  CHANGELOG.md
Due: none

e2e: run Solace and Selenium Grid tests (#2216)
  tests/scalers/selenium-grid.test.ts
  tests/scalers/solace.test.ts
Due: none

Update CI to run build/unit tests on arm64 (#2213)
  .github/workflows/pr-validation.yml
Due: none

moving changelog entry to 'other' section
  CHANGELOG.md
Due: none

Delete ValueMetricType from cpu_memory_scaler
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
Due: golangci-lint

Update changelog
  CHANGELOG.md
Due: none

Remove whitespace
  pkg/scalers/cpu_memory_scaler_test.go
Due: golangci-lint

Add more explicit error message
  pkg/scalers/cpu_memory_scaler.go
Due: golangci-lint

Drop support to `ValueMetricType` using cpu_memory_scaler (#2218)
  CHANGELOG.md
  pkg/scalers/cpu_memory_scaler.go
  pkg/scalers/cpu_memory_scaler_test.go
Due: golangci-lint

Add Cassandra scaler and tests (#2211)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/cassandra.test.ts
Due: sort-scalers, golangci-lint

fix: add context to cassandra scaler functions
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
Due: golangci-lint

fix: add context to cassandra scaler functions (#2221)
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  pkg/scalers/cassandra_scaler.go
  pkg/scalers/cassandra_scaler_test.go
Due: golangci-lint

Add modifications on gcp pubsub scaler to use underlying compute engine identity
  go.mod
  go.sum
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/stackdriver_client.go
Due: golangci-lint

Try to correct go-critics
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/stackdriver_client.go
Due: golangci-lint

Use proper images for e2e tests
  tests/scalers/redis-sentinel-lists.test.ts
  tests/scalers/redis-sentinel-streams.test.ts
Due: none

Improve Redis support (#2181)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/redis_scaler.go
  pkg/scalers/redis_scaler_test.go
  pkg/scalers/redis_streams_scaler.go
  pkg/scalers/redis_streams_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/redis-sentinel-lists.test.ts
  tests/scalers/redis-sentinel-streams.test.ts
Due: sort-scalers, golangci-lint

Fix Cassandra e2e test
  tests/scalers/cassandra.test.ts
Due: none

Fix Cassandra e2e test (#2238)
  tests/scalers/cassandra.test.ts
Due: none

Fix Cassandra e2e tests part 2
  tests/scalers/cassandra.test.ts
Due: none

Fix Cassandra e2e tests part 2 (#2239)
  tests/scalers/cassandra.test.ts
Due: none

ScaledJob: introduce `rolloutStrategy` (#2164)
  CHANGELOG.md
  adapter/generated/openapi/zz_generated.openapi.go
  apis/keda/v1alpha1/scaledjob_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  controllers/keda/scaledjob_controller.go
Due: golangci-lint

Add pr e2e command
  .github/workflows/pr-e2e.yml
Due: none

Fix style
  .github/workflows/pr-e2e.yml
Due: none

improve aws cloudwatch scaler metrics pulling logic
  pkg/scalers/aws_cloudwatch_scaler.go
Due: golangci-lint
