Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scale_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

feat: Provide e2e variable for Azure Event Hubs
  .github/workflows/pr-e2e.yml
  .github/workflows/template-main-e2e-test.yml
Due: none

Update .github/workflows/pr-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

Update .github/workflows/template-main-e2e-test.yml
  .github/workflows/template-main-e2e-test.yml
Due: none

feat: Provide e2e variable for Azure Event Hubs (#3721)
  .github/workflows/pr-e2e.yml
  .github/workflows/template-main-e2e-test.yml
Due: none

rename the connection variable
  tests/.env
  tests/scalers/azure/azure_event_hub_blob_metadata/azure_event_hub_blob_metadata_test.go
  tests/scalers/azure/azure_event_hub_go_sdk/azure_event_hub_go_sdk_test.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add some eventhub e2e tests (#3717)
  CHANGELOG.md
  tests/.env
  tests/scalers/azure/azure_event_hub_blob_metadata/azure_event_hub_blob_metadata_test.go
  tests/scalers/azure/azure_event_hub_go_sdk/azure_event_hub_go_sdk_test.go
Due: golangci-lint

add actions/cache
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/v1-build.yml
Due: none

removed metricName parameter
  pkg/scalers/loki_scaler.go
Due: golangci-lint

updated unit tests to remove metricName tests
  pkg/scalers/loki_scaler_test.go
Due: golangci-lint

refactor(rmq): make conditional match error string
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

Improve AzDO profilng speed of queues (#3702)
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

Slight refinement of profiling code (#3702)
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

Fixed golangci-lint issues (#3702)
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

Fixed gofmt issues (#3702)
  pkg/scalers/azure_pipelines_scaler.go
Due: golangci-lint

added e2e test for Loki scaler, undo kustomization.yaml changes
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  go.mod
  go.sum
  tests/scalers/loki/loki_test.go
Due: golangci-lint

updated trigger type
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  tests/scalers/loki/loki_test.go
Due: golangci-lint

reverted kustomization manifests
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
Due: none

Fixed merge issue. (#3697)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_oauth_token_provider.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

chore: bump deps (#3718)
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/v1-build.yml
  go.mod
  go.sum
Due: none

refactor(rmq): make conditional match error string (#3725)
  pkg/scalers/rabbitmq_scaler.go
Due: golangci-lint

fix: Respect optional parameter inside envs for ScaledJobs (#3694)
  CHANGELOG.md
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Add ratelimitting parameters to keda manager to allow override of client defaults
  CHANGELOG.md
  go.mod
  main.go
Due: golangci-lint

chore: Add a concurrency group for arm-smoke-tests
  .github/workflows/template-arm64-smoke-tests.yml
Due: none

.
  .github/workflows/template-arm64-smoke-tests.yml
Due: none

Improved scaling speed of AzDO pipelines (#3729)
  CHANGELOG.md
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

grouped imports, replaced test-app deployment container with nginx, added create namespace function, minor fixes
  go.mod
  pkg/generated/clientset/versioned/fake/register.go
  pkg/generated/clientset/versioned/scheme/register.go
  pkg/scalers/loki_scaler.go
  tests/scalers/loki/loki_test.go
Due: golangci-lint

updated changelog
  CHANGELOG.md
Due: none

updated logql query for excluding promtail pod logs, which also has the substring being searched in the query
  tests/scalers/loki/loki_test.go
Due: golangci-lint

resolved go.sum for godotenv package
  go.sum
Due: none

Add ratelimitting parameters to keda manager (#3731)
  CHANGELOG.md
  go.mod
  main.go
Due: golangci-lint

removed unused variables and templates from E2E test, removed name normalization
  pkg/scalers/loki_scaler.go
  tests/scalers/loki/loki_test.go
Due: golangci-lint

feat: Allow specifying Selenium Grid URL as secret
  CHANGELOG.md
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

Add PR reference to CHANGELOG.md
  CHANGELOG.md
Due: none

feat: Allow specifying Selenium Grid URL as secret (#3752)
  CHANGELOG.md
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

added steps for adding ide e2e build tags
  tests/README.md
Due: none

fix: bump golang.org/x/text to solve CVE-2022-32149
  go.mod
  go.sum
Due: none

feat(Scaler): Adds Loki Scaler (#3700)
  CHANGELOG.md
  go.sum
  pkg/scalers/loki_scaler.go
  pkg/scalers/loki_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/loki/loki_test.go
Due: sort-scalers, golangci-lint

chore: Add a concurrency group for arm-smoke-tests (#3742)
  .github/workflows/template-arm64-smoke-tests.yml
Due: none

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
