Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

feat: Request all ScaledObject/ScaledJob triggers in parallel
  CHANGELOG.md
  pkg/scaling/modifiers/formula.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Add a unit test to check that scalers are processed in parallelk
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

rebase main
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/scaling/resolver/aws_secretManager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
Due: none

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  apis/keda/v1alpha1/triggerauthentication_types.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
  pkg/scaling/resolver/aws_secretManager_handler.go
  tests/secret-providers/aws_secretmanager/aws_secretmanager_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  CHANGELOG.md
Due: none

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  tests/secret-providers/aws_secretmanager/aws_secretmanager_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  pkg/scaling/resolver/aws_secretManager_handler.go
  tests/secret-providers/aws_secretmanager/aws_secretmanager_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  pkg/scaling/resolver/aws_secretManager_handler.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
  tests/secret-providers/aws_secretmanager/aws_secretmanager_test.go
Due: golangci-lint

Update tests/secret-providers/aws_secretmanager/aws_secretmanager_test.go
  tests/secret-providers/aws_secretmanager/aws_secretmanager_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  pkg/scaling/resolver/aws_secretManager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  .gitignore
  config/manager/kustomization.yaml
  config/metrics-server/kustomization.yaml
  config/webhooks/kustomization.yaml
  pkg/scaling/resolver/aws_secretManager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/secret-providers/aws_secretmanager/aws_secretmanager_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  pkg/scaling/resolver/aws_secretManager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/secret-providers/aws_secretmanager_kiam/aws_secretmanager_kiam_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  pkg/scaling/resolver/aws_secretManager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Update tests/secret-providers/aws_secretmanager_kiam/aws_secretmanager_kiam_test.go
  tests/secret-providers/aws_secretmanager_kiam/aws_secretmanager_kiam_test.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  pkg/scaling/resolver/aws_secretManager_handler.go
  pkg/scaling/resolver/scale_resolvers.go
  tests/secret-providers/aws_secretmanager/aws_secretmanager_test.go
Due: golangci-lint

Update pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers.go
Due: golangci-lint

Add support for aws secret manager authentication Signed-off-by: geoffrey1330 <israelgeoffrey13@gmail.com>
  tests/secret-providers/aws_secretmanager_eks/aws_secretmanager_eks_test.go
Due: golangci-lint
