Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

sort-scalers:
  name: Check if scalers are sorted in scaler_handler.go
  language: system
  entry: bash tools/sort_scalers.sh

golangci-lint:
  language: golang
  name: Run golangci against the code
  entry: golangci-lint run
  pass_filenames: false

Removed upgrade-validation from pr workflow (#2469)
  .github/workflows/pr-validation.yml
Due: none

chore: Fix incompatible pre-commit validation
  .pre-commit-config.yaml
Due: none

chore: Fix incompatible pre-commit validation (#2470)
  .pre-commit-config.yaml
Due: none

Pass the images as artifacts Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/main-build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/upgrade-validation-template.yml
Due: none

Add more detailed step names Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/upgrade-validation-template.yml
Due: none

use production image names since they are not pushed to anywhere Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/upgrade-validation-template.yml
Due: none

Uninstal helm chart Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/workflows/upgrade-validation-template.yml
Due: none

fix: Use our own docker image for MongoDB e2e tes
  tests/scalers/mongodb.test.ts
Due: none

fix styles Signed-off-by: Jorge Turrado Ferrero <Jorge_turrado@hotmail.es>
  .github/assets/test-upgrade-manifest.yml
  .github/workflows/upgrade-validation-template.yml
  RELEASE-PROCESS.MD
Due: none

fix: Use our own docker image for MongoDB e2e tes (#2472)
  .github/assets/test-upgrade-manifest.yml
  .github/workflows/upgrade-validation-template.yml
  RELEASE-PROCESS.MD
  tests/scalers/mongodb.test.ts
Due: none

add comments for auth logic Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
  .pre-commit-config.yaml
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

Code linting
  pkg/scalers/datadog_scaler.go
Due: golangci-lint

return pre-commit-config Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  .pre-commit-config.yaml
Due: none

Allow Apache Kafka scaler to scale using sum of lag for all topics within a consumer group (#2409)
  CHANGELOG.md
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
  tests/scalers/kafka.test.ts
Due: golangci-lint

Add new Datadog scaler (#2354)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/datadog.test.ts
Due: sort-scalers, golangci-lint

fix prometheus_scaler.go Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/prometheus_scaler.go
Due: golangci-lint

Remove upgrade validation workflow
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/upgrade-validation-template.yml
  CHANGELOG.md
Due: none

fix prometheus_scaler.go Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scalers/prometheus_scaler.go
  tests/scalers/predictkube.test.ts
Due: golangci-lint

test: Provide API key for PredictKube
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

test: Provide API key for PredictKube (#2475)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pr-e2e.yml
Due: none

fix prometheus_scaler.go Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  pkg/scalers/prometheus_scaler.go
  tests/scalers/predictkube.test.ts
Due: golangci-lint

Fix failing test with proper type assertion and casting
  pkg/scalers/cpu_memory_scaler.go
Due: golangci-lint

Fix previously unknown linter error
  pkg/util/parse_numeric.go
Due: golangci-lint

add working e2e test for predictkube scaler Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  pkg/scalers/predictkube_scaler.go
  tests/scalers/predictkube.test.ts
Due: golangci-lint

Remove upgrade validation workflow (#2474)
  .github/workflows/main-build.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/upgrade-validation-template.yml
  CHANGELOG.md
Due: none

fail fast when failed to resolve
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Update pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

update changelog
  CHANGELOG.md
Due: none

Signed-off-by: Ritikaa96 <ritika@india.nec.com>
  CHANGELOG.md
  tests/scalers/cpu.test.ts
Due: none

E2E test for cpu scaler (#2441)
  CHANGELOG.md
  tests/scalers/cpu.test.ts
Due: none

Allow using simple queue names in aws sqs scaler
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_test.go
Due: golangci-lint

Adding DynamoDB Scaler + Testing metadata parsing.
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_test.go
Due: golangci-lint

Adding coverage GetMetrics methods.
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_test.go
Due: golangci-lint

Adding GetQueryMetrics tests.
  pkg/scalers/aws_dynamodb_test.go
Due: golangci-lint

Updating configuration parsing.
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_test.go
Due: golangci-lint

Updating Dynamo scaler: moving JSON parsing into parseAwsDynamoDBMetadata.
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_test.go
Due: golangci-lint

Cleaning code for linting rules + Adding IsActive test coverage.
  pkg/scalers/aws_dynamodb_scaler.go
  pkg/scalers/aws_dynamodb_test.go
Due: golangci-lint

Updating code for linting rules.
  pkg/scalers/aws_dynamodb_scaler.go
Due: golangci-lint

Updating with proper import formatting.
  pkg/scalers/aws_dynamodb_scaler.go
Due: golangci-lint

allow users to specificy a topic regexp
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

Path conditions:
  sort-scalers: any of: .*scale_handler\.go$
  golangci-lint: any of: \.go$
