Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: git://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scaler_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fail fast on `buildScalers` when not able to resolve a secret (#2394)
  CHANGELOG.md
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

Sign KEDA images published on GitHub Container Registry
  .github/workflows/release-build.yml
  Makefile
Due: none

update changelog
  CHANGELOG.md
Due: none

Sign KEDA images published on GitHub Container Registry (#2501)
  .github/workflows/release-build.yml
  CHANGELOG.md
  Makefile
Due: none

sign main tag and add missing env in release workflow
  .github/workflows/main-build.yml
  .github/workflows/release-build.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fix styles
  .github/workflows/main-build.yml
Due: none

Sign main tag and add missing env during release workflow (#2502)
  .github/workflows/main-build.yml
  .github/workflows/release-build.yml
  CHANGELOG.md
Due: none

Add GitHub OIDC Token into GITHUB_TOKEN
  .github/workflows/main-build.yml
  .github/workflows/release-build.yml
Due: none

add metadata parsing tests
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

lint
  pkg/scalers/kafka_scaler.go
  pkg/scalers/kafka_scaler_test.go
Due: golangci-lint

fix ci error
  pkg/scalers/kafka_scaler.go
Due: golangci-lint

docs: Microsoft will update Azure Function Core Tools during release
  RELEASE-PROCESS.MD
Due: none

Add GitHub OIDC Token into GITHUB_TOKEN for signing images (#2504)
  .github/workflows/main-build.yml
  .github/workflows/release-build.yml
  CHANGELOG.md
Due: none

docs: Microsoft will update Azure Function Core Tools during release (#2510)
  RELEASE-PROCESS.MD
Due: none

Allow using simple queue names in aws sqs scaler (#2483)
  CHANGELOG.md
  pkg/scalers/aws_sqs_queue_scaler.go
  pkg/scalers/aws_sqs_queue_test.go
Due: golangci-lint

Add new line for static checks
  .whitesource
Due: none

remove metricName field from metadata and add generation enums to Makefile Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  Makefile
  go.mod
  go.sum
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
  tests/scalers/predictkube.test.ts
Due: golangci-lint

chore: Upgrade hashicorp/vault to v1.9.2
  go.mod
  go.sum
Due: none

revert old data Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
Due: golangci-lint

fix TestPredictKubeParseMetadata Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  pkg/scalers/predictkube_scaler_test.go
Due: golangci-lint

fix TestPredictKubeGetMetricSpecForScaling Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  pkg/scalers/predictkube_scaler_test.go
Due: golangci-lint

bump deps
  adapter/generated/openapi/zz_generated.openapi.go
  adapter/main.go
  controllers/keda/hpa_test.go
  go.mod
  go.sum
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_triggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/keda_client.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/provider/fallback_test.go
  pkg/scalers/external_scaler.go
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/liiklus_scaler.go
  pkg/scaling/cache/scalers_cache_test.go
Due: golangci-lint

remove generation enums with enums-go Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  Makefile
  pkg/scalers/authentication/authentication_types.go
Due: golangci-lint

remove generation enums with enums-go Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  go.mod
Due: none

bump deps (#2559)
  adapter/generated/openapi/zz_generated.openapi.go
  adapter/main.go
  controllers/keda/hpa_test.go
  go.mod
  go.sum
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_clustertriggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledjob.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/fake/fake_triggerauthentication.go
  pkg/generated/clientset/versioned/typed/keda/v1alpha1/keda_client.go
  pkg/mock/mock_client/mock_interfaces.go
  pkg/mock/mock_scale/mock_interfaces.go
  pkg/provider/fallback_test.go
  pkg/scalers/external_scaler.go
  pkg/scalers/gcp_pub_sub_scaler.go
  pkg/scalers/liiklus_scaler.go
  pkg/scaling/cache/scalers_cache_test.go
Due: golangci-lint

prepare v2.6
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none

resolve go.mod, go.sum Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  go.mod
  go.sum
Due: none

fix go.mongodb.org/mongo-driver version Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  go.mod
  pkg/scalers/authentication/transporttype_enum.go
Due: golangci-lint

fix go.mongodb.org/mongo-driver version Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  go.sum
Due: none

add comment to method Signed-off-by: alex60217101990 <alex6021710@gmail.com>
  pkg/scalers/predictkube_scaler.go
Due: golangci-lint

Add PredictKube scaler (#2418)
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scalers/authentication/authentication_types.go
  pkg/scalers/predictkube_scaler.go
  pkg/scalers/predictkube_scaler_test.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
  pkg/scaling/scale_handler.go
  tests/scalers/predictkube.test.ts
Due: sort-scalers, golangci-lint

chore: No longer push to Docker Hub on release
  .github/workflows/release-build.yml
Due: none

chore: No longer push to Docker Hub
  Makefile
Due: none

chore: No longer push to Docker Hub on release
  .github/workflows/main-build.yml
Due: none

chore: No longer push to Docker Hub on release
  CHANGELOG.md
Due: none

bump deps
  go.mod
  go.sum
  pkg/mock/mock_scale/mock_interfaces.go
Due: golangci-lint

Clear scalers cache correctly both in Operator and Metrics Server
  controllers/keda/metrics_adapter_controller.go
  pkg/mock/mock_scaling/mock_interface.go
  pkg/provider/provider.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint
