Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
exclude: (^vendor/|^pkg/generated/)
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
        exclude: pkg/scalers/prometheus_scaler_test.go
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: validate-changelog
      name: Validate Changelog
      language: system
      entry: "bash hack/validate-changelog.sh"
      pass_filenames: false
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

fixed error expected messages in TestRabbitMQAnonymizeRabbitMQError
  pkg/scalers/rabbitmq_scaler_test.go
Due: golangci-lint

feat: fixing E2E tests
  pkg/scalers/solarwinds_scaler.go
Due: golangci-lint

feat: static analysis fix
  pkg/scalers/solarwinds_scaler.go
Due: golangci-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

remove lock and move changelog entry to unreleased section as requested
  CHANGELOG.md
  pkg/scalers/solace_scaler.go
Due: golangci-lint

remove unnecessary import
  pkg/scalers/solace_scaler.go
Due: golangci-lint

Add Fallback option `behavior` for dynamic fallback calculation (#6464)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/scaling/executor/scale_scaledobjects.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/scale_handler.go
  tests/internals/fallback/fallback_test.go
Due: sort-scalers, golangci-lint

Refactor Azure ServiceBus Scaler (#6624)
  pkg/scalers/azure_servicebus_scaler.go
  pkg/scalers/azure_servicebus_scaler_test.go
Due: golangci-lint

Azure Log Analytics, Prometheus scaler: custom HTTP client timeout (#6607)
  CHANGELOG.md
  pkg/scalers/azure_log_analytics_scaler.go
  pkg/scalers/azure_log_analytics_scaler_test.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/prometheus_scaler_test.go
Due: golangci-lint

Support IgnoreNullValues at Elasticsearch scaler (#6599)
  CHANGELOG.md
  pkg/scalers/elasticsearch_scaler.go
  pkg/scalers/elasticsearch_scaler_test.go
Due: golangci-lint

Update go-jose for CVE-2025-27144 & golang.org/x/oauth2 for CVE-2025-22868 (#6614)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/CONTRIBUTING.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/opaque.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/golang.org/x/oauth2/clientcredentials/clientcredentials.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/modules.txt
Due: none

External Scaler: support server TLS w/o custom CA (#6606)
  CHANGELOG.md
  pkg/scalers/external_scaler.go
  pkg/scalers/external_scaler_test.go
Due: golangci-lint

Metrics API: Fix text format parsing error (#6640)
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

Selenium Grid: Add trigger param for Node enables managed downloads capability (#6570)
  CHANGELOG.md
  pkg/scalers/selenium_grid_scaler.go
  pkg/scalers/selenium_grid_scaler_test.go
Due: golangci-lint

fix: enhance fallback condition checks for ScalingModifiers with default metricType (#6562)
  pkg/fallback/fallback.go
Due: golangci-lint

fix: fix incorrect nil return value (#6594)
  controllers/eventing/reconciler.go
Due: golangci-lint

Refactor Azure Pipeline Scaler (#6626)
  pkg/scalers/azure_pipelines_scaler.go
  pkg/scalers/azure_pipelines_scaler_test.go
Due: golangci-lint

push 2.17 release date (#6632)
  ROADMAP.md
Due: none

Remove unused awsEndpoint in Apache Kafka scaler (#6627)
  CHANGELOG.md
  pkg/scalers/apache_kafka_scaler.go
Due: golangci-lint

fix: GCP Storage scaler ignores the root folder (#6596)
  CHANGELOG.md
  pkg/scalers/gcp_storage_scaler.go
  tests/scalers/gcp/gcp_storage/gcp_storage_test.go
Due: golangci-lint

Support float queryValue for MongoDB scaler (#6612)
  CHANGELOG.md
  pkg/scalers/mongo_scaler.go
  pkg/scalers/mongo_scaler_test.go
Due: golangci-lint

fix: CVE-2025-30204 (#6641)
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: none

Make sure the exposed metrics are updated when there is a change to triggers (#6618)
  CHANGELOG.md
  controllers/keda/scaledjob_controller.go
  controllers/keda/scaledobject_controller.go
  pkg/metricscollector/metricscollectors.go
  pkg/metricscollector/opentelemetry.go
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

JetStream: add accountID param for when an account's name and id differ (#6611)
  CHANGELOG.md
  pkg/scalers/nats_jetstream_scaler.go
  pkg/scalers/nats_jetstream_scaler_test.go
Due: golangci-lint

fix!: fix CheckFallbackValid logic (#6538)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
Due: golangci-lint

chore: update Go version to v1.23.7 (#6651)
  .devcontainer/Dockerfile
  .github/workflows/main-build.yml
  .github/workflows/pr-e2e.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-build.yml
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/template-main-e2e-test.yml
  Dockerfile
  Dockerfile.adapter
  Dockerfile.webhooks
  go.mod
Due: none

feat: add `BoundServiceAccountToken` trigger authentication type (#6272)
  CHANGELOG.md
  apis/keda/v1alpha1/triggerauthentication_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  cmd/operator/main.go
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  controllers/keda/scaledjob_controller.go
  controllers/keda/suite_test.go
  pkg/eventemitter/eventemitter.go
  pkg/mock/mock_serviceaccounts/mock_interfaces.go
  pkg/scalers/authentication/authentication_helpers.go
  pkg/scaling/resolver/scale_resolvers.go
  pkg/scaling/resolver/scale_resolvers_test.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  pkg/scaling/scalers_builder.go
  pkg/util/env_resolver.go
  tests/secret-providers/trigger_auth_bound_service_account_token/trigger_auth_bound_service_account_token_test.go
Due: sort-scalers, golangci-lint

fix call log.Error with nil value error (#6662)
  pkg/metricscollector/prommetrics.go
Due: golangci-lint

Refactor Azure Monitor Scaler (#6646)
  pkg/scalers/azure_app_insights_scaler.go
  pkg/scalers/azure_monitor_scaler.go
  pkg/scalers/azure_monitor_scaler_test.go
Due: golangci-lint

refactor gcp stackdriver scaler (#6462)
  pkg/scalers/gcp_stackdriver_scaler.go
  pkg/scalers/gcp_stackdriver_scaler_test.go
Due: golangci-lint

chore: Move the changelog record to the right place (#6732)
  CHANGELOG.md
Due: none

Refactor Datadog scaler
  pkg/scalers/datadog_scaler.go
  pkg/scalers/datadog_scaler_test.go
Due: golangci-lint

fix workflows (#6704)
  .github/workflows/static-analysis-codeql.yml
  .github/workflows/static-analysis-semgrep.yml
  .github/workflows/template-trivy-scan.yml
Due: none

Add time.Duration in TypedConfig (#6650)
  CHANGELOG.md
  pkg/scalers/beanstalkd_scaler.go
  pkg/scalers/prometheus_scaler.go
  pkg/scalers/rabbitmq_scaler.go
  pkg/scalers/scalersconfig/typed_config.go
Due: golangci-lint

Clean changelog (#6692)
  CHANGELOG.md
  ROADMAP.md
Due: none

Support multiple auth methods simultaneously in Metrics API scaler (#6645)
  CHANGELOG.md
  pkg/scalers/metrics_api_scaler.go
  pkg/scalers/metrics_api_scaler_test.go
Due: golangci-lint

prepare release 2.17 (#6691)
  .github/ISSUE_TEMPLATE/3_bug_report.yml
  CHANGELOG.md
Due: none
