Repository kedacore/keda: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-scalers, golangci-lint

.pre-commit-config.yaml:

default_stages: [commit, push]
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.3.5
    hooks:
      - id: go-fmt
        name: Run go fmt against the code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.0.0
    hooks:
      - id: doctoc
        name: Add TOC for md files
        files: ^README\.md$|^CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "3"
  - repo: local
    hooks:
    - id: language-matters
      language: pygrep
      name: Check for language that we do not accept as community
      description: Please use "deny_list" or "allow_list"  instead.
      entry: "(?i)(black|white)[_-]?(list|List)"
      pass_filenames: true
    - id: sort-scalers
      name: Check if scalers are sorted in scale_handler.go
      language: system
      entry: "bash tools/sort_scalers.sh"
      files: .*scale_handler\.go$
    - id: golangci-lint
      language: golang
      name: Run golangci against the code
      entry: golangci-lint run
      types: [go]
      pass_filenames: false

General: metrics server expose apiserver metrics
  cmd/adapter/main.go
Due: golangci-lint

linting
  CHANGELOG.md
  cmd/adapter/main.go
Due: golangci-lint

Update
  apis/keda/v1alpha1/cloudevents_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_cloudevents.yaml
  config/samples/keda_v1alpha1_cloudevents.yaml
  controllers/keda/cloudevents_controller.go
  controllers/keda/cloudevents_finalizer.go
  pkg/eventemitter/azure_event_grid_handler.go
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
  tests/internals/cloud_events/cloud_events_test.go
Due: golangci-lint

Merged update
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/exported/exported.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/exported/request.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/exported/response_error.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/pollers/fake/fake.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/shared.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/messaging/cloud_event.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/policy/policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/pager.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/pipeline.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_bearer_token.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_http_trace.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_retry.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/poller.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/request.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/response.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/tracing/tracing.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/LICENSE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/NOTICE.txt
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/README.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/build.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/client_custom.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/options.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/response_types.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/sample.env
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/time_rfc3339.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/messaging/azeventgrid/version.go
Due: golangci-lint

Update
  tests/internals/cloud_events/cloud_events_test.go
Due: golangci-lint

Update
  apis/keda/v1alpha1/cloudevent_types.go
Due: golangci-lint

Update
  controllers/keda/cloudevent_controller.go
  controllers/keda/cloudevent_finalizer.go
Due: golangci-lint

Update
  config/crd/bases/keda.sh_clustertriggerauthentications.yaml
  config/crd/bases/keda.sh_scaledjobs.yaml
  config/crd/bases/keda.sh_scaledobjects.yaml
  config/crd/bases/keda.sh_triggerauthentications.yaml
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
Due: golangci-lint

Update
  CHANGELOG.md
Due: none

Add validations for Stabilizationwindowseconds (#4983)
  CHANGELOG.md
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  config/crd/kustomization.yaml
  config/crd/patches/scaledobject_patch.yaml
Due: golangci-lint

General: metrics server expose apiserver metrics
  cmd/adapter/main.go
  tests/sequential/prometheus_metrics/prometheus_metrics_test.go
Due: golangci-lint

Update
  apis/keda/v1alpha1/cloudevent_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_cloudevents.yaml
  pkg/eventemitter/cloudevent_http_handler.go
  pkg/eventemitter/eventemitter.go
  pkg/metricsservice/api/metrics.pb.go
  pkg/metricsservice/api/metrics_grpc.pb.go
  pkg/scalers/externalscaler/externalscaler.pb.go
  pkg/scalers/externalscaler/externalscaler_grpc.pb.go
  pkg/scalers/liiklus/LiiklusService.pb.go
  pkg/scalers/liiklus/LiiklusService_grpc.pb.go
  tests/internals/cloud_events/cloud_events_test.go
Due: golangci-lint

General: metrics server expose apiserver metrics
  CHANGELOG.md
  cmd/adapter/main.go
Due: golangci-lint

Update
  vendor/modules.txt
Due: none

chore: update the changelog to reflect the breaking change (#4903)
  CHANGELOG.md
Due: none

correct changelog order
  CHANGELOG.md
Due: none

skip cpu&mem triggers when checking for names
  apis/keda/v1alpha1/scaledobject_webhook.go
Due: golangci-lint

some comments updates for renaming
  CHANGELOG.md
  controllers/keda/hpa.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

webhook checks for trigger types
  apis/keda/v1alpha1/scaledobject_webhook.go
  controllers/keda/hpa.go
  tests/internals/external_scaling/external_scaling_test.go
Due: golangci-lint

nil checkers a refactors, new fallback unit tests
  apis/keda/v1alpha1/condition_types.go
  controllers/keda/hpa.go
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

hotfix
  apis/keda/v1alpha1/scaledobject_webhook.go
  controllers/keda/hpa.go
  pkg/scaling/cache/scalers_cache.go
Due: golangci-lint

hack for recent cache error, added tests
  controllers/keda/hpa.go
  pkg/externalscaling/client.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  tests/internals/external_scaling/external_scaling_test.go
Due: sort-scalers, golangci-lint

formula only
  Makefile
  apis/keda/v1alpha1/condition_types.go
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  controllers/keda/hpa.go
  pkg/externalscaling/api/externalCalculation.proto
  pkg/externalscaling/api/run
  pkg/externalscaling/client.go
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/mock/mock_externalscaling/mock_externalscaling.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  tests/internals/external_scaling/external_scaling_test.go
Due: sort-scalers, golangci-lint

revert cacheObj as its not needed now
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

add certDir to manifest
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: none

to pull
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  pkg/externalscaling/client.go
  pkg/scaling/scale_handler.go
  tests/internals/external_scaling/external_scaling_test.go
Due: sort-scalers, golangci-lint

remove prints, simplify, remove cyclical complexity of scale_handler, scale_handler test one
  Makefile
  pkg/externalscaling/client.go
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/mock/mock_externalscaling/mock_externalscaling.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
  tests/internals/external_scaling/external_scaling_test.go
Due: sort-scalers, golangci-lint

webhook tests, refresh scaler if not found during metric fetch, validation funcs
  apis/keda/v1alpha1/scaledobject_webhook.go
  apis/keda/v1alpha1/scaledobject_webhook_test.go
  controllers/keda/hpa.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

manifest change
  apis/keda/v1alpha1/scaledobject_types.go
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: golangci-lint

cleanup, remove non formula files
  controllers/keda/hpa.go
  pkg/externalscaling/api/externalCalculation.pb.go
  pkg/externalscaling/api/externalCalculation_grpc.pb.go
Due: golangci-lint

add externalScaling health check type, help function for client, redone scaling logic for external calculator list
  apis/keda/v1alpha1/scaledobject_types.go
  pkg/externalscaling/client.go
  pkg/scaling/scale_handler.go
  tests/internals/external_scaling/external_scaling_test.go
Due: sort-scalers, golangci-lint

keep resource metric in HPA and fix null pointer reference err invalidation
  apis/keda/v1alpha1/scaledobject_webhook.go
  controllers/keda/hpa.go
Due: golangci-lint

e2e fallback test, timeout, close connection on close cache
  pkg/externalscaling/client.go
  pkg/fallback/fallback.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  tests/internals/external_scaling/external_scaling_test.go
Due: sort-scalers, golangci-lint

semgrep
  controllers/keda/hpa.go
  pkg/externalscaling/client.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

use existing fallback
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/keda.sh_scaledobjects.yaml
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/scaling/scale_handler_test.go
  tests/internals/external_scaling/external_scaling_test.go
Due: golangci-lint

new scale_handler test, add certificate for grpc clients, comment cleanup
  apis/keda/v1alpha1/scaledobject_types.go
  pkg/externalscaling/client.go
  pkg/fallback/fallback_test.go
  pkg/scaling/cache/scalers_cache.go
  pkg/scaling/scale_handler.go
  pkg/scaling/scale_handler_test.go
Due: sort-scalers, golangci-lint

combination works
  controllers/keda/hpa.go
  pkg/externalscaling/client.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

fallback first iteration + conditions
  apis/keda/v1alpha1/condition_types.go
  apis/keda/v1alpha1/scaledobject_types.go
  apis/keda/v1alpha1/zz_generated.deepcopy.go
  pkg/externalscaling/client.go
  pkg/fallback/fallback.go
  pkg/fallback/fallback_test.go
  pkg/scaling/scale_handler.go
Due: sort-scalers, golangci-lint

add new manifest, comments
  apis/keda/v1alpha1/scaledobject_types.go
  config/crd/bases/keda.sh_scaledobjects.yaml
Due: golangci-lint
